@model IEnumerable<Homer_MVC.IcebergModel.autorizaciones>

@{
    ViewBag.Icono = "fa fa-check";
    ViewBag.Title = "Autorizaciones Vehiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @*<link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />*@
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="buscar" class="tab-pane active">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                            <thead>
                                <tr>
                                    <th style="text-align:center; display:none">id</th>
                                    <th style="text-align:center">Usuario Solicitud</th>
                                    <th style="text-align:center">Fecha Solicitud</th>
                                    <th style="text-align:center">Plan Mayor</th>
                                    <th style="text-align:center">Detalle Averia</th>
                                    <th style="text-align:center">Autorizado</th>
                                    <th style="text-align:center">Fecha Autorización</th>
                                    <th style="text-align:center">Observaciones Autorización</th>
                                    <th style="text-align:center">Excepción</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="display:none;">1</td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.users1.user_nombre)
                                            @Html.DisplayFor(modelItem => item.users1.user_apellido)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.fecha_creacion)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.plan_mayor)
                                        </td>
                                        <td style="text-align:left">
                                            @if (item.icb_vehiculo != null)
                                            {
                                                foreach (var evento in item.icb_vehiculo.icb_vehiculo_eventos)
                                                {
                                                    @Html.DisplayFor(modelItem => evento.evento_observacion)
                                                }
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.autorizado)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.fecha_autorizacion)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.comentario)
                                        </td>
                                        <td style="text-align:center">
                                            <button type="button" onclick="Autorizar(@item.id)" class="btn btn-xs btn-info">Autorizar</button>
                                        </td>
                                    </tr>}*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="modalAutorizar" tabindex="-1" role="dialog" aria-hidden="true">
    @using (Html.BeginForm("BrowserAutorizaciones", "averias_users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.Hidden("menu")

    @Html.AntiForgeryToken()
    <input name="autorizacion_id" id="autorizacion_id" value="" type="hidden" />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Autorización</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Autoriza:<span class="text-danger">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-12">
                                <select name="autorizado" id="autorizado" required class="form-control js-source-states">
                                    <option value="true">Si</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="divExcepcion" style="display:none">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Excepción:<span class="text-danger">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-12">
                                <select name="excepcion" id="excepcion" class="form-control js-source-states">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Observaciones:<span class="text-danger">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-12">
                                <textarea name="comentario" required id="comentario" class="form-control" style="width: 480px; height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" style="visibility:hidden" class="btn btn-default" data-dismiss="modal">c</button>
                <button type="button" style="visibility:hidden" class="btn btn-default" data-dismiss="modal">c</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
    }
</div>

<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Motivo de solicitud</h5>
            </div>
            <div class="modal-body">
                <div id="contenidoModal">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            buscarDatos()
            $('.js-source-states').select2();
        });

        function buscarDatos(){
            $.ajax({
                url: '/averias_users/buscarDatos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr>'
                            + '<td style="text-align:center; display:none">' + data[i].id + '</td>'
                            + '<td align="left">' + data[i].userSolicitud + '</td>'
                            + '<td align="right">' + data[i].fechaSol + '</td>'
                            + '<td align="right">' + data[i].planM + '</td>'
                            + '<td align="left">' + data[i].observaciones + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="autorizado' + i + '" name="autorizado' + i + '" value="' + data[i].autorizado + '"/>'
                            + '</td>'
                            + '<td align="right">' + data[i].fechaAu + '</td>'
                            + '<td align="left">' + data[i].detalle + '</td>'
                            + '<td align="left">' + data[i].excepcion + '</td>'
                            + '<td align="center">'
                            + '<button type="button" class="btn btn-info btn-sm" onclick="ver(' + '\'' + data[i].planM + '\')">Detalle</i></button>&nbsp;'
                            + '<button type="button" id="btnAutorizar' + i + '" class="btn btn-success btn-sm" onclick="Autorizar(' + '\'' + data[i].id + '\')">Autorizar</button>'
                            + '</td>'
                            + '</tr>');

                        if ($('#autorizado' + i).val() == "true") {
                            $('#autorizado' + i).prop('checked', true)
                            $('#btnAutorizar' + i).prop('disabled', true)
                        } else {
                            $('#autorizado' + i).prop('checked', false)
                            $('#btnAutorizar' + i).prop('disabled', false)
                        }
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        "order": [[0, "desc"]],
                        buttons: []
                    });
                }
            });

        }

        function ver(id) {
            $.ajax({
                url: '/averias_users/verificarPendientes',
                data: {
                    planmayor: id
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#contenidoModal').empty();
                    $('#tablaPendientes').find('tbody').empty();
                    if (data.dinero == true && data.documentos == true) {
                        $('#contenidoModal').append('<div class="row">'
                            + '<p>El cliente ' + data.datosCliente[0] + ' - ' + data.datosCliente[1] + ' de la bodega ' + data.datosCliente[3] + ' esta facturando un vehiculo modelo ' + data.datosCliente[2] + ' pero presenta los siguientes pendientes:</p>'
                            + '  <div class="row">'
                            + '    <div class="col-sm-4">'
                            + '      <div class="form-group">'
                            + '          <label class="control-label col-md-4">Saldo: </label>'
                            + '          <div class="col-md-6">'
                            + '$ ' + addComas(data.saldo)
                            + '          </div>'
                            + '      </div>'
                            + '    </div>'
                            + '  </div>'
                            + '  <div class="table-responsive">'
                            + '      <table class="table table-striped table-bordered table-hover" id="tablaPendientes">'
                            + '          <thead>'
                            + '              <tr>'
                            + '                  <th style="text-align:center">Documento</th>'
                            + '              </tr>'
                            + '          </thead>'
                            + '          <tbody>'
                            + '          </tbody>'
                            + '      </table>'
                            + '  </div>'
                            + '</div>'
                        )
                        for (var i = 0; i < data.faltante.length; i++) {
                            $('#tablaPendientes').find('tbody').append('<tr>'
                                + '<td align="left">' + data.faltante[i].descripcion + '</td>'
                                + '</tr>');
                        }
                    }
                    else if (data.dinero == true && data.documentos == false) {
                        $('#contenidoModal').append('<div class="row">'
                            + '<p>El cliente ' + data.datosCliente[0] + ' - ' + data.datosCliente[1] + ' de la bodega ' + data.datosCliente[3] + ' esta facturando un vehiculo modelo ' + data.datosCliente[2] + ' pero presenta los siguientes pendientes:</p>'
                            + '  <div class="row">'
                            + '    <div class="col-sm-4">'
                            + '      <div class="form-group">'
                            + '          <label class="control-label col-md-4">Saldo: </label>'
                            + '          <div class="col-md-6">'
                            + '$ ' + addComas(data.saldo)
                            + '          </div>'
                            + '      </div>'
                            + '    </div>'
                            + '  </div>'
                            + '</div>'
                        )

                    } else if (data.dinero == false && data.documentos == true) {
                        $('#contenidoModal').append('<div class="row">'
                            + '<p>El cliente ' + data.datosCliente[0] + ' - ' + data.datosCliente[1] + ' de la bodega ' + data.datosCliente[3] + ' esta facturando un vehiculo modelo ' + data.datosCliente[2] + ' pero presenta los siguientes pendientes:</p>'
                            + '  <div class="table-responsive">'
                            + '      <table class="table table-striped table-bordered table-hover" id="tablaPendientes">'
                            + '          <thead>'
                            + '              <tr>'
                            + '                  <th style="text-align:center">Documento</th>'
                            + '              </tr>'
                            + '          </thead>'
                            + '          <tbody>'
                            + '          </tbody>'
                            + '      </table>'
                            + '  </div>'
                            + '</div>'
                        )
                        for (var i = 0; i < data.faltante.length; i++) {
                            $('#tablaPendientes').find('tbody').append('<tr>'
                                + '<td align="left">' + data.faltante[i].descripcion + '</td>'
                                + '</tr>');
                        }
                    }
                },
                complete: function (data) {
                    $("#modalDetalle").modal("show")
                }
            });
        }

        function Autorizar(id){
            $("#autorizacion_id").val(id)
            $('#autorizado').trigger('change')
            $("#modalAutorizar").modal("show")
        }

        $('#autorizado').change(function () {
            if ($('#autorizado').val() == "true") {

                $.ajax({
                    url: '/averias_users/BuscarExcepciones',
                    data: {
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        $('#excepcion').empty().select2();
                        $('#excepcion').append($('<option>', {
                            value: '',
                            text: 'Seleccione'
                        }));

                        for (var i = 0; i < data.length; i++) {
                            $('#excepcion').append($('<option>', {
                                value: data[i].id,
                                text: data[i].excepcion
                            }));
                        }
                        $('#excepcion').select2();
                    }
                });
                $('#excepcion').prop('required', true);
                $('#divExcepcion').show()
            }
            if ($('#autorizado').val() == "false") {
                $('#excepcion').val('')
                $('#excepcion').prop('required', false);
                $('#excepcion').select2();
                $('#divExcepcion').hide()
            }
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}