@model IEnumerable<Homer_MVC.IcebergModel.autorizaciones>

@{
    ViewBag.Icono = "fa fa-check";
    ViewBag.Title = "Autorizacion facturacion de repuestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @*<link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />*@
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="buscar" class="tab-pane active">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                            <thead>
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th style="text-align:center">Accion</th>
                                    <th style="text-align:center">Fecha Solicitud</th>
                                    <th style="text-align:center">Bodega</th>
                                    <th style="text-align:center">Usuario Solicitud</th>
                                    <th style="text-align:center">Referencia</th>
                                    <th style="text-align:center">Valor a Autorizar</th>
                                    <th style="text-align:center">Costo</th>
                                    <th style="text-align:center">Observaciones Autorización</th>
                                    <th style="text-align:center">Fecha Autorización</th>
                                    <th style="text-align:center">Autorizado</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {


                                <tr>
                                    <td style="display:none;">1</td>
                                    <td style="text-align:center">
                                        <button type="button" onclick="Autorizar(@item.id)" class="btn btn-xs btn-info">Autorizar</button>
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.fecha_creacion)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.bodega_concesionario.bodccs_nombre)
                                    </td>
                                    <td style="text-align:left">
                                        @Html.DisplayFor(modelItem => item.users1.user_nombre)
                                        @Html.DisplayFor(modelItem => item.users1.user_apellido)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.ref_codigo)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.valor_autorizar)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.costo_referencia)
                                    </td>
                                    <td style="text-align:left">
                                        @Html.DisplayFor(modelItem => item.comentario)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.fecha_autorizacion)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.autorizado)
                                    </td>



                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal vh disponibles*@
<div class="modal fade hmodal-info" id="modalAutorizar" tabindex="-1" role="dialog" aria-hidden="true">

    @using (Html.BeginForm("BrowserAutorizacionesRepuestos", "averias_users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.Hidden("menu")

        @Html.AntiForgeryToken()
        <input name="autorizacion_id" id="autorizacion_id" value="" type="hidden" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <h4 class="modal-title">Autorización</h4>
                </div>
                <div class="modal-body">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Autoriza:<span class="text-danger">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-12">
                                <select name="autorizado" id="autorizado" class="form-control">
                                    <option value="true">Si</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Observaciones:<span class="text-danger">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-12">
                                <textarea name="comentario" id="comentario" class="form-control" style="width: 480px; height: 100px"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="button" style="visibility:hidden" class="btn btn-default" data-dismiss="modal">c</button>
                    <button type="button" style="visibility:hidden" class="btn btn-default" data-dismiss="modal">c</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            //buscarAjaxAutorizaciones();
            $('#tablaPaginada').dataTable({
                //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                   { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                   //{ extend: 'pdf', className: 'btn-sm', text: 'PDF' },
                   ////{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                ]
            });
        });

        //function buscarAjaxAutorizaciones() {

        //    $.ajax({
        //        url: '/averias_users/BuscarAutorizaciones',
        //        data: {
        //        },
        //        type: "post",
        //        cache: false,
        //        success: function (data) {
        //            $('#tablaPaginada').find('tbody').empty();
        //            for (var i = 0; i < data.length; i++) {
        //                $('#tablaPaginada').find('tbody').append('<tr><td align="left">'
        //                                + data[i].nombre + '</td><td align="right">'
        //                               + data[i].fecha_creacion + '</td><td align="left">'
        //                               + data[i].ref_codigo + '</td><td align="left">'
        //                               + data[i].autorizado + '</td><td align="right">'
        //                               + data[i].fecha_autorizacion + '</td><td align="left">'
        //                               + data[i].comentario + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="Autorizar('
        //                               + '\'' + data[i].id
        //                               + '\')">&nbsp;&nbsp;Autorizar&nbsp;&nbsp;</button></td></tr>');
        //            }
        //        },
        //        complete: function (data) {
        //            $('#tablaPaginada').dataTable({
        //                //"ajax": 'api/datatables.json',
        //                //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
        //                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
        //                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        //                buttons: [
        //                    { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
        //                        //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
        //                        //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
        //                ]
        //            });
        //        }
        //    })
        //}

        function Autorizar(id){
            $("#autorizacion_id").val(id)
            $("#modalAutorizar").modal("show")
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}