@model Homer_MVC.IcebergModel.registroLlamadasModel
@{
    ViewBag.Title = "Llamada de Emergencia";
    ViewBag.Icono = "fa fa-pencil-square-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    
<link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    }

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

    <div class="panel-body" style="padding-top:0px;">
        <div class="hpanel">
            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-success  alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                    <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
                </div>
            }

            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger  alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                    <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
                </div>
            }

            <br />
            
            

            <div id="tabs" class="tab-content">

                <ul id="tabs-crear" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                </ul>

                

                <div id="crear" class="tab-pane active">
                    <div class="panel-body">

                        <div class="form-horizontal">

                            <div>
                                <div class="col-sm-push-10">
                                    <div class="panel-body-btns text-right">
                                        <a href="@Url.Action("Index","llamadaRescate", new { menu = @ViewBag.id_menu })"><button class="btn btn-primary"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Volver</button></a>
                                    </div>
                                </div>



                                <div class="hpanel" id="panelHabeasData">
                                    <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                        <div class="panel-tools">
                                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                        </div>
                                        <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Datos Cliente
                                    </div>
                                    <div class="panel-body">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Nombres:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input id="nombres" class="form-control" name="nombres" value="" disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Apellidos:</label>
                                                <div class="col-md-6">
                                                    <input id="apellidos" class="form-control" name="apellidos" value="" disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Telefono:</label>
                                                <div class="col-md-6">
                                                    <input id="telefono" class="form-control" name="telefono" value="" disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Celular:</label>
                                                <div class="col-md-6">
                                                    <input id="celular" class="form-control" name="celular" value="" disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Email:</label>
                                                <div class="col-md-6">
                                                    <input id="email" class="form-control" name="email" value="" disabled />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                

                                <div class="hpanel" id="panelHabeasData">
                                    <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                        <div class="panel-tools">
                                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                        </div>
                                        <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Formulario Registro Llamadas
                                    </div>
                                    <div class="panel-body">

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("menu")
                                            @Html.HiddenFor(model => model.tercero_id)
                                            <input type="hidden" value="@ViewBag.idtecero" id="idtercero" />


                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Tipo llamada:</label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("tpllamada_rescate_id", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Verbalización:</label>
                                                    <div class="col-md-6">
                                                        @Html.TextAreaFor(model => model.regllam_verbalizacion, new RouteValueDictionary(new { @class = "someClass", style = "width: 100%; height:100px;", @required = "required" }))
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha próximo contacto:</label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.regllam_prox_fecha, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Estado:</label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("statusprospecto_id", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="panel-body-btns text-right">
                                                    <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>




                                <div class="hpanel" id="panelHabeasData">
                                    <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                        <div class="panel-tools">
                                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                        </div>
                                        <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Historial de Llamadas
                                    </div>
                                    <div class="panel-body">

                                        <div class="col-sm-12">
                                            <div id="formularioPeritaje" class="tab-pane">
                                                <div class="panel-body-busqueda">
                                                    <div class="table-responsive">
                                                        <div id="div-mensaje-buscar"></div>
                                                        <table class="table table-bordered table-hover" id="tablaHistorialLlamadas">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center">Fecha Llamada</th>
                                                                    <th style="text-align:center">Verbalización</th>
                                                                    <th style="text-align:center">Usuario</th>
                                                                    <th style="text-align:center">Fecha Próxima Llamada</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row col-md-4 col-md-offset-4">
                                                        <div id="page-selection"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                </div>                     
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

@section Scripts {
@*----------------------------- data tables -------------------------- *@
<script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    

$(document).ready(function () {
    $('#menu').val(@ViewBag.id_menu);
    $('#regllam_prox_fecha').datepicker({ format: 'yyyy-mm-dd' });

        $.ajax({
            url: '/llamadaRescate/BuscarDatos',
            data: {
                id: $("#idtercero").val(),
            },
            type: "post",
            cache: false,
            success: function (data) {
                console.log(data);
                if (data.datos.length > 0) {
                    $('#nombres').val(data.datos[0].prinom_tercero + ' ' + data.datos[0].segnom_tercero);
                    $('#apellidos').val(data.datos[0].apellido_tercero + ' ' + data.datos[0].segapellido_tercero);
                    $('#telefono').val(data.datos[0].telf_tercero);
                    $('#celular').val(data.datos[0].celular_tercero);
                    $('#email').val(data.datos[0].email_tercero);
                    $('#idcotizacion').val(data.datos[0].cot_idserial);


                    $('#tablaHistorialLlamadas').find('tbody').empty();

                    for (var i = 0; i < data.lisllamadas.length; i++) {

                        $('#tablaHistorialLlamadas').find('tbody').append('<tr><td align="center">'
                                    + data.lisllamadas[i].regllam_fecela + '</td><td align="center">'
                                    + data.lisllamadas[i].regllam_verbalizacion + '</td><td align="center">'
                                    + data.lisllamadas[i].user_nombre +" "+ data.lisllamadas[i].user_apellido + '</td><td align="center">'
                                    + data.lisllamadas[i].regllam_prox_fecha + '</td></tr>'
                            );
                    }

                }

           },
            complete: function (data) {
                $('#tablaHistorialLlamadas').dataTable({
                    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        { extend: 'copy', className: 'btn-sm' },
                        { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                        { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                        { extend: 'print', className: 'btn-sm' }
                    ]
                });
            }
        })
});

    function AgregarQuitarFavorito(){
        $.ajax({
            url: '/Inicio/AgregarQuitarFavorito',
            data: {
                id_menu: @ViewBag.id_menu,
            },
            type: "post",
            cache: false,
            success: function (data) {
                if(data.esFavorito == true){
                    $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                }else{
                    $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                }
            }
        })
    }

    </script>

}