@model Homer_MVC.Models.NoteDebitScheduleModel
@{
    var attrlicExt = new Dictionary<string, object> { { "class", "form-control datePick" } };
    var attrlicInt = new Dictionary<string, object> { { "class", "form-control datePick" } };
    var attrlicTxT = new Dictionary<string, object> { { "class", "form-control" } };
    var attrlicTxT2 = new Dictionary<string, object> { { "class", "form-control" }, { "onkeyup", "miles(this.id); $('#Total').val(this.value);" } };

    var receiveData = new Dictionary<string, object> { { "class", "form-control" }, { "readonly", "read-only" } };
}

<div class="container-fluid">
    <div id="create">
        <div id="msg_info"></div>
        @using (Html.BeginForm())

        {
            @Html.AntiForgeryToken()
            <div class="hpanel">
                <div class="panel-heading hbuilt" style="background-color: #e4e5e7">
                    <div class="panel-body panel-collapse" id="panelAG">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input type="hidden" value="@ViewBag.idn" id="idn" />
                                <label> Matriculado fuera de concesionario</label>
                                <input type="radio" value="0" name="motive" id="fcss" onclick="handleClick(this)">
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <label>Matriculado concesionario</label>
                                <input type="radio" value="1" name="motive" id="dccs" onclick="handleClick(this)">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.LabelFor(m => m.licensePlatename)
                                @Html.TextBoxFor(m => m.licensePlatename, new { id = "licensePlatename", @class = "form-control" })
                            </div>
                            @*Creando una datePicker para la selección de la matricula*@
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label>RUNT</label>
                            @*@Html.TextBoxFor(m => m.licplaDate, new { id = "datepickecrLicPlate", @class = "form-control datePick" })*@
                            @Html.TextBoxFor(m => m.licplaDate, new { id = "", @class = "form-control datePick" })
                        </div>
                        </div>
                        @*Aquí comienza la segunda parte del formulario, em caso de que se haya escogido la opción de matricula en el concesionario*@
                        <div class="panel panel-default" id="formoculto" style="display: none">
                            <div class="panel-body form-horizontal">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.LabelFor(m => m.orderNumber)
                                        @Html.TextBoxFor(m => m.orderNumber, new { @class = "form-control", @readonly = "readonly", id = "numPedido" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.LabelFor(m => m.NameClient)
                                        @Html.TextBoxFor(m => m.NameClient, new { @class = "form-control", @readonly = "readonly", id = "nomCliente" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Nit del cliente")
                                        @Html.TextBoxFor(m => m.IdNit, new { @class = "form-control", @readonly = "readonly", id = "nitc" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Tipo de documento")
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control", @readonly = "readonly", id = "tpdocumento2" })
                                        @Html.HiddenFor(m => m.typeDocument, new { @class = "form-control", @readonly = "readonly", id = "tpdocumento" })

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Bodega")
                                        @Html.TextBoxFor(m => m.NameLarder, new { @class = "form-control", @readonly = "readonly", id = "bodega" })
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Tramitador")
                                        @Html.DropDownList("Tramitador", null, "", new { @class = "form-control js-source-states", @placeholder = "Seleccione", id = "Tramitador" })
                                        @*@Html.TextBoxFor(m => m.tramitador, new { @class = "form-control", id = "Tramitador" })*@
                                        @Html.ValidationMessageFor(model => model.tramitador, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        <label>Fecha de Tramite</label>
                                        @Html.TextBoxFor(m => m.tramiteDate, new { id = "datepickecrLicPlate", @class = "form-control datePick" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Asesor")
                                        @Html.TextBoxFor(m => m.NameAgent, new { @class = "form-control", @readonly = "readonly", id = "asesor" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Perfil contable")
                                        @Html.TextBoxFor(m => m.CountablenNameProfile, new { @class = "form-control", @readonly = "readonly", id = "perfilc2" })
                                        @Html.HiddenFor(m => m.CountableProfile, new { @class = "form-control", @readonly = "readonly", id = "perfilc" })

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group-sm form-group-lg">
                                        @Html.Label("Cartera")
                                        @Html.DropDownList("cartera", null, "", htmlAttributes: new { @class = "form-control", @placeholder = "Seleccione", id="cartera"})
                                    </div>
                                </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group-sm form-group-lg">
                                            @Html.Label("Observaciones")
                                            @Html.TextAreaFor(m => m.Observation, new { id = "Observation", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group-sm form-group-lg">
                                            @Html.Label("Valor", attrlicTxT)
                                            @Html.TextBoxFor(m => m.Value, attrlicTxT2)
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group-sm form-group-lg">
                                            @Html.Label("Total", attrlicTxT)
                                            @Html.TextBoxFor(m => m.Total, attrlicTxT2)
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Vendor/moment/min/moment.min.js"></script>
<script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script>

    $('.datePick').datetimepicker({
        format: 'YYYY/MM/DD',
        maxDate: `-${new Date()}`
    });

    $('#fcss').click(function () {
        console.log("Botón exterior");
    });

    $('#dccs').click(function () {
        console.log("Botón interior");
    });

    $('#datepickecrLicPlate').click(function () {
        console.log("Click en el datepicker");
    });

    function quitCommas(nStr) {
        nStr.toString();
        const s = nStr.replace(/\./g, "");
        return s;
    }

    $('#btn_saveNoteDebit').click(function () {
        $('#btn_saveNoteDebit').prop('disabled', true);

        var observacion = $('#Observation').val();
        if (observacion == "" || observacion == null) {
            observacion = "";
        }
        var valor = quitCommas($('#Total').val());
        console.log($('#idn').val());
        console.log($('#Tramitador').val());
        if (valor == "" || valor == null) {
            valor = 0;
        }
        debugger;
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();
        var fec1 =
            year +
            '/' +
            (month < 10 ? '0' : '') +
            month +
            '/' +
            (day < 10 ? '0' : '') +
            day;
        var fec2 = $('input[name="licplaDate"]').val();
        var fec3 = $('input[name="tramiteDate"]').val();

        var data = $('form').serialize();

        if (!$('#fcss').is(':checked') && !$('#dccs').is(':checked')) {
            $('#msg_info')
                .html(
                    '<div class="alert alert-danger"><p> Elija una de las opciones de registro de matricula. </p></div>');
                    $('#btn_saveNoteDebit').prop('disabled', false);

            $("#msg_info").fadeTo(5000, 700).slideUp(700,
                function () {
                    $('#msg_info').slideUp(700);
                });
        } else if ($('#licensePlatename').val() == "") {
            $('#licensePlatename').focus();
            $('#msg_info').html('<div class="alert alert-danger"><p> Por favor ingrese la matricula. </p></div>');
                    $('#btn_saveNoteDebit').prop('disabled', false);

            $('#msg_info').fadeTo(5000, 700).slideUp(700,
                function () {
                    $('#msg_info').slideUp(700);
                });
        } else if ($('#datepickecrLicPlate').val() == "") {
            $('#datepickecrLicPlate').focus();
            $('#msg_info')
                .html('<div class="alert alert-danger"><p> Termine de seleccionar la fecha de matricula. </p></div>');
                                $('#btn_saveNoteDebit').prop('disabled', false);

            $('#msg_info').fadeTo(5000, 700).slideUp(700,
                function () {
                    $('#msg_info').slideUp(700);
                });
        } else if (fec1 < fec2) {
            $('#datepickecrLicPlate').focus();
            $('#msg_info')
                .html(
                    '<div class="alert alert-danger"><p> La fecha matricula no puede ser mayor a la fecha actual. </p></div>');
            $('#msg_info').fadeTo(5000, 700).slideUp(700,
                function () {
                    $('#msg_info').slideUp(700);
                });
        } else if ($('#fcss').is(':checked')) {
            var fechaplaca = $('#datepickecrLicPlate').val();
            $.ajax({
                type: 'post',
                data: {
                    id: $('#idn').val(),
                    placa: $('#licensePlatename').val(),
                    valor: valor,
                    fechamatricula: fechaplaca,
                    observacion: observacion,
                    cartera: $('#cartera').val(),
                    tramitador_id:$('#Tramitador').val(),
                },
                url: '../NoteDebitSchedule/crearMatricula',
                success: function (resp) {
                    console.log(data)
                    buscarDatos();
                    $('#DebitNoteModal').modal('hide');
                    $('#noteDebitModal').modal('hide');
                    $('#div_message')
                        .html(
                            '<div class="alert alert-success"><p>Se ha matriculado el vehiculo correctamente. </p></div>');
                    $("#div_message").fadeTo(7000, 700).slideUp(700,
                        function () {
                            $("#div_message").slideUp(700);
                        });
                }
            });
        } else if ($('#dccs').is(':checked')) {
            if ($('#Observation').val() == "") {
                $('#msg_info')
                    .html('<div class="alert alert-danger"><p> Ingrese una observación a registrar.</p></div>');
                $("#msg_info").fadeTo(5000, 700).slideUp(700,
                    function () {
                        $('#msg_info').slideUp(700);
                    });
            } else if ($('input[name="Value"]').val() == "") {
                $('#msg_info').html('<div class="alert alert-danger"><p> Ingrese un valor</p></div>');
                $("#msg_info").fadeTo(5000, 700).slideUp(700,
                    function () {
                        $('#msg_info').slideUp(700);
                    });

            } else {
                var tpdocumento = $('#tpdocumento').val();
                var bodega = $('#bodega').val();
                var nitc = $('#nitc').val();
                var asesor = $('#asesor').val();
                var perfilc = $('#perfilc').val();
                var tramitador_ = $('#Tramitador').val();
                var cartera_ = $('#cartera').val();

                console.log(tramitador_);
                console.log(cartera_);
                $.ajax({
                    type: 'POST',
                    data: {
                        id: $('#idn').val(),
                        placa: $('#licensePlatename').val(),
                        observacion: observacion,
                        valor: valor,
                        fechamatricula: $('#datepickecrLicPlate').val(),
                        tipodoc: tpdocumento,
                        bodega: bodega,
                        nit: nitc,
                        asesor: asesor,
                        perfilc: perfilc,
                        cartera: cartera_,
                        tramitador_id: tramitador_,

                    },
                    url: '../NoteDebitSchedule/crearMatriculaND',
                    success: function (resp) {
                        debugger;
                        if (resp == 0) {
                            buscarDatos();
                            $('#DebitNoteModal').modal('hide');
                            $('#modalAlistamiento').modal('hide');
                            swal("El vehiculo no pudo ser matriculado", "¡Por favor verifique!", "error");
                        } else if (resp == 1) {
                            buscarDatos();
                            $('#DebitNoteModal').modal('hide');
                            $('#modalAlistamiento').modal('hide');
                            $('#div_mensaje')
                                .html(
                                    '<div class="alert alert-success"><p>Se ha enviado el vehiculo a alistamiento. </p></div>');
                            $("#div_mensaje").fadeTo(7000, 700).slideUp(700,
                                function () {
                                    $("#div_mensaje").slideUp(700);
                                });
                            swal("El vehiculo fue matriculado correctamente", "", "success");
                        }
                    }
                });
            }
        }
    });

    var formatoFecha = function (fecha) {
        const d = fecha.getDate();
        const y = fecha.getFullYear();
        const m = fecha.getMonth();
        const fc = d + '/' + m + '/' + '/' + y;
        const fec = new Date(fc);
        return fec.getTime();
    };
</script>