@{
    ViewBag.Icono = "fa fa-arrow-circle-o-right";
    ViewBag.Title = "Browser Tiempo Comprometidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
    </div>
</div>


<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active" onclick="buscarAjaxComprometidos();"><a data-toggle="tab" href="#buscar"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Referencias Comprometidas</a></li>
                <li class="" onclick="buscarAjaxDescomprometidos();"><a data-toggle="tab" href="#buscar2"><i class="fa fa-search"></i>&nbsp;&nbsp;Referencias Descomprometidas</a></li>
                <li class="" onclick="buscarAjaxTiempoIncumplido();"><a data-toggle="tab" href="#buscar3"><i class="fa fa-search"></i>&nbsp;&nbsp;Referencias Descomprometidas Por Incumplimiento</a></li>
            </ul>


            <div id="buscar" class="tab-pane active">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Numero</th>
                                        <th style="text-align:center">Referencia</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Cliente</th>
                                        <th style="text-align:center">Fecha Comprometida</th>
                                        <th style="text-align:center">Documento</th>
                                        <th style="text-align:center">No. Separacion</th>
                                        <th style="text-align:center">No. Anticipo</th>
                                        <th style="text-align:center">No. OT</th>
                                        <th style="text-align:center">No. Traslado</th>
                                        <th style="text-align:center">No. Solicitud de despacho</th>
                                        <th style="text-align:center">No. Despacho salida taller</th>
                                        <th style="text-align:center">No. Remision</th>
                                        <th style="text-align:center">Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="buscar2" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada2">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Numero</th>
                                        <th style="text-align:center">Referencia</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Cliente</th>
                                        <th style="text-align:center">Fecha Descomprometida</th>
                                        <th style="text-align:center">Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="buscar3" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada3">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Numero</th>
                                        <th style="text-align:center">Referencia</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Cliente</th>
                                        <th style="text-align:center">Fecha Descomprometida por incumplimiento</th>
                                        <th style="text-align:center">No. Separacion</th>
                                        <th style="text-align:center">No. Anticipo</th>
                                        <th style="text-align:center">No. OT</th>
                                        <th style="text-align:center">No. Traslado</th>
                                        <th style="text-align:center">No. Solicitud de despacho</th>
                                        <th style="text-align:center">No. Despacho salida taller</th>
                                        <th style="text-align:center">No. Remision</th>
                                        <th style="text-align:center">Responsable</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Vendor/fullcalendar/dist/lang-all.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);

            buscarAjaxComprometidos();

        });


        function buscarAjaxComprometidos() {

            $('#tablaPaginada').dataTable().fnDestroy();
            $('#tablaPaginada2').dataTable().fnDestroy();

            debugger;
            $.ajax({
                url: '/Comprometidos/buscarComprometidos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                 
                    //var datosSeparacion = data.datosSeparacion;
                    //var datosOT = data.datosOT;
                    //var datosTraslado = data.datosTraslado;
                    //var datosSolicitud = data.datosSolicitud;
                    //var datosDespacho = data.datosDespacho;
                    //var datosRemision = data.datosRemision;




                               var text = '';
                    for (var i = 0; i < data.length; i++) {             
                        text += '<tr>';
                        text += '<td align="center">' + data[i].id + '</td>'
                        text += '<td align="center">' + data[i].Codigo +' -'+ data[i].Ref_descripcion+  '</td>'
                        text += '<td align="center">' + data[i].Bodega + '</td>'
                        text += '<td align="center">' + data[i].Cliente + '</td>'
                        text += '<td align="center">' + data[i].Fecha + '</td>'
                        text += '<td align="center">' + data[i].Tipoproceso + '</td>'
                         text += '<td align="center">'
                        if ( data[i].Tp == "Sep") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                            text += '<td align="center">'
                        if ( data[i].Tp == "An") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Ot") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                         text += '<td align="center">'
                          if ( data[i].Tp == "Tr") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Sd") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "De") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Rem") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'


                        text += '<td align="center">' + data[i].Responsable + '</td>'
                        text += '</tr>';                       
                    }

                    $('#tablaPaginada').find('tbody').append(text);
          

                },
                complete: function (data) {

                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                        ]
                    });
                }
            })
        }

        function buscarAjaxDescomprometidos() {

            $('#tablaPaginada').dataTable().fnDestroy();
            $('#tablaPaginada2').dataTable().fnDestroy();

            debugger;
            $.ajax({
                url: '/Comprometidos/buscarDescomprometidos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    debugger

                    var datosSeparacion = data.datosSeparacion;
                    var datosOT = data.datosOT;
                    var datosTraslado = data.datosTraslado;
                    var datosSolicitud = data.datosSolicitud;
                    var datosDespacho = data.datosDespacho;
                    var datosRemision = data.datosRemision;


                    for (var i = 0; i < datosSeparacion.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosSeparacion[i].numero + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].codigo + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].bodega + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].cliente + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].fecha + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosOT.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosOT[i].numero + '</td>'
                        text += '<td align="center">' + datosOT[i].codigo + '</td>'
                        text += '<td align="center">' + datosOT[i].bodega + '</td>'
                        text += '<td align="center">' + datosOT[i].cliente + '</td>'
                        text += '<td align="center">' + datosOT[i].fecha + '</td>'
                        text += '<td align="center">' + datosOT[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosTraslado.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosTraslado[i].numero + '</td>'
                        text += '<td align="center">' + datosTraslado[i].codigo + '</td>'
                        text += '<td align="center">' + datosTraslado[i].bodega + '</td>'
                        text += '<td align="center">' + datosTraslado[i].cliente + '</td>'
                        text += '<td align="center">' + datosTraslado[i].fecha + '</td>'
                        text += '<td align="center">' + datosTraslado[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosSolicitud.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosSolicitud[i].numero + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].codigo + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].bodega + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].cliente + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].fecha + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosDespacho.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosDespacho[i].numero + '</td>';
                        text += '<td align="center">' + datosDespacho[i].codigo + '</td>';
                        text += '<td align="center">' + datosDespacho[i].bodega + '</td>';
                        text += '<td align="center">' + datosDespacho[i].cliente + '</td>';
                        text += '<td align="center">' + datosDespacho[i].fecha + '</td>';
                        text += '<td align="center">' + datosDespacho[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosRemision.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosRemision[i].numero + '</td>';
                        text += '<td align="center">' + datosRemision[i].codigo + '</td>';
                        text += '<td align="center">' + datosRemision[i].bodega + '</td>';
                        text += '<td align="center">' + datosRemision[i].cliente + '</td>';
                        text += '<td align="center">' + datosRemision[i].fecha + '</td>';
                        text += '<td align="center">' + datosRemision[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }


                },
                complete: function (data) {

                    $('#tablaPaginada2').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                        ]
                    });
                }
            })
        }

        function buscarAjaxTiempoIncumplido() {

            $('#tablaPaginada3').dataTable().fnDestroy();
            debugger;
            $.ajax({
                url: '/Comprometidos/buscarTiempoIncumplido',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    debugger

                    var datosSeparacion = data.datosSeparacion;
                    var datosOT = data.datosOT;
                    var datosTraslado = data.datosTraslado;
                    var datosSolicitud = data.datosSolicitud;
                    var datosDespacho = data.datosDespacho;
                    var datosRemision = data.datosRemision;


                    for (var i = 0; i < datosSeparacion.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosSeparacion[i].numero + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].codigo + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].bodega + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].cliente + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].fecha + '</td>'
                        text += '<td align="center">' + datosSeparacion[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosOT.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosOT[i].numero + '</td>'
                        text += '<td align="center">' + datosOT[i].codigo + '</td>'
                        text += '<td align="center">' + datosOT[i].bodega + '</td>'
                        text += '<td align="center">' + datosOT[i].cliente + '</td>'
                        text += '<td align="center">' + datosOT[i].fecha + '</td>'
                        text += '<td align="center">' + datosOT[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosTraslado.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosTraslado[i].numero + '</td>'
                        text += '<td align="center">' + datosTraslado[i].codigo + '</td>'
                        text += '<td align="center">' + datosTraslado[i].bodega + '</td>'
                        text += '<td align="center">' + datosTraslado[i].cliente + '</td>'
                        text += '<td align="center">' + datosTraslado[i].fecha + '</td>'
                        text += '<td align="center">' + datosTraslado[i].responsable + '</td>'
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosSolicitud.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosSolicitud[i].numero + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].codigo + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].bodega + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].cliente + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].fecha + '</td>';
                        text += '<td align="center">' + datosSolicitud[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosDespacho.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosDespacho[i].numero + '</td>';
                        text += '<td align="center">' + datosDespacho[i].codigo + '</td>';
                        text += '<td align="center">' + datosDespacho[i].bodega + '</td>';
                        text += '<td align="center">' + datosDespacho[i].cliente + '</td>';
                        text += '<td align="center">' + datosDespacho[i].fecha + '</td>';
                        text += '<td align="center">' + datosDespacho[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }

                    for (var i = 0; i < datosRemision.length; i++) {

                        var text = '';
                        text += '<tr>';
                        text += '<td align="center">' + datosRemision[i].numero + '</td>';
                        text += '<td align="center">' + datosRemision[i].codigo + '</td>';
                        text += '<td align="center">' + datosRemision[i].bodega + '</td>';
                        text += '<td align="center">' + datosRemision[i].cliente + '</td>';
                        text += '<td align="center">' + datosRemision[i].fecha + '</td>';
                        text += '<td align="center">' + datosRemision[i].responsable + '</td>';
                        text += '</tr>';

                        $('#tablaPaginada2').find('tbody').append(text);
                    }


                },
                complete: function (data) {

                    $('#tablaPaginada3').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                        ]
                    });
                }
            })
        }

    </script>
}
