@model Homer_MVC.IcebergModel.perfiltipocompra

@{
    ViewBag.Icono = "fa fa-book";
    ViewBag.Title = "Perfil Tipo de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>
            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxPerfiles();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <a class="btn btn-info" href="../../perfilTipoCompra/Create?menu=@ViewBag.id_menu"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Crear nuevo</a>&nbsp;&nbsp;
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Actualizar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.HiddenFor(model => model.id)

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Tipo Compra:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    <select id="idTipo" name="idTipo" class="lista" style="width:100%; font-size:14px;" placeholder="Seleccione" required="required">
                                                        <option value=""></option>
                                                        @foreach (var item in ViewBag.vconceptocompra)
                                                        {
                                                            <option value="@item.id">(@item.codigo)&nbsp;&nbsp;@item.descripcion</option>
}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Descripci&oacute;n:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Descripcion", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bodega(s):&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    <select id="bodccs_cod" name="bodccs_cod" multiple="multiple" required="required"></select>
                                                    @*@Html.ValidationMessageFor(model => model.bodccs_id, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <input type="hidden" id="lista_parametros" name="lista_parametros" value="0" />

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Parametro:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("parametros_contables", (IEnumerable<SelectListItem>)ViewBag.paramcontablenombres, "", htmlAttributes: new { @class = "form-control lista", @placeholder = "Seleccione", @name = "parametros_contables", @required = "required" })
                                                @*@Html.ValidationMessageFor(model => model., "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Cuenta:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <select id="cuenta" name="cuenta" class="lista" style="width:100%; font-size:14px;" placeholder="Seleccione" required="required">
                                                    <option value=""></option>
                                                    @foreach (var item in ViewBag.cuentas_puc)
                                                    {
                                                        <option value="@item.cntpuc_id">(@item.cntpuc_numero)&nbsp;&nbsp;@item.cntpuc_descp</option>
                                                    }
                                                </select>
                                                @*@Html.ValidationMessageFor(model => model.cuenta_ventas, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Centro Costo:&nbsp;</label>
                                            <div class="col-md-6">
                                                <select id="centro" name="centro" class="lista" style="width:100%; font-size:14px;" placeholder="Seleccione">
                                                    <option value=""></option>
                                                    @foreach (var item in ViewBag.centroCosto)
                                                    {
                                                        <option value="@item.centcst_id">(@item.pre_centcst)&nbsp;&nbsp;@item.centcst_nombre</option>
                                                    }
                                                </select>
                                                @*@Html.ValidationMessageFor(model => model.cuenta_iva, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">&nbsp;<span class="text-danger"></span></label>
                                            <div class="col-md-6">
                                                <input type="button" class="btn btn-primary" value="Agregar" id="btnAgregarParametro" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12" id="campoAlerta" style="display:none;">
                                        <div class="form-group">
                                            <div class="alert alert-warning" style="text-align:center">
                                                <strong>Alerta!</strong><p id="mensajeAlerta"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding:40px;">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablaParametros">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Parametro</th>
                                                        <th style="text-align:center">Cuenta</th>
                                                        <th style="text-align:center">Centro Costo</th>
                                                        <th style="text-align:center">Acci&oacute;n</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>}
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Tipo Compra</th>
                                        <th style="text-align:center">Descripción</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">

        var cantParametros = 0 ;

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $('#idTipo').val(@ViewBag.tipoCompra);
            $('.lista').select2();
            buscarBodegas({
                includeSelectAllOption: true,
                maxHeight: 400
            });
            BuscarParametrosJson();
            $('form select').each(function (i) {
                this.addEventListener('invalid', function (e) {
                    var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                    var _posS2 = $('#' + _s2Id).position();
                    //get the current position of respective select2
                    $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                    //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                    $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                    /*
                    //Adjust the left and top position accordingly
                    */
                    //remove invalid class after 3 seconds
                    setTimeout(function () {
                        $('#' + _s2Id + ' ul').removeClass('_invalid');
                    }, 3000);
                    return true;
                }, false);
            });
        });

        function eliminarParametro(pos) {
            $("#rowParametro" + pos + "").remove();
        }

        function agregarParametro() {
            cantParametros++;
            $('#lista_parametros').val(cantParametros);
            $('#tablaParametros').append('<tr id="rowParametro' + cantParametros + '">'
                +'<td align="center"><input type="hidden" name="parametro' + cantParametros + '" id="parametro'+ cantParametros + '" value="' + $('#parametros_contables').val() + '"/>' + $('#parametros_contables option:selected').text()+ '</td>'
                +'<td align="center"><input type="hidden" name="cuenta' + cantParametros + '" id="cuenta' + cantParametros + '" value="' + $('#cuenta').val() + '"/>' + $('#cuenta option:selected').text() + '</td>'
                +'<td align="center"><input type="hidden" name="centroCosto' + cantParametros + '" id="centroCosto' + cantParametros + '" value="' + $('#centro').val() + '"/>' + $('#centro option:selected').text()+ '</td>'
                +'<td align="center">'+ '<button class="btn btn-danger btn-circle" type="button" onclick="eliminarParametro(' + cantParametros + ')"><i class="fa fa-remove"></i></button></td>'
                +'</tr>');
        }

        function BuscarParametrosJson() {
            $("#tablaParametros").dataTable().fnDestroy();
            $('#tablaParametros').find('tbody').empty();
            $.ajax({
                url: '/perfilTipoCompra/BuscarParametrosJson',
                data: {
                    id: $('#id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        cantParametros++;
                        $('#tablaParametros').append('<tr id="rowParametro' + cantParametros + '">'
                            + '<td align="left"><input type="hidden" name="parametro' + cantParametros + '" id="parametro' + cantParametros + '" value="' + data[i].parametroId + '"/>' + data[i].descripcion_parametro + '</td>'
                            + '<td align="left"><input type="hidden" name="cuenta' + cantParametros + '" id="cuenta' + cantParametros + '" value="' + data[i].cntpuc_id + '"/>(' + data[i].cntpuc_numero + ') ' + data[i].cntpuc_descp + '</td>'
                            + '<td align="left"><input type="hidden" name="centroCosto' + cantParametros + '" id="centroCosto' + cantParametros + '" value="' + data[i].centcst_id + '"/> ' + data[i].centcst_nombre + '</td>'
                            + '<td align="center">' + '<button class="btn btn-danger btn-circle" type="button" onclick="eliminarParametro(' + cantParametros + ')"><i class="fa fa-remove"></i></button></td>'
                            + '</tr>');
                    }
                    $('#lista_parametros').val(cantParametros);
                }
            });
        }

        $('#cuenta').change(function () {
            $.ajax({
                url: '/perfilContableDocumento/CuentaRequiereCentroCosto',
                data: {
                    id: $('#cuenta').val()
                },
                type: "post",
                cache: false,
                success: function (data) {

                },
                complete: function (data) {
                    if (data.responseJSON == true) {
                        // Significa que la cuenta requiere centro de costo
                        if ($.trim($('#centro').val()) == '') {
                            $('#centro').prop("disabled", false);
                        } else {
                            $("#centro").val($("#centro option:first").val()).select2();
                            $('#centro').prop("disabled", true);
                        }
                    } else {
                        $("#centro").val($("#centro option:first").val()).select2();
                        $('#centro').prop("disabled", true);
                    }
                }
            });
        });

        function ValidarParametro() {
            // Primero se valida si la cuenta requiere centro de costo
            $.ajax({
                url: '/perfilContableDocumento/CuentaRequiereCentroCosto',
                data: {
                    id: $('#cuenta').val()
                },
                type: "post",
                cache: false,
                success: function (data) {

                },
                complete: function (data) {
                    if (data.responseJSON == true) {
                        // Significa que la cuenta requiere centro de costo
                        if ($.trim($('#centro').val()) == '') {
                            $('#mensajeAlerta').text('La cuenta requiere centro de costo');
                            $('#campoAlerta').show();
                            setTimeout(function () {
                                $('#campoAlerta').fadeOut(1500);
                            }, 3000);
                        } else {
                            agregarParametro();
                        }
                    } else {
                        agregarParametro();
                    }
                }
            });
        }

        $('#btnAgregarParametro').click(function () {
            if ($.trim($('#parametros_contables').val()) == '' || $.trim($('#cuenta').val()) == '') {
                $('#mensajeAlerta').text('El campo parametro y cuenta son obligatorios');
                $('#campoAlerta').show();
                setTimeout(function () {
                    $('#campoAlerta').fadeOut(1500);
                }, 3000);
            } else {
                ValidarParametro();
            }
        });

        function buscarBodegas(){
            $.ajax({
                url: '/perfilTipoCompra/BuscarBodegas',
                data: {},
                type: "post",
                cache: false,
                success: function (data) {
                    $('#bodccs_cod').empty();

                    for (var i = 0; i < data.length; i++) {
                        $('#bodccs_cod').append($('<option>', {
                            value: data[i].id,
                            text: data[i].bodccs_nombre
                        }));
                    }

                    var bodegas = '@ViewBag.bodegasSeleccionadas';
                    var res = bodegas.split(",");
                    $('#bodccs_cod').val(res);

                    $('#bodccs_cod').multiselect("destroy").multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400
                    });
                    //$('#bodccs_cod').multiselect('refresh');
                }
            });
        }

        function valida(id){
            window.location.href = '@Url.Action("update", "perfilTipoCompra")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxPerfiles() {
            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/perfilTipoCompra/BuscarPerfilesPaginados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr>'
                            + '<td align="left">' + data[i].nombre + '</td>'
                            + '<td align="left">' + data[i].descripcion + '</td>'
                            + '<td width="5%">'
                            + '<button class="btn btn-info btn-xs" onclick="valida(' + data[i].id + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button>'
                            + '</td>'
                            + '</tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}