@model Homer_MVC.IcebergModel.crm_encuesta_modulo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>crm_encuesta_modulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_encuesta_modulo1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_encuesta_modulo1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_encuesta_modulo2.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_encuesta_modulo2.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
