@model IEnumerable<Homer_MVC.IcebergModel.medios_formato>

@{
    ViewBag.Title = "Index";
    ViewBag.Icono = "fa fa-share";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

@* Barra de Informacion General de la Pantalla *@
<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Generar @ViewBag.Title</small>
        </div>
    </div>
</div>




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.formato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_inactivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.user_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users1.user_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_actualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_inactivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.user_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users1.user_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
