@{
    ViewBag.Icono = "fa fa-book";
    ViewBag.Title = "Peritajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>
            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-solicitud" class="nav nav-tabs">
                @*<li class=""><a data-toggle="tab" href="#Agenda" id="tabAgenda"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Agenda</a></li>
                    <li class=""><a data-toggle="tab" href="#Solicitudes" id="tabSolicitudes"><i class=""></i>&nbsp;&nbsp;Solicitudes</a></li>*@
                <li class="active"><a data-toggle="tab" href="#Peritajes"><i class=""></i>&nbsp;&nbsp;Peritajes</a></li>
                <li class=""><a data-toggle="tab" href="#DetallePeritaje" style="display:none" id="tabDetallePeritaje"><i class=""></i>&nbsp;&nbsp;Detalle Peritaje</a></li>
                @*<li class=""><a data-toggle="tab" href="#CompraRetoma" id="tabCompraRetoma"><i class=""></i>&nbsp;&nbsp;Compra/Retoma</a></li>*@
            </ul>

            @*Primer tab par listar todos los peritajes*@
            <div id="Peritajes" class="tab-pane active">
                <div class="panel-body">

                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Tercero</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Placa</th>
                                        <th style="text-align:center">Clasificacion</th>
                                        <th style="text-align:center">Accion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*Primer tab par listar los detalles de un peritaje*@
            <div id="DetallePeritaje" class="tab-pane">
                <div class="panel-body">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                            </div>
                            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Datos generales
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <label class="control-label col-md-2 text-right">Modelo:</label>
                                <div class="col-md-3">
                                    <label id="modelo"></label>
                                </div>
                                <label class="control-label col-md-2 text-right">Placa:</label>
                                <div class="col-md-3">
                                    <label id="placa"></label>
                                </div>
                            </div>

                            <div class="row">
                                <label class="control-label col-md-2 text-right">Perito:</label>
                                <div class="col-md-3">
                                    <label id="perito"></label>
                                </div>
                                <label class="control-label col-md-2 text-right">Fecha:</label>
                                <div class="col-md-3">
                                    <label id="fecha"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaDetalles">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Zona</th>
                                        <th style="text-align:center">Pieza</th>
                                        <th style="text-align:center">Convencion</th>
                                        <th style="text-align:center">Comentario</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalClasifNegocio" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Clasificaci&oacute;n de Negocio</h4>
            </div>
            <div class="modal-body">
                @Html.Hidden("idEncabezado")
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-6">Seleccione Clasificaci&oacute;n:&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <select class="form-control" id="selectClasifNegocio">
                                <option value="" selected="selected">Seleccione</option>
                                @foreach (var item in ViewBag.clasifNegocio)
                                {
                                    <option value="@item.clanegocio_id">@item.clanegocio_descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                </div><br /><br /><br />
                <div class="row">
                    <div class="alert alert-warning" style="display:none" id="alertAddClasifNeg">
                        <strong><p id="mensajeAddClasifNeg"></p></strong>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="col-md-5 col-md-offset-6">
                    <button type="button" class="btn btn-default" data-dismiss="" id="AceptarClasifNegocio">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('#selectClasifNegocio').select2();
        buscarAjaxPeritajes();
    });

    function buscarAjaxDetallePeritaje(id) {
        $("#tablaPaginadaDetalles").dataTable().fnDestroy();
        $.ajax({
            url: '/peritaje/BuscarDetallesPeritaje',
            data: {
                id: id
            },
            type: "post",
            cache: false,
            success: function (data) {
                console.log(data);
                $('#tablaPaginadaDetalles').find('tbody').empty();
                for (var i = 0; i < data.detalles.length; i++) {
                    $('#tablaPaginadaDetalles').find('tbody').append('<tr><td align="left">' + data.detalles[i].zonaper_nombre + '</td><td align="left">' + data.detalles[i].pieza_nombre
                        + '</td><td align="left">' + data.detalles[i].conve_nombre
                        + '</td><td align="left">' + data.detalles[i].insp_comentario
                        + '</td></tr>');
                }
                $('#modelo').text(data.datosPeritajeFormato.modvh_nombre);
                $('#placa').text(data.datosPeritajeFormato.placa);
                $('#perito').text(data.datosPeritajeFormato.user_nombre + ' ' + data.datosPeritajeFormato.user_apellido);
                $('#fecha').text(data.datosPeritajeFormato.encab_insper_fecha);
            },
            complete: function (data) {
                var test = $('#tablaPaginadaDetalles').dataTable({
                    //"ajax": 'api/datatables.json',
                    //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                    //retrieve: true,
                    paging: true,
                    searching: true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                    buttons: [//{ extend: 'copy', className: 'btn-sm' },
                        { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                        //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                        //{ extend: 'print', className: 'btn-sm', text: 'Imprimir'}
                    ]
                });
                $('#tabDetallePeritaje').show();
                $('.nav-tabs li:eq(1) a').tab('show')
            }
        });
    }

    function asignarClasifNegocio(id) {
        $('#idEncabezado').val(id);
        $('#modalClasifNegocio').modal('show');
    }

    $('#AceptarClasifNegocio').click(function () {
        if ($.trim($('#selectClasifNegocio').val()) == '') {
            $('#mensajeAddClasifNeg').text('Debe seleccionar una clasificacion');
            $('#alertAddClasifNeg').show();
            setTimeout(function () {
                $("#alertAddClasifNeg").fadeOut(1500);
            }, 3000);
        } else {
            $.ajax({
                url: '/peritaje/AgregarClasifNegocio',
                data: {
                    idEncabezado: $('#idEncabezado').val(),
                    idClasificacion: $('#selectClasifNegocio').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data == '1') {
                        $('#mensajeAddClasifNeg').text('La clasificacion se agrego correctamente');
                    } else if (data == '2') {
                        $('#mensajeAddClasifNeg').text('La placa del vehiculo ya existe, se ha actualizado el propietario');
                    } else if (data == '-1') {
                        $('#mensajeAddClasifNeg').text('La clasificacion no se ha guardado porque la placa ingresada ya se encuentra');
                    }
                    $('#alertAddClasifNeg').show();
                    setTimeout(function () {
                        $("#alertAddClasifNeg").fadeOut(1500);
                    }, 3000);
                },
                complete: function (data) {

                }
            });
        }
    });

    function buscarAjaxPeritajes() {
        $.ajax({
            url: '/peritaje/BuscarPeritajes',
            data: {
            },
            type: "post",
            cache: false,
            success: function (data) {
                $('#tablaPaginada').find('tbody').empty();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].claper_nombre == 'Usado') {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="left">' + data[i].prinom_tercero + ' ' + data[i].segnom_tercero
                            + ' ' + data[i].apellido_tercero + ' ' + data[i].segapellido_tercero + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td><td align="left">' + data[i].placa
                            + '</td><td align="left">' + data[i].claper_nombre
                            + '</td><td width="20%" align="center"><button class="btn btn-info btn-xs" onclick="buscarAjaxDetallePeritaje(' + '\'' + data[i].encab_insper_id
                            + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button>&nbsp;<button class="btn btn-success btn-xs" onclick="asignarClasifNegocio(' + '\'' + data[i].encab_insper_id
                            + '\')">&nbsp;&nbsp;Clasificacion Negocio&nbsp;&nbsp;</button></td></tr>');
                    } else {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="left">' + data[i].prinom_tercero + ' ' + data[i].segnom_tercero
                            + ' ' + data[i].apellido_tercero + ' ' + data[i].segapellido_tercero + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td><td align="left">' + data[i].placa
                            + '</td><td align="left">' + data[i].claper_nombre
                            + '</td><td width="14%" align="center"><button class="btn btn-info btn-xs" onclick="buscarAjaxDetallePeritaje(' + '\'' + data[i].encab_insper_id
                            + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                }
            },
            complete: function (data) {
                $('#tablaPaginada').dataTable({
                    //"ajax": 'api/datatables.json',
                    //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                        //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                        //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                    ]
                });
            }
        });
    }

    function AgregarQuitarFavorito(){
        $.ajax({
            url: '/Inicio/AgregarQuitarFavorito',
            data: {
                id_menu: @ViewBag.id_menu,
            },
            type: "post",
            cache: false,
            success: function (data) {
                if (data.esFavorito == true) {
                    $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                } else {
                    $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                }
            }
        });
    }

    @*$('#tabSolicitudes').click(function () {
        window.location.href = '@Url.Action("Solicitud","peritaje")';
    });

    $('#tabAgenda').click(function () {
        window.location.href = '@Url.Action("Agendar","peritaje")';
    });

    $('#tabCompraRetoma').click(function () {
        window.location.href = '@Url.Action("CompraRetoma","peritaje")';
    });*@

    </script>

}