@model Homer_MVC.IcebergModel.SolicitudPeritajeModel

@{
    ViewBag.Icono = "fa fa-pencil-square-o";
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Vendor/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    @*<link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-solicitud" class="nav nav-tabs">
                @*<li class=""><a data-toggle="tab" href="#Agenda" id="tabAgenda"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Agenda</a></li>*@
                <li class="active"><a data-toggle="tab" href="#Solicitudes" id="tabSolicitudes"><i class=""></i>&nbsp;&nbsp;Solicitudes</a></li>
                @*<li class=""><a data-toggle="tab" href="#Peritajes" id="tabPeritajes"><i class=""></i>&nbsp;&nbsp;Peritajes</a></li>
                    <li class=""><a data-toggle="tab" href="#CompraRetoma" id="tabCompraRetoma"><i class=""></i>&nbsp;&nbsp;Compra/Retoma</a></li>*@
            </ul>

            @*Primer tab par listar el inventario de vehiculos nuevos*@
            <div id="Solicitudes" class="tab-pane active">
                <div class="panel-body">
                    @using (Html.BeginForm("Solicitud", "peritaje", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @if (TempData["mensajeCorrecto"] != null)
                            {
                                <div class="alert alert-success  alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                                    <p><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;@TempData["mensajeCorrecto"]</p>
                                </div>
                            }

                            @if (TempData["mensajeError"] != null)
                            {
                                <div class="alert alert-danger  alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                                    <p><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;@TempData["mensajeError"]</p>
                                </div>
                            }
                            <br />

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Solicitud Peritaje
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Peritaje:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpper_id, ViewBag.tpper_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.tpper_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <i class="fa fa-user-o"></i>&nbsp;&nbsp;&nbsp;Cliente
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpdoc_id, ViewBag.tpdoc_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.tpdoc_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label col-md-4">Numero Documento:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-5">
                                                    @Html.EditorFor(model => model.doc_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Numero Documento", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.doc_tercero, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" value="Buscar" id="buscarDocumentoCliente" class="btn btn-info" />
                                                </div>
                                                <label class="control-label text-right" style="display:none" id="documentoNoEncontrado">&nbsp;<span class="text-danger">Documento no encontrado</span></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="datosCliente" @*style="display:none"*@>
                                        <div class="col-sm-6 camposNombreYApellido">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Primer Nombre:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.prinom_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Primer nombre", @required = "required", @onkeypress = "return soloLetras(event)" } })
                                                    @Html.ValidationMessageFor(model => model.prinom_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 camposNombreYApellido">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Segundo Nombre:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.segnom_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Segundo nombre", @onkeypress = "return soloLetras(event)" } })
                                                    @Html.ValidationMessageFor(model => model.segnom_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 camposNombreYApellido">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Primer Apellido:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.apellido_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Primer Apellido", @required = "required", @onkeypress = "return soloLetras(event)" } })
                                                    @Html.ValidationMessageFor(model => model.apellido_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 camposNombreYApellido">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Segundo Apellido:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.segapellido_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Segundo Apellido", @onkeypress = "return soloLetras(event)" } })
                                                    @Html.ValidationMessageFor(model => model.segapellido_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 divRazonSocial" style="display:none;">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Razon Social:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Razon Social" } })
                                                    @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-6 camposNombreYApellido">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Genero:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.gentercero_id, ViewBag.gentercero_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.gentercero_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Telefono:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.telf_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Telefono" } })
                                                    @Html.ValidationMessageFor(model => model.telf_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Celular:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.celular_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Celular", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.celular_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Email:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.email_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Email", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.email_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Ciudad:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.ciu_id, ViewBag.ciu_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.ciu_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Vehiculo
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Placa:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.plac_vh, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Placa", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.plac_vh, "", new { @class = "text-danger" })
                                                <label class="text-danger" id="AlertaPlacaNoEncontrada" style="display:none;">Placa no registrada!</label>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default" id="btnBuscarPlaca"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Marca:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.marcvh_id, ViewBag.marcvh_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.marcvh_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Modelo:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.modvh_codigo, ViewBag.modvh_codigo.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.modvh_codigo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">A&ntilde;o:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.anioTxt, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Año", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.anioTxt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Color:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.colvh_id, ViewBag.colvh_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.colvh_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Kilometraje Previo:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.kilometraje, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese kilometraje", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.kilometraje, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Kilometraje Actual:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.kilometrajeActual, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese kilometraje actual", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.kilometrajeActual, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Vehiculo:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpvh_id, ViewBag.tpvh_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.tpvh_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Ciudad Placa:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.ciudad_placa, ViewBag.ciudad_placa.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.ciudad_placa, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Servicio:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpserv_id, ViewBag.tpserv_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.tpserv_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Cilindraje:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.cilindraje, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Cilindraje" } })
                                                @Html.ValidationMessageFor(model => model.cilindraje, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Caja:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpcaj_id, ViewBag.tpcaj_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.tpcaj_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Serie:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.serie, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Serie", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.serie, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Numero Motor:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.num_motor, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Numero Motor", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.num_motor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Motor:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpmot_id, ViewBag.tpmot_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.tpmot_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="hpanel" id="panelCalendario">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Calendario Peritos
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nombre Perito:&nbsp;<span class="text-danger"></span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("perito_idCalendar", new SelectList(ViewBag.peritos, "Value", "Text"), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @*@Html.ValidationMessageFor(model => model.perito_id, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="col-lg-12">
                                        <div id="calendar"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-calendar-o"></i>&nbsp;&nbsp;&nbsp;Reservar Peritaje
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Perito:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.perito_id, new SelectList(ViewBag.peritos, "Value", "Text"), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.perito_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.fecha_peritaje, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Fecha", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.fecha_peritaje, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Hora Inicio:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.horaInicio, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Hora Inicial", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.horaInicio, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Hora Fin:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.horaFin, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese Hora Final", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.horaFin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-4">
                                                <button type="button" class="btn btn-primary" onclick="BuscarHorarioPerito()"><i class="fa fa-search"></i> Ver Horario</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-4">
                                                <input type="submit" value="Reservar" class="btn btn-info" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover" id="tablaHorario">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">Dia</th>
                                                                <th style="text-align:center">Horas</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<input type="text" id="fecha" />*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    @*<script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Vendor/fullcalendar/dist/lang-all.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">

        //var modelo = '';
        var anio = 0;
        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            //Crear el datepicker
            //$("#fecha").datetimepicker({
            //    format: 'dd/MM/yyyy',
            //    //hoursDisabled: '0,1,2,3,4,5,6,7,18,19,20,21,22,23',
            //    disabledDates: [
            //            moment("12/25/2017"),
            //            new Date(2017, 11 - 1, 21),
            //            "11/22/2017 00:53"
            //    ]
            //});//.enabledHours('0, 1, 2, 3, 4, 5, 6, 7, 8, 18');

            $('form select').each(function (i) {
                this.addEventListener('invalid', function (e) {
                    var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                    var _posS2 = $('#' + _s2Id).position();
                    //get the current position of respective select2
                    $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                    //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                    $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                    /*
                    //Adjust the left and top position accordingly
                    */
                    //remove invalid class after 3 seconds
                    setTimeout(function () {
                        $('#' + _s2Id + ' ul').removeClass('_invalid');
                    }, 3000);
                    return true;
                }, false);
            });

            $('.js-source-states').select2();

            // Buscar datos cliente en caso de que venga de una cotizacion
            if('@ViewBag.docTercero'!=''&&'@ViewBag.docTercero'!=null){
                $('#doc_tercero').val('@ViewBag.docTercero');
                $('#buscarDocumentoCliente').trigger('click');
            }
            //var dateToday = new Date();
            //dateToday.setDate(dateToday.getDate()-5);
            $('#fecha_peritaje').datetimepicker({
                format: 'DD/MM/YYYY',
                minDate: new Date(),
            });
            $('#horaInicio').datetimepicker({
                format: 'HH:mm',
            });
            $('#horaFin').datetimepicker({
                format: 'HH:mm',
            });

            $('#tpdoc_id').trigger('change')

            //modelo = $('#modvh_codigo').val();
            anio = $('#anioTxt').val();
            modeloPorMarca();
            aniosPorModelo();

            //if ($('#marcvh_id').val() != 1) {
            //    $('#campoAnioLista').hide();
            //    $('#campoAnioTxt').show();
            //    $("#anio").val($("#anio option:first").val());
            //}
            // $('#panelCalendario').find('.showhide').trigger('click');
        });

        $('form select').each(function (i) {
            this.addEventListener('invalid', function (e) {
                var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                var _posS2 = $('#' + _s2Id).position();
                //get the current position of respective select2
                $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                /*
                //Adjust the left and top position accordingly
                */
                //remove invalid class after 3 seconds
                setTimeout(function () {
                    $('#' + _s2Id + ' ul').removeClass('_invalid');
                }, 3000);
                return true;
            }, false);
        });

        $('#plac_vh').blur(function(){
            buscarPlaca();
        });

        $('#plac_vh').change(function(){
            buscarPeritajePrevio()
        });

        function  buscarPeritajePrevio() {

            if ($('#plac_vh').val() != "" && $('#kilometrajeActual').val() != "") {
                $.ajax({
                    url: '/peritaje/buscarPeritajePrevio',
                    data: {
                        placa: $('#plac_vh').val(),
                        kilometraje: $('#kilometrajeActual').val()
                    },
                    type: 'post',
                    cache: false,
                    success: function (data) { }
                });
            }
        }

        function buscarPlaca(){
            debugger
            $.ajax({
                url: '/peritaje/buscarPlaca',
                data: {
                    placa: $('#plac_vh').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    debugger
                    if(data.encontrado == false){
                        $('#marcvh_id').val('').attr('style','visible:visible').select2();
                        $('#marcvh_id option:not(:selected)').attr('disabled',false);
                        $('#modvh_codigo').empty();
                        $('#modvh_codigo').append($('<option>', {
                            value: '',
                            text: ''
                        }));
                        $('#modvh_codigo').val('').attr('style','visible:visible').select2();
                        $('#modvh_codigo option:not(:selected)').attr('disabled',false);
                        $('#anioTxt').val('').attr('readonly',false);
                        $('#tpmot_id').val('').attr('style','visible:visible').select2();
                        //$('#tpmot_id option:not(:selected)').attr('disabled',false);
                        $('#tpserv_id').val('').attr('style','visible:visible').select2();
                        //$('#tpserv_id option:not(:selected)').attr('disabled',false);
                        $('#colvh_id').val('').attr('style','visible:visible').select2();
                        //$('#colvh_id option:not(:selected)').attr('disabled',false);
                        $('#tpvh_id').val('').attr('style','visible:visible').select2();
                        //$('#tpvh_id option:not(:selected)').attr('disabled',false);
                        $('#ciudad_placa').val('').attr('style','visible:visible').select2();
                        //$('#ciudad_placa option:not(:selected)').attr('disabled',false);
                        $('#serie').val('');
                        $('#num_motor').val('');
                        $('#tpcaj_id').val('').attr('style','visible:visible').select2();
                        //$('#tpcaj_id option:not(:selected)').attr('disabled',false);
                        $('#cilindraje').val('');
                        $('#AlertaPlacaNoEncontrada').show();
                        setTimeout(function () {
                            $("#AlertaPlacaNoEncontrada").fadeOut(1500);
                        }, 3000);
                    }
                    else{
                        if (data.peritaje == true && data.vigente == true) {
                            swal({
                                title: 'Peritaje Vigente',
                                text: 'El vehículo tiene un peritaje vigente, ¿Desea realizar un nuevo peritaje?',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, enviar!",
                                cancelButtonText: "No, cancelar!",
                                closeOnConfirm: true,
                                closeOnCancel: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        $('#marcvh_id').val(data.buscarPlaca.marcvh_id).attr('style', 'visible:visible').select2();
                                        $('#marcvh_id option:not(:selected)').attr('disabled', 'disabled');
                                        $('#modvh_codigo').append($('<option>', {
                                            value: '',
                                            text: ''
                                        }));
                                        for (var i = 0; i < data.modelos.length; i++) {
                                            $('#modvh_codigo').append($('<option>', {
                                                value: data.modelos[i].modvh_codigo,
                                                text: data.modelos[i].modvh_nombre
                                            }));
                                        }
                                        $('#modvh_codigo').val(data.buscarPlaca.modvh_codigo).attr('style', 'visible:visible').select2();
                                        $('#modvh_codigo option:not(:selected)').attr('disabled', 'disabled');
                                        $('#anioTxt').val(data.buscarPlaca.anio_vh).attr('readonly', 'readonly');
                                        $('#kilometraje').val(data.buscarPlaca.kilometraje).attr('readonly', 'readonly');
                                        $('#kilometrajeActual').focus();
                                        $('#tpmot_id').val(data.buscarPlaca.combustible).attr('style', 'visible:visible').select2();
                                        //$('#tpmot_id option:not(:selected)').attr('disabled','disabled');
                                        $('#tpserv_id').val(data.buscarPlaca.tpserv_id).attr('style', 'visible:visible').select2();
                                        //$('#tpserv_id option:not(:selected)').attr('disabled','disabled');
                                        $('#colvh_id').val(data.buscarPlaca.colvh_id).attr('style', 'visible:visible').select2();
                                        //$('#colvh_id option:not(:selected)').attr('disabled','disabled');
                                        $('#tpvh_id').val(data.buscarPlaca.tpVehiculo_id).attr('style', 'visible:visible').select2();
                                        //$('#tpvh_id option:not(:selected)').attr('disabled','disabled');
                                        $('#ciudad_placa').val(data.buscarPlaca.ciu_id).attr('style', 'visible:visible').select2();
                                        //$('#ciudad_placa option:not(:selected)').attr('disabled','disabled');
                                        $('#serie').val(data.buscarPlaca.vin).attr('readonly', 'readonly');;
                                        $('#num_motor').val(data.buscarPlaca.motor).attr('readonly', 'readonly');;
                                        $('#tpcaj_id').val(data.buscarPlaca.tipocaja).attr('style', 'visible:visible').select2();
                                        //$('#tpcaj_id option:not(:selected)').attr('disabled','disabled');
                                        //$('#cilindraje').val(data.buscarPlaca.cilindraje).attr('readonly','readonly');;
                                    } else { swal("Cancelado", "", "error"); }
                                });
                        }
                        else {
                            $('#marcvh_id').val(data.buscarPlaca.marcvh_id).attr('style','visible:visible').select2();
                            $('#marcvh_id option:not(:selected)').attr('disabled','disabled');
                            $('#modvh_codigo').append($('<option>', {
                                value: '',
                                text: ''
                            }));
                            for (var i = 0; i < data.modelos.length; i++) {
                                $('#modvh_codigo').append($('<option>', {
                                    value: data.modelos[i].modvh_codigo,
                                    text: data.modelos[i].modvh_nombre
                                }));
                            }
                            $('#modvh_codigo').val(data.buscarPlaca.modvh_codigo).attr('style','visible:visible').select2();
                            $('#modvh_codigo option:not(:selected)').attr('disabled','disabled');
                            $('#anioTxt').val(data.buscarPlaca.anio_vh).attr('readonly','readonly');
                            $('#kilometraje').val(data.buscarPlaca.kilometraje).attr('readonly','readonly');
                            $('#kilometrajeActual').focus();
                            $('#tpmot_id').val(data.buscarPlaca.combustible).attr('style','visible:visible').select2();
                            //$('#tpmot_id option:not(:selected)').attr('disabled','disabled');
                            $('#tpserv_id').val(data.buscarPlaca.tpserv_id).attr('style','visible:visible').select2();
                            //$('#tpserv_id option:not(:selected)').attr('disabled','disabled');
                            $('#colvh_id').val(data.buscarPlaca.colvh_id).attr('style','visible:visible').select2();
                            //$('#colvh_id option:not(:selected)').attr('disabled','disabled');
                            $('#tpvh_id').val(data.buscarPlaca.tpVehiculo_id).attr('style','visible:visible').select2();
                            //$('#tpvh_id option:not(:selected)').attr('disabled','disabled');
                            $('#ciudad_placa').val(data.buscarPlaca.ciu_id).attr('style','visible:visible').select2();
                            //$('#ciudad_placa option:not(:selected)').attr('disabled','disabled');
                            $('#serie').val(data.buscarPlaca.vin).attr('readonly','readonly');;
                            $('#num_motor').val(data.buscarPlaca.motor).attr('readonly','readonly');;
                            $('#tpcaj_id').val(data.buscarPlaca.tipocaja).attr('style','visible:visible').select2();
                            //$('#tpcaj_id option:not(:selected)').attr('disabled','disabled');
                            //$('#cilindraje').val(data.buscarPlaca.cilindraje).attr('readonly','readonly');;
                        }
                    }
                }
            });
        }

        $('#btnBuscarPlaca').click(function(){
            buscarPlaca();
        });

        function BuscarHorarioPerito(){
            $('#tablaHorario').find('tbody').empty();
            if($('#perito_id').val() == "" || $('#perito_id').val() == null){
                swal("Debe seleccionar el perito.","","error");
            }else{
                $.ajax({
                    url : '/peritaje/BuscarHorario',
                    data: {
                        perito_id : $('#perito_id').val()
                    },
                    type : "post",
                    success : function (data){
                        for(var i = 0; i < data.length; i++){
                            $('#tablaHorario').find('tbody').append(
                                '<tr>'
                                + '<td style="vertical-align:middle">Lunes</td>'
                                + (data[i].lunes == true ? '<td style="text-align:center">'+ data[i].lunes1 + '</br>' + data[i].lunes2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Martes</td>'
                                + (data[i].martes == true ? '<td style="text-align:center">'+ data[i].martes1 + '</br>' + data[i].martes2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Miercoles</td>'
                                + (data[i].miercoles == true ? '<td style="text-align:center">'+ data[i].miercoles1 + '</br>' + data[i].miercoles2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Jueves</td>'
                                + (data[i].jueves == true ? '<td style="text-align:center">'+ data[i].jueves1 + '</br>' + data[i].jueves2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Viernes</td>'
                                + (data[i].viernes == true ? '<td style="text-align:center">'+ data[i].viernes1 + '</br>' + data[i].viernes2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Sabado</td>'
                                + (data[i].sabado == true ? '<td style="text-align:center">'+ data[i].sabado1 + '</br>' + data[i].sabado2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                            + '<tr>'
                                + '<td style="vertical-align:middle">Domingo</td>'
                                + (data[i].domingo == true ? '<td style="text-align:center">'+ data[i].domingo1 + '</br>' + data[i].domingo2 +'</td>' : '<td style="text-align:center">No trabaja</td>' )
                                + '</tr>'
                                );
                        }
                    }
                });
            }
        }

        function BuscarCitasPerito(idPerito) {
            $.ajax({
                url: '/peritaje/BuscarCitasPerito',
                data: {
                    peritoId: idPerito
                },
                type: "post",
                cache: false,
                success: function (data) {

                },
                complete: function (data) {
                    var citas = new Array();
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        var object = {
                            title: data.responseJSON[i].title,
                            start: new Date(data.responseJSON[i].start),
                            end: new Date(data.responseJSON[i].end),
                        };
                        citas.push(object);
                    }

                    /* initialize the external events
      -----------------------------------------------------------------*/
                    $('#external-events div.external-event').each(function () {

                        // store data so the calendar knows to render an event upon drop
                        $(this).data('event', {
                            title: $.trim($(this).text()), // use the element's text as the event title
                            stick: true // maintain when user navigates (see docs on the renderEvent method)
                        });

                        // make the event draggable using jQuery UI
                        $(this).draggable({
                            zIndex: 1111999,
                            revert: true,      // will cause the event to go back to its
                            revertDuration: 0  //  original position after the drag
                        });
                    });


                    /* initialize the calendar
                     -----------------------------------------------------------------*/
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    $('#calendar').fullCalendar({
                        lang: 'es',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar
                        drop: function () {
                            // is the "remove after drop" checkbox checked?
                            if ($('#drop-remove').is(':checked')) {
                                // if so, remove the element from the "Draggable Events" list
                                $(this).remove();
                            }
                        },
                        events: citas,//data.responseJSON,
                        //eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {

                        //},
                        //eventClick: function (calEvent, jsEvent, view) {

                        //    $('#placaInspeccion').val(calEvent.title);
                        //    $('#modalOpcionesCita').modal('show');
                        //    $(this).css('border-color', 'red');

                        //}
                    });
                }
            });
        }

        $('#tpdoc_id').change(function () {
            ValidarTipoDocumento();
        });

        function ValidarTipoDocumento(){
            $.ajax({
                url: '/cotizacion/BuscarSiEsNit',
                data: {
                    tpDocumento: $('#tpdoc_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data == true) {
                        $('.camposNombreYApellido').hide();
                        $('.divRazonSocial').show();
                        //$('#digito_verificacion').prop("required", true);
                        $('#razon_social').prop('required', true);
                        $('#prinom_tercero').prop('required', false);
                        $('#apellido_tercero').prop('required', false);
                        $('#gentercero_id').prop('required', false);
                    } else {
                        $('.divRazonSocial').hide();
                        $('.camposNombreYApellido').show();
                        $('#digito_verificacion').prop("required", false);
                        $('#razon_social').prop('required', false);
                        $('#prinom_tercero').prop('required', true);
                        $('#apellido_tercero').prop('required', true);
                        $('#gentercero_id').prop('required', true);
                    }
                }
            });
        };

        $('#perito_idCalendar').change(function () {
            BuscarCitasPerito($('#perito_idCalendar').val());
            $('#calendar').fullCalendar('destroy');
        });

        function buscarClientePorDocumento() {
            var clienteExiste = false;
            $.ajax({
                url: '/cotizacion/BuscarClientePorDocumento',
                data: {
                    documento: $('#doc_tercero').val(),
                    tipoDocumento: $('#tpdoc_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.clienteExiste != null || data.clienteExiste != undefined) {
                        clienteExiste = data.clienteExiste;
                    } else {
                        clienteExiste = data.data.clienteExiste;
                    }
                    if (clienteExiste == true) {
                        $('#prinom_tercero').val(data.data.prinom_tercero);
                        $('#segnom_tercero').val(data.data.segnom_tercero);
                        $('#apellido_tercero').val(data.data.apellido_tercero);
                        $('#segapellido_tercero').val(data.data.segapellido_tercero);
                        $('#razon_social').val(data.data.razon_social);
                        $('#gentercero_id').val(data.data.genero_tercero).select2();
                        $('#email_tercero').val(data.data.email_tercero);
                        $('#telefono_tercero').val(data.data.telf_tercero);
                        $('#celular_tercero').val(data.data.celular_tercero);
                        $('#ciu_id').val(data.data.ciu_id).select2();
                    } else {
                        $('#alertaDocumentoBuscado').text('Documento no encontrado');
                        $('#documentoNoEncontrado').show();
                        setTimeout(function () {
                            $('#documentoNoEncontrado').fadeOut(1500);
                        }, 3000);
                    }
                    //else{
                    //    $('#prinom_tercero').val('');
                    //    $('#segnom_tercero').val('');
                    //    $('#apellido_tercero').val('');
                    //    $('#segapellido_tercero').val('');
                    //    $('#gentercero_id').val('').select2();
                    //    $('#correo').val('');
                    //    $('#telefono_tercero').val('');
                    //    $('#celular_tercero').val('');
                    //    $('#direc_tercero').val('');
                    //    $('#ciu_id').val('').select2();
                    //    $('#tporigen_id').val('').select2();
                    //    $('#medcomun_id').val('').select2();
                    //    $('#asesorAsignado').val('').select2();
                    //}
                }
            });
        };

        $('#buscarDocumentoCliente').click(function () {
            buscarClientePorDocumento()
            //$.ajax({
            //    url: '/peritaje/BuscarClientePorDocumento',
            //    data: {
            //        documento: $("#doc_tercero").val()
            //    },
            //    type: "post",
            //    cache: false,
            //    success: function (data) {
            //        if(!data.encontrado){
            //            $("#documentoNoEncontrado").show('1500');
            //            setTimeout(function () {
            //                $("#documentoNoEncontrado").fadeOut(1500);
            //            }, 3000);
            //        }
            //        $('#prinom_tercero').val(data.prinom_tercero);
            //        $('#segnom_tercero').val(data.segnom_tercero);
            //        $('#apellido_tercero').val(data.apellido_tercero);
            //        $('#segapellido_tercero').val(data.segapellido_tercero);
            //        $('#telf_tercero').val(data.telf_tercero);
            //        $('#celular_tercero').val(data.celular_tercero);
            //        $('#email_tercero').val(data.email_tercero);
            //        $('#gentercero_id').val(data.genero_tercero);
            //        $('#tpdoc_id').val(data.tpdoc_id);
            //        $('#ciu_id').val(data.ciu_id);
            //        $('#datosCliente').show();
            //    },
            //    complete: function (data) {
            //        $('#gentercero_id').attr('style','display: visible').select2();
            //        $('#tpdoc_id').attr('style','display: visible').select2();
            //        $('#ciu_id').attr('style','display: visible').select2();
            //    }
            //})
        });

        function modeloPorMarca() {
            $.ajax({
                url: '/peritaje/BuscarModelosPorMarca',
                data: {
                    marcaId: $("#marcvh_id").val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var modeloSeleccionado = $('#modvh_codigo').val();
                    $('#modvh_codigo').empty();
                    $('#anio').empty();
                    $('#anio').select2();
                    $('#modvh_codigo').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#modvh_codigo').append($('<option>', {
                            value: data[i].modvh_codigo,
                            text: data[i].modvh_nombre
                        }));
                    }
                    $('#modvh_codigo').val(modeloSeleccionado).attr('style', 'display: visible').select2();
                }
            });
        }

        $('#marcvh_id').change(function () {
            modeloPorMarca();
            //if ($('#marcvh_id').val() == 1) {
            //    $('#campoAnioLista').show();
            //    $('#campoAnioTxt').hide();
            //    $('#anioTxt').val('');
            //} else {
            //    $('#campoAnioLista').hide();
            //    $('#anioTxt').val('');
            //    $('#campoAnioTxt').show();
            //    $("#anio").val($("#anio option:first").val());
            //}
        });

        $('#anio').change(function () {
            $('#anioTxt').val($('#anio').val());
        });

        function aniosPorModelo() {
            $.ajax({
                url: '/peritaje/BuscarAniosPorModelo',
                data: {
                    modeloCodigo: $("#modvh_codigo").val()
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#anio').empty();
                    $('#anio').append($('<option>', {
                        value: '',
                        text: 'Seleccione'
                    }));
                    for (var i = 0; i < data.aniosJson.length; i++) {
                        $('#anio').append($('<option>', {
                            value: data.aniosJson[i].anio,
                            text: data.aniosJson[i].anio
                        }));
                    }
                    $('#anio').val(anio);
                    $('#anio').select2();
                },
                complete: function (data) {
                }
            });
        }

        $('#modvh_codigo').change(function () {
            aniosPorModelo();
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }
    </script>
}