@model Homer_MVC.Models.PDFRetiroInterno
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("es-CO");
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Retiro Interno</title>

    <style type="text/css">
    </style>

</head>
<body>
    <table style="width:100%">
        <tr>
            <td style="width:35%">
                <table>
                    <tr>
                        <td><img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>@Model.Aseguradoa&nbsp; &nbsp;  N.i.T. @Model.Documentocliente</td>
                    </tr>
                    <tr>
                        <td>@Model.Direccion&nbsp; Tel.@Model.Telefono</td>
                    </tr>
                </table>




            </td>
            <td style="width:25%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
         
            <td style="text-align:center; width: 35%">
                <table>
                    <tr>
                        <td> <strong>RETIRO INTERNO No.</strong></td>
                        <td>@Model.CodigoRetiro</td>
                    </tr>
                    <tr>
                        <td> <strong>FECHA.</strong></td>
                        <td>@Model.Fechadocumento</td>
                    </tr>
                    <tr>
                        <td> <strong>TIPO</strong></td>
                        <td>@Model.Bodega</td>
                    </tr>
                </table>
                </th>
        </tr>
    </table>
</body>
</html>
