@model Homer_MVC.Models.PdfOrdenTaller
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("is-IS");
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orden Taller</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        html, body {
            width: 100%;
        }

        table, tr, td {
            height: auto;
            border-collapse: collapse;
            border: 1px solid #ccc;
            /*padding-left: 5px;*/
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        table, tr, td, th, tbody, thead, tfoot, td div {
            page-break-inside: avoid !important;
        }
    </style>
</head>
<body>

    <table style="width:100%">


        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">DATOS DE CLIENTE</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Documento: </strong> <br />@Model.txtDocumentoCliente</td>
                        <td colspan="6" style="text-align:center;"><strong>Cliente: </strong> <br />@Model.nombrecliente</td>
                        <td colspan="6" style="text-align:center;"><strong>Teléfono: </strong> <br />@Model.telefonocliente</td>
                        <td colspan="6" style="text-align:center;"><strong>Celular: </strong> <br />@Model.celularcliente</td>

                    </tr>

                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Contacto: </strong> <br />@Model.contacto</td>
                        <td colspan="6" style="text-align:center;"><strong>Numero Contacto: </strong> <br />@Model.numcontacto</td>
                        <td colspan="6" style="text-align:center;"><strong>Otro Contacto: </strong> <br />@Model.otrocontacto</td>
                        <td colspan="6" style="text-align:center;"><strong>Numero Otro Contacto: </strong> <br />@Model.telotrocontacto</td>
                    </tr>

                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Email: </strong> <br />@Model.correocliente</td>
                        <td colspan="6" style="text-align:center;"><strong>Ciudad: </strong> <br />@Model.ciudadcliente</td>

                        @if (!string.IsNullOrWhiteSpace(Model.aseguradora))
                            {
                            <td colspan="6" style="text-align:center;"><strong>Aseguradora: </strong> <br />@Model.aseguradora</td>
                            }
                        else
                            {
                            <td colspan="6" style="text-align:center;"><strong>Aseguradora: </strong> <br /></td>
                            }

                        <td colspan="6" style="text-align:center;"></td>

                    </tr>
                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Fecha Entrada vh: </strong> <br />@Model.fecha_entrada_vh</td>
                        <td colspan="6" style="text-align:center;"><strong>Entrada: </strong> <br />@Model.fecha_ingreso</td>
                        <td colspan="6" style="text-align:center;"><strong>Fecha Prometida: </strong> <br />@Model.fecha_prometida</td>
                        <td colspan="6" style="text-align:center;"></td>

                    </tr>



                </table>

            </td>
        </tr>


        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">DATOS DE ORDEN DE TALLER</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Codigo de Operación: </strong> <br />@Model.codigoentrada</td>
                        <td colspan="6" style="text-align:center;"><strong>Asesor: </strong> <br />@Model.asesor</td>
                        <td colspan="6" style="text-align:center;"><strong>Técnico: </strong> <br />@Model.tecnico</td>
                        <td colspan="6" style="text-align:center;"><strong>Razón de Ingreso:</strong> <br /> @Model.razoningreso</td>

                    </tr>
                    @if (Model.razoningreso.ToUpper().Contains("GARANTIA"))
                        {
                        <tr style="width:100%">
                            <td colspan="6" style="text-align:center;"><strong>Falla: </strong> <br />@Model.garantia_falla</td>
                            <td colspan="6" style="text-align:center;"><strong>Causa: </strong> <br />@Model.garantia_causa</td>
                            <td colspan="6" style="text-align:center;"><strong>Solución: </strong> <br />@Model.garantia_solucion</td>
                        </tr>
                        }
                    @if (Model.razoningreso.ToUpper().Contains("COLISI"))
                        {

                        <tr style="width:100%">
                            <td colspan="6" style="text-align:center;"><strong>Aseguradora: </strong> <br />@Model.aseguradora</td>
                            <td colspan="6" style="text-align:center;"><strong>Póliza: </strong> <br />@Model.poliza</td>
                            <td colspan="6" style="text-align:center;"><strong>Siniestro: </strong> <br />@Model.siniestro</td>
                            <td colspan="6" style="text-align:center;"></td>
                        </tr>

                        <tr style="width:100%">
                            <td colspan="6" style="text-align:center;"><strong>Valor Mínimo: </strong> <br />@Model.minimo</td>
                            <td colspan="6" style="text-align:center;"><strong>Deducible: </strong> <br />@Model.deducible</td>
                            <td colspan="6" style="text-align:center;"><strong>SOAT: </strong> <br />@Model.numero_soat</td>
                            <td colspan="6" style="text-align:center;"><strong>Fecha Soat: </strong> <br />@Model.fecha_soat</td>
                        </tr>

                        }
                </table>

            </td>
        </tr>

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">DATOS DE VEHICULO</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">

                        <td colspan="6" style="text-align:center;"><strong>Placa: </strong> <br />@Model.placa</td>
                        <td colspan="6" style="text-align:center;"><strong>Modelo: </strong> <br />@Model.modelo</td>
                        <td colspan="6" style="text-align:center;"><strong>Año Modelo: </strong> <br />@Model.anio_modelo</td>
                        <td colspan="6" style="text-align:center;"><strong>Serie: </strong> <br />@Model.serie</td>
                        <td colspan="6" style="text-align:center;"><strong>Numero de Motor: </strong> <br />@Model.numero_motor</td>


                    </tr>

                    <tr style="width:100%">
                        <td colspan="6" style="text-align:center;"><strong>Color: </strong> <br />@Model.color</td>
                        <td colspan="6" style="text-align:center;"><strong>Fecha de Venta: </strong> <br />@Model.fecha_venta</td>
                        <td colspan="6" style="text-align:center;"><strong>Fecha Fin de Garantía: </strong> <br />@Model.fecha_fin_garantia</td>
                        <td colspan="6" style="text-align:center;"><strong>Kilometraje Anterior: </strong> <br />@Model.kilometraje</td>
                        <td colspan="6" style="text-align:center;"><strong>Kilometraje Actual: </strong> <br />@Model.kilometraje_actual</td>

                    </tr>

                </table>

            </td>
        </tr>
           <tr>

            <th  style="text-align:center;">
                <h6 style="text-align:left"><br /><strong>COMBUSTIBLE:</strong>&nbsp;&nbsp;1/2_____1/4_____1/8_____</h6>
            </th>
        </tr>

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">SINTOMAS</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">Sintoma</td>
                    </tr>

                    @foreach (var item2 in Model.sintomas)
                        {
                        <tr style="width:100%">
                            <td colspan="4" style="text-align:center">@item2.descripcion_solicitud</td>
                        </tr>
                        }
                </table>

            </td>
        </tr>

    </table>

    <table class="table_principal" style="width:100%;">

        <tr style="width:100%">

            <td style=">
                <br />

                <h6 style="text-align:left">EL CLIENTE MANIFIESTA QUE EL VEHÍCULO PRESENTA LO SIGUIENTE: </strong>___________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <br />

            </td>
        </tr>
        <tr style="width:100%">

            <td colspan="4" >
                <br />

                <h6 style="text-align:left"><strong>FECHA DE CIERRE:</strong>________________________________<strong>CORRECIONES:</strong></h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h6>
                <br />

            </td>
        </tr>

        <tr style="width:100%">
            <td colspan="4" style="background-color:#D8D8D8;width:100%">
                <h6 style="text-align:justify;background-color:#D8D8D8;font-weight:bold; padding:0; margin:0;width:100%;">
                    CONDICIONES: 1 Los materiales y piezas de repuestos son suministrados por COMERCIALIZADORA HOMAZ S.A.S. salvo estipulación de lo contrario.
                    2. Los riesgos y peligros del vehículo entregado para reparación a nuestra empresa, pertenecen exclusiva y totalmente al dueño del vehículo
                    durante todo el tiempo que este permanezca en los talleres de COMERCIALIZADORA HOMAZ S.A.S. desde el momento de la entrega del vehículo
                    para su reparación y no desde la aprobación que le imparta a dicha reparación pues para el efecto renuncia expresamente al beneficio de que trata
                    el inciso segundo del artículo 2053 del Código Civil en concordancia  con los artículos 1604 inciso cuarto  y 2057 ibidem. 3.
                    COMERCIALIZADORA HOMAZ S.A.S. queda autorizada para hacer las pruebas necesarias del vehículo fuera del taller, circunstancia para la cual el
                    cliente deberá entregar la tarjeta de propiedad y el SOAT al Asesor de Servicio a cargo de su caso; de no hacerlo, el cliente deberá asumir
                    la responsabilidad  sobre cualquier tipo de infracción designada por las autoridades de tránsito correspondientes referente a la no prestación
                    de esos documentos del vehículo. 4. COMERCIALIZADORA HOMAZ S.A.S. no responderá por objetos dejados en el vehículo y que no se hubieren inventariado
                    debidamente a partir del momento en que el vehículo salga de las instalaciones de la empresa,  COMERCIALIZADORA HOMAZ S.A.S. no se hará responsable
                    por la ausencia de dichos objetos que fueron devueltos igualmente bajo inventario. 5. En caso de fuerza mayor o caso fortuito COMERCIALIZADORA HOMAZ S.A.S.
                    no responde por pérdidas o deterioros de vehículos o de los objetos dejados a su cuidado. 6. COMERCIALIZADORA HOMAZ S.A.S. queda facultada para ejercer el derecho
                    de retención del vehículo mientras esté pendiente la cancelación de la cuenta. 7. Es entendido que quien margin:7%contrata y ordena el trabajo descrito es
                    el propietario del vehículo mientras esté autorizado por el dueño mismo, y conoce y acepta íntegramente estas condiciones que son parte integrante del contrato
                    que se celebra y que consta en este documento. 8. COMERCIALIZADORA HOMAZ S.A.S. queda autorizada para enviar a cualquier parqueadero (a costa del propietario)
                    el vehículo objeto de esta orden de trabajo cuando por culpa del cliente permanezca más de ocho días sin haberse ordenado su reparación o por simple
                    decisión de la empresa.
                </h6> <br />
            </td>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <br />
                <h6><strong style="margin:10%">Firma Cliente:__________________________</strong><strong style="margin:13%">Firma Técnico:__________________________</strong>
                                                                                                <strong >Firma Cordinador:__________________________</strong>
                </h6>
            </td>
        </tr>
    </table>
 

</body>
</html>
