@model Homer_MVC.IcebergModel.icb_vehiculo

@{
    ViewBag.Title = "Cargue Pedido y Facturación";
    ViewBag.Icono = "fa fa-book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datatables/css")
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-invVhNuevo" class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#PedidoEnFirme" id="tabPedidoFirme"><i class="fa fa-book"></i></i>&nbsp;&nbsp;Pedido en Firme</a></li>
                <li class=""><a data-toggle="tab" href="#FacturacionGM" id="tabFacturacion"><i class="fa fa-money"></i>&nbsp;&nbsp;Compras GM</a></li>
                <li class="" onclick="BuscarComprasIndivuduales();"><a data-toggle="tab" href="#ComprasIndividualesGM"><i class="fa fa-contao"></i>&nbsp;&nbsp;Consecutivo de Compras</a></li>
                @*<li class=""><a data-toggle="tab" href="#Inventario" id="tabInventario"><i class=""></i>&nbsp;&nbsp;Inventario</a></li>*@
                <li class="active"><a data-toggle="tab" href="#DetalleFacturacion"><i class=""></i>&nbsp;&nbsp;Detalle Compra</a></li>
                <li class="" style="display:none" id="PestanaVerVehiculo"><a data-toggle="tab" href="#Ver"><i class=""></i>&nbsp;&nbsp;Vehículo</a></li>
            </ul>

            <div id="FacturacionGM" class="tab-pane">
                <div class="panel-body">

                </div>
            </div>

            @*Primer tab par listar el inventario de vehiculos nuevos*@
            <div id="DetalleFacturacion" class="tab-pane active">
                <div class="panel-body">

                    <div class="panel-body-busqueda">
                        <h4><span class="label label-default">Registros Cargados</span></h4>

                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaDetallesFacturacion">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Dias Inventario</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Fecha Compra</th>
                                        <th style="text-align:center">Color</th>
                                        <th style="text-align:center">Motor</th>
                                        <th style="text-align:center">VIN</th>
                                        <th style="text-align:center">A&ntilde;o</th>
                                        <th style="text-align:center">Plan Mayor</th>
                                        <th style="text-align:center">Número Documento</th>
                                        <th style="text-align:center">Accion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <hr />
                        <h4 id="mensajeLog" style="display:none"><span class="label label-default">Registros No Cargados</span></h4>


                        <div class="table-responsive" id="tableDetallesLog" style="display:none">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaDetallesFacturacionLog">
                                <thead>
                                    <tr>
                                        <th style="text-align:center"># Pedido</th>
                                        <th style="text-align:center">Plan Mayor</th>
                                        <th style="text-align:center">VIN</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Error</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>


            @*Tab relacionado con la actualizacion de un vehiculo nuevo*@
            <div id="Ver" class="tab-pane">
                <div class="panel-body">

                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">

        $('#modelos').change(function(){
            alert($('#modelos').val());
        });

        $('#color').change(function(){
            alert($('#color').val());
        });

        var idActual = 0;
        // Funcion que realiza la accion cuando se da en el boton ver en alguna fila de la tabla (recibe el id del registro)
        function valida(id) {
            window.location.href = '@Url.Action("Ver","gestionVhNuevo")?menu='+@ViewBag.id_menu+'&&id='+id;

            //$('#failedDataInfCompra').hide();
            //$('#successInfCompra').hide();
            //$('#failedEmptyInfCompra').hide();
            //$('#failedData').hide();
            //$('#success').hide();
            //$('#failedEmpty').hide();
            ////Mediante ajax se agregan los valores del vehiculo a la pestaña 2 para poder verlos
            //$.ajax({
            //    url: '/gestionVhNuevo/Update',
            //    data: {
            //        id: id
            //    },
            //    type: "get",
            //    cache: false,
            //    success: function (data) {
            //        console.log(data);
            //        idActual = data.buscado.icbvh_id;
            //        $('#color').val(data.buscado.colvh_id);
            //        $('#color').select2();
            //        $('#marcas').val(data.buscado.marcvh_id);
            //        $('#marcas').select2();
            //        $('#modelos').append($('<option>', {
            //            value: '-1',
            //            text: 'Seleccione'
            //        }));
            //        for (var i = 0; i < data.mod.length; i++) {
            //            $('#modelos').append($('<option>', {
            //                value: data.mod[i].modvh_codigo,
            //                text: data.mod[i].modvh_nombre
            //            }));
            //        }
            //        $('#modelos').val(data.buscado.modvh_id);
            //        $('#modelos').select2();
            //        $('#vin').val(data.buscado.num_serie);
            //        $('#nummot_vh').val(data.buscado.nummot_vh.toString());
            //        $('#anio_vh').val(data.buscado.anio_vh);
            //        $('#plac_vh').val(data.buscado.plac_vh);
            //        $('#proveedor').val(data.buscado.proveedor_id);
            //        $('#proveedor').select2();
            //        $('#cod_bod').val(data.buscado.cod_bod);
            //        $('#fecfact_fabrica').val(data.buscado.fecfact_fabrica.toString());
            //        $('#plan_mayor').val(data.buscado.plan_mayor);
            //        $('#fecfact_fabrica').datepicker("setDate", new Date(data.anio, data.mes, data.dia));
            //        if (data.anioManifiesto != 0) {
            //            $('#fecman_vh').datepicker("setDate", new Date(data.anioManifiesto, data.mesManifiesto, data.diaManifiesto));
            //        } else {
            //            $('#fecman_vh').val('');
            //        }
            //        $('#numfactura_vh').val(data.buscado.numfactura_vh);
            //        $('#costosiniva_vh').val(data.costosiniva);
            //        $('#iva_vh').val(data.buscado.iva_vh);
            //        $('#valorIva').val(data.valorIva);
            //        $('#costoTotal').val(data.valorTotal);
            //        // Fecha entrega transportadora
            //        if (data.anioFechaEntregaTrans != 0) {
            //            $('#fecentregatransp_vh').datepicker("setDate", new Date(data.anioFechaEntregaTrans, data.mesFechaEntregaTrans, data.diaFechaEntregaTrans));
            //        } else {
            //            $('#fecentregatransp_vh').val('');
            //        }
            //        // Fecha llegada
            //        if (data.anioFechaLlegada != 0) {
            //            $('#horaLlegada').val(data.horaLlegada + ':' + data.minutoLlegada);
            //            $('#fecllegadaccs_vh').datepicker("setDate", new Date(data.anioFechaLlegada, data.mesFechaLlegada, data.diaFechaLlegada));
            //        } else {
            //            $('#fecllegadaccs_vh').val('');
            //        }
            //        // Fecha entrega de manifiesto
            //        if (data.anioEntregaManif != 0) {
            //            $('#fecentman_vh').datepicker("setDate", new Date(data.anioEntregaManif, data.mesEntregaManif, data.diaEntregaManif));
            //        } else {
            //            $('#fecentman_vh').val('');
            //        }
            //        // Fecha matricula runt
            //        if (data.anioMatrRunt != 0) {
            //            $('#fecharunt_vh').datepicker("setDate", new Date(data.anioMatrRunt, data.mesMatrRunt, data.diaMatrRunt));
            //        } else {
            //            $('#fecharunt_vh').val('');
            //        }
            //        $('#nummanf_vh').val(data.buscado.nummanf_vh);
            //        $('#diaslibres_vh').val(data.buscado.diaslibres_vh);
            //        $('#ciudad').val(data.buscado.ciumanf_vh);
            //        $('#ciudad').select2();
            //        // Asignacion del tipo de tramitador
            //        $('#tipoTramitador').val(data.tipoTramitador);
            //        $('#tipoTramitador').select2();
            //        // Agregar valores de los tramitadores de el tipo de tramitador que esta seleccionado actualmente
            //        $('#tramitador_id').empty();
            //        //$('#tramitador_id').append($('<option>', {
            //        //    value: '-1',
            //        //    text: 'Seleccione'
            //        //}));
            //        for (var i = 0; i < data.tram.length; i++) {
            //            $('#tramitador_id').append($('<option>', {
            //                value: data.tram[i].tramitador_id,
            //                text: data.tram[i].nombreCompleto
            //            }));
            //        }
            //        $('#tramitador_id').val(data.buscado.tramitador_id);
            //        $('#tramitador_id').select2();
            //    },
            //    complete: function (data) {
            //        $('#PestanaVerVehiculo').show();
            //        $('.nav-tabs li:eq(4) a').tab('show')
            //    }
            //})
        }

        function BuscarComprasIndivuduales() {
            window.location.href = '@Url.Action("ComprasIndividuales", "gestionVhNuevo")?menu='+@ViewBag.id_menu;
        }

        $(document).ready(function () {
            $.ajax({
                url: '/gestionVhNuevo/BuscarDetallesFacturacionPaginados',
                data: {
                    id: @ViewBag.idFactura,
                },
                type: "get",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.detallesFactura.length; i++) {
                        $('#tablaDetallesFacturacion').find('tbody').append('<tr><td align="center">' + data.detallesFactura[i].diasInventario + '</td><td>'
                            + data.detallesFactura[i].modvh_nombre + '</td><td align="center">' + data.detallesFactura[i].fecfact_fabrica
                            + '</td><td>' + data.detallesFactura[i].colvh_nombre
                            + '</td><td>' + data.detallesFactura[i].nummot_vh
                            + '</td><td>' + data.detallesFactura[i].vin
                            + '</td><td>' + data.detallesFactura[i].anio_vh
                            + '</td><td>' + data.detallesFactura[i].plan_mayor
                            + '</td><td>' + data.detallesFactura[i].numero
                            + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="valida(' + data.detallesFactura[i].icbvh_id
                            + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }

                    // Detalles facturacion logs
                    $('#tablaDetallesFacturacionLog').find('tbody').empty();
                    if (data.listaLogsExcel.length > 0) {

                        for (var i = 0; i < data.listaLogsExcel.length; i++) {
                            $('#tablaDetallesFacturacionLog').find('tbody').append(
                                '<tr>'
                                + '<td align="center">' + data.listaLogsExcel[i].pedido + '</td>'
                                + '<td align="center">' + data.listaLogsExcel[i].PlanMayor + '</td>'
                                + '<td align="center">' + data.listaLogsExcel[i].Vin + '</td>'
                                + '<td>' + data.listaLogsExcel[i].Modelo + '</td>'
                                + '<td>' + data.listaLogsExcel[i].Excepcion + '</td>'
                                + '</tr>');
                        }
                        $('#mensajeLog').show();
                        $('#tableDetallesLog').show();
                    } else {
                        $('#mensajeLog').hide();
                        $('#tableDetallesLog').hide();
                    }
                },
                complete: function (data) {
                    $('#tablaDetallesFacturacion').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        destroy: true,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });

                    $('#tablaDetallesFacturacionLog').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        destroy: true,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });

                    //$('#PestanaDetallesFactura').show();
                    //$('.nav-tabs li:eq(3) a').tab('show')

                    //$('#PestanaDetallesFactura').show();
                    //$('.nav-tabs li:eq(3) a').tab('show')
                }
            });
        });

        $('#tabPedidoFirme').click(function () {
            window.location.href = '@Url.Action("PedidoEnFirme","gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        $('#tabFacturacion').click(function () {
            window.location.href = '@Url.Action("FacturacionGM","gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        $('#tabInventario').click(function () {
            window.location.href = '@Url.Action("Inventario","gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}