
@{
    ViewBag.Title = "Cargue Pedido Y Facturacion";
    ViewBag.Icono = "fa fa-book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datatables/css")
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-invVhNuevo" class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#PedidoEnFirme" id="tabPedidoFirme"><i class=""></i>&nbsp;&nbsp;Pedido en Firme</a></li>
                <li class=""><a data-toggle="tab" href="#FacturacionGM" id="tabFacturacion"><i class=""></i>&nbsp;&nbsp;Facturacion GM</a></li>
                @*<li class="active"><a data-toggle="tab" href="#Inventario"><i class=""></i>&nbsp;&nbsp;Inventario</a></li>*@
                <li class="" style="display:none"><a data-toggle="tab" href="#DetalleFacturacion"><i class=""></i>&nbsp;&nbsp;Detalle Compra</a></li>
                <li class="" style="display:none" id="PestanaVerVehiculo"><a data-toggle="tab" href="#Ver"><i class=""></i>&nbsp;&nbsp;Vehiculo</a></li>
            </ul>


            <div id="Inventario" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm("Inventario", "gestionVhNuevo"))
                    {

                        @Html.Hidden("menu")

                        <div class="row">
                            <div class="col-lg-2">
                                <label>Bodega</label>
                                @Html.DropDownList("cod_bodega", ViewBag.bodegas.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                            </div>

                            <div class="col-lg-2">
                                <label>Fecha Inicial</label>
                                @Html.Editor("fecha_desde", new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-lg-2">
                                <label>Fecha Final</label>
                                @Html.Editor("fecha_hasta", new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-lg-2">
                                <label>Estado</label>
                                @Html.DropDownList("evento_id", ViewBag.EstatusBusqueda.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                            </div>

                            <div class="col-lg-2">
                                <br />
                                <input type="submit" value="Buscar" class="btn btn-info" />
                            </div>
                        </div>
                    }

                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="hpanel hbggreen">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h3>Total Vehiculos</h3>
                                        <p class="text-big font-light">
                                            @ViewBag.totalVehiculos
                                        </p>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hpanel hbgyellow">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h3>No Disponibles</h3>
                                        <p class="text-big font-light">
                                            00
                                        </p>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hpanel hbgblue">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h3>Pedidos</h3>
                                        <p class="text-big font-light">
                                            @ViewBag.totalPedidos
                                        </p>
                                        <small>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-lg-offset-0">
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                        <a class="closebox"><i class="fa fa-times"></i></a>
                                    </div>
                                    Default Panel
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModelos">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Modelo</th>
                                                    <th style="text-align:center">Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    This is standard panel footer
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                        <a class="closebox"><i class="fa fa-times"></i></a>
                                    </div>
                                    Default Panel
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaPaginadaRangoDias">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Dias En Inventario</th>
                                                    <th style="text-align:center">Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    This is standard panel footer
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <div class="panel-tools">
                                        @*<a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                            <a class="closebox"><i class="fa fa-times"></i></a>*@
                                    </div>
                                    Default Panel
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaPaginadaInventario">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Dias Inventario</th>
                                                    <th style="text-align:center">Modelo</th>
                                                    <th style="text-align:center">Fecha Compra</th>
                                                    <th style="text-align:center">Color</th>
                                                    <th style="text-align:center">Motor</th>
                                                    <th style="text-align:center">VIN</th>
                                                    <th style="text-align:center">A&ntilde;o</th>
                                                    <th style="text-align:center">Plan Mayor</th>
                                                    <th style="text-align:center">Estado</th>
                                                    <th style="text-align:center">Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    This is standard panel footer
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            @*<div id="FacturacionGM" class="tab-pane">
                    <div class="panel-body">

                    </div>
                </div>*@


            @*Primer tab par listar el inventario de vehiculos nuevos*@
            <div id="DetalleFacturacion" class="tab-pane">
                <div class="panel-body">

                </div>
            </div>


            @*Tab relacionado con la actualizacion de un vehiculo nuevo*@
            <div id="Ver" class="tab-pane">
                <div class="panel-body">

                </div>
            </div>

        </div>
    </div>
</div>



<div id="modalInventario" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inventario</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModeloFiltro">
                        <thead>
                            <tr>
                                <th style="text-align:center">Vin</th>
                                <th style="text-align:center">Modelo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>


<div id="modalRangoDias" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inventario</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaFiltroRangoDias">
                        <thead>
                            <tr>
                                <th style="text-align:center">Vin</th>
                                <th style="text-align:center">Modelo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>


    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>



    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $('#cod_bodega').select2();
            $('#evento_id').select2();
            $('#fecha_desde').datepicker({
                format : "dd/mm/yyyy"
            });
            $('#fecha_hasta').datepicker({
                format: "dd/mm/yyyy"
            });
            listarCantidadesPorModelo();
            listarVehiculosCantidadDias();
            listarTotalVehiculos();

        });

        function validaCantModelos(modeloCodigo) {
            $("#tablaPaginadaModeloFiltro").dataTable().fnDestroy();
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadModelo',
                data: {
                    idModelo: modeloCodigo
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaPaginadaModeloFiltro').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaModeloFiltro').find('tbody').append('<tr><td align="center">'
                            + data[i].vin + '</td><td align="center">'
                            + data[i].modvh_nombre + '</td></tr>');
                    }
                },
                complete: function (data) {

                    var test = $('#tablaPaginadaModeloFiltro').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //retrieve: true,
                        paging: true,
                        searching: false,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
            $('#modalInventario').modal('show');
        }




        function listarCantidadesPorModelo(){
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadVehiculos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaModelos').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaModelos').find('tbody').append('<tr><td align="left">'
                            + data[i].modvh_nombre + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantModelos('
                            + '\'' + data[i].modvh_codigo.toString()
                            + '\')">&nbsp;&nbsp;' + data[i].modvh_cantidad + '&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginadaModelos').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }



        function validaAutomovil(id) {
            window.location.href = '@Url.Action("Ver","gestionVhNuevo")?menu='+ViewBag.id_menu+'&&id='+id;
        }

        function listarTotalVehiculos(){
            $.ajax({
                url: '/gestionVhNuevo/GetTotalVehiculosFiltro',
                data: {
                    cod_bodega: $('#cod_bodega').val(),
                    fecha_desde: $('#fecha_desde').val(),
                    fecha_hasta: $('#fecha_hasta').val(),
                    evento_id: $('#evento_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaInventario').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaInventario').find('tbody').append('<tr><td align="right">'
                            + data[i].diasInventario + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td><td align="right">'
                            + data[i].fecfact_fabrica + '</td><td align="left">'
                            + data[i].colvh_nombre + '</td><td align="left">'
                            + data[i].nummot_vh + '</td><td align="left">'
                            + data[i].vin + '</td><td align="right">'
                            + data[i].anio_vh + '</td><td align="right">'
                            + data[i].plan_mayor + '</td><td align="left">'
                            + data[i].tpevento_nombre + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="validaAutomovil(' + data[i].icbvh_id
                            + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginadaInventario').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }




        function validaCantPorDias(rangoDias) {
            $("#tablaFiltroRangoDias").dataTable().fnDestroy();
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadRangoDias',
                data: {
                    rango: rangoDias
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaFiltroRangoDias').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaFiltroRangoDias').find('tbody').append('<tr><td align="left">'
                            + data[i].vin + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td></tr>');
                    }
                },
                complete: function (data) {

                    var test = $('#tablaFiltroRangoDias').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //retrieve: true,
                        paging: true,
                        searching: false,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
            $('#modalRangoDias').modal('show');
        }




        function listarVehiculosCantidadDias() {
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadesPorDias',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaRangoDias').find('tbody').empty();
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">0 - 30 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '0-30'
                        + '\')">&nbsp;&nbsp;' + data.Dias30 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">30 - 60 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '30-60'
                        + '\')">&nbsp;&nbsp;' + data.Dias60 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">60 - 90 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '60-90'
                        + '\')">&nbsp;&nbsp;' + data.Dias90 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">Mas de 90 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '90Mas'
                        + '\')">&nbsp;&nbsp;' + data.Dias90Mas + '&nbsp;&nbsp;</button></td></tr>');
                },
                complete: function (data) {
                    $('#tablaPaginadaRangoDias').dataTable({
                        //"ajax": 'api/datatables.json',
                        "searching": false,
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        $('#tabPedidoFirme').click(function () {
            window.location.href = '@Url.Action("PedidoEnFirme", "gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        $('#tabFacturacion').click(function () {
            window.location.href = '@Url.Action("FacturacionGM","gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}