@model Homer_MVC.IcebergModel.CargueManualVhUsadoModel

@{
    ViewBag.Title = "Cargue Pedido Y Facturacion";
    ViewBag.Icono = "fa fa-book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/bundles/select2/css")
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-invVhNuevo" class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#PedidoEnFirme" id="tabPedidoFirme"><i class=""></i>&nbsp;&nbsp;Pedido en Firme</a></li>
                <li class=""><a data-toggle="tab" href="#FacturacionGM" id="tabFacturacion"><i class=""></i>&nbsp;&nbsp;Facturacion GM</a></li>
                @*<li class=""><a data-toggle="tab" href="#Inventario" id="tabInventario"><i class=""></i>&nbsp;&nbsp;Inventario</a></li>*@
                <li class="active"><a data-toggle="tab" href="#CargueManual" id="tabCargueManual"><i class=""></i>&nbsp;&nbsp;Cargue Vehiculo</a></li>
            </ul>



            <div id="CargueManual" class="tab-pane active">
                <div class="panel-body">


                    @if (TempData["mensaje"] != null)
                    {
                        <div class="alert alert-success  alert-dismissible" id="mensaje">
                            <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                            <p>@TempData["mensaje"]</p>
                        </div>
                    }

                    @if (TempData["mensaje_error"] != null)
                    {
                        <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                            <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                            <p>@TempData["mensaje_error"]</p>
                        </div>
                    }


                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="panel-body">
                                <h3 class="panel-body-title">
                                    <i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </h3>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Bodega:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.cod_bod, ViewBag.cod_bod.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.cod_bod, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.doc_registros, ViewBag.doc_registros.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.doc_registros, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Condición Pago:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.condicion_pago, ViewBag.condicion_pago.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.condicion_pago, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Proveedor:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("proveedor_id", new SelectList(ViewBag.proveedor_id, "Value", "Text"), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.proveedor_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Número Pedido:&nbsp;<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.num_pedido, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite numero pedido", @type = "number" } })
                                            @Html.ValidationMessageFor(model => model.num_pedido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="panel-body">
                                <h3 class="panel-body-title">
                                    <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Datos Vehiculo
                                </h3>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Serie:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.vin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite serie" } })
                                            @Html.ValidationMessageFor(model => model.vin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Placa:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.plac_vh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite serie" } })
                                            @Html.ValidationMessageFor(model => model.plac_vh, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Motor:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.nummot_vh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite numero motor" } })
                                            @Html.ValidationMessageFor(model => model.nummot_vh, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Modelo:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.modvh_id, ViewBag.modvh_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.modvh_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">A&ntilde;o Modelo:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.anio_vh, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.anio_vh, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Color:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.colvh_id, ViewBag.colvh_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.colvh_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Notas:&nbsp;<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.notas, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite notas" } })
                                            @Html.ValidationMessageFor(model => model.notas, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Es Flota:&nbsp;<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            @Html.CheckBoxFor(model => model.es_flota)
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $('.js-source-states').select2();
            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);
            validarModeloActivo();
        });



        function validarModeloActivo() {
            if ($('#modvh_id').val() != '') {
                $.ajax({
                    url: '/gestionVhNuevo/BuscarAniosModeloPorId',
                    data: {
                        modeloCodigo: $('#modvh_id').val()
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#anio_vh').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#anio_vh').append($('<option>', {
                                value: data[i].anio,
                                text: data[i].anio
                            }));
                        }
                        $('#anio_vh').val('@ViewBag.anioSeleccionado');
                        $('#anio_vh').select2();
                    },
                    complete: function (data) {

                    }
                });
            }
        }



        $('#modvh_id').change(function () {
            $.ajax({
                url: '/gestionVhNuevo/BuscarAniosModeloPorId',
                data: {
                    modeloCodigo: $('#modvh_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#anio_vh').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#anio_vh').append($('<option>', {
                            value: data[i].anio,
                            text: data[i].anio
                        }));
                    }
                    $('#anio_vh').select2();
                },
                complete: function (data) {

                }
            });
        });




        // Accion del boton cancelar de la pestaña de vehiculo
        $('#tabFacturacion').click(function () {
            window.location.href = '@Url.Action("FacturacionGM", "gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });


        $('#tabInventario').click(function () {
            window.location.href = '@Url.Action("Inventario","gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });


        $('#tabPedidoFirme').click(function () {
            window.location.href = '@Url.Action("PedidoEnFirme", "gestionVhNuevo")?menu='+@ViewBag.id_menu;
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}