@model Homer_MVC.Models.activosMaestroModelo

@{

    ViewBag.Title = "Actualizar Maestro de Activos Fijos";
    ViewBag.Icono = "fa fa-address-card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />


}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                    <br />

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <a class="btn btn-info" href="../../maestroActivos/Create?menu=@ViewBag.id_menu"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Crear nuevo</a>&nbsp;&nbsp;
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.id_licencia)
                        @Html.HiddenFor(model => model.fec_creacion)
                        @Html.HiddenFor(model => model.userid_creacion)
                        @Html.HiddenFor(model => model.user_idactualizacion)
                        @Html.HiddenFor(model => model.fec_actualizacion)

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Placa:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.placa, new { htmlAttributes = new { @class = "form-control", @placeholder = "Placa", @required = "required", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.placa, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Descripción:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripción Activo", @required = "required"} })
                                                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* , @readonly = "readonly"  *@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Número Serial:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.numeroserial, new { htmlAttributes = new { @class = "form-control", @placeholder = "Serial Activo", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.numeroserial, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Valor Activo:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.valoractivo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor del Activo", @required = "required", @onkeyup = "return miles(this.id)", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.valoractivo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Centro:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("idcentro", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Ubicación:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("ubicacion", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Empresa:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("idempresa", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Responsable:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("idresponsable", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Detalle Garantía:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.detalle_garantia, new { htmlAttributes = new { @class = "form-control", @placeholder = "Detalle de Garantía" } })
                                                    @Html.ValidationMessageFor(model => model.detalle_garantia, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fecha Vencimiento Garantía:&nbsp;</label>
                                                <div class="col-md-2">
                                                    @Html.Editor("fecha_vencegarantia", new { htmlAttributes = new { @class = "form-control", @placeholder = "Vence Garantía", @style = "width:100px; text-align:right" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* ************************ Mantenimineto  // Pignorado-En prenda *********************** *@
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Mantenimiento:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.mantenimiento, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Pignorado:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.pignorado, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    @* ************************************ Vendido //  Finalizado ************************************  *@

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Vendido:&nbsp;</label>
                                                <div class="col-md-2">
                                                    @Html.CheckBoxFor(model => model.vendido, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Finalizado:&nbsp;</label>
                                                <div class="col-md-2">
                                                    @Html.CheckBoxFor(model => model.finalizado, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* ************************************ Motivo de Baja del Activo ************************************  *@

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Motivo de Baja:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("motivo", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* ************************************ Estado Del Activo ************************************  *@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Estado:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.estado, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" id="inactividad" style="display:none">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Razón Inactividad:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.razon_inactivo, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Digite razón Inactividad" } })
                                                    @Html.ValidationMessageFor(model => model.razon_inactivo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr>
                                    </div>


                                    @* ************************** Orden de Compra ************************** *@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Orden de Compra:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.orden_compra, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.orden_compra, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Activo:<span class="text-danger">*&nbsp;</span></label>
                        <div class="col-md-6">
                            @Html.CheckBoxFor(model => model.activo, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked" })
                        </div>
                    </div>
                </div>*@
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Proveedor:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("idproveedor", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fecha Compra:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-2">
                                                    @Html.Editor("fecha_compra", new { htmlAttributes = new { @class = "form-control", @placeholder = "Fecha Compra", @required = "required", @style = "width:100px; text-align:right" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <hr>

                                    @************************ Póliza ************************ *@

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Con Poliza:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBox("existe-poliza", new { @data_toggle = "toggle", @data_size = "mini"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="SiPoliza" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Aseguradora:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("idaseguradora", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                        @*@Html.EditorFor(model => model.idaseguradora, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.idaseguradora, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Número Póliza:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.numeropoliza, new { htmlAttributes = new { @class = "form-control", @placeholder = "Póliza" } })
                                                        @Html.ValidationMessageFor(model => model.numeropoliza, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha Vencimiento Póliza:&nbsp;</label>
                                                    <div class="col-md-2">
                                                        @Html.Editor("fecha_vencepoliza", new { htmlAttributes = new { @class = "form-control", @placeholder = "Fecha Vence", @style = "width:100px; text-align:right" } })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    

                                   

                                    <br />
                                    <hr>
                                    @* ************************************ Metodo de Depreciacion ************************************  *@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Depreciable:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.depreciable, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ActivoDepreciable" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Método Depreciación:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("metododepreciacion", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                        @*@Html.EditorFor(model => model.metododepreciacion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.metododepreciacion, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha Activación:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-2">
                                                        @Html.Editor("fecha_activacion", new { htmlAttributes = new { @class = "form-control", @placeholder = "Activación", @required = "required", @style = "width:100px; text-align:right", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Meses Depreciación:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-2">
                                                        @Html.EditorFor(model => model.meses_depreciacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Meses Depreciación", @required = "required", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.meses_depreciacion, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha Fin Depreciación:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-2">
                                                        @Html.Editor("fecha_findepreciacion", new { htmlAttributes = new { @class = "form-control", @placeholder = "Fin", @required = "required", @style = "width:100px; text-align:right", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Meses Faltantes:&nbsp;</label>
                                                    <div class="col-md-2">
                                                        @Html.EditorFor(model => model.mesesfaltantes, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Meses Faltantes", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.mesesfaltantes, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Constante Depreciación:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.constantedepre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Constante de Depreciación", @onkeyup = "return miles(this.id)", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.valoractivoniff, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">


                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Valor Residual:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.valorresidual, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor Residual", @onkeyup = "return miles(this.id)", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.valorresidual, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Valor Depreciación:&nbsp;</label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.valordepre, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Valor Depreciación", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.valordepre, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Clasificación:<span class="text-danger">*&nbsp;</span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("clasificacion", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        @*<div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Baja:&nbsp;</label>
                            <div class="col-md-2">
                                @Html.Editor("fecha_baja", new { htmlAttributes = new { @class = "form-control", @placeholder = "Baja", @required = "required", @style = "width:100px; text-align:right" } })
                            </div>
                        </div>
                    </div>
                </div>*@
                                    </div>

                                    <br />
                                    <hr>
                                    @* ************************************ Metodo de Depreciacion Niif ************************************  *@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Depreciable Niif:<span class="text-danger">*&nbsp;</span></label>
                                                <div class="col-md-6">
                                                    @Html.CheckBoxFor(model => model.depreciableniif, new { @data_toggle = "toggle", @data_size = "mini", @checked = "checked" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ActivoDepreciableNIIF" style="display:none">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Método de Depreciación Niif :&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("metododeprecniff", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha Activación Niif:&nbsp;</label>
                                                    <div class="col-md-2">
                                                        @Html.Editor("fecha_activacionniif", new { htmlAttributes = new { @class = "form-control", @placeholder = "Activación", @required = "required", @style = "width:100px; text-align:right", @readonly = "readonly"  } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Meses Depreciación Niif:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-2">
                                                        @Html.EditorFor(model => model.meses_depreniff, new { htmlAttributes = new { @class = "form-control", @placeholder = "Meses Depreciación", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.meses_depreniff, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Fecha Fin Depreciación Niif:&nbsp;</label>
                                                    <div class="col-md-2">
                                                        @Html.Editor("fecha_findepreniff", new { htmlAttributes = new { @class = "form-control", @placeholder = "Fin", @required = "required", @style = "width:100px; text-align:right", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Meses Faltantes:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-2">
                                                        @Html.EditorFor(model => model.mesesfaltantesniif, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.mesesfaltantesniif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Constante Depreciación Niif:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.constantedepreniif, new { htmlAttributes = new { @class = "form-control", @placeholder = "Constante de Depreciación NIIF", @onkeyup = "return miles(this.id)", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.constantedepreniif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Valor Residual Niif:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.valorresidualniif, new { htmlAttributes = new { @class = "form-control", @placeholder = "Valor Residual NIIF", @onkeyup = "return miles(this.id)", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.valorresidualniif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Valor Depreciación Niif:&nbsp;</label>
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.valordepreniif, new { htmlAttributes = new { @class = "form-control", @required = "", @placeholder = "Valor Depreciación NIIF", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.valordepreniif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Clasificación Niif :&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("clasificacionniff", null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                        @*@Html.EditorFor(model => model.clasificacionniff, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.clasificacionniff, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Fecha Baja Niif:&nbsp;</label>
                            <div class="col-md-2">
                                @Html.Editor("fecha_bajaniif", new { htmlAttributes = new { @class = "form-control", @placeholder = "Baja ", @required = "required", @style = "width:100px; text-align:right" } })
                            </div>
                        </div>
                    </div>
                </div>*@

                                    </div>



                                </div>

                            </div>

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Información
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-3 small">
                                        <p>Creado por: @ViewBag.user_nombre_cre</p>
                                    </div>

                                    <div class="col-sm-3 small">
                                        <p>Fecha creación: @Html.DisplayFor(model => model.fec_creacion)</p>
                                    </div>

                                    <div class="col-sm-3 small">
                                        <p>
                                            Actualizado por:  @{if (ViewBag.user_nombre_act == null)
                                                {
                                                <p class="text-danger">no se han realizado actualizaciones</p>}
                                                @ViewBag.user_nombre_act
                                            }
                                            </p>
                                        </div>

                                        <div class="col-sm-3 small">
                                            <p>
                                                Ultima actualización:  @{if (Model.fec_actualizacion == null)
                                                    {
                                                    <p class="text-danger">no se han realizado actualizaciones</p>}
                                                    @Html.DisplayFor(model => model.fec_actualizacion)
                                                }
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                        </div>}
                </div>
            </div>


            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        @*<th style="text-align:center">Descripción</th>
                                        <th style="text-align:center">Placa</th>
                                        <th style="text-align:center">Centro</th>
                                        <th style="text-align:center">Ubicación</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center">Acción</th>*@
                                        <th style="text-align:center">Placa</th>
                                        <th style="text-align:center">Descripción</th>
                                        <th style="text-align:center">Ubicación</th>
                                        <th style="text-align:center">Centro de Costo</th>
                                        <th style="text-align:center">Fecha Compra</th>
                                        <th style="text-align:center">Fecha Activación</th>
                                        <th style="text-align:center">Meses Conf Deprec</th>
                                        <th style="text-align:center">Meses Falt Deprec</th>
                                        <th style="text-align:center">Cuota Depreciación</th>
                                        <th style="text-align:center">Valor Activo</th>
                                        <th style="text-align:center">Valor Residual</th>
                                        <th style="text-align:center">Fecha Depreciado</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function ()
        {
            @*//  $('#menu').val(@ViewBag.id_menu);*@

            $('.js-source-states').select2();

            buscarAjaxMaestroActivos();


            $('#fecha_compra').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                maxDate: new Date(),
            });

            $('#fecha_vencepoliza').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                // minDate: '-' + new Date() + '',
            });

            $('#fecha_vencegarantia').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                // minDate: '-' + new Date() + '',
            });

            $('#fecha_activacion').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                // minDate: '-' + new Date() + '',
            });
            $('#fecha_findepreciacion').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                // minDate: '-' + new Date() + '',
            });
            //$('#fecha_baja').datetimepicker({
            //    defaultDate: new Date(),
            //    showTodayButton: true,
            //    format: 'YYYY/MM/DD',
            //   // minDate: '-' + new Date() + '',
            //});
            $('#fecha_activacionniif').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                // minDate: '-' + new Date() + '',
            });

            $('#fecha_findepreniff').datetimepicker({
                defaultDate: new Date(),
                showTodayButton: true,
                format: 'YYYY/MM/DD',
                //   minDate: '-' + new Date() + '',
            });

   
            


            //setTimeout(function () {
            //    $("#mensaje").fadeOut(1500);
            //}, 3000);
            //setTimeout(function () {
            //    $("#mensaje_error").fadeOut(1500);
            //}, 3000);


            
            if ($('#numeropoliza').val() != null ) {
                $('#existe-poliza').bootstrapToggle('on');
            } else {
                $('#existe-poliza').bootstrapToggle('off');
            }

            if ($('#depreciable').prop('checked')) {
                $('#ActivoDepreciable').show();
            } else {
                $('#ActivoDepreciable').hide();
            }


            if ($('#depreciableniif').prop('checked')) {
                $('#ActivoDepreciableNIIF').show();
            } else {
                $('#ActivoDepreciableNIIF').hide();
            }

       
            if (!$('#estado').prop('checked')) {
                $('#inactividad').show();
            } else {
                $('#razon_inactivo').val('No aplica');
                $('#inactividad').hide();
            }

            if (@ViewBag.SipolizaViene == 0) 
            {
                $('#existe-poliza').bootstrapToggle('off');
            }
            else
            {
                $('#existe-poliza').bootstrapToggle('on');
            }
            

        });

        $('#estado').change(function () {
            if ($('#estado').prop('checked')) {
                $('#inactividad').hide();
                $('#razon_inactivo').prop('required', false);
                $('#razon_inactivo').val('');
            } else {
                $('#razon_inactivo').prop('required', true);
                $('#razon_inactivo').val('');
                $('#inactividad').show();
            }
        });


        $('#existe-poliza').change(function () {
            if ($('#existe-poliza').prop('checked')) {
                $('#SiPoliza').show();
            } else {
                $('#SiPoliza').hide();
            }
        });

     

        $('#depreciable').change(function () {
            if ($('#depreciable').prop('checked')) {
                $('#ActivoDepreciable').show();
            } else {
                $('#ActivoDepreciable').hide();
            }
        });

        $('#depreciableniif').change(function () {
            if ($('#depreciableniif').prop('checked')) {
                $('#ActivoDepreciableNIIF').show();
            } else {
                $('#ActivoDepreciableNIIF').hide();
            }
        });

        $('#meses_depreciacion').change(function () {
            var meses = parseInt($('#meses_depreciacion').val());
            var valorG = quitCommas($('#valoractivo').val());


            if (meses > 0) {
                $('#fecha_findepreciacion').datetimepicker({
                    defaultDate: new Date(),
                    showTodayButton: true,
                    format: 'YYYY/MM/DD',
                    minDate: '-' + new Date() + '',
                });
                var fecha = new Date($("#fecha_activacion").val());
                //fecha.setDate(fecha.getDate() + dias);
                fecha.setMonth(fecha.getMonth() + meses);
                $('#fecha_findepreciacion').data("DateTimePicker").minDate(fecha)

                if (valorG > 0) {
                    var Cuota = valorG / meses;
                    $('#constantedepre').val(addCommas(parseInt(Cuota)));


                    var fechaparacalculo = new Date($("#fecha_activacion").val());
                    var dt = new Date();
                    var hoyaaa = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate());
                    var fechaVieja = new Date(fechaparacalculo.getFullYear(), fechaparacalculo.getMonth(), fechaparacalculo.getDate());

                    var fecha1 = moment(hoyaaa);
                    var fecha2 = moment(fechaVieja);

                    console.log(fecha1.diff(fecha2, 'days'), ' dias de diferencia');
                    console.log(fecha1.diff(fecha2, 'month'), ' meses de diferencia');
                    var mesestranscurridos = fecha1.diff(fecha2, 'month');
                    var mesesfaltantes = meses - mesestranscurridos;

                    //  $('#mesesfaltantes').val(mesesfaltantes);

                    var DepreciacionAcumulada = mesestranscurridos * Cuota;

                    //  $('#valordepre').val(mesesfaltantes);

                    //$('#valorresidual').val(mesesfaltantes);

                }


            }

        });

        $('#meses_depreniff').change(function () {
            var meses = parseInt($('#meses_depreniff').val());
            var valorG = quitCommas($('#valoractivo').val());
            if (meses > 0) {
                $('#fecha_findepreniff').datetimepicker({
                    defaultDate: new Date(),
                    showTodayButton: true,
                    format: 'YYYY/MM/DD',
                    minDate: '-' + new Date() + '',
                });
                var fecha = new Date($("#fecha_activacionniif").val());
                //fecha.setDate(fecha.getDate() + dias);
                fecha.setMonth(fecha.getMonth() + meses);
                $('#fecha_findepreniff').data("DateTimePicker").minDate(fecha)

                if (valorG > 0) {
                    var Cuota = valorG / meses;
                    $('#constantedepreniif').val(addCommas(parseInt(Cuota)));


                    var fechaparacalculo = new Date($("#fecha_activacionniif").val());
                    var dt = new Date();
                    var hoyaaa = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate());
                    var fechaVieja = new Date(fechaparacalculo.getFullYear(), fechaparacalculo.getMonth(), fechaparacalculo.getDate());

                    var fecha1 = moment(hoyaaa);
                    var fecha2 = moment(fechaVieja);

                    console.log(fecha1.diff(fecha2, 'days'), ' dias de diferencia');
                    console.log(fecha1.diff(fecha2, 'month'), ' meses de diferencia');
                    var mesestranscurridos = fecha1.diff(fecha2, 'month');
                    var mesesfaltantes = meses - mesestranscurridos;

                    //  $('#mesesfaltantes').val(mesesfaltantes);

                    var DepreciacionAcumulada = mesestranscurridos * Cuota;

                    //  $('#valordepre').val(mesesfaltantes);

                    //$('#valorresidual').val(mesesfaltantes);

                }

            }

        });

        function valida(id) {
            @*window.location.href = '@Url.Action("Update", "activosClasificacion")?menu=' +@ViewBag.id_menu +'&&id=' + id;*@
            window.location.href = '@Url.Action("Update", "maestroActivos")?id=' + id;
        }



        function buscarAjaxMaestroActivos() {
            $("#tablaPaginada").dataTable().fnDestroy();

            $.ajax({
                url: '/maestroActivos/BuscarActivosPaginados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="left">'
                                         + data[i].placa + '</td><td align="left">'
                                            + data[i].descripcion + '</td><td align="left">'
                                            + data[i].ubicacion + '</td><td align="left">'
                                            + data[i].centro + '</td><td align="left">'
                                            + data[i].fechaC + '</td><td align="left">'
                                            + data[i].fechaA + '</td><td align="right">'
                                            + data[i].mesdep + '</td><td align="right">'
                                            + data[i].mesfal + '</td><td align="right">'
                                            + data[i].constante + '</td><td align="right">'
                                            + data[i].valoractivo + '</td><td align="right">'
                                            + data[i].valorresid + '</td><td align="left">'
                                            + data[i].fecha + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                                              + data[i].id
                                        + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            })
        }


        function validaUnPunto(e, id)	//Solo numeros y SOLO 1 punto decimal
        {
            var key = (document.all) ? e.which : e.keyCode;
            cadena = $('#' + id + '').val();
            console.log(cadena)
            if (cadena.indexOf(',') == -1) {
                //return (key <= 13 || (key >= 48 && key <= 57) || key == 46);
                return (key <= 13 || (key >= 48 && key <= 57) || key == 44);

            }
            else {
                return (key <= 13 || (key >= 48 && key <= 57));
            }
        }
        @*function AgregarQuitarFavorito(){
        $.ajax({
            url: '/Inicio/AgregarQuitarFavorito',
            data: {
                id_menu: @ViewBag.id_menu,
            },
            type: "post",
            cache: false,
            success: function (data) {
                if(data.esFavorito == true){
                    $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                }else{
                    $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                }
            }
        })
    }*@

        var numero_miles = "";

        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($('#' + id + '').val());
            $('#' + id + '').val(numero_miles);
            //console.log($('#'+id+'').val);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }



        function quitCommas(nStr) {
            nStr.toString();
            var s = nStr.replace(/\./g, "");
            return s;
        }

    </script>


}


