@{
    ViewBag.Icono = "fa fa-file-text-o";
    ViewBag.Title = "Browser Vehículos Entregados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/select2/css")
}

<style type="text/css">
    .popover-content {
        height: 100px;
        width: 200px;
    }
</style>

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }
        @Html.Hidden("menu")
        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#buscar"><i class="fa fa-refresh"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
            </ul>

            <div id="buscar" class="tab-pane active">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive" style="width:100%;">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaBusquedas">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">#  Pedido</th>
                                        <th style="text-align:center">#  Factura</th>
                                        <th style="text-align:center">Vehículo</th>
                                        <th style="text-align:center">Año</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Color</th>
                                        <th style="text-align:center">Vin</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Ubicación</th>
                                        <th style="text-align:center">Cliente</th>
                                        <th style="text-align:center">Asesor</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Pedido</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Facturación</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Tramites</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Matricula</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> SOAT</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Manifiesto</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Inicio Alistamiento</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Fin Alistamiento</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Programación Entrega</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Entrega</th>
                                        <th style="text-align:center"><i class="fa fa-check"></i> Paz y salvo</th>
                                        @*<th style="text-align:center">Acciones</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            buscarDatos();
            $('[data-toggle="popover"]').popover();
            $('.js-source-states').select2();
        });

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        };

        function buscarDatos() {
            $.ajax({
                url: '/vpedidos/BuscarVehiculosEntregados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaBusquedas').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {

                        $('#tablaBusquedas').find('tbody').append('<tr>'
                            + '<td align="right">' + data[i].numero + '</td>'
                            + '<td align="right">' + data[i].numFactura + '</td>'
                            + '<td align="right">' + data[i].planmayor + '</td>'
                            + '<td align="right">' + data[i].anio + '</td>'
                            + '<td align="left">' + data[i].modelo + '</td>'
                            + '<td align="left">' + data[i].color + '</td>'
                            + '<td align="left">' + data[i].vin + '</td>'
                            + '<td align="left">' + data[i].nombreBodega + '</td>'
                            + '<td align="left">' + data[i].ubicacion + '</td>'
                            + '<td align="left">' + data[i].cliente + '</td>'
                            + '<td align="left">' + data[i].asesor + '</td>'

                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="pedido' + i + '" name="pedido' + i + '" value="' + data[i].pedidoFecha + '"/><br/>'
                            + data[i].pedidoFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="factura' + i + '" name="factura' + i + '" value="' + data[i].facturaFecha + '"/><br/>'
                            + data[i].facturaFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="tramites' + i + '" name="tramites' + i + '" value="' + data[i].tramitesFecha + '"/><br/>'
                            + data[i].tramitesFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="matricula' + i + '" name="matricula' + i + '" value="' + data[i].matriculaFecha + '"/><br/>'
                            + data[i].matriculaFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="soat' + i + '" name="soat' + i + '" value="' + data[i].soat + '"/><br/>'
                            + data[i].soat
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="manifiesto' + i + '" name="manifiesto' + i + '" value="' + data[i].manifiestoFecha + '"/><br/>'
                            + data[i].manifiestoFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="inicio' + i + '" name="inicio' + i + '" value="' + data[i].inicioFecha + '"/><br/>'
                            + data[i].inicioFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="fin' + i + '" name="fin' + i + '" value="' + data[i].finFecha + '"/><br/>'
                            + data[i].finFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="programacion' + i + '" name="programacion' + i + '" value="' + data[i].programacionFecha + '"/><br/>'
                            + data[i].programacionFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled type="checkbox" id="entrega' + i + '" name="entrega' + i + '" value="' + data[i].entregaFecha + '"/><br/>'
                            + data[i].entregaFecha
                            + '</td>'
                            + '<td align="center">'
                            + '<input disabled onchange="pazysalvo(' + data[i].id + ',' + i + ')" type="checkbox" id="pazysalvo' + i + '" name="pazysalvo' + i + '" value="' + data[i].pazysalvo + '"/><br/>'
                            + data[i].usupazysalvo
                            + '</td>'
                            //+ '<td align="center">'
                            //    + '<button data-toggle="tooltip" data-placement="top" title="Agendar Alistamiento" style="display:none;" type="button" id="btnAgendamiento' + i + '" class="btn btn-info btn-xs" onclick="agendar(' + data[i].id + ')">&nbsp;&nbsp;<i class="fa fa-calendar"></i>&nbsp;&nbsp;</button>'
                            //    + '<button data-toggle="tooltip" data-placement="top" title="Entregar" style="display:none;" type="button" id="btnEntregar' + i + '" class="btn btn-success btn-xs" onclick="entregar(' + data[i].planmayor + ')">&nbsp;&nbsp;<i class="fa fa-check"></i>&nbsp;&nbsp;</button>'
                            //    + '<button data-toggle="tooltip" data-placement="top" title="Boleto salida" type="button" id="btnPDF' + i + '" class="btn btn-warning btn-xs" onclick="boletoSalida(' + data[i].id + ',' + data[i].numero + ')">&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;</button>'
                            //+ '</td>'
                            + '</tr>');

                        if ($('#pedido' + i).val() != "") {
                            $('#pedido' + i).prop('checked', true)
                        } else {
                            $('#pedido' + i).prop('checked', false)
                        }

                        if ($('#factura' + i).val() != "") {
                            $('#factura' + i).prop('checked', true)
                        } else {
                            $('#factura' + i).prop('checked', false)
                        }

                        if ($('#tramites' + i).val() != "") {
                            $('#tramites' + i).prop('checked', true)
                        } else {
                            $('#tramites' + i).prop('checked', false)
                        }

                        if ($('#matricula' + i).val() != "") {
                            $('#matricula' + i).prop('checked', true)
                        } else {
                            $('#matricula' + i).prop('checked', false)
                        }

                        if ($('#soat' + i).val() != "") {
                            $('#soat' + i).prop('checked', true)
                        } else {
                            $('#soat' + i).prop('checked', false)
                        }

                        if ($('#manifiesto' + i).val() != "") {
                            $('#manifiesto' + i).prop('checked', true)
                        } else {
                            $('#manifiesto' + i).prop('checked', false)
                        }

                        if ($('#inicio' + i).val() != "") {
                            $('#inicio' + i).prop('checked', true)
                        } else {
                            $('#inicio' + i).prop('checked', false)
                        }

                        if ($('#fin' + i).val() != "") {
                            $('#fin' + i).prop('checked', true)
                        } else {
                            $('#fin' + i).prop('checked', false)
                        }

                        if ($('#entrega' + i).val() != "") {
                            $('#entrega' + i).prop('checked', true)
                        } else {
                            $('#entrega' + i).prop('checked', false)
                        }

                        if ($('#programacion' + i).val() != "") {
                            $('#programacion' + i).prop('checked', true)
                        } else {
                            $('#programacion' + i).prop('checked', false)
                        }

                        if ($('#pazysalvo' + i).val() == "true") {
                            $('#pazysalvo' + i).prop('checked', true)
                        } else {
                            $('#pazysalvo' + i).prop('checked', false)
                        }
                    }
                },
                complete: function (data) {
                    $('#tablaBusquedas').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

    </script>
}

