@model Homer_MVC.IcebergModel.FacturaProformaModel

@{
    ViewBag.Title = "FacturaProforma";
    Layout = null;
}

<link href="@Server.MapPath("~/Vendor/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/style.css")" rel="stylesheet" />

<style>
    .Rotate-90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 40% 70%;
        -moz-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
        -o-transform-origin: 10% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 13px;
        /*width: 80px;
          height: 180px;*/
        position: relative;
        top: 0px;
        text-align: center;
        padding-left: 0;
    }

    .panel-body {
        padding-left: 10px;
        font-size: 14px;
    }
</style>

@using (Html.BeginForm("FacturaProforma", "vpedidos", FormMethod.Post))
{

    <div class="panel-body">
        <div class="form-horizontal">
            <div style="position:absolute; width:95%; padding-top:50px;">
                <div style="float:left; width:30%;">
                    <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" />
                </div>
                <div style="float:left; width:40%; text-align:center; ">
                    <b>COMERCIALIZADORA HOMAZ S.A.S. NIT</b><br />
                    <b>816.003.186-5</b><br />
                    <b>SEDE PRINCIPAL</b><br />
                    <b>Avenida 30 de Agosto No. 94-165 PBX. 3135000</b><br />
                    <b>Pereira - Risaralda</b>
                </div>
                <div style="float:right; width:30%; text-align:right">
                    <b>FACTURA PROFORMA No.</b><br /><br />
                    <b>@Model.bodega-@Model.numeroPedido</b><br /><br />
                    <b>FECHA: @DateTime.Now.ToString("dd MMM yyyy")</b>
                </div>

                <div style="height:150px;"></div>

                <div style="width:100%; height:150px; margin-left: 45px;">
                    <br /><br /><br />
                    <b>SEÑORES: @Model.senores</b> <br />
                    <b>DIRECCION: @Model.direccionSenores</b> <br />
                    <b>CIUDAD: @Model.ciudadSenores</b> <br />
                </div>

                <div>

                    <div style="position:relative; top:50px;">
                        <div style="float:left; width:5%;">
                            <img src="@Server.MapPath("~/Images/InfoCliente.jpg")" style="width:80%" />
                        </div>
                        <div style="float:left; width:40%; text-align:left; ">
                            <br />
                            <b>CLIENTE</b>: @Model.cliente<br />
                            <b>CEDULA / NIT:</b> @Model.cedula<br />
                            <b>DIRECCION:</b> @Model.direccionCliente<br />
                            <b>CIUDAD</b>: @Model.ciudadCliente<br />
                        </div>
                    </div>

                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <div style="position:relative; top:60px;">
                        <div style="float:left; width:5%;">
                            <img src="@Server.MapPath("~/Images/InfoVehiculo.jpg")" style="width:80%" />
                        </div>
                        <div>
                            <br />
                            <b>MARCA:</b> @Model.marca<br />
                            <b>ESTILO:</b> @Model.estilo<br />
                            <b>PLACA:</b> @Model.placa<br />
                            <b>SERIE NUMERO:</b> @Model.serie<br />
                        </div>
                    </div>

                    <div style="margin-left:45px; position:relative; top:180px;">
                        <b>OBSERVACIONES:</b> @Model.observaciones<br />
                    </div>

                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <div style="margin-left:45px; position:relative; top:180px;">
                        <b>VALOR (COP):</b>  @Model.valor<br />
                        <b>EN LETRAS:</b> @Model.valorLetras<br />
                    </div>

                    <br /><br /><br /><br />
                    <div style="margin-left:45px; position:relative; top:230px;">
                        <b>FIRMA AUTORIZADA:</b> <br />
                    </div>

                </div>

            </div>

        </div>
    </div>

}