@model Homer_MVC.Models.agendaAlistamientoModel
@{
    Dictionary<string, object> attrCarroceria = new Dictionary<string, object>() { { "class", "form-control datePick" } };
    Dictionary<string, object> attrEntrega = new Dictionary<string, object>() { { "class", "form-control datePick" } };
    Dictionary<string, object> attrTxt = new Dictionary<string, object>() { { "class", "form-control" }, { "readonly", "read-only" } };

    string chk = "";
    string ch1 = (Model.motivo == 0) ? " checked" : "";
    string ch2 = (Model.motivo == 1) ? " checked" : "";
    if (Model.carroceriaVh == true && Model.estadoAlis == false)
    {
        chk = " checked";
        attrEntrega.Add("disabled", "true");
    }
    else
    {
        if (ViewBag.iExecutionOt == ViewBag.estadoVh)
        {
            attrEntrega.Add("disabled", "true");
        }
        attrCarroceria.Add("disabled", "true");
    }


}

<ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="active"><a id="nav-agen-tab" data-toggle="tab" href="#nav-agen" role="tab" aria-controls="nav-agen" aria-selected="true">Agendamiento</a></li>
    <li><a id="nav-alistamientos-tab" data-toggle="tab" href="#nav-alistamientos" role="tab" aria-controls="nav-alistamientos" aria-selected="false">Alistamientos Realizado</a></li>
    @if (ViewBag.agendaralistamiento == 1)
    {
        <li><a id="nav-accesorios-tab" data-toggle="tab" href="#nav-accesorios" role="tab" aria-controls="nav-accesorios" aria-selected="false">Agendamiento de Accesorios</a></li>
    }
    @if (ViewBag.accesoriosAlistamiento == 1)
    {
        <li><a id="nav-otaccesorios-tab" data-toggle="tab" href="#nav-otaccesorios" role="tab" aria-controls="nav-otaccesorios" aria-selected="false">Alistamiento Accesorios</a></li>
    }
</ul>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade active in" id="nav-agen" role="tabpanel" aria-labelledby="nav-agen-tab">
        <div class="panel-body">
            <div>
                <div id="msj_alistamiento">
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    @Html.HiddenFor(m => m.clienteIdVh);
                    @Html.HiddenFor(m => m.idpedido);
                    @Html.HiddenFor(m => m.ubivh_id)
                    @Html.HiddenFor(m => m.id);

                    <div class="hpanel">
                        <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                            <div class="panel-tools">
                                <a class="showhide" data-toggle="collapse" href="#panelAg"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <i class="fa fa-user"></i> Agendar Alistamiento
                        </div>
                        <div class="panel-body panel-collapse" id="panelAg">
                            <div class="row">
                                <div class="col-md-3">
                                    <label> Movimiento/Translado </label>
                                    <input type="radio" value="0" name="motivo" @ch1>
                                </div>
                                <div class="col-md-3">
                                    <label> Entrega Cliente </label>
                                    <input type="radio" value="1" name="motivo" @ch2>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.ubicacionVh)
                                    @Html.TextBoxFor(m => m.ubicacionVh, attrTxt)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="checkbox" value="0" name="carroceria" @chk onclick="javascript: return false;">
                                    <label> Carrocería </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.fcEnvioCarrocVh)
                                    @Html.TextBoxFor(m => m.fcEnvioCarrocVh, attrCarroceria)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.fcLlegadaCarrocVh)
                                    @Html.TextBoxFor(m => m.fcLlegadaCarrocVh, attrCarroceria)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.fcPreentregaVh)
                                    @Html.TextBoxFor(m => m.fcPreentregaVh, attrEntrega)
                                </div>
                                @if (Model.estadoAlis == true)
                                {@*
                                        <div class="col-md-4">
                                            @Html.LabelFor( m => m.fcEntregaVh )
                                            @Html.TextBoxFor( m => m.fcEntregaVh, new { @class = "form-control datePick" })
                                        </div>
                                *@}
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.asesor)
                                    @Html.TextBoxFor(m => m.asesor, attrTxt)
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="hpanel">
                        <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                            <div class="panel-tools">
                                <a class="showhide" data-toggle="collapse" href="#panelVh"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <i class="fa fa-user"></i> Datos del Vehículo
                        </div>
                        @Html.HiddenFor(m => m.id)
                        <div class="panel-body panel-collapse" id="panelVh">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.modeloVh)
                                    @Html.TextBoxFor(m => m.modeloVh, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.serieVh)
                                    @Html.TextBoxFor(m => m.serieVh, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.placaVh)
                                    @Html.TextBoxFor(m => m.placaVh, attrTxt)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.anioModeloVh)
                                    @Html.TextBoxFor(m => m.anioModeloVh, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.colorVh)
                                    @Html.TextBoxFor(m => m.colorVh, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.planMayorVh)
                                    @Html.TextBoxFor(m => m.planMayorVh, attrTxt)
                                    @Html.HiddenFor(m => m.planMayorVh);
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.asesor)
                                    @Html.TextBoxFor(m => m.asesor, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.clienteVh)
                                    @Html.TextBoxFor(m => m.clienteVh, attrTxt)
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(m => m.cedulaVh)
                                    @Html.TextBoxFor(m => m.cedulaVh, attrTxt)
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="nav-alistamientos" role="tabpanel" aria-labelledby="nav-alistamientos-tab">
        <div class="panel-body">
            <div class="table-responsive" style="width:100%;">
                <table class="table table-striped table-bordered table-hover" id="tablaBusquedasAlis">
                    <thead>
                        <tr>
                            <th style="text-align:center">Vehículo</th>
                            <th style="text-align:center">Año</th>
                            <th style="text-align:center">Modelo</th>
                            <th style="text-align:center">Color</th>
                            <th style="text-align:center">Vin</th>
                            <th style="text-align:center">Bodega</th>
                            <th style="text-align:center">Ubicación</th>
                            <th style="text-align:center">Cliente</th>
                            <th style="text-align:center">Asesor</th>
                            <th style="text-align:center">Fecha</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    @if (ViewBag.agendaralistamiento == 1)
    {
        <div class="tab-pane fade" id="nav-accesorios" role="tabpanel" aria-labelledby="nav-accesorios-tab">
            <div class="panel-body">

                @if (ViewBag.mostraraccesorios == 1)
                {
                    <div class="table-responsive" style="width:100%;">
                        <table class="table table-striped table-bordered table-hover" id="tablaBusquedasAlis">
                            <thead>
                                <tr>
                                    <th colspan="5" style="text-align:center">ACCESORIOS DEL PEDIDO</th>
                                </tr>
                                <tr>
                                    <th style="text-align:left">Codigo</th>
                                    <th style="text-align:left">Nombre</th>
                                    <th style="text-align:right">Cantidad</th>
                                    <th style="text-align:right">Valor Unitario</th>
                                    <th style="text-align:right">Valor Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.listaaccesorios.Count > 0)
                                {
                                    for (var i = 0; i < ViewBag.listaaccesorios.Count; i++)
                                    {
                                        <tr>
                                            <td style="text-align:left">
                                                @Html.Raw(ViewBag.listaaccesorios[i].codigo)
                                            </td>
                                            <td style="text-align:left">
                                                @Html.Raw(ViewBag.listaaccesorios[i].nombre)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.Raw(ViewBag.listaaccesorios[i].cantidad)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.Raw(ViewBag.listaaccesorios[i].precio_unitario)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.Raw(ViewBag.listaaccesorios[i].total_repuesto)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            @Html.Raw("NO EXISTEN ACCESORIOS EN PEDIDO PARA ESTE VEHÍCULO")
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }

                <br />
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                        <button type="button" class="btn btn-block btn-info" id="agendarAccesorios"><i class="fa fa-list-ul">&nbsp;Agendar&nbsp;</i></button>
                    </div>

                </div>

            </div>
        </div>
    }

    @if (ViewBag.accesoriosAlistamiento == 1)
    {
        <div class="tab-pane fade" id="nav-otaccesorios" role="tabpanel" aria-labelledby="nav-otaccesorios-tab">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="table-responsive" style="width:100%;">
                    <table class="table table-striped table-bordered table-hover" id="tablaOTaccesoriosOpe" style="display:none">
                        <thead>
                            <tr>
                                <th colspan="5" style="text-align:center">Operaciones</th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Nombre</th>
                                <th style="text-align:center">Tiempo</th>
                                <th style="text-align:center">Valor Unitario</th>
                                <th style="text-align:center">IVA</th>
                                <th style="text-align:center">Descuento</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <br />
                <div class="table-responsive" style="width:100%;">
                    <table class="table table-striped table-bordered table-hover" id="tablaOTaccesorios" style="display:none">
                        <thead>
                            <tr>
                                <th colspan="5" style="text-align:center">ACCESORIOS PARA ALISTAMIENTO</th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Nombre</th>
                                <th style="text-align:center">Cantidad</th>
                                <th style="text-align:center">Valor Unitario</th>
                                <th style="text-align:center">IVA</th>
                                <th style="text-align:center">Descuento</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <br />


            </div>
        </div>
    }
</div>
<script src="~/Vendor/moment/min/moment.min.js"></script>
<script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script>

    $('input[name="motivo"]').click(function () {
        $('#btn_alist_guardar').prop('disabled', false)
        console.log('Uno')
    });

    $('#fcPreentregaVh').click(function () {
        $('#btn_alist_guardar').prop('disabled', false)
        console.log('Otro')
    });

        $('.datePick').datetimepicker({
            format: 'YYYY/MM/DD'
        });

        //$('.datePick').datepicker({
        //    autoclose: true,
        //    dateFormat: 'yyyy/mm/dd',
        //    //dateFormat: 'yy-mm-dd',
        //    onSelect: function () {
        //        $(this).change();
        //    }
        //});

    function buscarDatosAlis() {
        if ($('#idpedido').val() == 0) {
            $.ajax({
                url: '/vpedidos/BuscarAlistamientoRealizadosExh',
                data: { planmayor: $('#planMayorVh').val() },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaBusquedasAlis').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        var btn_alist = '<button class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Alistamiento" onclick="TerminarAlistamiento(' + data[i].id + ',\'' + data[i].planmayor + '\')"><i class="fa fa-check"></i></button>';
                        $('#tablaBusquedasAlis').find('tbody').append('<tr>'
                            + '<td align="right">' + data[i].planmayor + '</td>'
                            + '<td align="right">' + data[i].anio + '</td>'
                            + '<td align="left">' + data[i].modelo + '</td>'
                            + '<td align="left">' + data[i].color + '</td>'
                            + '<td align="left">' + data[i].vin + '</td>'
                            + '<td align="left">' + data[i].nombreBodega + '</td>'
                            + '<td align="left">' + data[i].ubicacion + '</td>'
                            + '<td align="left">' + "" + '</td>'
                            + '<td align="left">' + "" + '</td>'
                            + '<td align="left">' + data[i].pedidoFecha + '</td>'
                            + '</tr>');

                    }
                },
                complete: function (data) {
                    $('#tablaBusquedasAlis').dataTable({
                        bFilter: false, bInfo: false, paging: false,
                        "language": {
                            "emptyTable": "No se encontraron alistamientos anteriores"
                        }
                        //dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons: []
                    });
                }
            });
        } else {
            $.ajax({
                url: '/vpedidos/BuscarAlistamientoRealizados',
                data: { idpedido: $('#idpedido').val() },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaBusquedasAlis').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        var btn_alist = '<button class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Alistamiento" onclick="TerminarAlistamiento(' + data[i].id + ',\'' + data[i].planmayor + '\')"><i class="fa fa-check"></i></button>';
                        $('#tablaBusquedasAlis').find('tbody').append('<tr>'
                            + '<td align="right">' + data[i].planmayor + '</td>'
                            + '<td align="right">' + data[i].anio + '</td>'
                            + '<td align="left">' + data[i].modelo + '</td>'
                            + '<td align="left">' + data[i].color + '</td>'
                            + '<td align="left">' + data[i].vin + '</td>'
                            + '<td align="left">' + data[i].nombreBodega + '</td>'
                            + '<td align="left">' + data[i].ubicacion + '</td>'
                            + '<td align="left">' + data[i].cliente + '</td>'
                            + '<td align="left">' + data[i].asesor + '</td>'
                            + '<td align="left">' + data[i].pedidoFecha + '</td>'
                            + '</tr>');

                    }
                },
                complete: function (data) {
                    $('#tablaBusquedasAlis').dataTable({
                        bFilter: false, bInfo: false, paging: false,
                        "language": {
                            "emptyTable": "No se encontraron alistamientos anteriores"
                        }
                        //dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons: []
                    });
                }
            });
        }
    }

        buscarDatosAlis()

    var hbEnt = function () {
        var preEnt = $('#fcEnvioCarrocVh')
        var ent = $('#fcLlegadaCarrocVh')
        if (preEnt.val().trim() != '' && ent.val().trim() != '') {
            if (preEnt.val() > ent.val()) {
                $('#msj_alistamiento').html('<div class="alert alert-danger"><p> La fecha de envio no puede ser mayor a la de llegada. </p></div>');
                $("#msj_alistamiento").fadeTo(5000, 700).slideUp(700, function () {
                    $("#msj_alistamiento").slideUp(700);
                });
                $('#fcPreentregaVh').val('')
                $('#fcEntregaVh').val('')
                $('#fcPreentregaVh').prop('disabled', true)
            } else {
                $('#fcPreentregaVh').prop('disabled', false)
            }
        } else {
            console.log(false);
        }
    }

    $('#fcEnvioCarrocVh').change(function () {
        hbEnt()
    });

    $('#fcLlegadaCarrocVh').change(function () {
        hbEnt()
    });

    $('#btn_alist_guardar').click(function () {
        $('#btn_alist_guardar').prop('disabled', true)
        var data = $('form').serialize();
        if (!$('input[name="motivo"]').is(':checked')) {
            $('#msj_alistamiento').html('<div class="alert alert-danger"><p> Elija motivo de alistamiento. </p></div>');
            $("#msj_alistamiento").fadeTo(5000, 700).slideUp(700, function () {
                $("#msj_alistamiento").slideUp(700);
            });
        } else if ($('#fcPreentregaVh').val() == "") {
            $('#msj_alistamiento').html('<div class="alert alert-danger"><p> Termine de llenar los campos habilitados. </p></div>');
            $("#msj_alistamiento").fadeTo(5000, 700).slideUp(700, function () {
                $("#msj_alistamiento").slideUp(700);
            });
        } else {
            if ($('#idpedido').val() == 0) {
                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '/vpedidos/modalAlistamientoExhibicion',
                    success: function (resp) {
                        buscarDatosAlis();
                        //location.reload();
                        $('#modalAlistamiento').modal('hide')
                        $('#btn_alist_guardar').prop('disabled', false)
                        $('#div_mensaje').html('<div class="alert alert-success"><p>Se ha enviado el vehiculo a alistamiento. </p></div>');
                        $("#div_mensaje").fadeTo(7000, 700).slideUp(700, function () {
                            $("#div_mensaje").slideUp(700);
                        });
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '/vpedidos/modalAlistamiento',
                    success: function (resp) {
                        buscarDatosAlis();
                        //location.reload();
                        $('#modalAlistamiento').modal('hide')
                        $('#btn_alist_guardar').prop('disabled', false)
                        $('#div_mensaje').html('<div class="alert alert-success"><p>Se ha enviado el vehiculo a alistamiento. </p></div>');
                        $("#div_mensaje").fadeTo(7000, 700).slideUp(700, function () {
                            $("#div_mensaje").slideUp(700);
                        });
                    }
                });
            }
        }
    });

    $('#fcPreentregaVh').change(function () {
        var fec1 = formatoFecha(new Date());
        var fec2 = formatoFecha(new Date($(this).val()));
        if (fec1 > fec2) {
            console.log('La fecha no puede ser menor a la fecha actual')
            console.log('Actual: ' + fec1)
            console.log('Posterior: ' + fec2)
        } else {
            console.log('Bien')
        }
    });

    var formatoFecha = function (fecha) {
        var d = fecha.getDate()
        var y = fecha.getFullYear()
        var m = fecha.getMonth()
        var fc = d + '/' + m + '/' + '/' + y;
        var fec = new Date(fc);
        return fec.getTime();
    }

    $('#agendarAccesorios').click(function () {
        var idvehi = $('#planMayorVh').val();
        var acce = 1;
        $.ajax({
            url: '/vpedidos/validarFacAccesorios',
            data: { planmayor: idvehi },
            type: "POST",
            success: function (data) {
                debugger;
                if (data.resultado == 1) {
                    window.open('@Url.Action("Create", "AgendaTallerServicio")?plan_mayor=' + idvehi + '&acce=' + acce, '_blank');
                } else {
                    swal("¡Error!", data.mensaje, "error");
                }
            }
        });
    });
</script>
