

@{
    if (ViewBag.idn > 0 && Request.QueryString["menu"] != null)
    {
        ViewBag.auto = (ViewBag.datos.autorizado == true) ? "true" : "false";
        <button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Ver" onclick="valida_Sb( '@ViewBag.datos.id','@Request.QueryString["menu"].ToString()')">
            &nbsp;&nbsp;<i class="fa fa-eye"></i> &nbsp;&nbsp;
        </button>
        <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Verificacion documentos" onclick="verifica_Sb('@ViewBag.datos.id','@Request.QueryString["menu"].ToString()')">
            &nbsp;&nbsp;<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
        </button>
        <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Seguimiento" onclick="seguimiento_Sb('@ViewBag.datos.id','@Request.QueryString["menu"].ToString()')">
            &nbsp;&nbsp;
            <i class="fa fa-binoculars">&nbsp;&nbsp;</i>
        </button>
        <button class="btn btn-light btn-xs" data-toggle="tooltip" data-placement="top" title="Facturar" onclick="facturar_Sb('@ViewBag.datos.id','@Request.QueryString["menu"].ToString()', '@ViewBag.datos.bodega', '@ViewBag.datos.numero',  '@ViewBag.datos.planmayor', '@ViewBag.datos.modelo',  '@ViewBag.auto')">
            &nbsp;&nbsp;<i class="fa fa-calculator"></i>&nbsp;&nbsp;
        </button>
        <button class="btn btn-warning2 btn-xs" data-toggle="tooltip" data-placement="top" title="Facturar Repuesto" onclick="facturarRepuesto_Sb('@ViewBag.datos.id','@Request.QueryString["menu"].ToString()',  '@ViewBag.datos.bodega', '@ViewBag.datos.numero', '@ViewBag.datos.idCliente')">
            &nbsp;&nbsp;<i class="fa fa-wrench"></i>&nbsp;&nbsp;
        </button>
        <button class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Tracking" onclick="tracking_Sb('@ViewBag.datos.id','@Request.QueryString["menu"].ToString()', '@ViewBag.datos.planmayor' , 1 )">
            &nbsp;&nbsp;<i class="fa fa-car"></i>&nbsp;&nbsp;
        </button>

    }
}