@model Homer_MVC.Models.DespachoOrden
@using System.Globalization

@{
    ViewBag.Title = "Gestion deTraslado de Repuestos";
    ViewBag.Icono = "fa fa-address-book-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Vendor/sweetalert/lib/sweet-alert.css" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div class="alert alert-danger alert-dismissible" id="mensaje" style="display: none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
            <p><i class="fa fa-times fa-2x"></i> Por favor digite los campos obligatorios</p>
        </div>

        <div class="alert alert-warning alert-dismissible" id="aviso" style="display:none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
            <p id="texto_aviso"></p>
        </div>

        <div class="alert alert-danger  alert-dismissible" id="bloqueado" style="display:none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
            <p id="texto_bloqueo"></p>
        </div>


        <div id="tabs" class="tab-content">

            @*<div class="m float-e-margins text-right">
                    <div class="tooltip-demo">
                        <div id="div-mensaje">
                            @if (TempData["total_debitos"] != null)
                            {
                                <label class="label label-danger" style="font-size: 13px">Total Debitos: $<span class="precio">@Convert.ToDecimal(TempData["total_debitos"])</span></label>
                            }
                            @if (TempData["total_creditos"] != null)
                            {
                                <label class="label label-danger" style="font-size: 13px">Total Creditos: $<span class="precio">@Convert.ToDecimal(TempData["total_creditos"])</span></label>
                            }
                        </div>
                    </div>
                </div>*@

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#manual"><i class="fa fa-hand-pointer-o"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a href="@Url.Action("browserSolicitudesDespachoOT","Almacen", new { menu = @ViewBag.id_menu })"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="manual" class="tab-pane active">
                <div class="panel-body">
                    @using (Html.BeginForm("procesarOrdenTraslado", "Almacen", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("menu")

                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info col-md-offset-4" type="button" id="btnSimulacion" onclick="validarObligatorios()" style="display: none"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            <button class="btn btn-info col-md-offset-4" type="submit" id="btnSave" style="display: none"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                @ViewBag.Title
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @*<input type="hidden" name="idSolicitado" id="idSolicitado" value="@ViewBag.idsolicitado" />*@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.TipoDocumento, null,htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">N° de Orden:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("codigoorden", new { htmlAttributes = new { @type = "text", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.idorden, new { htmlAttributes = new { @type = "text", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.idpedido)

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bodega Origen:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("bodegaOrigenDes", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.BodegaOrigen)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bodega Destino:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("bodegaDestinoDes", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.BodegaDestino)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cliente:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("cliente", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Observaciones:<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.TextAreaFor(model => model.Notas, new RouteValueDictionary(new { @class = "someClass", style = "width: 100%; height:80px;" }))
                                                    @Html.ValidationMessageFor(model => model.Notas, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    <hr />
                                    <input type="hidden" id="stock" name="stock" value="" />
                                    <div id="msjCMax" class="alert alert-warning  alert-dismissible" style="display:none">
                                        <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                                        <p>La cantidad ingresada es mayor a la que se encuentra en stock para la referencia</p>
                                    </div>

                                </div>

                                <input type="hidden" name="total_costo" id="total_costo" value="" />

                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaSolicitudes">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Codigo</th>
                                                    <th style="text-align:center">Cantidad</th>
                                                    <th style="text-align:center">Valor unitario</th>
                                                    <th style="text-align:center">Valor antes de IVA</th>
                                                    <th style="text-align:center">Descuento (%)</th>
                                                    <th style="text-align:center">Total Descuento ($)</th>
                                                    <th style="text-align:center">IVA(%)</th>
                                                    <th style="text-align:center">Total IVA ($)</th>
                                                    <th style="text-align:center">Valor Total</th>
                                                    <th style="text-align:center">Seleccion</th>
                                                    <th style="text-align:center">Cantidad recibida</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <div class="panel-body-btns text-right">
                                            <button class="btn btn-info" type="button" id="confirmaFactura" onclick="confirmaTraslado()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Confirmar</button>
                                        </div>
                                    </div>
                                </div>

                                @*TABLA*@
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaFacturacion">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Codigo</th>
                                                    <th style="text-align:center">Cantidad</th>
                                                    <th style="text-align:center">Valor unitario</th>
                                                    <th style="text-align:center">Valor antes de IVA</th>
                                                    <th style="text-align:center">Descuento (%)</th>
                                                    <th style="text-align:center">Total Descuento ($)</th>
                                                    <th style="text-align:center">IVA(%)</th>
                                                    <th style="text-align:center">Total IVA ($)</th>
                                                    <th style="text-align:center">Valor Total</th>
                                                    <th style="text-align:center">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr id="filaSubTotal">
                                                    <td align="center" colspan="8" style="text-align:right; border-bottom:hidden; border-left:hidden">
                                                        <b>SUB TOTAL</b>
                                                    </td>
                                                    <td align="center" id="valorFinalTD" style="border-bottom:hidden">
                                                        <input class="form-control input-sm" id="valorSub" name="valorSub" readonly="readonly" type="text" value="" style="text-align:right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotalDescuento">
                                                    <td align="center" colspan="8" style="text-align:right; border-bottom:hidden; border-left:hidden">
                                                        <b>DESCUENTO</b>
                                                    </td>
                                                    <td align="center" id="valorFinalTD" style="border-bottom:hidden">
                                                        <input class="form-control input-sm" id="valorDes" name="valorDes" readonly="readonly" type="text" value="" style="text-align:right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotalIVA">
                                                    <td align="center" colspan="8" style="text-align:right; border-bottom:hidden; border-left:hidden">
                                                        <b>IVA</b>
                                                    </td>
                                                    <td align="center" id="valorFinalTD" style="border-bottom:hidden">
                                                        <input class="form-control input-sm" id="valorIVA" name="valorIVA" readonly="readonly" type="text" value="" style="text-align:right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotal">
                                                    <td align="center" colspan="8" style="text-align:right; border-bottom:hidden; border-left:hidden">
                                                        <b>TOTAL</b>
                                                    </td>
                                                    <td align="center" id="valorFinalTD">
                                                        <input class="form-control input-sm" id="valorFinal" name="valorFinal" readonly="readonly" type="text" value="" style="text-align:right" />
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <input type="hidden" value="" name="lista_referencias" id="lista_referencias" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*modal modalSiStock*@
<div id="modalSiStock" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Consulta stock de inventario</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="div-mensaje-buscar">
                        <p>No se encontro stock disponible en esta bodega. Verifique en la(s) siguiente(s) bodega(s)</p>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="tablaStock">
                        <thead>
                            <tr>
                                <th style="text-align:center">Referencia</th>
                                <th style="text-align:center">Bodega</th>
                                <th style="text-align:center">Stock</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalSiStock">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*modal modalNoStock*@
<div id="modalNoStock" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Consulta stock de inventario</h4>
            </div>
            <div class="modal-body">
                <h4>Lo sentimos, no se puede aceptar la recepción de los repuestos si las cantidades de los repuestos enviados no coinciden con los que se están recibiendo.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalNoStock">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*modal Error Agregar*@
<div id="modalErrorAgregar" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Referencia no agregada</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <p>No puedes agregar una referencia sin haber completado todos los campos correspondientes, por favor valide!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalError">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*modal modalNopodemosAgregarlo*@
<div id="modalNoCapacidad" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">No hay stock en bodega</h4>
            </div>
            <div class="modal-body">
                <h4>Lo sentimos, no tenemos stock suficiente en la bodega para la referencia seleccionada</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerramodalNoCapacidad">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@* modal documento descuadrado *@
<div id="modal_diferencia" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <div class="alert alert-danger  alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                    <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
                </div>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Error, los valores no coinciden</h4>
            </div>
            @if (ViewBag.documentoDescuadrado != null)
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <div id="div-mensaje-buscar"></div>
                                <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Cuenta</th>
                                            <th style="text-align:center">Parametro</th>
                                            <th style="text-align:center">Debito</th>
                                            <th style="text-align:center">Credito</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.documentoDescuadrado)
                                        {
                                            <tr>
                                                <th style="text-align:center">@item.NumeroCuenta</th>
                                                <th style="text-align:center">@item.DescripcionParametro</th>
                                                <th style="text-align:center">@item.ValorDebito.ToString("0,0", elGR)</th>
                                                <th style="text-align:center">@item.ValorCredito.ToString("0,0", elGR) </th>
                                            </tr>
                                        }
                                        <tr>
                                            <th style="text-align:center">&nbsp;</th>
                                            <th style="text-align:center">&nbsp;</th>
                                            <th style="text-align:center">@ViewBag.calculoDebito.ToString("0,0", elGR)</th>
                                            <th style="text-align:center">@ViewBag.calculoCredito.ToString("0,0", elGR)</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*modal Facturacion registrado*@
<div id="modalExito" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Traslado de repuestos registrado con éxito</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <h4>Se registro el traslado de repuestos con el número</h4> <h3><span class="label label-default">@ViewBag.numTrasladoCreada</span></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalFactura">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*modal sin forma de pago*@
<div class="modal fade" id="modalNOfPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">No hay forma de pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                El cliente seleccionado no tiene forma de pago configurado, por favor valide!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*modal cliente bloqueado*@
<div class="modal fade" id="modalBloqueado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Cliente Bloqueado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="msjBloqueado"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*modal cupo exedido*@
<div class="modal fade" id="modalSinCupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">No se registro la factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>La factura no pudo ser registrada, debido a que supero su cupo disponible. El cupo disponible del cliente es </h4><h3><span class="label label-default" id="cupoDisponible"></span></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>

    <script type="text/javascript">

        var i = 0;
        var r = 0;
        var re = 0;
        var cot = 0;
        var cos = 0;
        var costo = 0;
        var total = 0;
        var contadorReferencias = 0;
        var contadorLista = 0;
        var contadorLista2 = 0;
        var contadorPedido = 0;

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $(".js-source-states").select2();


            $("form").keypress(function(e) {
                if (e.which == 13) {
                    return false;
                }
            });
            cargarSolicitudes();
        });

        //$('#tipoTarifa').change(function(){
        //    cargarSolicitudes()
        //    var rowCount = $('#tablaFacturacion tbody tr').length;

        //    if (rowCount == 0) {
        //        $('#confirmaFactura').prop("disabled", false);
        //        $('#tipoTarifa').select2("readonly", false);
        //    }
        //})

        function cargarSolicitudes() {
            //$('#cliente').val('')
            $("#tablaSolicitudes").find("tbody").empty()
            i = 0;
            $.ajax({
                url: '/Almacen/buscarRepuestosSolicitadosTraslado',
                data: {
                    idPedido: $("#idpedido").val(),
                    idbodega:$('#BodegaDestino').val(),
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $("#tablaSolicitudes").find("tbody").empty()
                    for (var i = 0; i < data.length; i++) {
                        var precio = 0;
                        var porDescuento = 0;
                        var porIva = 0;
                        var descuento = 0;
                        var iva = 0;
                        var cantidad = 0;
                        var idsolicitudrepuesto=0;
                        porDescuento = parseInt(data[i].porDes)
                        porIva = parseInt(data[i].porIVA)
                        precio = parseInt(data[i].valorUnitario)
                        cantidad = parseInt(data[i].cantidad)
                        if(data[i].idsolicitudrepuesto!=null && data[i]!=undefined){
                            idsolicitudrepuesto=parseInt(data[i].idsolicitudrepuesto);
                        }

                        if ($.trim(porDescuento) != '') {
                            descuento = Math.round((porDescuento * precio / 100) * cantidad);
                        }

                        if ($.trim(porIva) != '') {
                            iva = Math.round(((cantidad * precio) - descuento) * porIva / 100);
                        }
                        var valorAntesIva = cantidad * precio;
                        var valorTotal = (valorAntesIva + iva) - descuento;

                        var codigo = data[i].ref_codigo;
                        var repuesto = data[i].repuesto;

                        $('#tablaSolicitudes').find('tbody').append('<tr id="item' + i + '">'
                            + '<td align="left">'//referencia
                                + '<input type="text" style="display:none;" id="idsolicitudreferenciaP' + i + '" name="idsolicitudreferenciaP' + i + '" value="' + idsolicitudrepuesto + '"/>'
                                + '<input type="text" style="display:none;" id="referenciaP' + i + '" name="referenciaP' + i + '" value="' + codigo + '"/>'
                                + '<input type="text" style="display:none;" id="refDescripcion' + i + '" name="refDescripcion' + i + '" value="' + repuesto + '"/>'
                                + repuesto
                            + '</td>'
                            + '<td align="right">'//cantidad
                                + '<input type="text" style="display:none;" id="cantidadReferenciaP' + i + '" name="cantidadReferenciaP' + i + '" value="' + cantidad + '"/>'
                                + cantidad
                            + '</td>'
                            + '<td align="right">'//valor unitario
                                + '<input type="text" style="display:none;" id="valorUnitarioReferenciaP' + i + '" name="valorUnitarioReferenciaP' + i + '" value="' + precio + '"/>'
                                + addCommas(precio)
                            + '</td>'
                            + '<td align="right">'//valor antes de iva
                                + '<input type="text" style="display:none;" id="valorAntesIvaReferenciaP' + i + '" name="valorAntesIvaReferenciaP' + i + '" value="' + valorAntesIva + '"/>'
                                + addCommas(valorAntesIva)
                            + '</td>'
                            + '<td align="right">'//descuento(%)
                                + '<input type="text" style="display:none;" id="descuentoReferenciaP' + i + '" name="descuentoReferenciaP' + i + '" value="' + porDescuento + '"/>'
                                + porDescuento
                            + '</td>'
                            + '<td align="right">'//total descuento($)
                                + '<input type="text" style="display:none;" id="totalDescuentoReferenciaP' + i + '" name="totalDescuentoReferenciaP' + i + '" value="' + descuento + '"/>'
                                + addCommas(descuento)
                            + '</td>'
                            + '<td align="right">'//iva(%)
                                + '<input type="text" style="display:none;" id="ivaReferenciaP' + i + '" name="ivaReferenciaP' + i + '" value="' + porIva + '"/>'
                                + porIva
                            + '</td>'
                            + '<td align="right">'//total iva($)
                                + '<input type="text" style="display:none;" id="ivaTotalReferenciaP' + i + '" name="ivaTotalReferenciaP' + i + '" value="' + iva + '"/>'
                                + addCommas(iva)
                            + '</td>'
                            + '<td align="right">'//valor total
                                + '<input type="text" style="display:none;" id="valorTotalReferenciaP' + i + '" name="valorTotalReferenciaP' + i + '" value="' + valorTotal + '"/>'
                                + addCommas(valorTotal)
                            + '</td>'
                            + '<td align="center">'
                                + '<input type="checkbox" value="10" disabled="disabled" class="i-checks" name="seleccion' + i + '" id="seleccion' + i + '" />'
                            + '</td>'
                            + '<td align="left">'
                                + '<input onchange="infoReferencia(' + i + ')"  type="text" class="form-control" name="cantidadFacturar' + i + '" id="cantidadFacturar' + i + '" value="0"/>'
                            + '</td>'
                        + '</tr>');
                    }

                    $("#lista").val(i);
                },
                complete: function (data) {
                    $('.i-checks').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                        radioClass: 'iradio_square-green'
                    });
                }
            });
        }

        function infoReferencia(j='') {
            debugger;
            var cantidad=$('#cantidadReferenciaP'+j).val();
            var cantidad_recibida=$('#cantidadFacturar'+j).val();
           
            if(cantidad==cantidad_recibida){
                $('#confirmaFactura').prop('disabled',false);
                //$('#').prop('disabled',false);
                chequeo(j);
            }
            else{
                $('#modalNoStock').show();
                chequeo(j);
                $('#confirmaFactura').prop('disabled',true);
                //$('#').prop('disabled',true);
            }
        }

        function chequeo(i) {
            if (parseInt($('#cantidadFacturar' + i + '').val()) == parseInt($('#cantidadReferenciaP' + i + '').val())) {
                if ($('#cantidadFacturar' + i + '').val() != 0) {                                         
                            $('#seleccion' + i + '').iCheck('check');                                         
                } else {
                    $('#seleccion' + i + '').iCheck('uncheck');
                    $('#cantidadFacturar' + i + '').val('0');
                }
            }
            else {
                $('#cantidadFacturar' + i + '').val('0');
                $('#seleccion' + i + '').iCheck('uncheck');
            }
        }

        $('#TipoDocumento').change(function () {
            $.ajax({
                url: '/almacen/BuscarBodegasPorDocumento',
                data: {
                    id: $('#TipoDocumento').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.buscarBodega.length; i++) {
                        var idLog = parseInt($('#BodegaOrigen').val());
                        if (data.buscarBodega[i].id == idLog) {
                            $('#btnSimulacion').show()
                        } else {
                            if ($('#btnSimulacion').is(':visible')) {
                                $('#btnSimulacion').show()
                            } else {
                                $('#btnSimulacion').hide()
                            }
                        }
                    }

                    $('#bodegaDestino').empty();
                    $('#bodegaDestino').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.buscarBodega.length; i++) {
                        $('#bodegaDestino').append($('<option>', {
                            value: data.buscarBodega[i].id,
                            text: data.buscarBodega[i].bodccs_nombre
                        }));
                    }
                }
            })//bodegas

            $.ajax({
                url: '/compraRepuestos/BuscarPerfilPorDocumento',
                data: {
                    tipo: $('#TipoDocumento').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#perfil').empty();
                    $('#perfil').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#perfil').append($('<option>', {
                            value: data[i].id,
                            text: data[i].perfil
                        }));
                    }
                }
            })//perfil

        });

        function confirmaTraslado() {
            $('#valorSub').val("");
            $('#valorDes').val("");
            $('#valorIVA').val("");
            $('#valorFinal').val("");
            var cuantoschequeados = 0;

            debugger;

            $(".i-checks").each(function (index) {
                if ($(this).prop('checked')) {
                    k = index;
                    cuantoschequeados++;
                    precio = parseInt(quitCommas($('#valorUnitarioReferenciaP' + k + '').val()))
                    /*********************************************************************************************************************************************/
                    var descuento = 0;
                    if ($.trim($('#descuentoReferenciaP' + k + '').val()) != '') {
                        descuento = Math.round((parseFloat($('#descuentoReferenciaP' + k + '').val()) * precio / 100) * parseFloat($('#cantidadFacturar' + k + '').val()));
                    }
                    var iva = 0;
                    if ($.trim($('#ivaReferenciaP' + k + '').val()) != '') {
                        iva = Math.round(((parseFloat($('#cantidadFacturar' + k + '').val()) * precio - descuento) * parseFloat($('#ivaReferenciaP' + k + '').val()) / 100));
                    }
                    var valorAntesIva = (parseFloat($('#cantidadFacturar' + k + '').val()) * precio);
                    var valorTotal = (valorAntesIva + iva) - descuento;
                    /*********************************************************************************************************************************************/

                    var codigo = $("#referenciaP" + k + '').val();
                    var codigoDes = $("#refDescripcion" + k + '').val();

                    $("#tablaFacturacion").find("tbody").append('<tr id="filaReferencias' + contadorReferencias + '">'
                            + '<td>'//referencia
                                + '<input style="display:none;" id="tarifaReferencia' + contadorReferencias + '" name="tarifaReferencia' + contadorReferencias + '" class="form-control" type="text" value="' + $('#tarifa'+k+'').val() + '"/>'
                                + '<input style="display:none;" name="refDescripcion' + contadorReferencias + '" id="refDescripcion' + contadorReferencias + '" class="form-control" type="text" value="' + codigoDes + '">'
                                + '<input style="display:none;" name="referencia' + contadorReferencias + '" id="referencia' + contadorReferencias + '" class="form-control" type="text" value="' + codigo + '">'
                                + codigoDes
                            + '</td>'
                            + '<td style="text-align:right">'//cantidad
                                + '<input style="display:none;" name="cantidadReferencia' + contadorReferencias + '" id="cantidadReferencia' + contadorReferencias + '" class="form-control" type="hidden" value="' + $('#cantidadFacturar' + k + '').val() + '">'
                                + $('#cantidadFacturar' + k + '').val()
                            + '</td>'
                            + '<td style="text-align:right">'//Valor unitario
                                + '<input  style="text-align:right; display:none" name="valorUnitarioReferencia' + contadorReferencias + '" id="valorUnitarioReferencia' + contadorReferencias + '" class="form-control" type="hidden" value="' + precio + '">'
                                + addCommas(precio)
                            + '</td>'
                            + '<td style="text-align:right">'//valor antes de iva
                                + '<input class="ai"  id="valorAntesIvaReferencia' + contadorReferencias + '" name="valorAntesIvaReferencia' + contadorReferencias + '" type="text" style="display:none;" value="' + valorAntesIva + '">'
                                + addCommas(valorAntesIva)
                            + '</td>'
                            + '<td style="text-align:right">'//descuento (%)
                                + '<input name="descuentoReferencia' + contadorReferencias + '" id="descuentoReferencia' + contadorReferencias + '" class="form-control" type="hidden" value="' + $('#descuentoReferenciaP' + k + '').val() + '" >'
                                + $('#descuentoReferenciaP' + k + '').val()
                            + '</td>'
                            + '<td style="text-align:right">'//total descuento ($)
                                + '<input class="sumaDescuento" id="totalDescuentoReferencia' + contadorReferencias + '" name="totalDescuentoReferencia' + contadorReferencias + '" type="text" style="display:none;" value="' + descuento + '">'
                                + addCommas(descuento)
                            + '</td>'
                            + '<td style="text-align:right">'//iva (%)
                                + '<input type="text" style="display:none;" id="ivaReferencia' + contadorReferencias + '" name="ivaReferencia' + contadorReferencias + '"  value="' + $('#ivaReferenciaP' + k + '').val() + '">'
                                + $('#ivaReferenciaP' + k + '').val()
                            + '</td>'
                            + '<td style="text-align:right">'//total IVA ($)
                                + '<input class="sumaIVA" id="ivaTotalReferencia' + contadorReferencias + '" name="ivaTotalReferencia' + contadorReferencias + '" type="text" style="display:none;" value="' + iva + '">'
                                + addCommas(iva)
                            + '</td>'
                            + '<td style="text-align:right">'//valor total
                                + '<input class="sumamos" type="text" style="display:none;" name="valorTotalReferencia' + contadorReferencias + '" id="valorTotalReferencia' + contadorReferencias + '" value="' + valorTotal + '">'
                                + addCommas(valorTotal)
                            + '</td>'
                            + '<td width="5%" align="center">'//acciones
                                + '<button type="button" class="btn btn-danger btn-xs" onclick="eliminarReferencia(' + contadorReferencias + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button>'
                            + '</td>'
                        + '</tr>');
                    //subtotal de la cotizacion
                    var subTotal = 0;
                    $(".ai").each(function (index, element) {
                        subTotal += parseInt($(this).val());
                        $('#valorSub').val(addCommas(subTotal));
                    });
                    //sumatoria de descuento
                    var totalDes = 0;
                    $(".sumaDescuento").each(function (index, element) {
                        totalDes += parseInt($(this).val());
                        $('#valorDes').val(addCommas(totalDes));
                    });
                    //sumatoria de IVA
                    var totalIVA = 0;
                    $(".sumaIVA").each(function (index, element) {
                        totalIVA += parseInt($(this).val());
                        $('#valorIVA').val(addCommas(totalIVA));
                    });
                    //sumatoria de total a pagar
                    var totala = 0;
                    $(".sumamos").each(function (index, element) {
                        totala += parseInt($(this).val());
                        $('#valorFinal').val(addCommas(totala));
                    });
                    contadorReferencias++;

                    if ($('#lista_referencias').val() == '') {
                        contadorLista = contadorReferencias;
                    } else {
                        contadorLista = parseInt(contadorReferencias)
                        //contadorLista += parseInt($('#lista_referencias').val())
                    }
                    $('#cantidadesReferencias').val(contadorReferencias);
                    $('#lista_referencias').val(contadorLista);

                    if ($("#lista_referencias").val() > 0) {
                        $('#tipoTarifa').select2("readonly", true);
                    }
                }
            });
            if(cuantoschequeados>0){
                $('#confirmaFactura').prop("disabled", true);
                $('#btnSimulacion').show();
            }
        }

        function eliminarReferencia(id) {
            event.preventDefault();
            //resta del subtotal
            var totalSub = $('#valorSub').val();
            var restaT = 0;
            restaT = parseInt(quitCommas(totalSub)) - parseInt($('#valorAntesIvaReferencia' + id + '').val());
            $('#valorSub').val(addCommas(restaT));

            //resta del descuento
            var totalDes = $('#valorDes').val();
            var restaD = 0;
            restaD = parseInt(quitCommas(totalDes)) - parseInt($('#totalDescuentoReferencia' + id + '').val());
            $('#valorDes').val(addCommas(restaD));

            //resta del IVA
            var totalIVA = $('#valorIVA').val();
            var restaI = 0;
            restaI = parseInt(quitCommas(totalIVA)) - parseInt($('#ivaTotalReferencia' + id + '').val());
            $('#valorIVA').val(addCommas(restaI));

            //resta del valor total
            var totala = $('#valorFinal').val();
            var resta = 0
            resta = parseInt(quitCommas(totala)) - parseInt(quitCommas($('#valorTotalReferencia' + id + '').val()));
            $('#valorFinal').val(addCommas(resta));

            des = restaD;
            iva = restaI;
            sub = restaT;

            $('#filaReferencias' + id + '').remove();
            var rowCount = $('#tablaFacturacion tbody tr').length;

            if (rowCount == 0) {
                $('#confirmaFactura').prop("disabled", false);
                $('#tipoTarifa').select2("readonly", false);
            }
        }

        function validarObligatorios() {
            var rowCount = $('#tablaFacturacion tbody tr').length;

            if ($('#bodegaDestino').val() != "") {
                if ($('#BodegaOrigen').val() != $('#bodegaDestino').val()) {
                    if ($('#perfil').val() != "") {
                        if (rowCount > 0) {
                            $('#btnSave').trigger('click');
                        } else {
                            swal("Error!", "No se puede hacer un traslado sin referencias", "error");
                        }
                    } else {
                        swal("Error!", "El campo de perfil contable es obligatorio", "error");
                    }
                } else {
                    swal("Error!", "No se puede hacer un traslado hacia la misma bodega", "error");
                }
            } else {
                swal("Error!", "Tienes que poner una bodega hacia la cual va el traslado", "error");
            }
        }

        var numero_miles = "";
        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($('#' + id + '').val());
            $('#' + id + '').val(numero_miles);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr.toString();
            var s = nStr.replace(/\./g, "");
            return s;
        }

        function valida(e, id)	//Solo numeros y SOLO 1 punto decimal
        {
            var key = (document.all) ? e.which : e.keyCode;
            //cadena = $('#' + id + '').val();
            if (cadena.indexOf('.') == -1) {
                return (key <= 13 || (key >= 48 && key <= 57) || key == 46);
            }
            else {
                return (key <= 13 || (key >= 48 && key <= 57));
            }
        }

        //----Funcion que valida que el campo solo tenga permitido el ingreso de numeros
        function soloNumeros(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890";
            especiales = "8-37-39-46";

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }

        $('#cerrarModalNoStock').click(function () {
            $('#modalNoStock').hide();
        });

        $('#cerrarModalSiStock').click(function () {
            $('#modalSiStock').hide();
        });

        $('#cerrarModalError').click(function () {
            $('#modalErrorAgregar').hide();
        });

        $('#cerramodalNoCapacidad').click(function () {
            $('#modalNoCapacidad').hide();
        });

        $('#cerrarModalFactura').click(function () {
            $('#modalFactmodalExitouracion').hide();
        });

        @*function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if(data.esFavorito == true){
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    }else{
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            })
        }*@
    </script>

    @if (TempData["mensaje"] != null)
    {
        <script type="text/javascript">
            $('#modalExito').modal('show');
        </script>
    }


    @if (TempData["documento_descuadrado"] != null)
    {
        <script type="text/javascript">
            $('#modal_diferencia').modal('show');
        </script>
    }

}