@model Homer_MVC.IcebergModel.IngresoVhModel

@{
    ViewBag.Title = "Gestion Improntas";
    ViewBag.Icono = "fa fa-pencil-square-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#envio_improntas"><i class="fa fa-search"></i>&nbsp;&nbsp;Envio Improntas</a></li>
                <li class=""><a data-toggle="tab" href="#seguimiento_improntas"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Seguimiento Improntas</a></li>
            </ul>

            <div id="envio_improntas" class="tab-pane active">
                <div class="panel-body">

                    <div class="col-sm-2 pull-left">
                        @using (@Html.BeginForm("envio_improntas", "control_improntas"))
                        {

                            @Html.Hidden("menu")

                            <input type="submit" value="Enviar Improntas" class="btn btn-info" />
                            <input type="hidden" id="listVin" value="" name="listVin" />
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center"></th>
                                        <th style="text-align:center">Vin</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Status</th>
                                        <th style="text-align:center">Fecha Ingreso</th>
                                        <th style="text-align:center">Fecha Toma Improntas</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div id="seguimiento_improntas" class="tab-pane">
                <div class="panel-body">
                    @*<div class="col-md-7 col-md-offset-5">
                            <button type="button" class="btn btn-sm btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                                <i class="text-info fa fa-tags"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                                <i class="text-primary fa fa-files-o"></i>
                            </button>
                            <button class="btn btn-sm btn-default" style="border-radius:25px">
                                <i class="text-warning fa fa-star"></i>
                            </button>

                            <div class="col-sm-4 pull-right">
                                <div class="input-group">
                                    <input id="txBusquedaSeguimiento" type="text" runnat="server" class="form-control" placeholder="Buscar.."> <span class="input-group-btn">
                                        <button class="btn btn-sm btn-info" id="btnBuscarSeguimiento" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4 pull-right">
                                <select class="multiselect-ui form-control" id="selectBusquedasParametrosSeguimiento" multiple="multiple">
                                    @foreach (var item in ViewBag.parametrosBusqueda)
                                        {
                                            <option value="@item.menu_busqueda_campo">@item.menu_busqueda_nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                        }
                                </select>
                            </div>
                        </div>*@
                </div>
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaSeguimiento">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Vin</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Status</th>
                                        <th style="text-align:center">Fecha Ingreso</th>
                                        <th style="text-align:center">Tiempo</th>
                                        <th style="text-align:center">Fecha Toma Improntas</th>
                                        <th style="text-align:center">Tiempo</th>
                                        <th style="text-align:center">Fecha Envio Improntas</th>
                                        <th style="text-align:center">Tiempo</th>
                                        <th style="text-align:center">Fecha Recepcion Improntas</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        @*<div class="row col-md-4 col-md-offset-4">
                                <div id="page-selectionSeguimiento"></div>
                            </div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">
        var listaVin = '';

    $(document).ready(function () {
        $('#menu').val(@ViewBag.id_menu);
        buscarAjaxImprontas();
        buscarAjaxImprontasSeguimiento();
    });

//$('#btnBuscar').click(function () {
//    buscarAjaxImprontas();
//    $('.nav-tabs li:eq(0) a').tab('show')
//});

//$('#btnBuscarSeguimiento').click(function () {
//    buscarAjaxImprontasSeguimiento();
//    $('.nav-tabs li:eq(1) a').tab('show')
//});

function addList(id) {
    listaVin = listaVin + '|' + id
    $('#listVin').val(listaVin);
}

function buscarAjaxImprontas() {
        var parametros = null;
        if ($('#selectBusquedasParametros').val() != null) {
            parametros = $('#selectBusquedasParametros').val().toString();
        }

    $.ajax({
        url: '/control_improntas/BuscarImprontasPaginados',
        data: {
            texto: $("#txBusqueda").val(),
            pagina: 1,
            parameters: parametros
        },
        type: "post",
        cache: false,
        success: function (data) {
            console.log(data);
            $('#tablaPaginada').find('tbody').empty();
            for (var i = 0; i < data.length; i++) {
                $('#tablaPaginada').find('tbody').append('<tr><td><input type="checkbox" onChange="addList('
                    + '\'' + data[i].icbvh_id
                    + '\')"></td><td align="left">'
                    + data[i].vin + '</td><td align="left">'
                    + data[i].modvh_nombre + '</td><td align="left">'
                    + data[i].bodccs_nombre + '</td><td align="left">'
                    + data[i].icbvh_estatus + '</td><td align="right">'
                    + data[i].icbvh_fecinsp_ingreso + '</td><td align="right">'
                    + data[i].icbvh_fec_impronta + '</td></tr>');
            }
        },
        complete: function (data) {
            $('#tablaPaginada').dataTable({
                //"ajax": 'api/datatables.json',
                //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                    //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                    //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                ]
            });
        }
    });
    }

function buscarAjaxImprontasSeguimiento() {

    $.ajax({
        url: '/control_improntas/BuscarImprontasPaginadosSeguimiento',
        data: {
        },
        type: "post",
        cache: false,
        success: function (data) {
            $('#tablaPaginadaSeguimiento').find('tbody').empty();
            for (var i = 0; i < data.length; i++) {
                $('#tablaPaginadaSeguimiento').find('tbody').append('<tr><td align="left">'
                    + data[i].vin + '</td><td align="left">'
                    + data[i].modvh_nombre + '</td><td align="left">'
                    + data[i].bodccs_nombre + '</td><td align="left">'
                    + data[i].icbvh_estatus + '</td><td align="left">'
                    + data[i].icbvh_fecinsp_ingreso + '</td><td align="right">'
                    + data[i].min_tomaImpronta + ' ' + data[i].valorTiempo_tomaImpronta + '</td><td align="right">'
                    + data[i].icbvh_fec_impronta + '</td><td align="right">'
                    + data[i].min_envioImpronta + ' ' + data[i].valorTiempo_envioImpronta + '</td><td align="right">'
                    + data[i].icbvh_fec_envioimpronta + '</td><td align="right">'
                    + data[i].min_recepcionImpronta + ' ' + data[i].valorTiempo_recepcionImpronta + '</td><td align="right">'
                    + data[i].icbvh_fec_recepcionimpronta + '</td></tr>');
            }
        },
        complete: function (data) {
            $('#tablaPaginadaSeguimiento').dataTable({
                //"ajax": 'api/datatables.json',
                //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                    //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                    //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                ]
            });
        }
    });
}

function AgregarQuitarFavorito(){
    $.ajax({
        url: '/Inicio/AgregarQuitarFavorito',
        data: {
            id_menu: @ViewBag.id_menu,
        },
        type: "post",
        cache: false,
        success: function (data) {
            if (data.esFavorito == true) {
                $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
            } else {
                $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
            }
        }
    });
}

    </script>

}