@model Homer_MVC.Models.EntradaSalidaModel

@{
    ViewBag.Icono = "fa fa-arrow-circle-up";
    ViewBag.Title = "Subir Costo Referencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxSubeCosto();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <a class="btn btn-info" href="../../subirCostoReferencia/Create?menu=@ViewBag.id_menu"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Crear nuevo</a>&nbsp;&nbsp;
                            <button class="btn btn-success" type="button" id="btnGenerarPDFPedido"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;Generar PDF</button>&nbsp;&nbsp;

                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.HiddenFor(x => x.encabezado_id)
                        @Html.Hidden("lista_repuestos")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos Generales
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    <select id="TipoDocumento" name="TipoDocumento" class="form-control js-source-states" style="width:100%; font-size:14px;" placeholder="Seleccione">
                                                        <option value=""></option>
                                                        @foreach (var item in ViewBag.tp_doc_registros)
                                                        {
                                                            <option value="@item.tpdoc_id">(@item.prefijo)&nbsp;&nbsp;@item.tpdoc_nombre</option>
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Origen:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.BodegaOrigen, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.BodegaOrigen, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Perfil Contable:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.PerfilContable, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.PerfilContable, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Notas:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.TextAreaFor(m => m.Notas, new RouteValueDictionary(new { @class = "someClass", style = "width: 100%; height:80px;" }))
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="table-responsive">
                                                    <div id="div-mensaje-buscar"></div>
                                                    <table class="table table-striped table-bordered table-hover" id="tablaDetalles">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">Codigo Referencia</th>
                                                                <th style="text-align:center">Nombre</th>
                                                                <th style="text-align:center">Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">N&uacute;mero</th>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Origen</th>
                                        <th style="text-align:center">Referencias</th>
                                        <th style="text-align:center">Acci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script type="text/javascript">

        var i = 1;
        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $('#lista_repuestos').val(0);
            $('.js-source-states').select2();
            $('#TipoDocumento').val('@ViewBag.documentoSeleccionado').select2();
            buscarBodegasPorDocumento();
            buscarPerfilesContables();
            buscarReferenciasAgregadas();
        });

        function buscarReferenciasAgregadas() {
            $.ajax({
                url: '/trasladoRepuestos/BuscarReferenciasAgregadas',
                data: {
                    encabezado_id: $('#encabezado_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        $('#tablaDetalles').find('tbody').append('<tr id="fila' + i + '" name="fila' + i + '"><td align="center">'
                            + data[i].codigo + '</td><td align="center">'
                            + data[i].ref_descripcion + '</td><td align="center">'
                            + data[i].costo_unitario + '</td></tr>');
                    }
                }
            });
        }

        function buscarBodegasPorDocumento() {
            $.ajax({
                url: '/traslados/BuscarBodegasPorDocumento',
                data: {
                    idTpDoc: $('#TipoDocumento').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {

                    $('#BodegaOrigen').empty();
                    $('#BodegaOrigen').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#BodegaOrigen').append($('<option>', {
                            value: data[i].id,
                            text: data[i].bodccs_nombre
                        }));
                    }
                },
                complete: function (data) {
                    $('#BodegaOrigen').val('@ViewBag.bodegaSeleccionada').select2();
                }
            });
        }

        $('#TipoDocumento').change(function () {
            buscarBodegasPorDocumento();
            buscarPerfilesContables();
        });

        function buscarPerfilesContables() {
            $.ajax({
                url: '/traslados/BuscarPerfilesContables',
                data: {
                    idTpDoc: $('#TipoDocumento').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#PerfilContable').empty();
                    $('#PerfilContable').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#PerfilContable').append($('<option>', {
                            value: data[i].id,
                            text: data[i].descripcion
                        }));
                    }
                    $('#PerfilContable').val('@ViewBag.perfilSeleccionado').select2();
                },
            });
        }

        function valida(id) {
            window.location.href = '@Url.Action("Ver", "subirCostoReferencia")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxSubeCosto() {
            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/subirCostoReferencia/BuscarSubeCostoReferencias',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {

                        var referencias = '';
                        for (var j = 0; j < data[i].referencias.length; j++) {
                            referencias += data[i].referencias[j].ref_descripcion + ', '
                        }

                        $('#tablaPaginada').find('tbody').append('<tr><td align="right">'
                            + data[i].numero + '</td><td align="right">'
                            + data[i].fecha + '</td><td align="left">'
                            + data[i].origen + '</td><td align="left">'
                            + referencias + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                            + data[i].idencabezado
                            + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

        $('#btnGenerarPDFPedido').click(function () {
            window.open('@Url.Action("subirCosto", "subirCostoReferencia")?id=' + $('#encabezado_id').val(), '_blank');
        });

    </script>
}