@model Homer_MVC.IcebergModel.v_creditos

@{
    ViewBag.Icono = "fa fa-credit-card-alt";
    ViewBag.Title = "Solicitud Creditos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button class="btn btn-mini btn-default" style="border-radius:25px">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro de @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#infoCredito"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;InformaciónCredito</a></li>
                <li class=""><a href="@Url.Action("Browser", "v_creditos")"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="infoCredito" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                    Datos del Solicitante
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Cédula / Nit:</label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("tercero", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required", @name = "tercero" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Cliente:</label>
                                            <div class="col-md-6">
                                                <input id="cliente" name="cliente" class="form-control" value="@ViewBag.cliente" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Ciudad:</label>
                                            <div class="col-md-6">
                                                <input id="ciudad" name="ciudad" class="form-control" value="@ViewBag.ciudad" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Telefono:</label>
                                            <div class="col-md-6">
                                                <input id="telefono" name="telefono" class="form-control" value="@ViewBag.telefono" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Email:</label>
                                            <div class="col-md-6">
                                                <input id="email" name="email" class="form-control" value="@ViewBag.email" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Celular:</label>
                                            <div class="col-md-6">
                                                <input id="celular" name="celular" class="form-control" value="@ViewBag.celular" />
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Salario:</label>
                                            <div class="col-md-6">
                                                <input id="salario" name="salario" class="form-control" value="@ViewBag.salario" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Salario:</label>
                                            <div class="col-md-6">
                                                <input id="salario" name="salario" class="form-control" value="@ViewBag.salario" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Comisiones:</label>
                                            <div class="col-md-6">
                                                <input id="comisiones" name="comisiones" class="form-control" value="@ViewBag.comisiones" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Arriendo:</label>
                                            <div class="col-md-6">
                                                <input id="arriendo" name="arriendo" class="form-control" value="@ViewBag.arriendo" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Otros:</label>
                                            <div class="col-md-6">
                                                <input id="otros" name="otros" class="form-control" value="@ViewBag.otros" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Prestamos:</label>
                                            <div class="col-md-6">
                                                <input id="prestamo" name="prestamo" class="form-control" value="@ViewBag.prestamo" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Tarjetas:</label>
                                            <div class="col-md-6">
                                                <input id="tarjetas" name="tarjetas" class="form-control" value="@ViewBag.tarjetas" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Hipotecas:</label>
                                            <div class="col-md-6">
                                                <input id="hipotecas" name="hipotecas" class="form-control" value="@ViewBag.hipotecas" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 text text-primary">Sostenimento:</label>
                                            <div class="col-md-6">
                                                <input id="sostenimento" name="sostenimento" class="form-control" value="@ViewBag.sostenimento" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">


    </script>

}