@model Homer_MVC.Models.CheckingIngresoModel

@{
    ViewBag.Title = "Check Ingreso Vehiculos";
    Layout = null;
}

<link href="@Server.MapPath("~/Vendor/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/style.css")" rel="stylesheet" />


<style type="text/css">
    p {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }
</style>

@using (Html.BeginForm("IngresoPDF", "checkListVehiculos", FormMethod.Post))
{

    <div class="panel-body">
        <div class="form-horizontal">
            <div style="position:absolute; width:95%; padding-top:30px;">
                <div style="float:left; width:30%; margin-left: 20px;">
                    <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:50%" />
                </div>
                <div style="float:left; width:60%; text-align:center; ">
                    <b>ACTA DE RECEPCION Y/O ENTREGA DE VEHICULO USADO NUMERO @Model.numeroConsecutivo</b><br />
                </div>


                <div style="height:20px;"></div>

                <div style="width:100%; height:150px; margin-left: 20px;">
                    <br /><br /><br />
                    <table style="width:100%;">
                        <tr>
                            <td width="35%">
                                @if (Model.recepcion == true)
                                {
                                    <input type="radio" checked="checked" />
                                }
                                @if (Model.recepcion == false)
                                {
                                    <input type="radio" />
                                }
                                &nbsp;Recepcion &nbsp;&nbsp;
                                @if (Model.entrega == true)
                                {
                                    <input type="radio" checked="checked" />
                                }
                                @if (Model.entrega == false)
                                {
                                    <input type="radio" />
                                }
                                &nbsp;Entrega
                            </td>
                            <td width="25%">Cedula: &nbsp;@Model.cedula</td>
                            <td width="40%">Cliente: &nbsp;@Model.cliente</td>
                        </tr>
                        <tr>
                            <td width="35%">Vehiculo: &nbsp;@Model.vehiculo</td>
                            <td width="25%">Color: &nbsp;@Model.color</td>
                            <td width="40%">Modelo: &nbsp;@Model.modelo &nbsp;&nbsp; Fecha:  &nbsp;@Model.fecha.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td width="35%">Serie No: &nbsp;@Model.serie</td>
                            <td width="25%">Placa: &nbsp;@Model.placa</td>
                            <td width="40%">Peritaje: &nbsp;@Model.peritaje</td>
                        </tr>
                        <tr>
                            <td width="35%">Km: &nbsp;@Model.km</td>
                            <td width="25%">Codigo: F-VV-24 Version: 02 &nbsp;@Model.codigo</td>
                            <td width="40%"></td>

                        </tr>
                    </table>
                </div>


                <div style="border:solid 1px black; overflow:hidden;">
                    <div style="float:left; width:33%;">

                        <table>
                            @foreach (var item in Model.preguntas1)
                            {
                                <tr>
                                    @if (item.tiporespuesta.Trim() == "checkbox")
                                    {
                                        if (item.respuesta == "true")
                                        {
                                            <td style="width:20px;"><input type="checkbox" checked="checked" style="margin:5px;" /></td>
                                            <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="width:20px;"><input type="checkbox" style="margin:5px;" /></td>
                                            <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td colspan="2" style="width:120px;"><input type="text" value="@item.respuesta" style="width:120px; margin:5px;" /></td>
                                        <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                    }
                                </tr>
                            }
                        </table>

                    </div>

                    <div style="float:left; width:33%;">

                        <table>
                            @foreach (var item in Model.preguntas2)
                            {
                                <tr>
                                    @if (item.tiporespuesta.Trim() == "checkbox")
                                    {
                                        if (item.respuesta == "true")
                                        {
                                            <td style="width:20px;"><input type="checkbox" checked="checked" style="margin:5px;" /></td>
                                            <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="width:20px;"><input type="checkbox" style="margin:5px;" /></td>
                                            <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td colspan="2" style="width:120px;"><input type="text" value="@item.respuesta" style="width:120px; margin:5px;" /></td>
                                        <td colspan="2"><p>&nbsp;&nbsp;@item.descripcion</p></td>
                                    }
                                </tr>
                            }
                        </table>

                    </div>

                    <div style="float:left; width:33%;">

                        <div style="text-align:center">
                            <img src="@Server.MapPath("~/Images/VehiculoPdf.jpg")" style="width:100%; height:420px; padding-top:20px;" />
                            <textarea placeholder="Ingrese una observacion!" style="height:100px; width:90%; margin:10px;">@Model.observaciones</textarea>
                        </div>

                    </div>
                </div>

                <div style="margin-top:15px;">

                    <div style="float:left; width:40%; margin-left: 20px;">
                        <h5>Recibí a entera satisfacción</h5>
                        <p>_______________________________________</p>
                        <p>Firma y Nombre</p>
                    </div>
                    <div style="float:left; width:50%;">
                        <h5>El vehículo lo Entrega</h5>
                        <p>_______________________________________</p>
                        <p>Firma y Nombre</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}