@model Homer_MVC.Models.ModeloComprobante

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comprobante</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            /*font-size: 15px;*/
             font-family:Arial, Helvetica, sans-serif;
        }
         .table_principal {
            border-collapse: collapse;
            border: 1px solid #ccc;
            border-radius: 10px;
            -moz-border-radius: 6px;
            padding-left: 5px;
        }

        .indented {
            padding-left: 10pt;
            padding-right: 10pt;
        }

        .indented2 {
            padding-left: 10pt;
            padding-right: 1pt;
        }

        .indented3 {
            padding-left: 1pt;
            padding-right: 10pt;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <tr style="width:100%">
            <td style="width:35%; text-align:center;border:hidden">
                <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" />
                <h3>
                    @Model.descripcionEmpresa <br />
                    @Model.direccionEmpresa   <br />
                    NIT:@Model.rifEmpresa
                </h3>
            </td>
            <td style="text-align:center; width:30%; border:hidden">
                @*<h3>
                    @Model.descripcionEmpresa <br />
                    @Model.direccionEmpresa   <br />
                    NIT:@Model.rifEmpresa
                </h3>*@
            </td>
            <td style="text-align:right; width:35%; border:hidden">
                <p><h3>No. Comprobante: @Model.numeroComprobante</h3></p>
                <p><h3>Valor : $ @Model.totalComprobante</h3></p>
                <p><h3>Fecha : @Model.fechaComprobante</h3></p>
            </td>
            @*<td style="text-align:left; width:30%;border:hidden">
               
            </td>*@
        </tr>
    </table>

    <div style="width:100%">
        <h2 style="text-align:center">Comprobante de Egreso</h2>
    </div>

    <table class="table_principal" style="width:100%">
        @*<table style="border:none; margin-left:20px">*@
        <tr style="text-align:left">
            
            <th style="width:20%;padding-left:20px">
                <p><h3>PROVEEDOR </h3> </p>
                <p><h3>CEDULA / NIT  </h3></p>
                <p><h3>ID NIT  </h3></p>
            </th>
            <td style="width:30%; border:none">
                <p><h3>@Model.nomProveedor</h3></p>
                <p><h3>@Model.docProveedor</h3></p>
                <p><h3>@Model.nitProveedor</h3></p>
            </td>
            <th style="width:25%; border:none ">
                <p><h3>Monto Comprobante:</h3></p>
                <p><h3> </h3></p>
                <p><h3> </h3></p>
            </th>

            <td style="width:25%; border:none ">
                <p><h3>$ @Model.totalComprobante</h3></p>
                <p><h3> </h3></p>
                <p><h3></h3></p>

            </td>
        </tr>

    </table>

 
    <div style="width:100%; float:right">
        <h2>Facturas :</h2>
    </div>
    <br />

    <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
        <tr style="background:#e5e5e5">
            <th style="border: 1px solid #ccc;text-align:center;width:10%">CUENTA</th>
            <th style="border: 1px solid #ccc;text-align:center;width:20%">DETALLE</th>
            <th style="border: 1px solid #ccc;text-align:center;width:10%">DOC</th>
            <th style="border: 1px solid #ccc;text-align:center;width:20%">NOMBRE</th>
            <th style="border: 1px solid #ccc;text-align:center;width:15%">DEBITO</th>
            <th style="border: 1px solid #ccc;text-align:center;width:15%">CREDITO</th>
        </tr>
        @for (var i = 0; i < @Model.detalleComprobante.Count(); i++)
            {
            <tr style="width:auto; height:30px; background-color:none; color:black; border-top-color:black">
                <td style="border:none;text-align:right;width:10%">@Model.detalleComprobante[i].cuenta</td>
                <td style="border:none;text-align:left;width:20%">@Model.detalleComprobante[i].detalle</td>
                <td style="border:none;text-align:right;width:10%">@Model.detalleComprobante[i].docProveedor</td>
                <td style="border:none;text-align:left;width:20%">@Model.detalleComprobante[i].nombreProveedor</td>
                <td style="border:none;text-align:right;width:15%">$ @Model.detalleComprobante[i].debito</td>
                <td style="border:none;text-align:right;width:15%">$ @Model.detalleComprobante[i].credito</td>
            </tr>
        }
    </table>
    <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
        <tr >
            <th style="border: 1px solid #ccc;text-align:right;background:#e5e5e5;width:70%">TOTAL MOVIMIENTO</th>
            <th style="border: 1px solid #ccc;text-align:center;width:15%">@Model.detalleComprobante[0].tdeb</th>
            <th style="border: 1px solid #ccc;text-align:center;width:15%">@Model.detalleComprobante[0].tcre</th>
        </tr>

    </table>
    <br />
    <br />
    <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
        <tr>
            <th style="border: 1px solid #ccc;text-align:center;height:150px;width:25%;vertical-align:bottom">
                <p><h4>Elaboro</h4></p> 
            </th>
            <th style="border: 1px solid #ccc;text-align:center;height:150px;width:25%;vertical-align:bottom">
                <p><h4>Autorizo</h4></p> 
            </th>
            <th style="border: 1px solid #ccc;text-align:center;height:150px;width:25%;vertical-align:bottom">
                <p><h4>Reviso</h4></p> 
            </th>
            <th style="border: 1px solid #ccc;text-align:center;height:150px;width:25%;vertical-align:bottom">
                <p><h4>Recibido a satisfacción</h4></p> 
            </th>
        </tr>

    </table>

</body>
</html>