@model Homer_MVC.ViewModels.contabpdf.ViewModelReportepdf

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@*<head>
        <meta name="viewport" content="width=device-width" />
        <title>Entrada repuesto</title>
        <style type="text/css">
            .contenedor {
                width: 100%;
                height: 100%;
            }

            table, tr, td {
                border-collapse: collapse;
                border: 1px solid #ccc;
                padding-left: 5px;
            }

            body {
                font-size: 15px;
            }
        </style>
    </head>*@
<body>
    <table style="width:100%">
        <tr>

            <td colspan="5">COMERCIALIZADORA MATEUS S.A.S</td>
            @*<td>@Model.titulo</td>
                <td>N° @Model.correo</td>*@

        </tr>
        <tr>

            @*<td colspan="6" align="center">@Model.fechaInicio</td>
                <td>@Model.fechaReporte</td>*@

        </tr>
        <tr>

            @*<td align="center">Año</td>
                <td align="center">mes</td>
                <td align="center">cuenta</td>
                <td align="center">centro</td>
                <td align="center">nit</td>*@

            @*<td align="center">Costo total</td>
                <td align="center">Notas</td>*@

        </tr>

        @*  @for (var u = 0; u < @Model.movimientoscontables.Count(); u++)
            {
                <tr>

                    <td align="center">@Model.movimientoscontables[u].anio</td>
                    <td align="right">@Model.movimientoscontables[u].mes</td>
                    <td align="left">@Model.movimientoscontables[u].cuenta</td>
                    <td align="right">@Model.movimientoscontables[u].centro</td>
                    <td align="right">@Model.movimientoscontables[u].nit</td>
                    <td align="right">@Model.movimientoscontables[u].saldoini</td>
                    <td align="right">@Model.movimientoscontables[u].debito</td>
                     <td align="right">@Model.movimientoscontables[u].credito</td>
                     <td align="right">@Model.movimientoscontables[u].saldoininiff</td>
                     <td align="right">@Model.movimientoscontables[u].debitoniff</td>
                     <td align="right">@Model.movimientoscontables[u].creditoniff</td>


                </tr>
            }*@
        @* <tr>
            <td colspan="5" align="right">Total</td>
            <td align="right">@Model.fechaReporte</td>
                </tr>*@
    </table>
</body>
</html>
