@{
    ViewBag.Title = "Asesor Repuestos";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}


<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div>
                    <div class="row">
                        <div class="col-lg-3" id="cotizacion" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Cotización repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-list-ol big-icon text-info"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="@Url.Action("Create","inventario_repuesto")" class="btn btn-info text-center">Cotización repuestos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="facturacion" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Facturación repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-list-alt big-icon text-warning"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="@Url.Action("Facturar","FacturacionRepuestos")" class="btn btn-warning text-center">Facturación repuestos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="inventario" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Inventario de repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-shopping-cart big-icon text-success"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Index","itemInventario")" class="btn btn-success text-center">Inventario repuestos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="listaPrecios" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Lista de precios</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-money big-icon text-primary-2"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Index","rprecios")" class="btn btn-primary2 text-center">Lista de precios</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="solicitudRepuestos" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Solicitud repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-wrench big-icon text-primary"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Create","solicitudRepuestos")" class="btn btn-primary text-center">Solicitud repuestos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">

        $(document).ready(function () {
            buscarAccesos();
        });

        function buscarAccesos() {
            $.ajax({
                url: '/Inicio/buscarAccesos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].codigo == "OA59") {
                            $('#cotizacion').show();
                        }
                        if (data[i].codigo == "OA60") {
                            $('#facturacion').show();
                        }
                        if (data[i].codigo == "OA61") {
                            $('#inventario').show();
                        }
                        if (data[i].codigo == "OA30") {
                            $('#listaPrecios').show();
                        }
                        if (data[i].codigo == "OA62") {
                            $('#solicitudRepuestos').show();
                        }
                        console.log("Opcion Acceso: " + data[i].codigo);
                    }
                }
            });
        }

    </script>
}
