
@{
    ViewBag.Title = "Almacenista";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}


<div class="panel-body">
    <div class="panel-heading" style="background-color: white; border: solid 1px; border-color: #e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>
<div></div>
<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div>
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="trasladoRepuestos" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Traslados entre bodegas</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-arrow-left big-icon text-success"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("create", "trasladoRepuestos")" class="btn btn-success text-center">Traslados entre bodegas</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Recepcion" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Recepcion Bodega</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-building big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("destinoTraslado", "trasladoRepuestos")" class="btn btn-info text-center">Recepcion Bodega</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Facturacion" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Facturacion de Repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-copy big-icon text-success">
                                    </i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Facturar", "FacturacionRepuestos")" class="btn btn-success text-center">Facturacion de Repuestos</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*<div class="col-lg-3" id="Catalogo" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Catalogo de repuestos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-folder big-icon text-success">
                                    </i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserMensajeria", "agendaMensajero")" class="btn btn-success text-center">Catalogo de repuestos</a>
                                    </div>
                                </div>

                            </div>
                        </div>*@

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Solicitud" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Solicitud de Compras</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-sticky-note big-icon text-info">
                                    </i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Create", "solicitudRepuestos")" class="btn btn-info text-center">Solicitud de Compras</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Kardex" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Kardex</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-book big-icon text-success"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("KardexRepuestos", "kardex")" class="btn btn-success text-center">Kardex</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Cotizaciones" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Cotizaciones y Pedidos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-paste big-icon text-info">
                                    </i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Create", "inventario_repuesto")" class="btn btn-info text-center">Cotizaciones y Pedidos</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="Mensajeria" style="display: none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center" style="height: 70px">
                                    <h4 class="font-bold">Browser Mensajeria</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-envelope big-icon text-success">
                                    </i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserMensajeria", "agendaMensajero")" class="btn btn-success text-center">Mensajeria</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">

        $(document).ready(function () {
            buscarAccesos();
        });

        function buscarAccesos() {
            $.ajax({
                url: '/Inicio/buscarAccesos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].codigo == "OA71") {
                            $('#trasladoRepuestos').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Recepcion').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Facturacion').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Catalogo').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Solicitud').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Kardex').show();
                        }
                        if (data[i].codigo == "OA71") {
                        $('#Cotizaciones').show();
                        }
                        if (data[i].codigo == "OA71") {
                            $('#Mensajeria').show();
                        }
                    }
                }
            });
        }
    </script>
}