@{
    ViewBag.Title = "Información Asesor";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}


<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div>
                    <div class="row">

                        <div class="col-lg-3" id="estadoAsesor" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Estado Actual</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-user big-icon" id="iconoEstadoAsesor"></i>
                                    <h4 class="font-bold" id="labelEstadoAsesor">
                                        Disponible
                                    </h4>
                                    <div class="row">
                                        <button type="button" class="btn text-center" id="btnEstadoAsesor" data-toggle="modal" data-target="#cambiarEstado">
                                            Cambiar Estado
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="verAsesor" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Asesores</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-id big-icon text-success"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <input type="button" class="btn btn-success text-center" id="btnListarAsesores" value="Ver Asesores" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="listaPrecios" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Precios</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-graph3 big-icon text-info"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="../browserAsesor" class="btn btn-info text-center">Lista de Precios</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="agenda" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Agenda</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-portfolio big-icon text-warning"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="../agenda_asesor/Index" class="btn btn-warning text-center">Ingresar Agenda</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="cotizacion" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Cotizaciones</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-note2 big-icon text-danger"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="@Url.Action("Create","cotizacion")" class="btn btn-danger text-center">Nueva Cotizacion</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="demos" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Demos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-bookmarks big-icon text-success"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="../agenda_demos/Index" class="btn btn-success text-center">Agenda Demos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="vehiculos" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Vehículos Disponibles</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-check-circle big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserAsesor","Vehiculo")" class="btn btn-info text-center">Ver Vehículos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="vehiculosUsados" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h5 class="font-bold">Vehículos Usados Disponibles</h5>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-car big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserAsesorUsados","Vehiculo")" class="btn btn-info text-center">Ver Vehículos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="vehiculosNuevos" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h5 class="font-bold">Vehículos Nuevos Disponibles</h5>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-car big-icon text-success"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserAsesor","Vehiculo")" class="btn btn-success text-center">Ver Vehículos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="indicadores" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Indicadores</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-grav big-icon text-warning"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="@Url.Action("Indicadores","IndicadoresGraficos")" class="btn btn-warning text-center">Ver indicadores</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="pqr" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">PQR</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-users big-icon text-info"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <input type="button" class="btn btn-info text-center" value="Registrar PQR" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="SolicitarPeritaje" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Agenda Peritaje</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe pe-7s-note big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("Solicitud","peritaje")" class="btn btn-info text-center">Solicitar Peritaje</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="pedido" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Pedidos Vehículo</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-file-text-o big-icon text-danger"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="../vpedidos" class="btn btn-danger text-center">Ingresar Pedidos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="verPedido" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Pedido En Firme</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-list-alt big-icon text-success"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserAsesor","gestionVhNuevo")" class="btn btn-success text-center">Ver Pedidos</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="seguimiento" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Seguimiento Prospectos</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="pe-7s-copy-file big-icon text-danger"></i>
                                    <h4 class="font-bold">&nbsp;</h4>
                                    <div class="row">
                                        <a href="@Url.Action("Seguimiento","prospectos")" class="btn btn-danger text-center">Ver Seguimiento</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="Peritaje" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Peritaje</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-car big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("peritajeUsados","InspeccionPeritaje")" class="btn btn-info text-center">Peritaje</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="prospectosCC"  style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Tareas Pendientes</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="stats-icon pull-right">
                                        <h1 class="m-t-xl m-b-xs text-info" id="solicitados">@ViewBag.cantidad</h1>
                                        <br />
                                    </div>
                                        <i class="fa fa-user-plus big-icon text-info"></i>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row">
                                        <a href="@Url.Action("BrowserProspectosPendientes","prospectos")" class="btn btn-info text-center">Tareas Pendientes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="BrowserVHConAlistamiento" style="display:none">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Browser Vehículos Con Alistamiento</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-car big-icon text-info"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserVHConAlistamiento","vpedidos")" class="btn btn-info text-center">Browser alistamiento</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3" id="BrowserVHNoDisponibles">
                            <div class="hpanel plan-box">
                                <div class="panel-heading hbuilt text-center">
                                    <h4 class="font-bold">Browser Modelos No Disponibles</h4>
                                </div>
                                <div class="panel-body text-center">
                                    <i class="fa fa-car big-icon text-danger"></i>
                                    <h4 class="font-bold">
                                        &nbsp;
                                    </h4>
                                    <div class="row">
                                        <a href="@Url.Action("BrowserModelosNoDisponibles","vpedidos")" class="btn btn-danger text-center">Browser Modelos No Disponibles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="cambiarEstado" class="modal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3><strong><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Cambiar Estado</strong></h3>
                                </div>
                                <div class="modal-body">

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Estado:&nbsp;<span class="text-danger"></span></label>
                                            <div class="col-md-6">
                                                <select id="estado_id" name="estado_id" class="form-control"></select>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-info" data-dismiss="" id="btnCambiarEstado">Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">

        $(document).ready(function () {
            buscarEstados();
            buscarAccesos();
            //buscarEstadoActual();
        });


        $('#btnListarAsesores').click(function () {
            window.location.href = '@Url.Action("Listar","asesor")';
        });

        $('#btnCambiarEstado').click(function () {
            debugger
            $.ajax({
                url: '/Inicio/CambiarEstadosAsesor',
                data: {
                    id: $('#estado_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    CambiarColoresEstados(data);
                    $('#cambiarEstado').modal('hide');
                }
            });
        });

        function buscarAccesos() {
            debugger
            $.ajax({
                url: '/Inicio/buscarAccesos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0 ; i < data.length ; i++) {
                        if (data[i].codigo == "OA19") {
                            $('#estadoAsesor').show();
                        }
                        if (data[i].codigo == "OA58") {
                            $('#verAsesor').show();
                        }
                        if (data[i].codigo == "OA30" || data[i].codigo == "OA29") {
                            $('#listaPrecios').show();
                        }
                        if (data[i].codigo == "OA01") {
                            $('#agenda').show();
                        }
                        if (data[i].codigo == "OA13") {
                            $('#cotizacion').show();
                        }
                        if (data[i].codigo == "OA02") {
                            $('#demos').show();
                        }
                        if (data[i].codigo == "OA46") {
                            $('#vehiculos').show();
                        }
                        if (data[i].codigo == "OA25") {
                            $('#indicadores').show();
                        }
                        if (data[i].codigo == "OA38") {
                            $('#pqr').show();
                        }
                        if (data[i].codigo == "OA42") {
                            $('#SolicitarPeritaje').show();
                        }
                        if (data[i].codigo == "OA33") {
                            $('#pedido').show();
                        }
                        if (data[i].codigo == "OA34") {
                            $('#verPedido').show();
                        }
                        if (data[i].codigo == "OA40") {
                            $('#seguimiento').show();
                        }
                        if (data[i].codigo == "OA56") {
                            $('#vehiculosUsados').show();
                        }
                        if (data[i].codigo == "OA36") {
                            $('#Peritaje').show();
                        }
                        if (data[i].codigo == "OA52") {
                            $('#vehiculosNuevos').show();
                        }
                        if (data[i].codigo == "OA37") {
                            $('#prospectosCC').show();
                        }
                        if (data[i].codigo == "OA47") {
                            $('#BrowserVHConAlistamiento').show();
                        }
                    }
                }
            });
        }

        function CambiarColoresEstados(data) {
            debugger
            if (data == 1) {
                $('#labelEstadoAsesor').text('Disponible');
                $('#labelEstadoAsesor').css('color', '#62cb31');
                $('#iconoEstadoAsesor').css('color', '#62cb31');
                $('#btnEstadoAsesor').css('background-color', '#62cb31');
                $('#btnEstadoAsesor').css('color', 'white');
            }
            if (data == 2) {
                $('#labelEstadoAsesor').text('Ocupado');
                $('#labelEstadoAsesor').css('color', '#e74c3c');
                $('#iconoEstadoAsesor').css('color', '#e74c3c');
                $('#btnEstadoAsesor').css('background-color', '#e74c3c');
                $('#btnEstadoAsesor').css('color', 'white');
            }
            if (data == 3) {
                $('#labelEstadoAsesor').text('Ausente');
                $('#labelEstadoAsesor').css('color', '#ffb606');
                $('#iconoEstadoAsesor').css('color', '#ffb606');
                $('#btnEstadoAsesor').css('background-color', '#ffb606');
                $('#btnEstadoAsesor').css('color', 'white');
            }
            if (data == 4) {
                $('#labelEstadoAsesor').text('Desconectado');
                $('#labelEstadoAsesor').css('color', 'gray');
                $('#iconoEstadoAsesor').css('color', 'gray');
                $('#btnEstadoAsesor').css('background-color', 'gray');
                $('#btnEstadoAsesor').css('color', 'white');
            }
            if (data == 5) {
                $('#labelEstadoAsesor').text('Esperando respuesta');
                $('#labelEstadoAsesor').css('color', '#FFBB33');
                $('#iconoEstadoAsesor').css('color', '#FFBB33');
                $('#btnEstadoAsesor').css('background-color', '#FFBB33');
                $('#btnEstadoAsesor').css('color', 'white');
            }
        }

        function buscarEstados() {
            debugger
            $.ajax({
                url: '/Inicio/BuscarEstadosAsesor',
                data: {},
                type: "post",
                cache: false,
                success: function (data) {
                    $('#estado_id').empty();
                    for (var i = 0 ; i < data.buscarEstados.length ; i++) {
                        $('#estado_id').append($('<option>', {
                            value: data.buscarEstados[i].id,
                            text: data.buscarEstados[i].descripcion
                        }));
                    }
                    CambiarColoresEstados(data.estadoActual);
                },
                complete: function (data) {
                    $('#estado_id').select2();
                }
            });
        }

    </script>
}