@{
    ViewBag.Title = "Repuestos";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}


<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            @*<small>Registro @ViewBag.Title</small>*@
        </div>
    </div>
</div>

@*<div class="container">*@

<div class="row">


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="gestiopntraslados" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Informacion de traslados</h4>
            </div>
            <div class="panel-body text-center">

                <div class="list-item-container col-md-12" id="div_financieras">

                    <div class="list-item">


                        <h4 class="no-margins font-extra-bold text-color1">
                            <a onclick="abrirmodaltraslados('Recibidos')"> @ViewBag.CantRecibidos</a>
                        </h4>
                        <p class="text-success">Traslados Recibidos</p>
                    </div>

                    <div class="list-item">


                        <h4 class="no-margins font-extra-bold text-color2">
                            <a onclick="abrirmodaltraslados('Pendientes')"> @ViewBag.CantPendiente</a>
                        </h4>
                        <p class="text-success">Traslados Pendientes</p>
                    </div>

                    <div class="list-item">


                        <h4 class="no-margins font-extra-bold text-color3">
                            <a onclick="abrirmodaltraslados('Incompletos')"> @ViewBag.CantIncompleto</a>
                        </h4>
                        <p class="text-success">Traslados Incompletos</p>
                    </div>
                    <br /> 
                </div>



            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="infotraslados" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Traslados pendientes por gestionar</h4>
            </div>
            <div class="panel-body text-center">


                <span class="fa-stack fa-3x">
                    <i class="fa fa-file-pdf-o fa-stack-2x big-icon text-danger"> </i>

                </span>
                <span class="fa-stack fa-3x text-danger" style="margin-left: 12%;">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-danger"><strong style="font-size:30px;">@ViewBag.CantSolicitada</strong></strong>
                </span>

                <h4 class="font-bold">
                    &nbsp;
                </h4>

                <br />
                <div class="row">
                    <a href="@Url.Action("VerSolicitudesTraslado", "trasladoRepuestos")" class="btn btn-danger text-center">Traslados</a>
                </div>



            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="infocompras" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Solicitudes pendientes por comprar</h4>
            </div>
            <div class="panel-body text-center">




                <span class="fa-stack fa-3x">
                    <i class="fa fa-address-book-o fa-stack-2x big-icon text-primary-2"> </i>

                </span>
                <span class="fa-stack fa-3x text-primary-2" style="margin-left: 12%;">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-primary2"><strong style="font-size:30px;">@ViewBag.CantSolicompra</strong></strong>
                </span>

                <h4 class="font-bold">
                    &nbsp;
                </h4>

                <br />
                <div class="row">
                    <a href="@Url.Action("solicitudes", "compraRepuestos")" class="btn btn-primary2 text-center">Solicitudes Compra</a>
                </div>



            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="crearreferencia" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Crear Referencias</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-address-book-o big-icon text-info"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("Crear","registroReferencias")" class="btn btn-info text-center">Crear Referencias</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="kardexrepuestos" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Kardex repuestos</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-th-list big-icon text-default"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("KardexRepuestos","kardex")" class="btn btn-default text-center">Kardex repuestos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="iteminventario" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Item inventario</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-cubes big-icon text-danger"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("Index","itemInventario")" class="btn btn-danger text-center">Item Inventario</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="cotizacion" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Cotización repuestos</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-list-ol big-icon text-info"></i>
                <h4 class="font-bold">&nbsp;</h4>
                <div class="row">
                    <a href="@Url.Action("Create","inventario_repuesto")" class="btn btn-info text-center">Cotización repuestos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="soldespachoalmacen" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Solicitudes Despacho de Almacen </h4>
            </div>
            <div class="panel-body text-center">


                <i class="fa fa-car big-icon text-danger"> </i>



                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <br />
                <div class="row">
                    <a href="@Url.Action("browserSolicitudesOT", "Almacen")" class="btn btn-danger2 text-center">Solicitudes despacho</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="ordendespachoalmacen" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Ordenes Despacho de Almacen </h4>
            </div>
            <div class="panel-body text-center">


                <i class="fa fa-taxi big-icon text-primary-2"> </i>



                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <br />
                <div class="row">
                    <a href="@Url.Action("browserSolicitudesDespachoOT", "Almacen")" class="btn btn-primary2 text-center">Ordenes de despacho</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="indicadores" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Indicadores Generales</h4>
            </div>
            <div class="panel-body text-center">


                <i class="fa fa-signal big-icon text-danger"> </i>



                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <br />
                <div class="row">
                    <a href="@Url.Action("indicadoresGenerales", "IndicadoresGraficos")" class="btn btn-danger text-center">Indicadores Generales</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="venta" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Ventas de clientes</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-shopping-cart big-icon text-success"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("FacturarRepuestos","FacturacionRepuestos")" class="btn btn-success text-center">Ventas clientes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="pedido" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Pedido Sugerido</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-money big-icon text-primary-2"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("Create","pedidoSugerido")" class="btn btn-primary2 text-center">Pedido Sugerido</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="lealtad" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height:70px">
                <h4 class="font-bold">Lealtad</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-shield big-icon text-success"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("GraficoLealtad","IndicadoresGraficos")" class="btn btn-success text-center">Lealtad</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="AdministracionMensajeria" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Gestion de Mensajeria</h4>
            </div>
            <div class="panel-body text-center">

                <span class="fa-stack fa-3x">
                    <i class="fa fa-envelope fa-stack-2x big-icon text-success"> </i>

                </span>
                <span class="fa-stack fa-3x text-success" style="margin-left: 14%;">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-success"><strong style="font-size:30px;">@ViewBag.Mensajeria</strong></strong>
                </span>

                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <br />
                <div class="row">
                    <a href="@Url.Action("BrowserMensajeria", "agendaMensajero")" class="btn btn-success text-center">Mensajeria</a>
                </div>
            </div>

        </div>
        <br /><br />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="compra" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center">
                <h4 class="font-bold">Compra repuestos</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-list-alt big-icon text-warning"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("Index","compraRepuestos")" class="btn btn-warning text-center">Compra repuestos&nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="trasladoRepuestos" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Traslados entre bodegas</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-arrow-left big-icon text-success"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("create", "trasladoRepuestos")" class="btn btn-success text-center">Traslados entre bodegas</a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="recepcion" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height: 70px">
                <h4 class="font-bold">Recepcion Bodega</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-building big-icon text-info"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("destinoTraslado", "trasladoRepuestos")" class="btn btn-info text-center">Recepcion Bodega</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="clasificacionABC" style="">
        <div class="hpanel plan-box">
            <div class="panel-heading hbuilt text-center" style="height:70px">
                <h4 class="font-bold">Clasificación ABC $</h4>
            </div>
            <div class="panel-body text-center">
                <i class="fa fa-area-chart big-icon text-primary-2"></i>
                <h4 class="font-bold">
                    &nbsp;
                </h4>
                <div class="row">
                    <a href="@Url.Action("graficoClasificacionABC","IndicadoresGraficos")" class="btn btn-primary2 text-center">Clasificación ABC</a>
                </div>
            </div>
        </div>
    </div>


</div>

@*</div>*@

<div class="modal fade hmodal-info" id="modal_traslados" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Traslados</h4>
                <small class="font-bold">Detalle de traslados</small> <div id="encabezado"></div><br />
            </div>

            <br />
            <table class="table table-striped table-bordered table-hover" id="tablatraslados">
                @* id="tabla_solicitados"> *@
                <thead>
                    <tr>
                        <th style="text-align:left">Numero traslado</th>
                        <th style="text-align:center">Bodega origen</th>
                        <th style="text-align:center">Bodega destino</th>
                        <th style="text-align:left">Cliente</th>
                        <th style="text-align:center">Fecha</th>
                        <th style="text-align:right">Refencias</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>




            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>*@
            </div>
        </div>
    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/Vendor/chartjs/Chart.min.js"></script>
    <script src="~/vendor/d3/d3.min.js"></script>
    <script src="~/vendor/c3/c3.min.js"></script>

    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            buscarAccesos();

            $('#gestiopntraslados').hide();

            $('#infotraslados').hide();

            $('#infocompras').hide();

            $('#crearreferencia').hide();

            $('#kardexrepuestos').hide();

            $('#iteminventario').hide();

            $('#pedido').hide();

            $('#cotizacion').hide();

            $('#venta').hide();

            $('#compra').hide();

            $('#AdministracionMensajeria').hide();

            $('#soldespachoalmacen').hide();

            $('#trasladoRepuestos').hide();

            $('#recepcion').hide();

            $('#lealtad').hide();

            $('#clasificacionABC').hide();

            $('#ordendespachoalmacen').hide();

            $('#indicadores').hide();


        });

        function buscarAccesos() {
            $.ajax({
                url: '/Inicio/buscarAccesos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].codigo == "OA72") {
                            $('#gestiopntraslados').show();
                        }
                        if (data[i].codigo == "OA78") {
                            $('#infotraslados').show();
                        }

                        if (data[i].codigo == "OA79") {
                            $('#infocompras').show();
                        }

                        if (data[i].codigo == "OA73") {
                            $('#crearreferencia').show();
                        }

                        if (data[i].codigo == "OA74") {
                            $('#kardexrepuestos').show();
                        }

                        if (data[i].codigo == "OA75") {
                            $('#iteminventario').show();
                        }

                        if (data[i].codigo == "OA33") {
                            $('#pedido').show();
                        }

                        if (data[i].codigo == "OA59") {
                            $('#cotizacion').show();
                        }

                        if (data[i].codigo == "OA69") {
                            $('#venta').show();
                        }

                        if (data[i].codigo == "OA68") {
                            $('#compra').show();
                        }

                        if (data[i].codigo == "OA77") {//
                            $('#AdministracionMensajeria').show();
                        }

                        if (data[i].codigo == "OA80") {
                            $('#soldespachoalmacen').show();
                        }

                        if (data[i].codigo == "OA82") {
                            $('#trasladoRepuestos').show();
                        }

                        if (data[i].codigo == "OA83") {
                            $('#recepcion').show();
                        }

                        if (data[i].codigo == "OA28") {
                            $('#lealtad').show();
                        }
                        if (data[i].codigo == "OA11") {
                            $('#clasificacionABC').show();
                        }

                        if (data[i].codigo == "OA81") {
                            $('#ordendespachoalmacen').show();
                        }

                        if (data[i].codigo == "OA70") {
                            $('#indicadores').show();
                        }

                    }
                }
            });
        }

        function abrirmodaltraslados(tipotraslado) {
            $('#modal_traslados').modal('show');
            $('#encabezado').text(tipotraslado);

            $("#tablatraslados").dataTable().fnDestroy();
            if (tipotraslado == "Solicitud") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarSolicitudes',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].Id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            } else if (tipotraslado == "Agendados") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarAgendados',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            } else if (tipotraslado == "Recepcionados") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarRecepcionados',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            } else if (tipotraslado == "Recibidos") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarRecibidos',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            }else if (tipotraslado == "Pendientes") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarPendientePorRecibir',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            }else if (tipotraslado == "Incompletos") {

                $.ajax({
                    url: '/trasladoRepuestos/buscarIncompletos',
                    data: {},
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablatraslados').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablatraslados').find('tbody').append('<tr style="text-align:center"><td>'
                                + data[i].id + '</td><td>'
                                + data[i].bodccs_nombre + '</td><td>'
                                + data[i].destino + '</td><td>'
                                + data[i].nombre + '</td><td>'
                                + data[i].fecha + '</td><td>'
                                + data[i].referencia + '</td></tr>');
                        }




                    }, complete: function (data) {
                        $('#tablatraslados').dataTable({
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ]
                        });

                    }



                });

            }







        }




    </script>

}
