
@{
    ViewBag.Title = "BackOffice";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}


<div class="panel-body">
    <div class="panel-heading" style="background-color: white; border: solid 1px; border-color: #e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="row">

                    <div class="col-lg-3" id="BrowserBackOffice" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Pendientes por Facturar</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-check-circle big-icon text-info"></i>
                                <h4 class="font-bold">&nbsp;</h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserBackOffice", "vpedidos")" class="btn btn-info text-center">Browser Back Office</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="BrowserCreditos" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Creditos</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-credit-card big-icon text-warning"></i>
                                <h4 class="font-bold">&nbsp;</h4>
                                <div class="row">
                                    <a href="@Url.Action("creditosBackOffice", "v_creditos")" class="btn btn-warning text-center">Browser Creditos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="BrowserFacturadosPendientes" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Browser Facturados Pendientes de Entregar</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-clipboard big-icon text-info"></i>
                                <h4 class="font-bold">&nbsp;</h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserBackOfficePendientes", "vpedidos")" class="btn btn-info text-center">Browser Facturados</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="BrowserUsados" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Browser Usados Sin Facturar</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-hand-spock-o big-icon text-info"></i>
                                <h4 class="font-bold">&nbsp;</h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserUsados", "vpedidos")" class="btn btn-info text-center">Browser Usados</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="vehiculosNuevos" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos Nuevos Disponibles</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserAsesor", "Vehiculo")" class="btn btn-success text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" id="vehiculosUsados" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos Usados Disponibles</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-primary-2"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserAsesorUsados", "Vehiculo")" class="btn btn-primary2 text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="traslados" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Traslado Vehículos</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-exchange big-icon text-primary"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("create", "traslados")" class="btn btn-primary text-center">Traslados</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="creacionVehiculo" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Crear Vehículo</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-plus-circle big-icon text-info"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("Crear", "Vehiculo")" class="btn btn-info text-center">Crear Vehículo</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="vhPedido" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos en Pedido</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-info"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("buscarPedidos", "Vehiculo")" class="btn btn-info text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" id="vhAverias" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos con Averia</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-warning"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserVhConAverias", "Vehiculo")" class="btn btn-warning text-center">Ver Vehículos con Averia</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3" id="vhMatricula" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Pendientes por matrícula</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-warning"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("buscarSinMatricula", "Vehiculo")" class="btn btn-warning text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="vhEntrega" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Pendientes por entrega</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-danger"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("buscarSinEntragar", "Vehiculo")" class="btn btn-danger text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="vhTramite" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">pendientes por tramite</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-primary"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("", "")" class="btn btn-primary text-center">Ver Vehículos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="vhCargaMatriculas" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Cargue de Matrículas</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-info"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("", "")" class="btn btn-info text-center">Cargue</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="agendaTaller" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Agenda de taller</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-calendar big-icon text-primary"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("Create", "agendaTallerServicio")" class="btn btn-primary text-center">Agenda</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="cartera" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Ver Cartera</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-dollar big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("Index", "CarteraCliente")" class="btn btn-success text-center">Ver Cartera</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" id="FacturacionComisiones" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Facturación comisión Financieras</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-money big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("Index", "FacturacionComisiones")" class="btn btn-success text-center">Facturación comisión</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="FacturacionOtros" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Facturación Otros</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-money big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("Facturar", "FacturacionOtros")" class="btn btn-success text-center">Facturación otros</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="PendientesAlistamiento" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Estado del Negocio</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-caret-down big-icon text-warning"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserPendientesAlistamiento", "vpedidos")" class="btn btn-warning text-center">Pendientes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="Entregados" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos entregados</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-caret-up big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserVehiculosEntregados", "vpedidos")" class="btn btn-success text-center">Entregados</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3" id="PendientesMatricula" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Vehículos pendientes por matricular</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-clipboard big-icon text-warning"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserPendientesMatricula", "vpedidos")" class="btn btn-warning text-center">Pendientes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3" id="AdministracionVehiculos" style="display: none">
                        <div class="hpanel plan-box">
                            <div class="panel-heading hbuilt text-center" style="height: 70px">
                                <h4 class="font-bold">Browser historial vehículos</h4>
                            </div>
                            <div class="panel-body text-center">
                                <i class="fa fa-car big-icon text-success"></i>
                                <h4 class="font-bold">
                                    &nbsp;
                                </h4>
                                <div class="row">
                                    <a href="@Url.Action("BrowserAdministracionVehiculosNuevos", "Vehiculo")" class="btn btn-success text-center">Pendientes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">

        $(document).ready(function () {
            buscarAccesos();
        });

        function buscarAccesos() {
            $.ajax({
                url: '/Inicio/buscarAccesos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].codigo == "OA06") {
                            $('#BrowserBackOffice').show();
                        }
                        if (data[i].codigo == "OA07") {
                            $('#BrowserCreditos').show();
                        }
                        if (data[i].codigo == "OA52") {
                            $('#vehiculosNuevos').show();
                        }
                        if (data[i].codigo == "OA56") {
                            $('#vehiculosUsados').show();
                        }
                        if (data[i].codigo == "OA44") {
                            $('#traslados').show();
                        }
                        if (data[i].codigo == "OA15") {
                            $('#creacionVehiculo').show();
                        }
                        if (data[i].codigo == "OA26") {
                            $('#cartera').show();
                        }
                        if (data[i].codigo == "OA48") {
                            $('#vhPedido').show();
                        }
                        if (data[i].codigo == "OA54") {
                            $('#vhMatricula').show();
                        }
                        if (data[i].codigo == "OA55") {
                            $('#vhEntrega').show();
                        }
                        if (data[i].codigo == "OA53") {
                            $('#vhTramite').show();
                        }
                        // if (data[i].codigo == "OA49") {
                        //    $('#vhFactura').show();
                        //}
                        if (data[i].codigo == "OA10") {
                            $('#vhCargaMatriculas').show();
                        }
                        //if (data[i].idopcionAcceso == 56) {
                        //    $('#agendaTaller').show();
                        //}
                        if (data[i].codigo == "OA20") {
                            $('#FacturacionComisiones').show();
                        }
                        if (data[i].codigo == "OA08") {
                            $('#BrowserFacturadosPendientes').show();
                        }
                        if (data[i].codigo == "OA09") {
                            $('#BrowserUsados').show();
                        }
                        if (data[i].codigo == "OA21") {
                            $('#FacturacionOtros').show();
                        }
                        if (data[i].codigo == "OA35") {
                            $('#PendientesAlistamiento').show();
                        }
                        if (data[i].codigo == "OA50") {
                            $('#Entregados').show();
                        }
                        if (data[i].codigo == "OA63") {
                            $('#PendientesMatricula').show();
                        }
                        if (data[i].codigo == "OA64") {
                            $('#AdministracionVehiculos').show();
                        }

                        //if (data[i].codigo == "OA64") {
                        //    $('#AdministracionMensajeria').show();
                        //}

                        if (data[i].codigo == "OA65") {
                            $('#vhAverias').show();
                        }
                    }
                }
            });
        }
    </script>
}