<link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@Styles.Render("~/bundles/select2/css")
<style type="text/css">
    #tablaFavoritos td {
        cursor: pointer;
    }
</style>

<div class="color-line">
</div>
<div id="logo" class="light-version" style="padding:0">
    <img src="~/Images/icebergerp03.png" width="90" height="56"/>
    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
       @*<img src="~/Images/icberg.jpg" class="img-circle m-b" alt="logo" width="25px">*@
        @*<span class="label label-success">4</span>*@
    </a>

    @*<span style="font-size: 20px">*@
        @*ICEBERG - ERP*@
        @*EXIWARE*@
    @*</span>*@
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">EXIWARE APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Búsqueda avanzada" class="form-control" name="search">
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="@Url.Action("Login", "CommonViews")">Login</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("ProfilePage", "AppViews")">Perfil de usuario</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            @if (Session["user_rolid"] != null)
            {
                if (Session["user_rolid"].ToString() == "4")
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" id="icono_principal">
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX" id="notificacionesCumpleanos" style="width: 300px"></ul>
                    </li>
                }
            }
            

            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-star"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table id="tablaFavoritos">
                        <tbody>
                            @*<tr>
                                <td>
                                    <a href="@Url.Action("Index","rprecios")">
                                        <i class="pe pe-7s-search text-info"></i>
                                        <h5>Repuestos</h5>
                                    </a>
                                </td>
                                <td>
                                    
                                    <a href="@Url.Action("Index","ModuloDesarrollo")">
                                        <i class="pe pe-7s-server text-warning"></i>
                                        <h5>Contabilidad</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("PedidoEnFirme","gestionVhNuevo")">
                                        <i class="pe pe-7s-unlock text-success"></i>
                                        <h5>Vehiculos</h5>
                                    </a>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a @*data-toggle="modal" data-target="#modalFinancieraVh"*@ id="openModalIdicadores">
                                        <i class="pe pe-7s-key text-info"></i>
                                        <h5>Indicadores</h5>
                                    </a>
                                </td>
                                <td>
                                    @*<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>*@
                                    <a href=”mailto:asdasd@hotmail.com”>
                                        <i class="pe pe-7s-mail text-warning"></i>
                                        <h5>Email</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("tercero", "icb_terceros")">
                                        <i class="pe pe-7s-users text-success"></i>
                                        <h5>Terceros</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Forum", "AppViews")">
                                        <i class="pe pe-7s-comment text-info"></i>
                                        <h5>Forum</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Analytics")">
                                        <i class="pe pe-7s-graph1 text-danger"></i>
                                        <h5>Analytics</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Visualizar", "administracionCirculares")">
                                        <i class="pe pe-7s-box1 text-success"></i>
                                        <h5>Circulares</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

            <li>
                <a href="#" id="sidebar" class="right-sidebar-toggle">
                    <i class="pe-7s-upload pe-7s-news-paper"></i>
                </a>
            </li>
            
            @* imagen de perfil *@

            <li class="dropdown">

                <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    <img src="~/Images/login.png" class="img-circle m-b" alt="logo" width="32px" height="35px">
                    @*<i class="pe-7s-user text-primary" style="font-size: 33px"></i>*@
                    @*<span class="label label-success">4</span>*@
                </a>
                <ul class="dropdown-menu hdropdown animated flipInX">
                    <li>
                        <a href="#" onclick="abrirModalBodegas();">
                            Cambiar Bodega.
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CambiarContrasena", "users")">
                            Cambiar Contrase&ntilde;a.
                        </a>
                    </li>
                    <li>
                        @*El modal de historico de sesiones esta en el footer para que tomara la libreria de jquery que se renderiza en el layout despues de la vista footer.*@
                        <a @*data-toggle="modal" data-target="#modalHistoricos"*@ id="abrirModalHistoricos">
                            Historico de Sesiones.
                        </a>
                    </li>
                </ul>



                @*<a href="@Url.Action("ProfilePage", "AppViews")">
                    <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo" width="30px">

                    @*<span style="font-size:small" class="text-info">
                        @if (Session["user_usuario"] != null)
                        {
                            <text>
                                @Session["user_usuario"].ToString()
                            </text>
                        }
                    </span>
                </a>*@
            </li>

            <li class="dropdown">
                <span style="font-size:11px;" class="text-info">
                    @if (Session["user_bodegaNombre"] != null)
                    {
                        <text>
                            @Session["user_bodegaNombre"].ToString().ToUpper()
                        </text>
                    }
                </span> 
                <span style="font-size:11px;" class="text-info">
                    @if (Session["user_usuario"] != null)
                    {
                        <br /><text>
                         @Session["user_usuario"].ToString().ToUpper()<br />
                        </text>
                    }
                </span> 
                <span style="font-size:11px" class="text-info">
                    @if (Session["user_ultimoacceso"] != null)
                    {
                    <text>
                        Ultimo Ingreso: @Session["user_ultimoacceso"].ToString()
                    </text>
                    }
                </span>
            </li>

                @* fin imagen *@

            <li class="dropdown">
                <a href="@Url.Action("CerrarSesion", "Login")">
                    @*<i class="pe-7s-upload pe-rotate-90"></i>*@
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>





<div id="modalElegirBodega" class="modal fade hmodal-success" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bodega A Ingresar ?</h4>
                <small>Bodegas Asignadas A Este Usuario</small>
            </div>

            @using (Html.BeginForm("ValidarBodega", "Login", FormMethod.Post))
            {
                <div class="modal-body">

                    <input type="hidden" id="bodega_nombre" name="bodega_nombre" />

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Bodegas Asignadas:&nbsp;<span class="text-danger"></span></label>
                            <div class="col-md-12">
                                <select id="bodega_id" name="bodega_id" class="form-control" placeholder="Seleccione" required="required"></select>
                            </div>
                        </div>
                    </div>
                </div><br /><br />
                    <label></label>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="">Aceptar</button>
                    </div>
            }
        </div>
    </div>
</div>











<div id="modalFinancieraVh" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Indicadores Mensuales Vehiculos</h1>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3 text-right">Mes:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtMesFiltro"/>
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-info" value="Buscar" id="btnBuscarIndicadores"/>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <h4 class="text-center"><span class="label label-default" id="lblFechaIndicadores"></span></h4>
                    </div>

                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaIndicadores">
                                <thead>
                                    <tr>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                  

                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>
                </div>*@
            </div>
        </div>
    </div>



<div id="modalHistoricos" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="mensajeTitulo"><strong>Historico</strong></h3><p id="mensajeCuerpo"></p>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaHistorico">
                        <thead>
                            <tr>
                                <th style="text-align:center">Fecha</th>
                                <th style="text-align:center">Evento</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="row col-md-8 col-md-offset-2">
                    <div id="page-selectionSesiones"></div>
                </div>
                <br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>



<script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
@Scripts.Render("~/bundles/select2/js")
<script type="text/javascript">

    $(document).ready(function () {

        if ($.fn.datepicker) {
            $("#txtMesFiltro").datepicker({
                format: "mm-yyyy",
                viewMode: "months",
                minViewMode: "months"
            });
        }
            
           

        //$(document).ready(function () {
            setTimeout(function () {
                $("#mensaje").fadeOut(2500);
            }, 10000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(2500);
            }, 10000);

       // });

        listarCumpleanosCliente();
        buscarFavoritos();
    });


    function abrirModalBodegas() {
        $.ajax({
            url: '/Login/GetBodegasUsuarioActual',
            data: {
            },
            type: "post",
            cache: false,
            success: function (data) {

                $('#bodega_id').empty();
                $('#bodega_id').append($('<option>', {
                    value: '',
                    text: ''
                }));
                for (var i = 0; i < data.length; i++) {
                    $('#bodega_id').append($('<option>', {
                        value: data[i].id,
                        text: data[i].bodccs_nombre
                    }));
                }
                $("#bodega_id").select2();
            },
            complete: function (data) {
                $('#modalElegirBodega').modal('show');
            }
        })
    }

    $('#bodega_id').change(function () {
        $('#bodega_nombre').val($("#bodega_id option:selected").text());
    });



    $('#abrirModalHistoricos').click(function () {
        historicoDeSesiones();
        $('#modalHistoricos').modal('show');
    });



    function historicoDeSesiones(){
        $.ajax({
            url: '/users/BuscarHistoricoSesion',
            data: {
                pagina: 1
            },
            type: "post",
            cache: false,
            success: function (data) {
                $('#tablaHistorico').find('tbody').empty();
                for (var i = 0; i < data.registros.length; i++) {
                    $('#tablaHistorico').find('tbody').append('<tr><td align="center">' + data.registros[i].Fecha + '</td><td align="center">'
                                    + data.registros[i].Evento + '</td></tr>');
                }
            },
            complete: function (data) {
                $('#page-selectionSesiones').bootpag({
                    page: 1,
                    total: parseInt((data.responseJSON.total + 29) / 30),
                    maxVisible: 8
                });
            }
        })

        $('#page-selectionSesiones').on("page", function (event, /* page number here */ num) {
            $.ajax({
                url: '/users/BuscarHistoricoSesion',
                data: {
                    pagina: num
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaHistorico').find('tbody').empty();
                    for (var i = 0; i < data.registros.length; i++) {
                        $('#tablaHistorico').find('tbody').append('<tr><td align="center">' + data.registros[i].Fecha + '</td><td align="center">'
                                        + data.registros[i].Evento + '</td></tr>');
                    }
                },
                complete: function (data) {
                }
            })
        });
    }



    $('#openModalIdicadores').click(function () {
        listarFinanciera(null);
        $('#modalFinancieraVh').modal('show');
    });



    $('#btnBuscarIndicadores').click(function () {
        listarFinanciera($('#txtMesFiltro').val());
    });



    function listarFinanciera(mes) {
        $.ajax({
            url: '/Inicio/GetLineasDocFinanciera',
                    data: {
                    },
                    type: "post",
                    cache: false,
                    data: { mesAnio: mes },
                    success: function (data) {

                        $('#tablaPaginadaIndicadores').find('tbody').empty();
                        $('#tablaPaginadaIndicadores').find('tbody').append('<tr><td align="center">Valor Bruto</td><td align="center">' + data.valorBruto + '</td></tr>');
                        $('#tablaPaginadaIndicadores').find('tbody').append('<tr><td align="center">Iva</td><td align="center">' + data.valorIva + '</td></tr>');
                        $('#tablaPaginadaIndicadores').find('tbody').append('<tr><td align="center">Imp. Consumo</td><td align="center">' + data.valorImpuestoConsumo + '</td></tr>');
                        $('#tablaPaginadaIndicadores').find('tbody').append('<tr><td align="center">Total</td><td align="center">' + data.valorTotal + '</td></tr>');

                        $('#lblFechaIndicadores').text('Indicadores ' + data.nombreMes +' de '+ data.anio );
                    },
                    complete: function (data) {

                    }
                })
    }


    function listarCumpleanosCliente() {

            $.ajax({
                url: '/Inicio/CumpleanosClientes',
                data: {

                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#icono_principal').append(' <i class="fa fa-birthday-cake"></i>'
                                                +'<span class="label label-success">'+data.length+'</span>')

                    $('#notificacionesCumpleanos').append(
                                                '<div class="title">'
                                                    +'Tienes ' + data.length + ' clientes cumpliendo años hoy'
                                                +'</div>');

                    for (var i = 0; i < data.length; i++) {
                            $('#notificacionesCumpleanos').append(
                                '<li><p class="text-center">'
                               + data[i].nombre + '<br /><i class="fa fa-phone"></i> '
                               + data[i].telefono + '<br /><i class="fa fa-envelope-o"></i> '
                              + data[i].correo
                                +'</p></li>');
                    }
                },
                complete: function (data) {
                    //$('#page-selectionSesiones').bootpag({
                    //    page: 1,
                    //    total: parseInt((data.responseJSON.total + 29) / 30),
                    //    maxVisible: 8
                    //});
                }
            })
    }





    function buscarFavoritos() {
        $.ajax({
            url: '/Menu/BuscarFavoritosUsuarioActual',
            data: {
            },
            type: "post",
            cache: false,
            success: function (data) {
                $('#tablaFavoritos').find('tbody').empty();
                for (var i = 0; i < data.length; i++) {
                    //<i class="fa fa-star" style="font-size:15px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    $('#tablaFavoritos').find('tbody').append('<tr><td><a href="' + data[i].url+'?menu='+ data[i].idMenu + '" style="text-align:left"><span class="nav-label">' + data[i].nombreMenu + '</span></a></td></tr>');
                }
            }
        })
    }

    


    function addComas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

</script>