@model IEnumerable<Homer_MVC.IcebergModel.Menus>


    <div id="navigation">

        <ul class="nav metismenu" id="side-menu">
            @{
                foreach (var item in Model)
                {
                    int i = 0;

                    var menuActivo = ""; 
                    if (ViewBag.menuUno == item.idMenu)
                    {
                        menuActivo = "active";
                    }

                    <li class="@menuActivo">
                        <a href="@item.url" id="@item.idMenu">
                            <span class="nav-label"><i class="@item.icono"></i>&nbsp;&nbsp;@item.nombreMenu</span>@if (item.url == "#")
                            { <span class="fa arrow"></span>}
                        </a>
                        @if (item.Menus1!=null) {
                        if (item.Menus1.Count > 0)
                        {
                            <ul class="nav nav-second-level">
                                @foreach (var sub in item.Menus1)
                                {
                                    i++;

                                    var menuActivo2 = "";
                                    if (ViewBag.menuDos == sub.idMenu)
                                    {
                                        menuActivo2 = "active";
                                    }

                                    <li class="@menuActivo2">
                                        <a href="@sub.url" id="@sub.idMenu">
                                            <span class="nav-label"><i class="fa fa-circle small" aria-hidden="true"></i>&nbsp;&nbsp;@sub.nombreMenu</span>@if (sub.url == "#")
                                            { <span class="fa arrow"></span>}
                                        </a>
                                        @if (sub.Menus1 != null){
                                            if (sub.Menus1.Count > 0)
                                            {
                                                //style = "padding-left: 20px;"
                                            <ul class="nav nav-second-level">
                                                @foreach (var sub2 in sub.Menus1)
                                                {

                                                    var menuActivo3 = "";
                                                    if (ViewBag.menuTres == sub2.idMenu)
                                                    {
                                                        menuActivo3 = "active";
                                                    }

                                                    <li class="@menuActivo3">
                                                        <a href="@sub2.url" id="@sub2.idMenu">
                                                            <span class="nav-label"><i class="@sub2.icono"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@sub2.nombreMenu</span>@if (sub2.url == "#")
                                                            { <span class="fa arrow"></span>}
                                                        </a>
                                                        @if (sub2.Menus1 != null){
                                                        if (sub2.Menus1.Count > 0)
                                                        {
                                                            <ul class="nav nav-second-level" >
                                                                @foreach (var sub3 in sub2.Menus1)
                                                                {
                                                                    <li class="">
                                                                        <a href="@sub3.url" id="@sub3.idMenu">
                                                                            <span class="nav-label"><i class="@sub3.icono"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@sub3.nombreMenu</span>@if (sub3.url == "#")
                                                                            { <span class="fa arrow"></span>}
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        }
                    </li>
                }
            }
        </ul>
    </div>


<script type="text/javascript">

    $(document).ready(function (event) {

        $('#' + '@ViewBag.menuSeleccionado').css('font-weight', 'bold');
     
       

        $('#navigation a').click(function (event) {
            event.preventDefault();
            var idMMenu = $(this).attr('id');
            $.ajax({
                url: '/Menu/AgregarMenuFavoritos',
                data: {
                    id_Menu: $(this).attr('id')
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var urlActiva = data.toString();
                    window.location.href = urlActiva;
                  },
                complete: function (data) {

                }
            })
        });
    });

</script>

