<div id="navigation">
    
    <ul class="nav metismenu" id="side-menu">
        
        <li><a href="#"><span class="nav-label">Vistas generales</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Analytics")">
                    <a href="@Url.Action("Index", "Analytics")"><span class="nav-label">Analytics</span></a>
                </li>
                <li class="@Html.IsSelected(action: "AppViews")">
                    <a href="#"><span class="nav-label">AppViews</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "AppPlans")"><a href="@Url.Action("AppPlans", "AppViews")">AppPlans</a></li>
                        <li class="@Html.IsSelected(action: "Blog")"><a href="@Url.Action("Blog", "AppViews")">Blog</a></li>
                        <li class="@Html.IsSelected(action: "BlogArticle")"><a href="@Url.Action("BlogArticle", "AppViews")">BlogArticle</a></li>
                        <li class="@Html.IsSelected(action: "Calendar")"><a href="@Url.Action("Calendar", "AppViews")">Calendar</a></li>
                        <li class="@Html.IsSelected(action: "ChatView")"><a href="@Url.Action("ChatView", "AppViews")">ChatView</a></li>
                        <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li class="@Html.IsSelected(action: "EmailCompose")"><a href="@Url.Action("EmailCompose", "AppViews")">EmailCompose</a></li>
                        <li class="@Html.IsSelected(action: "EmailView")"><a href="@Url.Action("EmailView", "AppViews")">EmailView</a></li>
                        <li class="@Html.IsSelected(action: "Faq")"><a href="@Url.Action("Faq", "AppViews")">Faq</a></li>
                        <li class="@Html.IsSelected(action: "FileManager")"><a href="@Url.Action("FileManager", "AppViews")">FileManager</a></li>
                        <li class="@Html.IsSelected(action: "Forum")"><a href="@Url.Action("Forum", "AppViews")">Forum</a></li>
                        <li class="@Html.IsSelected(action: "ForumDetails")"><a href="@Url.Action("ForumDetails", "AppViews")">ForumDetails</a></li>
                        <li class="@Html.IsSelected(action: "Gallery")"><a href="@Url.Action("Gallery", "AppViews")">Gallery</a></li>
                        <li class="@Html.IsSelected(action: "Invoice")"><a href="@Url.Action("Invoice", "AppViews")">Invoice</a></li>
                        <li class="@Html.IsSelected(action: "Mailbox")"><a href="@Url.Action("Mailbox", "AppViews")">Mailbox</a></li>
                        <li class="@Html.IsSelected(action: "Notes")"><a href="@Url.Action("Notes", "AppViews")">Notes</a></li>
                        <li class="@Html.IsSelected(action: "ProfilePage")"><a href="@Url.Action("ProfilePage", "AppViews")">ProfilePage</a></li>
                        <li class="@Html.IsSelected(action: "ProjectDetail")"><a href="@Url.Action("ProjectDetail", "AppViews")">ProjectDetails</a></li>
                        <li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "AppViews")">Project</a></li>
                        <li class="@Html.IsSelected(action: "Search")"><a href="@Url.Action("Search", "AppViews")">Search</a></li>
                        <li class="@Html.IsSelected(action: "SocialBoard")"><a href="@Url.Action("SocialBoard", "AppViews")">SocialBoard</a></li>
                        <li class="@Html.IsSelected(action: "Timeline")"><a href="@Url.Action("Timeline", "AppViews")">Timeline</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "BoxTransitions")">
                    <a href="#"><span class="nav-label">BoxTransitions</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "ColumnsCustom")"><a href="@Url.Action("ColumnsCustom", "BoxTransitions")">ColumnsCustom</a></li>
                        <li class="@Html.IsSelected(action: "ColumnsFromUp")"><a href="@Url.Action("ColumnsFromUp", "BoxTransitions")">ColumnsFromUp</a></li>
                        <li class="@Html.IsSelected(action: "Overview")"><a href="@Url.Action("Overview", "BoxTransitions")">Overview</a></li>
                        <li class="@Html.IsSelected(action: "PanelsZoom")"><a href="@Url.Action("PanelsZoom", "BoxTransitions")">PanelsZoom</a></li>
                        <li class="@Html.IsSelected(action: "RowsFromDown")"><a href="@Url.Action("RowsFromDown", "BoxTransitions")">RowsFromDown</a></li>
                        <li class="@Html.IsSelected(action: "RowsFromRight")"><a href="@Url.Action("RowsFromRight", "BoxTransitions")">RowsFromRight</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Charts")">
                    <a href="#"><span class="nav-label">Charts</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "C3Charts")"><a href="@Url.Action("C3Charts", "Charts")">C3Charts</a></li>
                        <li class="@Html.IsSelected(action: "Chartist")"><a href="@Url.Action("Chartist", "Charts")">Chartist</a></li>
                        <li class="@Html.IsSelected(action: "ChartJs")"><a href="@Url.Action("ChartJs", "Charts")">ChartJs</a></li>
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")">FlotCharts</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")">InlineGraphs</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "CommonViews")">
                    <a href="#"><span class="nav-label">CommonViews</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Error_One")"><a href="@Url.Action("Error_One", "CommonViews")">Error_One</a></li>
                        <li class="@Html.IsSelected(action: "Error_Two")"><a href="@Url.Action("Error_Two", "CommonViews")">Error_Two</a></li>
                        <li class="@Html.IsSelected(action: "LockScreen")"><a href="@Url.Action("LockScreen", "CommonViews")">LockScreen</a></li>
                        <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "CommonViews")">Login</a></li>
                        <li class="@Html.IsSelected(action: "PasswordRecovery")"><a href="@Url.Action("PasswordRecovery", "CommonViews")">PasswordRecovery</a></li>
                        <li class="@Html.IsSelected(action: "Register")"><a href="@Url.Action("Register", "CommonViews")">Register</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Forms")">
                    <a href="#"><span class="nav-label">Forms</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "FormsElements")"><a href="@Url.Action("FormsElements", "Forms")">FormsElements</a></li>
                        <li class="@Html.IsSelected(action: "FormsExtended")"><a href="@Url.Action("FormsExtended", "Forms")">FormsExtended</a></li>
                        <li class="@Html.IsSelected(action: "TextEditor")"><a href="@Url.Action("TextEditor", "Forms")">TextEditor</a></li>
                        <li class="@Html.IsSelected(action: "Validation")"><a href="@Url.Action("Validation", "Forms")">Validation</a></li>
                        <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "Forms")">Wizard</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "GridSystem")">
                    <a href="@Url.Action("Index", "GridSystem")"><span class="nav-label">GridSystem</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Interface")">
                    <a href="#"><span class="nav-label">Interface</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Alerts")"><a href="@Url.Action("Alerts", "Interface")">Alerts</a></li>
                        <li class="@Html.IsSelected(action: "CodeEditor")"><a href="@Url.Action("CodeEditor", "Interface")">CodeEditor</a></li>
                        <li class="@Html.IsSelected(action: "ColorsButtons")"><a href="@Url.Action("ColorsButtons", "Interface")">ColorButtons</a></li>
                        <li class="@Html.IsSelected(action: "Components")"><a href="@Url.Action("Components", "Interface")">Components</a></li>
                        <li class="@Html.IsSelected(action: "DraggablePanels")"><a href="@Url.Action("DraggablePanels", "Interface")">DraggablePanels</a></li>
                        <li class="@Html.IsSelected(action: "EmailTemplate")"><a href="@Url.Action("EmailTemplate", "Interface")">EmailTemplate</a></li>
                        <li class="@Html.IsSelected(action: "IconsLibrary")"><a href="@Url.Action("IconsLibrary", "Interface")">IconsLibrary</a></li>
                        <li class="@Html.IsSelected(action: "List")"><a href="@Url.Action("List", "Interface")">List</a></li>
                        <li class="@Html.IsSelected(action: "LoadingButtons")"><a href="@Url.Action("LoadingButtons", "Interface")">LoadingButtons</a></li>
                        <li class="@Html.IsSelected(action: "Modals")"><a href="@Url.Action("Modals", "Interface")">Modals</a></li>
                        <li class="@Html.IsSelected(action: "PanelsDesign")"><a href="@Url.Action("PanelsDesign", "Interface")">PanelsDesign</a></li>
                        <li class="@Html.IsSelected(action: "Tour")"><a href="@Url.Action("Tour", "Interface")">Tour</a></li>
                        <li class="@Html.IsSelected(action: "Typography")"><a href="@Url.Action("Typography", "Interface")">Typography</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "LandingPage")">
                    <a href="@Url.Action("Index", "LandingPage")"><span class="nav-label">LandingPage</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Options")">
                    <a href="@Url.Action("Index", "Options")"><span class="nav-label">Options</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Tables")">
                    <a href="#"><span class="nav-label">Tables</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "DataTables")"><a href="@Url.Action("DataTables", "Tables")">DataTables</a></li>
                        <li class="@Html.IsSelected(action: "FooTable")"><a href="@Url.Action("FooTable", "Tables")">FooTable</a></li>
                        <li class="@Html.IsSelected(action: "TablesDesign")"><a href="@Url.Action("TablesDesign", "Tables")">TablesDesign</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Widgets")">
                    <a href="@Url.Action("Index", "Widgets")"><span class="nav-label">Widgets</span></a>
                </li>
            </ul>
        </li>

        <li class="@Html.IsSelected(controller: "Inicio")">
            <a href="@Url.Action("Inicio", "Inicio")"><span class="nav-label"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Inicio</span></a>
        </li>
        
        <li class="@Html.IsSelected(controller: "Usuarios")">
            <a href="#"><span class="nav-label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sistema</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Usuarios")">
                    <a href="#"><span class="nav-label"><i class="fa fa-gears"></i>&nbsp;&nbsp;&nbsp;&nbsp;Configuración</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Usuarios")"><a href="@Url.Action("usuario", "Usuarios")"><i class="fa fa-user"></i>&nbsp;&nbsp;Usuarios</a></li>
                    </ul>
                </li>
            </ul>
        </li>
           
    </ul>    
</div>