@model Homer_MVC.Models.OrdenRepuestoModel

@{
    ViewBag.Title = "Orden De Compra";
    Layout = null;
}

<link href="@Server.MapPath("~/Vendor/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/style.css")" rel="stylesheet" />

<style type="text/css">
    body {
        color: black;
    }

    p {
        font-size: 12px;
    }

    .sombra {
        box-shadow: inset 15px 15px;
    }
</style>

@using (Html.BeginForm("FacturaProforma", "vpedidos", FormMethod.Post))
{

    <div class="panel-body">
        <div class="form-horizontal">
            <div style="position:absolute; width:95%; padding-top:50px;">
                <table style="width:100%;">
                    <tr>
                        <td style="width:25%;"></td>
                        <td style="width:50%;">
                            <h3 style="text-align:center;"><b><u>ORDEN DE COMPRA</u></b></h3>
                        </td>
                        <td style="width:25%;">
                            Numero: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h3 style="display:inline; background-color:gray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="sombra">@Model.NumeroOrden</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        </td>
                    </tr>
                </table>

                <div style="width:100%; text-align:right; padding-right:200px;">
                    <p>Fecha Doc: @Model.Fecha</p>
                </div>

                <table style="width:100%;">
                    <tr>
                        <td style="width:25%;"></td>
                        <td style="width:50%;">
                            <h4 style="text-align:center;"><b><u>Bodega Principal @Model.Bodega</u></b></h4>
                        </td>
                        <td style="width:25%;">
                            <p>
                                Fecha Imp: @DateTime.Now.ToShortDateString() &nbsp; @DateTime.Now.ToShortTimeString()
                            </p>
                        </td>
                    </tr>
                </table>



                <table style="width:100%;">
                    <tr>
                        <td style="width:22%; padding-left:10px; text-align:center;">
                            <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:50%" />
                            <p style="margin:0px;">COMERCIALIZADORA HOMAZ S.A.S. NIT</p>
                            <p style="margin:0px;">816.003.186-5</p>
                            <p style="margin:0px;">SEDE PRINCIPAL</p>
                            <p style="margin:0px;">Avenida 30 de Agosto No. 94-165 PBX. 3135000</p>
                            <p style="margin:0px;">Pereira - Risaralda</p>
                        </td>
                        <td style="width:8%; text-align:right; padding-right:10px;">
                            <p>Señores:</p>
                        </td>
                        <td style="width:45%; background-color:#cecbcb;">

                            <table style="width:100%;">
                                <tr>
                                    <td style="text-align:left; padding-left:20px; padding-top:20px; width:60%;"><p><b><u>@Model.Proveedor</u></b></p></td>
                                    <td style="text-align:left; padding-right:20px; padding-top:20px; width:40%;"><p><b><u>NIT: @Model.DocumentoProveedor</u></b></p></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left; padding-left:20px; width:60%;"><p>Dirección : @Model.DireccionProveedor</p></td>
                                    <td style="text-align:left; padding-right:20px; width:40%;"></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left; padding-left:20px; width:60%;"><p>Telefono: @Model.TelefonoProveedor</p></td>
                                    <td style="text-align:left; padding-right:20px; width:40%;">
                                        <p>
                                            Fax : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left; padding-left:20px; width:60%;"><p>Ciudad : @Model.CiudadProveedor</p></td>
                                    <td style="text-align:left; padding-right:20px; width:40%;"><p>Pais : @Model.PaisProveedor</p></td>
                                </tr>
                            </table>

                        </td>
                        <td style="width:25%; padding:10px;">
                            <p style="text-align:left; display:inline; margin:0px; font-size:12px;"><b>Asesor</b></p>
                            <hr style="margin:0px;" />
                            <p style="margin:0px; font-size:12px;">@Model.Asesor</p>
                            <p></p>
                            <p style="text-align:left; display:inline; margin:0px; font-size:12px;"><b>Contacto Cliente:</b></p>
                            <hr style="margin:0px;" />
                        </td>
                    </tr>
                </table>



                <table style="width:100%; margin:20px; border:1px solid black; padding-bottom: 100px;">
                    <thead>


                        <tr style="border:1px solid black;">
                            <th style="text-align:center; border:1px solid black"><p>Código</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Descripción</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Ubicación</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Comentario</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Cantidad</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Iva</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Dcto</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Vr. Unidad</p></th>
                            <th style="text-align:center; border:1px solid black"><p>Valor Total</p></th>

                        </tr>
                    </thead>
                    <tbody style="padding-bottom: 100px;">

                        @foreach (var item in Model.ListaDetalles)
                        {
                            <tr>
                                <td style="border-left: 1px solid black; padding-left:5px; padding-bottom 3px;"><p>@item.CodigoReferencia</p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 3px;"><p>@item.NombreReferencia</p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 3px;"><p></p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 3px;"><p></p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 3px;"><p>@item.CantidadReferencia</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 3px;"><p>@item.IvaReferencia</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 3px;"><p>@item.DescuentoReferencia</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 3px;"><p>@item.PrecioReferencia</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 3px;"><p>@item.PrecioTotal</p></td>
                            </tr>
                        }
                       
                        @for (int i = 0; i <(11 -  Convert.ToInt32(Model.ListaDetalles.Count)); i++)
                        {
                            <tr>
                                <td style="border-left: 1px solid black; padding-left:5px; padding-bottom  25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 25px;"><p></p></td>
                                <td style="border-left: 1px solid black; padding-left:5px;  padding-bottom 25px;"><p></p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                                <td style="border-left: 1px solid black; text-align:center;  padding-bottom 25px;"><p>&nbsp;&nbsp; &nbsp;</p></td>
                            </tr>
                        }
                    </tbody>
                </table>


                <table style="width:100%; margin:20px;">
                    <tr>
                        <td style="padding:3px;">
                            <table style="width: 100%; border: 1px solid #cecbcb">
                                <tr>
                                    <th style="background-color: #cecbcb; text-align: center;">Forma De Pago</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>@Model.FormaPago</td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding:3px;">
                            <table style="width:100%; text-align:center; border:1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;">Validez</th>
                                </tr>
                                <tr>
                                    <td>@Model.DiasValidez</td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding: 3px;">
                            <table style="        width: 100%;
        text-align: center;
        border: 1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;">Fletes</th>
                                </tr>
                                <tr>
                                    <td> @Math.Round(@Model.Fletes)</td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding:3px;">
                            <table style="width: 100%; text-align: center; border: 1px solid #cecbcb">
                                <tr>
                                    <th style="background-color: #cecbcb; text-align: center;">Iva Fletes</th>
                                </tr>
                                <tr>
                                    <td> @Math.Round(@Model.IvaFletes)</td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding: 3px;">
                            <table style="        width: 100%;
        text-align: center;
        border: 1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;"> SubTotal </th>
                                </tr>
                                <tr>
                                    <td>$ @Math.Round(@Model.SubTotal) </td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding: 3px;">
                            <table style="        width: 100%;
        text-align: center;
        border: 1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;"> Descuento </th>
                                </tr>
                                <tr>
                                    <td>$ @Math.Round(@Model.Descuento) </td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding:3px;">
                            <table style="width:100%; text-align:center; border:1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;"> IVA </th>
                                </tr>
                                <tr>
                                    <td>$ @Math.Round(@Model.Iva) </td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding:3px;">
                            <table style="width:100%; text-align:center; border:1px solid #cecbcb">
                                <tr>
                                    <th style="background-color:#cecbcb; text-align:center;"> VALOR TOTAL </th>
                                </tr>
                                <tr>
                                    <td>$ @Math.Round(@Model.Total) </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>


                <div style="float:left; width:10%; text-align:right;">
                    <p> Notas:&nbsp; &nbsp;</p>

                </div>
                <div style="float:left; width:90%; min-height:80px; border: 1px solid #cecbcb; padding:5px;">
                    @Model.Notas
                </div>
                <table style="width:100%;">
                    <tr>

                        <td style="margin:5px; text-align:left; width:25%;">
                            <div style="margin:30px; border:1px solid #cecbcb;">
                                <p style="margin-left:10px;"> Elaboro: </p>
                                <br />
                                <p style="margin-left:10px;"> @Model.usuario_login </p>

                            </div>
                        </td>

                        <td style="margin:5px; text-align:left; width:25%;">
                            <div style="margin:30px; border:1px solid #cecbcb;">
                                <p style="margin-left:10px;"> Solicitado por: </p>
                                <br />
                                <p style="margin-left:10px;"> @Model.Asesor </p>
                            </div>
                        </td>

                        <td style="padding:5px; text-align:left;  width:25%;">
                            <div style="margin:30px; border:1px solid #cecbcb;">
                                <p style="margin-left:10px;"> Autorizó: </p>
                                <br />
                                <p></p>
                            </div>


                        </td>

                        <td style="padding:5px; text-align:left;  width:25%;">

                            <div style="margin:30px; border:1px solid #cecbcb;">
                                <p style="margin-left:10px;">Firma Y Sello Del Cliente</p>
                                <br />
                                <p></p>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
}