@{
    ViewBag.Title = "Lista Precios";
    ViewBag.Icono = "fa fa-money";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/vendor/chartist/custom/chartist.css" />

}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Consulta @ViewBag.Title</small>
        </div>
    </div>
</div>



<div id="modalModelo" class="modal fade hmodal-info" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lista Precios Usados</h4>
                <small>Lista precios de vehículos usados</small>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModeloFiltro">
                        <thead>
                            <tr>
                                <th style="text-align:center">Precio</th>
                                <th style="text-align:center">Marca</th>
                                <th style="text-align:center">Estilo</th>
                                <th style="text-align:center">Año Modelo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class=""><a href="@Url.Action("browserAsesorNuevos","vlisnuevos", new { menu = @ViewBag.id_menu })"><i class="fa fa-car"></i>&nbsp;&nbsp;Nuevos</a></li>
                <li class="active"><a data-toggle="tab" href="#usados"><i class="fa fa-cab"></i>&nbsp;&nbsp;Usados</a></li>
                <li class=""><a href="@Url.Action("BrowserAsesor","registroReferencias", new { menu = @ViewBag.id_menu })"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Accesorios</a></li>
            </ul>

            <div id="usados" class="tab-pane active">
                <div class="form-horizontal">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModelos">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Marca</th>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/Vendor/chartjs/Chart.min.js"></script>
    <script src="~/vendor/d3/d3.min.js"></script>
    <script src="~/vendor/c3/c3.min.js"></script>

    <script type="text/javascript">

            $(document).ready(function () {
                listarCantidadesPorModelo();
            });


            function validaCantModelos(estilo) {
                event.preventDefault();
                $("#tablaPaginadaModeloFiltro").dataTable().fnDestroy();
                $.ajax({
                    url: '/vlisretomas/GetCantidadModelo',
                    data: {
                        estilo: estilo
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {

                        $('#tablaPaginadaModeloFiltro').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaPaginadaModeloFiltro').find('tbody').append('<tr><td align="right"> $'
                                + addCommas(data[i].precio) + '</td><td align="left">'
                                + data[i].marca + '</td><td align="left">'
                                + data[i].estilo + '</td><td align="right">'
                                + data[i].anoModelo + '</td></tr>');
                        }
                    },
                    complete: function (data) {

                        var test = $('#tablaPaginadaModeloFiltro').dataTable({
                            //"ajax": 'api/datatables.json',
                            //dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                            dom: "<''<'col-md-6'l><'col-md-6 text-right'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                            buttons: [//{ extend: 'copy', className: 'btn-sm' },
                                //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                                //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                            ]
                        });
                    }
                });
                $('#modalModelo').modal('show');
            }


            function listarCantidadesPorModelo() {
                $.ajax({
                    url: '/vlisretomas/CantidadVehiculos',
                    data: {
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablaPaginadaModelos').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaPaginadaModelos').find('tbody').append('<tr><td align="left">'
                                + data[i].marca + '</td><td align="left">'
                                + data[i].estilo + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantModelos('
                                + '\'' + data[i].estilo.toString()
                                + '\')">&nbsp;&nbsp;' + data[i].cantidad + '&nbsp;&nbsp;</button></td></tr>');
                        }
                    },
                    complete: function (data) {
                        $('#tablaPaginadaModelos').dataTable({
                            //"ajax": 'api/datatables.json',
                            //dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                            dom: "<''<'col-md-6'l><'col-md-6 text-right'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                            buttons: [//{ extend: 'copy', className: 'btn-sm' },
                                //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                                //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                            ]
                        });
                    }
                });
            }

            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + '.' + '$2');
                }
                return x1 + x2;
            }

            function AgregarQuitarFavorito(){
                $.ajax({
                    url: '/Inicio/AgregarQuitarFavorito',
                    data: {
                        id_menu: @ViewBag.id_menu,
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        if (data.esFavorito == true) {
                            $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                        } else {
                            $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                        }
                    }
                });
            }

    </script>

}