@model Homer_MVC.Models.encuestaPDFmodel

@{
    Layout = null;
}
<html>
<head>
    <title>Encuesta</title>
</head>
<body>
    <div style="border:solid 1px; margin-bottom:2%; padding:8px">
        <table style="width:100%;">
            <tr>
                <td style="text-transform:uppercase"><strong>@Model.nombreEncuesta</strong></td>
                <td align="right"><strong>@Model.fecha</strong></td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
            <tr>
                <td><strong>CLIENTE: </strong>@Model.nombreCliente</td>
                <td><strong>ASESOR: </strong>@Model.nombreAsesor</td>
            </tr>
        </table>
    </div>
    <div style="border:solid 1px; padding:8px; margin-bottom: 2%">
        @for (int i = 0; i < Model.preguntas.Count(); i++)
        {
            var cont = i + 1;
            <div style="margin-bottom:3%">
                <label style="text-transform:uppercase"><strong>@cont) @Model.preguntas[i].pregunta</strong></label>
                <br />
                &emsp;&emsp;<label><strong>@Model.preguntas[i].respuesta</strong></label>
                <br />
            </div>
        }
    </div>
    <div style="margin-bottom: 2%">
        <div style="width:49%; border:solid 1px; height:15%; float:left; text-align:center;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <strong>____________________________</strong>
            <br />
            <strong>Firma Cliente: @Model.nombreCliente</strong>
        </div>
        <div style="width:49%; height:15%;  border:solid 1px; float:right; text-align:center;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <strong>____________________________</strong>
            <br />
            <strong>Firma Asesor: @Model.nombreAsesor</strong>
        </div>
    </div>
</body>
</html>

