@model Homer_MVC.IcebergModel.CambioContrasenaModel

@{
    ViewBag.Icono = "fa fa-lock";
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

}


<div class="panel-body">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li>
                        <span>Sistema</span>
                    </li>
                    <li class="active">
                        <span>@ViewBag.Title</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h2>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">


                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                @*<li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>*@
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" id="guardarboton" disabled="disabled" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="panel-body">
                                <h3 class="panel-body-title">
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Cambio de Contrase&ntilde;a
                                </h3>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Contrase&ntilde;a Actual:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.ContrasenaActual, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder ="Contraseña Actual" } })
                                            @Html.ValidationMessageFor(model => model.ContrasenaActual, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Contrase&ntilde;a Nueva:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.ContrasenaNueva, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Contraseña Nueva" } })
                                            @Html.ValidationMessageFor(model => model.ContrasenaNueva, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Confirmar Contrase&ntilde;a:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.ConfirmarContrasena, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Repetir Contraseña" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmarContrasena, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6" style="visibility:hidden">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Confirmar Contrase&ntilde;a:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.Editor("", new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Repetir Contraseña" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmarContrasena, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="mayusE" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra mayúscula</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="mayusO" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra mayúscula</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="minusE" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra minúscula</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="minusO" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra minúscula</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="numerosE" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un número</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="numerosO" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un número</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="especialE" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un caracter especial</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="especialO" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un caracter especial</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="longitudE" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe tener minimo 8 y maximo 15 caracteres</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="longitudO" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe tener minimo 8 y maximo 15 caracteres</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-danger" role="alert" id="coinciden" style="display:none">
                                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;Las contraseñas no coinciden</p>
                                            </div>

                                            <div class="alert alert-success" role="alert" id="coincidex" style="display:none">
                                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;Las contraseñas coinciden</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $('#ContrasenaNueva').keyup(function () {
            var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?.&])([A-Za-z\d$@@$!%*.?&]|[^ ]){8,15}$/;

            var mayus = /[A-Z]/;
            var minus = /[a-z]/;
            var numeros = /[0123456789]/;
            var especial = /[!#%^&(())--__{}<>$@@$!%*?,.]/;
            var longitud = /{{8,15}}$/;
            debugger
            var pass = $('#ContrasenaNueva').val()
            var tst = pass.length;
            console.log(tst);

            if (mayus.test(pass)) {
                $('#mayusO').show();
                $('#mayusE').hide();
            } else {
                $('#mayusE').show();
                $('#mayusO').hide();
            }
            if (minus.test(pass)) {
                $('#minusO').show();
                $('#minusE').hide();
            } else {
                $('#minusE').show();
                $('#minusO').hide();
            }
            if (numeros.test(pass)) {
                $('#numerosO').show();
                $('#numerosE').hide();
            } else {
                $('#numerosE').show();
                $('#numerosO').hide();
            }
            if (especial.test(pass)) {
                $('#especialO').show();
                $('#especialE').hide();
            } else {
                $('#especialE').show();
                $('#especialO').hide();
            }
            if (pass.length >= 8) {
                $('#longitudO').show();
                $('#longitudE').hide();
            } else {
                $('#longitudE').show();
                $('#longitudO').hide();
            }
            if (mayus.test(pass) && minus.test(pass) && numeros.test(pass) && numeros.test(pass) && especial.test(pass) && pass.length > 8) {

                $('#guardarboton').prop('disabled', false);
            }
            else {
                
                $('#guardarboton').prop('disabled', true);
            }
        });

        $('#ConfirmarContrasena').keyup(function () {
            var pass = $('#ContrasenaNueva').val()
            var pass2 = $('#ConfirmarContrasena').val()
            if (pass == pass2) {
                $('#coincidex').show();
                $('#coinciden').hide();
                $('#guardarboton').prop('disabled', false);
            }
            else {
                $('#coinciden').show();
                $('#coincidex').hide();
                $('#guardarboton').prop('disabled', true);

            }

        });
</script>

}

