@using System.Globalization
@model Homer_MVC.IcebergModel.NotasContablesModel
@*Leo*@
@{
    ViewBag.Title = "Facturacion de Repuestos";
    ViewBag.Icono = "fa fa-address-book-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Vendor/sweetalert/lib/sweet-alert.css" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color: white; border: solid 1px; border-color: #e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top: 0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>
                    <i class="fa fa-check fa-2x"></i> @TempData["mensaje"]
                </p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>
                    <i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]
                </p>
            </div>
        }


        <div class="alert alert-danger alert-dismissible" id="mensaje" style="display: none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p><i class="fa fa-times fa-2x"></i> Por favor digite los campos obligatorios</p>
        </div>

        <div class="alert alert-warning alert-dismissible" id="aviso" style="display: none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="texto_aviso"></p>
        </div>

        <div class="alert alert-danger  alert-dismissible" id="bloqueado" style="display: none">
            <button type="button" class="close" data-dismiss="alert" arial-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="texto_bloqueo"></p>
        </div>


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje">
                        @if (TempData["total_debitos"] != null)
                        {
                            <label class="label label-danger" style="font-size: 13px">Total Debitos: $<span class="precio">@Convert.ToDecimal(TempData["total_debitos"])</span></label>
                        }
                        @if (TempData["total_creditos"] != null)
                        {
                            <label class="label label-danger" style="font-size: 13px">Total Creditos: $<span class="precio">@Convert.ToDecimal(TempData["total_creditos"])</span></label>
                        }
                    </div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="">
                    <a href="@Url.Action("BrowserCajas", "CentralAtencion")"><i class="fa fa-hand-pointer-o"></i>&nbsp;&nbsp;Facturación</a>
                    @*<a href="@Url.Action("Facturar", "FacturacionRepuestos", new {menu = ViewBag.id_menu})"><i class="fa fa-hand-pointer-o"></i>&nbsp;&nbsp;Facturación</a>*@
                </li>
                @*<li class="">*@
                @*<a href="@Url.Action("Index", "FacturacionRepuestos")"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a>*@
                @*<a href="@Url.Action("Index", "FacturacionRepuestos", new {menu = ViewBag.id_menu})"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a>*@
                @*</li>*@
                <li class="active">
                    <a data-toggle="tab" href="#detalle"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Detalle</a>
                </li>
            </ul>

            <div id="manual" class="tab-pane active">
                <div class="panel-body">
                    @using (Html.BeginForm("DetalleFactura", "FacturacionRepuestos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*@Html.Hidden("menu")*@
                        @*@Html.HiddenFor(model => model.idencabezado,  @Value = ViewBag.idEncabezado)*@

                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info col-md-offset-4" type="submit" id="btnSave" style="display: none"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            <button class="btn btn-info col-md-offset-4" type="button" id="btnGuardarSimulacion" onclick="validarObligatorios()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            <button class="btn btn-danger col-md-offset-4" type="button" id="btnAnular" onclick="anularFactura()" style="margin:0;"><i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;Anular</button>
                        </div>
                        <row>
                            <input type="hidden" name="idEncabezado" id="idEncabezado" value="@ViewBag.idEncabezado" />
                        </row>

                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color: #e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                                Facturación
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Número de Documento:&nbsp;</label>
                                                <div class="col-md-6">

                                                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite numero", @readonly = "readonly", @Value = ViewBag.factura } })
                                                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Tipo Documento:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="tipo_Documento" value="@ViewBag.tipo_Documento" id="tipo_Documento" />

                                                    @Html.EditorFor(model => model.tipoDocumento, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite tipo", @readonly = "readonly", @Value = ViewBag.tipoDocumento } })
                                                    @Html.ValidationMessageFor(model => model.tipoDocumento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fecha Creación:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" readonly="readonly" id="fcreacion" value="@ViewBag.fecha.ToString()" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fecha Vencimiento:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="fvencimiento" readonly="readonly" value="@ViewBag.fechaVencimiento.ToString()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">


                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bodega:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="bodega" value="@ViewBag.bodega" id="bodega"/>

                                                    @Html.EditorFor(model => model.nombrebodega, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite bodega", @readonly = "readonly", @Value = ViewBag.nombrebodega } })
                                                    @Html.ValidationMessageFor(model => model.nombrebodega, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cliente:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="doc_cliente" value="@ViewBag.doc_cliente" id="doc_cliente" />

                                                    @Html.EditorFor(model => model.cliente, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite cliente", @readonly = "readonly", @Value = ViewBag.cliente } })
                                                    @Html.ValidationMessageFor(model => model.cliente, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Condición Pago:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="condicion" value="@ViewBag.condicion" id="condicion" />

                                                    @Html.EditorFor(model => model.condicion_pago, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite condición", @readonly = "readonly", @Value = ViewBag.tipoPago } })
                                                    @Html.ValidationMessageFor(model => model.condicion_pago, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Moneda:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="moneda" value="@ViewBag.tipo_moneda" id="moneda" />

                                                    @Html.EditorFor(model => model.tipo_moneda, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite moneda", @readonly = "readonly", @Value = ViewBag.moneda } })
                                                    @Html.ValidationMessageFor(model => model.tipo_moneda, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Perfil Contable:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="id_perfil_contable" value="@ViewBag.perfil_contable" id="id_perfil_contable" />

                                                    @Html.EditorFor(model => model.perfil_contable, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite perfil contable", @readonly = "readonly", @Value = ViewBag.perfil } })
                                                    @Html.ValidationMessageFor(model => model.perfil_contable, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fletes:&nbsp;</label>
                                                <div class="col-md-6">

                                                    @Html.EditorFor(model => model.fletes, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite fletes", @readonly = "readonly", @Value = ViewBag.fletes } })
                                                    @Html.ValidationMessageFor(model => model.fletes, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">% Iva Fletes:&nbsp;</label>
                                                <div class="col-md-2">
                                                    <input name="por_iva_fletes" id="por_iva_fletes" class="form-control" value="@ViewBag.ivafletes.ToString("0,0", elGR)" readonly="readonly" type="hidden" />

                                                    @Html.EditorFor(model => model.iva_fletes, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite fletes", @readonly = "readonly", @Value = ViewBag.ivafletes } })
                                                    @Html.ValidationMessageFor(model => model.iva_fletes, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="totalFletes" class="form-control" readonly="readonly" value="" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Vendedor:&nbsp;</label>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="vendedor" value="@ViewBag.vendedor" id="vendedor" />

                                                    @Html.EditorFor(model => model.nombre_vendedor, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite concepto", @readonly = "readonly", @Value = ViewBag.asesor } })
                                                    @Html.ValidationMessageFor(model => model.nombre_vendedor, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Concepto 1:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">

                                                    @Html.EditorFor(model => model.nombre_concepto, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite concepto", @readonly = "readonly", @Value = ViewBag.concepto1 } })
                                                    @Html.ValidationMessageFor(model => model.nombre_concepto, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Concepto 2:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">

                                                    @Html.EditorFor(model => model.nombre_concepto2, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite concepto", @readonly = "readonly", @Value = ViewBag.concepto2 } })
                                                    @Html.ValidationMessageFor(model => model.nombre_concepto2, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Observaciones:<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    <input class="form-control" readonly="readonly" id="observaciones" value="@ViewBag.observaciones" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Número Pedido:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">

                                                    @Html.EditorFor(model => model.pedido, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite concepto", @readonly = "readonly", @Value = ViewBag.pedido } })
                                                    @Html.ValidationMessageFor(model => model.pedido, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="text-center">
                                            <h4><label class="label label-default">Bolsas</label></h4>
                                        </div>
                                        <div class="panel-body-btns text-right">
                                            <button class="btn btn-success " type="button" id="btnGuardar" onclick="agregarBolsa()">Agregar</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bolsa plastica:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("Bolsa", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cantidad:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    <input class="form-control" type="number" id="cantidadBolsa" />
                                                    <input class="form-control" type="hidden" id="valorBolsa" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Valor Bolsa:&nbsp;<span class="text-danger"></span></label>
                                                    <div class="col-md-6">
                                                        @*<input class="form-control" readonly="readonly" value="@ViewBag.TotalBolsa" />*@
                                                        <input class="form-control " id="TotalBolsa" name="TotalBolsa" readonly="readonly" type="text" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                @*TABLA*@
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaFacturacion">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">Código
                                                        
                                                    </th>
                                                    <th style="text-align: center">Detalle
                                                        
                                                    </th>
                                                    <th style="text-align: center">Cantidad
                                                        
                                                    </th>
                                                    <th style="text-align: center">Valor unitario
                                                        
                                                    </th>
                                                    <th style="text-align: center">Valor antes de IVA
                                                        
                                                    </th>
                                                    <th style="text-align: center">Descuento (%)
                                                        
                                                    </th>
                                                    <th style="text-align: center">Total Descuento ($)
                                                        
                                                    </th>
                                                    <th style="text-align: center">IVA(%)
                                                        
                                                    </th>
                                                    <th style="text-align: center">Total IVA ($)
                                                        
                                                    </th>
                                                    @*<th style="text-align: center">IC Bolsa</th>*@
                                                    <th style="text-align: center">Valor Total
                                                        
                                                    </th>
                                                    <th style="text-align: center">Tipo tarifa
                                                        
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr id="filaSubTotal">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>SUB TOTAL</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorSub" name="valorSub" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotalDescuento">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>DESCUENTO</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorDes" name="valorDes" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotalIVA">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>IVA</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorIVA" name="valorIVA" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaDeducibleFac">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>Deducible Fac</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorDeducibleFac" name="valorDeducibleFac" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaIcBolsa">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>IC Bolsa</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorIcBolsa" name="valorIcBolsa" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaBaseIVA">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>Base Iva</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorBaseIVA" name="valorBaseIVA" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotalfletes">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>Fletes</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorFletes" name="valorFletes" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaIVAfletes">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>Valor IVA Fletes</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorIVAfletes" name="valorIVAfletes" readonly="readonly" type="text" value="" style="text-align: right" />
                                                    </td>
                                                </tr>
                                                <tr id="filaTotal">
                                                    <td align="center" colspan="9" style="border-bottom: hidden; border-left: hidden; text-align: right;">
                                                        <b>TOTAL</b>
                                                    </td>
                                                    <td align="center" class="valorFinalTD" style="border-bottom: hidden">
                                                        <input class="form-control input-sm" id="valorFinal" name="valorFinal" readonly="readonly" type="text" value="" style="text-align: right" />
                                                        <input id="valorFinal1" name="valorFinal1" type="hidden" value="" />
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                        <table class="table table-striped table-bordered table-hover" id="tablaRetenciones">
                                            <thead>
                                                <tr>
                                                    <th colspan="6" style="text-align: center">Retenciones</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center">Retefuente</th>
                                                    <th style="text-align: center">Reteiva</th>
                                                    <th style="text-align: center">Reteica</th>
                                                    <th style="text-align: center">Autoretención</th>
                                                    <th style="text-align: center">Total Retenciones</th>
                                                    <th style="text-align: center">Total Proveedor</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-sm-12">

                                        <div class="col-sm-6">
                                            <table class="table table-responsive table-success">
                                                <tr class="bg-success">
                                                    <th>Valor Recibido</th>
                                                    <td>@Html.Editor("valorRecibido", new { htmlAttributes = new { @class = "form-control bg-success", @placeholder = "Total Recibido", @readonly = "true" } })</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="col-sm-6">
                                            <table class="table table-responsive table-danger">
                                                <tr class="bg-danger">
                                                    <th>Cantidad Pendiente</th>
                                                    <td>@Html.Editor("Pendiente", new { htmlAttributes = new { @class = "form-control bg-danger", @placeholder = "Total pendiente", @readonly = "true" } })</td>
                                                </tr>
                                            </table>

                                        </div>

                                        <div class="col-sm-6" id="cupox" style="display:block">
                                            <table class="table table-responsive table-info">
                                                <tr class="bg-info">
                                                    <th>Cupo Disponible</th>
                                                    <td>@Html.Editor("CupoDisponible", new { htmlAttributes = new { @class = "form-control bg-danger", @placeholder = "Total cupo disponible", @readonly = "true" } })</td>
                                                </tr>
                                            </table>

                                        </div>

                                    </div>


                                </div>

                                <input type="hidden" value="" name="lista_referencias" id="lista_referencias" />
                            </div>
                        </div>





                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color: #e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                                <i class="fa fa-check-square" aria-hidden="true"></i> Medios de Pago
                            </div>
                            <div class="panel-body-btns text-right">
                                <button type="button" class="btn btn-success" id="asignarForma1" onclick="validarFormaPago()">Agregar</button>
                                @*<button type="button" id="agregarAnticipos" class="btn btn-info" style="display:none"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;Seleccionar Recibo Caja</button>*@
                            </div>

                            <div class="panel-body">

                                <div class="row">

                                    <label class="control-label col-md-6" style="text-align:left">Medio de Pago:&nbsp;<i class="text-danger">*</i></label>

                                    <label class="control-label col-md-6" style="text-align:left">Valor $:&nbsp;<i class="text-danger">*</i></label>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.DropDownList("FormaPago", null, "", htmlAttributes: new { @class = "form-control js-source-states col-md-4", @placeholder = "Seleccione", @name = "FormaPago", @id = "FormaPago" })
                                    </div>
                                    @*<div class="col-md-2"> &nbsp;</div>*@
                                    <div class="col-md-6">
                                        @Html.TextBox("txtValor", null, "", htmlAttributes: new { @class = "form-control col-md-4", @placeholder = "Seleccione", @id = "txtValor", @onkeyUp = "return miles(this.id)" })
                                        <input type="hidden" class="form-control" readonly="readonly" id="txtTotal" />
                                    </div>
                                </div>

                                <div class="row">

                                    <label class="control-label col-md-6" style="text-align:left">Vaucher:&nbsp;<i class="text-danger">*</i></label>

                                    <label class="control-label col-md-6" style="text-align:left">No. Cheque:&nbsp;<i class="text-danger">*</i></label>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.TextBox("txtVaucher", null, "", htmlAttributes: new { @class = "form-control col-md-4", @placeholder = "Seleccione", @id = "txtVaucher", @type = "number" })
                                    </div>
                                    @*<div class="col-md-2"> &nbsp;</div>*@
                                    <div class="col-md-6">
                                        @Html.TextBox("txtCheque", null, "", htmlAttributes: new { @class = "form-control col-md-4", @placeholder = "Seleccione", @id = "txtCheque", @type = "number" })
                                    </div>
                                </div>

                                <br />
                                <div class="col-lg-12">
                                    <input type="hidden" id="idcreditoseleccionado" name="idcreditoseleccionado" value="" />
                                    <div class="table-responsive">
                                        <div id="div-mensaje-buscar"></div>
                                        <table class="table table-striped table-bordered table-hover" id="tablaPagos">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">Medio de Pago</th>
                                                    <th style="text-align: center">Valor</th>
                                                    <th style="text-align: center">No. Vaucher</th>
                                                    <th style="text-align: center">No. Cheque</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    @*<span style="font-size:18px"><b>Nota:</b> No puede guardar la factura hasta que el valor faltante sea 0</span>*@
                                </div>
                            </div>

                        </div>

                        <div class="panel-body-btns text-right">

                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modaldocinterno" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Formas de Pago</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="iddocinterno" />
                    <div id="mensajedocinter"></div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="asignarForma1" onclick="descargarpdfDI()">Descargar pdf</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalAnulacion" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Anular Factura</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center;">

                    <div class="col-md-12" id="divValor">
                        <label class="control-label col-md-4" style="text-align:left">Motivo :&nbsp;<i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.DropDownList("Motivo", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                        </div>
                    </div>
                    <div class="col-md-12" id="divValor">
                        <label class="control-label col-md-4" style="text-align:left">Observacion :&nbsp;<i class="text-danger">*</i></label>
                        <div class="col-md-8">
                            @Html.TextArea("motivoAnulacion", "", new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnAnularFactura" onclick="asignarmotivo()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">

        var permiso='@ViewBag.Permiso';

        $(document).ready(function() {
            $('#totalFletes').val(($('#fletes').val() * $('#por_iva_fletes').val()) / 100);
            CompletarTabla();
            CompletarRetenciones();

            if (permiso == 'Si') {
                $('#btnAnular').show();
            } else {
                $('#btnAnular').hide();
            }
            debugger;
            var Pendiente = String('@ViewBag.Pendiente');
            var Recibido=String('@ViewBag.Recibido');
            var cupodisp=String('@ViewBag.cupo_disponible');

            $('#Pendiente').val(addCommas(Pendiente));
            $('#valorRecibido').val(addCommas(Recibido));
            if (@ViewBag.usa_cupo==1) {
                $('#CupoDisponible').val(addCommas(cupodisp));
                $('#cupox').show();
            }
            else {
                $('#CupoDisponible').val('0');
                $('#cupox').hide();
            }
            TraerMediosPago();

        });
        /*
        $('#txtValor').change(function () {
            debugger;
            var valor = $('#txtValor').val();
            debugger;
            var valord = addCommas(valor);
            $('#txtValor').val(valord);
        });*/



         $("#FormaPago").change(function () {
            debugger;
            var forma = $("#FormaPago").val();

            debugger;
                $.ajax({
                    url: '/CentralAtencion/validarFormaPago',
                    data: {
                        forma: forma,
                    },
                    type: "post",
                    cache: false,
                    success: function (resultado) {

                        $('#txtVaucher').val('');
                        $("#txtCheque").val('');
                        $("#txtValor").val('');

                        if (resultado==1) { // efectivo
                            $('#txtVaucher').prop( "disabled", true );
                            $("#txtCheque").prop( "disabled", true );
                        } else if (resultado==2){//cheque
                            $('#txtVaucher').prop( "disabled", true );
                            $("#txtCheque").prop("disabled", false);
                        }else if (resultado==3){//Cupo
                            $('#txtVaucher').prop( "disabled", true );
                            $("#txtCheque").prop( "disabled", true );
                        }else if (resultado==4){//tarjeta
                            $("#txtCheque").prop("disabled", true);
                            $("#txtVaucher").prop("disabled", false);
                        }

                    }
                })

        });

        function validarFormaPago() {
            var forma = $("#FormaPago").val();
            var result;
            $.ajax({
                url: '/CentralAtencion/validarFormaPago',
                data: {
                    forma: forma,
                },
                type: "post",
                cache: false,
                success: function (resultado) {
                    asignarForma(resultado)
                }
            })
        }

        function asignarForma(resultado) {

            debugger;
            var vaucher = $("#txtVaucher").val();
            var Cheque = $('#txtCheque').val();
            var valor = $("#txtValor").val();
            var cupo = $("#CupoDisponible").val();
            debugger;

            if (resultado == 4) {
                $("#txtVaucher").prop('required', true);

                if (vaucher != '') {
                    registrarMedio();
                } else {
                    swal("Error", "Se debe registrar el No. del Vaucher", "error");
                }

            }
            else if (resultado == 2) {
                $("#txtCheque").prop('required', true);

                if (Cheque != '') {
                    registrarMedio();
                } else {
                    swal("Error", "Se debe registrar el No. del Cheque", "error");
                }

            }
            else if (resultado == 3) {
                $("#txtCheque").prop('required', false);

                var valo2 = parseFloat(quitCommas(valor));
                var cupo2 = parseFloat(quitCommas(cupo));
                if (valo2<=cupo2) {
                    registrarMedio();
                } else {
                    swal("Error", "El valor excede al valor del cupo disponible", "error");
                }

            }else {
                registrarMedio();
            }


        }

        function registrarMedio() {

            debugger;
            var idEncabezado = $('#idEncabezado').val();
            var medioPago = $('#FormaPago').val();
            var valor = $('#txtValor').val();
            var vaucher = $('#txtVaucher').val();
            var Cheque = $('#txtCheque').val();
            var total = $('#Pendiente').val();

            if (medioPago != '' || idEncabezado != '' && valor != '' ) {
                debugger;
                    $.ajax({
                        url: '/FacturacionRepuestos/asignarMedio',
                        data: {
                            idEncabezado: idEncabezado,
                            medioPago: medioPago,
                            valor: valor,
                            total: total,
                            vaucher: vaucher,
                            Cheque: Cheque,
                        },
                        type: "post",
                        cache: false,
                        success: function (datos) {
                            //console.log(datos)

                            if (datos.result == 1) {
                                swal("Exito", "Medio de pago registrado", "success");
                                $("#Pendiente").val(addCommas(datos.cantPendiente));
                                $("#valorRecibido").val(addCommas(datos.cantidadRecibida));
                                if (medioPago == 7) {
                                    var cupox = $('#CupoDisponible').val();
                                    var nuevo = quitCommas(cupox) - quitCommas(valor);
                                    $('#CupoDisponible').val(addCommas(nuevo));
                                }
                            } else {
                                swal("Error", "Error al registrar el Medio de pago", "error");
                            }
                            TraerMediosPago();
                        }

                    });


            }

        }

        function TraerMediosPago() {

            var idEncabezado = $('#idEncabezado').val();

            $('#tablaPagos').dataTable().fnDestroy();
            $.ajax({
                url: '/CentralAtencion/TraerMediosPago',
                data: {
                    idEncabezado: idEncabezado,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    //console.log(data)


                    $('#tablaPagos').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPagos').find('tbody').append(
                            '<tr>'
                            + '<td align="left">' + data[i].formapago + '</td>'
                            + '<td align="left">' + data[i].valorRecibido2 + '</td>'
                            + '<td align="left">' + (data[i].vaucher== null ? '' : data[i].vaucher) + '</td>'
                            + '<td align="left">' + (data[i].cheque == null ? '' : data[i].cheque) + '</td>'
                            + '</tr>');
                        $('#Pendiente').val(addCommas(data[i].pendiente));
                    }

                },
                complete: function (data) {
                    $('#tablaPagos').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });

        }

        function anularFactura() {


            swal({
                title: 'ANULACIÓN DE FACTURA',
                text: '¿ESTA SEGURO DE DESEA ANULAR LA FACTURA?',
                confirmButtonText: "SI",
                confirmButtonColor: "#62cb31",
                showCancelButton: true,
                cancelButtonText: "NO",
                cancelButtonColor: "#E50F1F",
                closeOnCancel: true,
                closeOnConfirm: true,
                allowOutsideClick: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (permiso == 'Si') {
                            $('#modalAnulacion').show();
                        } else {
                            $('#modalAnulacion').hide();
                        }
                    } else {

                    }
                });

        }

        $('#modalCerrar').click(function(){
            $('#modalAnulacion').hide();
            $('#motivoAnulacion').val('');
        });

        function asignarmotivo() {

            var idEncabezado = $('#idEncabezado').val();
            var motivoAnulacion = $('#motivoAnulacion').val();
            var motivo=$('#Motivo').val();

            $.ajax({
                url: '/FacturacionRepuestos/anularFactura',
                data: {
                    idEncabezado: idEncabezado,
                    motivo: motivo,
                    motivoAnulacion: motivoAnulacion,
                },
                type: "post",
                cache: false,
                success: function (result) {

                    console.log(result)
                    if (result == 1) {
                        swal("Exito", "Se registro correctamente la anulación", "success");
                    } else {
                        swal("Error", "Error al registrar la anulación", "error");
                    }

                }, complete: function (result) {
                    $('#btnAnular').hide();
                }
            });

        }

        function agregarBolsa() {

            var idEncabezado = $('#idEncabezado').val();
            var bolsa = $("#Bolsa").val();
            var valor = $("#TotalBolsa").val();
            debugger;
            $.ajax({
                url: '/FacturacionRepuestos/agregarBolsa',
                data: {
                    idEncabezado: idEncabezado,
                    bolsa: bolsa,
                    valor: valor,
                },
                type: "post",
                cache: false,
                success: function (result) {

                    console.log(result)
                    if (result == 1) {
                        swal("Exito", "Se registro correctamente", "success");
                    } else {
                        swal("Error", "Error al registrar", "error");
                    }

                }
            })

        }

        $("#Bolsa").change(function () {

            var id = $("#Bolsa").val();

            $.ajax({
                url: '/FacturacionRepuestos/traerPrecio',
                data: {
                    id: id,
                },
                type: "post",
                cache: false,
                success: function (data) {

                console.log(data)
                    $("#valorBolsa").val(data);
                }
            })

        });

        $("#cantidadBolsa").change(function () {
            var valor = $("#valorBolsa").val();
            var cantidad = $("#cantidadBolsa").val();

            var resultado = valor * cantidad;

            $("#TotalBolsa").val(resultado);
        });

        function validarObligatorios() {
          var  capCupoDisponible = 2;
            if ($('#lista_referencias').val() === "") {

                $('#modalVacio').show();
                $('#lista_referencias').prop('required', true);
                $('#btnSave').prop('disabled', true);
                $('#btnSave').hide();
            } else {
                if (capCupoDisponible >= 0) //&& $('#fpago_id').val() === deContado)
                {
                    console.log('entro 2');
                    var listaref =  $('#lista_referencias').val()
                    var caontador = 0;
                    for(var i = 0; i < listaref; i++) {
                        var ref_tarifa = $('#idtipotarifa'+i).val();
                        if (ref_tarifa==2) {
                            caontador++;
                        }

                    }
                    console.log('contador '+caontador);
                    if (caontador>0) {
                         $.ajax({
                        url: '/FacturacionRepuestos/DocTarifainternaFactura',
                        data: {
                            id: $('#idEncabezado').val()
                        },
                        type: "post",
                        cache: false,
                        success: function (data) {
                            $('#iddocinterno').val(data);
                            $('#mensajedocinter').text('Se genero el documento interno RI-' + data);
                        }
                    })
                    }
                    //$.ajax({
                    //    url: '/FacturacionRepuestos/ValidarCupo',
                    //    data: {
                    //        cliente: parseInt($('#selectProveedor').val()),
                    //        valorFactura : $('#valor_proveedor').val()
                    //    },
                    //    type: "post",
                    //    cache: false,
                    //    success: function (data) {
                    //        if (data.permitir == false) {
                    //            //no puede facturar
                    //            $('#cupoDisponible').text("$"+addCommas(data.cupoDisponible));
                    //            $('#modalSinCupo').modal()
                    //        }
                    //        else {
                    //            $('#btnSave').prop('disabled', false);
                    //            $('#btnSave').trigger('click');
                    //        }

                    //    }
                    //})
                    $('#btnSave').prop('disabled', false);
                    $('#btnSave').trigger('click');
                } else if (capCupoDisponible <= 0 && $('#fpago_id').val() === deContado) {

                    swal({
                        title: "Exceso a capacidad de cupo",
                        text: "Los elementos facturados superan la capacidad de cupo que el cliente tiene",
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK",
                        closeOnConfirm: false,
                        showCancelButton: false,
                        showConfirmButton: false
                    });
                } else {

                    $('#btnSave').prop('disabled', false);
                    $('#btnSave').trigger('click');
                }
            }
        }

        function descargarpdfDI() {
            var id =   $('#iddocinterno').val();
               window.open('@Url.Action("/descargarpdfDI", "FacturacionRepuestos")?id=' + id, '_blank');
        }




        $("#FormaPago").change(function () {

            var forma = $("#FormaPago").val();
            debugger;
                $.ajax({
                    url: '/FacturacionRepuestos/validarFormaPago',
                    data: {
                        forma: forma,
                    },
                    type: "post",
                    cache: false,
                    success: function (resultado) {

                        if (resultado==1) {
                            $('#divCheque').show();
                            $("#divVaucher").hide();
                        }  else if (resultado==2){
                            $('#divCheque').hide();
                            $("#divVaucher").hide();
                        }

                    }
                })

        });

        $("#btnAsignarForma").click(function () {
            var idEncabezado = $('#idEncabezado').val();
            $.ajax({
                url: '/FacturacionRepuestos/datosFactura',
                data: {
                    idEncabezado: idEncabezado,
                },
                type: "post",
                cache: false,
                success: function (facturaR) {
                    $('#txtDocumento').val(String(facturaR.doc_tercero))
                    $('#txtTotal').val(String(facturaR.valor_total))
                }
            })

            $('#modalFormasPago').show();
            $('#txtValor').val('');
            $('#FormaPago').val('').select2();
        });

        $("#cerrarModal").click(function () {
            $('#modaldocinterno').hide();
        });

        $("#btnCupo").change(function () {
            debugger;

            $("#divFormaPago").hide();
            $("#asignarForma1").hide();
            $("#divValor").hide();
            $("#divVaucher").hide();
            $("#divCantidad").show();
            $("#asignarForma2").show();

            $("#divCliente").show();
            $("#divDocumento").show();
            $("#divTotal").show();
            traerCupoCredito();

        });

        function traerCupoCredito() {
            var idEncabezado = $('#idEncabezado').val();
            debugger;
            $.ajax({
                url: '/FacturacionRepuestos/traerCupoCredito',
                data: {
                    idEncabezado: idEncabezado,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    debugger;
                    //console.log(data[0].cupocredito);
                    console.log(data);
                    debugger
                    var cupo = data[0].cupocredito == 0 ? 'Sin cupo' : data[0].cupocredito;
                    $('#txtCantidad').val() == 'Sin cupo' ? $('#txtCantidadOculto').val(0) : $('#txtCantidadOculto').val(String(cupo));
                    $('#txtCantidad').val(String(cupo));
                    $('#txtCantidad').val() == 'Sin cupo' ? $('#txtCantidad').prop('readonly', true) : $('#txtCantidad').val()
                    $("#divCliente").show();
                    $("#divDocumento").show();
                    $("#divTotal").show();
                }
            })
        }

        function asignarCupo() {
            var idEncabezado = $('#idEncabezado').val();
            var valor_cupon = $('#txtCantidad').val();
            var limite_Cupon = $('#txtCantidadOculto').val();
            debugger;

            if (Number(limite_Cupon) >= Number(valor_cupon)) {

                $.ajax({
                    url: '/FacturacionRepuestos/asignarCupo',
                    data: {
                        idEncabezado: idEncabezado,
                        valor_cupon: valor_cupon
                    },
                    type: "post",
                    cache: false,
                    success: function (result) {

                        if (result == 1) {
                            swal("Exito", "Forma de pago registrada", "success");
                        } else {
                            swal("Error", "Error al registrar la forma de pago", "error");
                        }

                    }
                })
                $('#modalFormasPago').hide();
            } else {
                swal("Error", "La cantidad del bono no debe ser mayor a la original", "error");
                $('#modalFormasPago').hide();
            }

        }

        $('#btnGenerarPDFFacturacionRepuestos').click(function () {


            swal({
                    title: 'Formato de Impresión',
                    text: 'Seleccione el formato con el que desea imprimir la factura',
                    confirmButtonText: "Original",
                    confirmButtonColor: "#62cb31",
                    showCancelButton: true,
                    cancelButtonText: "Copia",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    allowOutsideClick: true
                },
                function(isConfirm) {
                    if (isConfirm) {
                        definirFactura(1); // 1 cuando es original
                    } else {
                        definirFactura(2); // 2 cuando es copia
                    }
                });
        });

        function definirFactura(param) {
            const X = @ViewBag.facid;
            window.open(`@Url.Action("crearPDFfacturacionrepuestos", "FacturacionRepuestos")?id=${X}&&param=${param}`,
                '_blank');
        }


        function CompletarTabla() {
            $.ajax({
                url: '/FacturacionRepuestos/CompletarTablaRepuestos',
                data: { id: $('#idEncabezado').val(), pedido:$('#pedido').val() },
                type: "post",
                cache: false,
                success: function(data) {
                    var subTotal = 0;
                    var descuento = 0;
                    var iva = 0;
                    var totalFinal = 0;
                    var deducibleFac = 0;
                    var icBolsa = 0;
                    var baseIVA = 0;

                    $("#tablaFacturacion").find("tbody").empty();


                    for (var i = 0; i < data.length; i++) {

                        valorUnitario = data[i].valor_unitario / (100 - data[i].porcentaje_descuento) * 100;
                        antesIva = valorUnitario * data[i].cantidad;
                        totalDescuento = (antesIva * data[i].porcentaje_descuento) / 100;
                        totalIva = ((antesIva - totalDescuento) * data[i].porcentaje_iva) / 100;
                        icBolsa = data[i].ic_bolsa;
                        baseIVA = (antesIva - totalDescuento) - parseInt('@ViewBag.fletes');
                        $("#tablaFacturacion").find("tbody").append(
                            `<tr><td style="text-align:left">${data[i].codigo}<input type="hidden" id="referencia${i}" name="referencia${i}" value="${data[i].codigo}"/></td>
                            <td style="text-align:left">${data[i].ref_descripcion}<input type="hidden"   id="ref_descripcion${i}" name="ref_descripcion${i}" value="${data[i].ref_descripcion}"/></td>
                            <td style="text-align:left">${data[i].cantidad}<input type="hidden"   id="cantidadReferencia${i}" name="cantidadReferencia${i}" value="${data[i].cantidad}"/></td>
                            <td style="text-align:right">$${addCommas(parseInt(valorUnitario))}<input type="hidden"   id="valorUnitarioReferencia${i}" name="valorUnitarioReferencia${i}" value="${addCommas(parseInt(valorUnitario))}"/></td>
                            <td style="text-align:right">$${addCommas(parseInt(antesIva))}<input type="hidden"   id="valorAntesIva${i}" name="valorAntesIva${i}" value="${addCommas(parseInt(antesIva))}"/></td>
                            <td style="text-align:right">${data[i].porcentaje_descuento}<input type="hidden"   id="descuentoReferencia${i}" name="descuentoReferencia${i}" value="${data[i].porcentaje_descuento}"/></td>
                            <td style="text-align:right">$${addCommas(parseInt(totalDescuento))}<input type="hidden"   id="totalDescuentoReferencia${i}" name="totalDescuentoReferencia${i}" value="${addCommas(parseInt(totalDescuento))}"/></td>
                            <td style="text-align:right">${data[i].porcentaje_iva}<input type="hidden"   id="ivaReferencia${i}" name="ivaReferencia${i}" value="${data[i].porcentaje_iva}"/></td>
                            <td style="text-align:right">$${addCommas(parseInt(totalIva))}<input type="hidden"   id="ivaTotalReferencia${i}" name="ivaTotalReferencia${i}" value="${addCommas(parseInt(totalIva))}"/></td>
                            <td style="text-align:right">$${addCommas( parseInt(antesIva - totalDescuento + totalIva))}<input type="hidden"  id="valorTotalReferencia${i}" name="valorTotalReferencia${i}"  value="${addCommas(parseInt(antesIva - totalDescuento + totalIva))}"/></td>
                            <td style="text-align:right">${data[i].tarifa} <input type="hidden"   id="idtipotarifa${i}"  name="idtipotarifa${i}" value="${data[i].id_tarifa_cliente}"/></td></tr>`);
                        subTotal += antesIva;
                        descuento += totalDescuento;
                        iva += totalIva;
                    }
                    $('#valorSub').val(`${addCommas(parseInt(subTotal))}`);
                    $('#valorDes').val(`${addCommas(parseInt(descuento))}`);

                    $('#valorDeducibleFac').val(`${addCommas(parseInt(deducibleFac))}`);
                    $('#valorIcBolsa').val(`${addCommas(parseInt(icBolsa))}`);
                    $('#valorBaseIVA').val(`${addCommas(parseInt(baseIVA))}`);

                    $('#valorIVA').val(`${addCommas(parseInt(iva))}`);
                    $('#valorFletes').val(addCommas(parseInt('@ViewBag.fletes')));
                    $('#valorIVAfletes').val($('#totalFletes').val());
                    $('#valorFinal').val(addCommas(parseInt(subTotal -
                        descuento +
                        iva +
                        icBolsa +
                        addCommas(parseInt(@ViewBag.flete)) +
                        $('#totalFletes').val())));
                    $('#valorFinal1').val($('#valorFinal').val());

                    $('#lista_referencias').val(data.length);

                }
            });
        }

        function CompletarRetenciones() {
            $.ajax({
                url: '/FacturacionRepuestos/CompletarRetenciones',
                data: { id: $('#idEncabezado').val() },
                type: "post",
                cache: false,
                success: function(data) {
                    debugger;
                    const total = 0;
                    const valorTotal = parseInt(quitCommas($('#valorFinal1').val()));
                    $("#tablaRetenciones").find("tbody").empty();
                    for (let i = 0; i < data.buscarRetenciones.length; i++) {

                        const totalRetenciones = data.buscarRetenciones[i].retencion +
                            data.buscarRetenciones[i].retencion_iva +
                            data.buscarRetenciones[i].retencion_ica;

                        $("#tablaRetenciones").find("tbody").append(
                            `<tr><td style="text-align:right">$${addCommas(data.buscarRetenciones[i].retencion)
                            }</td><td style="text-align:right">$${addCommas(data.buscarRetenciones[i].retencion_iva)
                            }</td><td style="text-align:right">$${addCommas(data.buscarRetenciones[i].retencion_ica)
                            }</td><td style="text-align:right">$${addCommas(data.buscarRetenciones[i].retencion_causada)
                            }</td><td id="ttotal" style="text-align:right">$${addCommas(totalRetenciones)
                            }</td><td style="text-align:right">$${
                            addCommas(valorTotal - totalRetenciones)}</td></tr>`);
                    }
                }
            });
        }

        var numero_miles = "";

        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($(`#${id}`).val());
            $(`#${id}`).val(numero_miles);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `.${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr.toString();
            const s = nStr.replace(/\./g, "");
            return s;
        }

    </script>
}