@model Homer_MVC.IcebergModel.icb_unidad_financiera

@{
    ViewBag.Title = "Financieras";
    ViewBag.Icono = "fa fa-university";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">
                    @*@using (Html.BeginForm("AgregarFinanciera", "Financieras", FormMethod.Post, new { @name = "agregarFinanciera01", @id = "agregarFinanciera01" }))*@
                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            @*<button class="btn btn-info" type="button" id="btnAgregarFinan"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Guardar</button>*@

                            @*<button type="submit" class="btn btn-info" name="btnAgregarFinan" id="btnAgregarFinan"><font><font>Guardar</font></font></button>*@

                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")




                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel" id="panelHabeasData">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Código:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite codigo", @onBlur = "BuscarCodigo()" } })
                                                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <label id="codigoexiste" style="display: none" class="control-label col-md-12 text-warning">El código ingresado ya se encuentra asignado</label>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nombre:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.financiera_nombre, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Digite nombre" } })
                                                @Html.ValidationMessageFor(model => model.financiera_nombre, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nit:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @*@Html.DropDownListFor(model => model.Nit, ViewBag.Nit.Items as List<SelectListItem>, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })*@

                                                @Html.DropDownList("Nit", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.Nit, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Comisión:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <div class="col-md-3">
                                                    <input type="radio" name="tipocomision" value="0" id="rbMonto" checked="checked" onclick="mostrarCampo(this.id);">&nbsp;&nbsp;Monto<br>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="radio" name="tipocomision" value="1" id="rbPorcentaje" onclick="mostrarCampo(this.id);">&nbsp;&nbsp;Porcentaje<br>
                                                </div>

                                                @*@Html.EditorFor(model => model.valor_comision, new { htmlAttributes = new { @class = "form-control",  @placeholder = "Digite % comision", @style = "display:none;", @onchange = "validar_porcetaje()", @onkeyup = "return miles(this.id)", @maxlength = "3"  } })
                                                    @Html.ValidationMessageFor(model => model.valor_comision, "", new { @class = "text-danger" })*@
                                                <input id="valor_comision1" name="valor_comision1" class="form-control" value="@ViewBag.PorCom" placeholder="Digite % Comision" style="display:none;" onkeypress="return solo_porcentaje(event)" maxlength="4" />
                                                @*@Html.EditorFor(model => model.valor_comision_monto, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Monto comision" /*, @onkeyup = "return miles(this.id)"*/ } })
                                                    @Html.ValidationMessageFor(model => model.valor_comision_monto, "", new { @class = "text-danger" })*@
                                                <input id="valor_comision_monto1" name="valor_comision_monto1" class="form-control" value="@ViewBag.MonCom" placeholder="Digite Monto Comision" onkeyup="return miles(this.id)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado:&nbsp;</label>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-8">
                                                    Selección (activo)&nbsp;&nbsp;&nbsp;&nbsp;
                                                    @Html.CheckBoxFor(model => model.financiera_estado, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6" id="inactividad" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Razón Inactividad:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.financiera_razon_inantivo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Razón Inactividad" } })
                                                @Html.ValidationMessageFor(model => model.financiera_razon_inantivo, "", new { @class = "text-danger", @type = "number", })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Código</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Nit</th>
                                        <th style="text-align:center">Comision</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            if (!$('#financiera_estado').prop('checked')) {
                $('#financiera_razon_inantivo').prop('required', true);
                $('#inactividad').show();
            } else {
                $('#financiera_razon_inantivo').val('No aplica');
                $('#inactividad').hide();
                $('#financiera_razon_inantivo').prop('required', false);
            }

            $('.js-source-states').select2();


            @*var ti = @ViewBag.Tipo;
            if (ti == 0)
            {
                $("#rbMonto").attr("checked","checked");
                $( "#rbMonto" ).trigger( "click" );
            }
            if (ti == 1)
            {
                $("#rbPorcentaje").attr("checked","checked");
                $( "#rbPorcentaje" ).trigger( "click" );
            }*@

            //setTimeout(function () {
            //    $("#mensaje").fadeOut(1500);
            //}, 3000);
            //setTimeout(function () {
            //    $("#mensaje_error").fadeOut(1500);
            //}, 3000);

            buscarDatos();

            $('form select').each(function (i) {
                this.addEventListener('invalid', function (e) {
                    var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                    var _posS2 = $('#' + _s2Id).position();
                    //get the current position of respective select2
                    $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                    //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                    $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                    /*
                    //Adjust the left and top position accordingly
                    */
                    //remove invalid class after 3 seconds
                    setTimeout(function () {
                        $('#' + _s2Id + ' ul').removeClass('_invalid');
                    }, 3000);
                    return true;
                }, false);
            });
        });

        /// Crear
        $('#btnAgregarFinan').click(function () {
            var wcodigo = $("#codigo").val();
            var wnombre = $("#financiera_nombre").val();
            var wnit = $("#Nit").val();

            var wvalor_comision =$("#valor_comision").val();
            var wvalor_comision_monto = ParseInt($("#valor_comision_monto").val());

            var westado = $("#financiera_estado").val();
            var wfinanciera_razon_inantivo = $("#financiera_razon_inantivo").val();

            var Wtipo = $("#tipocomision").val();



            if ($('#codigo').val() == '' || $('#Nit').val() == '' || $('#financiera_nombre').val() == '' ) {

                //$('#mensajeAgregarConstantes').text('Los campos marcados con (*) son obligatorios');
                //$('#alertAgregarConstantes').show();
                //setTimeout(function () {
                //    $("#alertAgregarConstantes").fadeOut(1500);
                //}, 3000);
            }
            else {

                ///***
                var form = $('#agregarFinanciera01');
                var valid = this.form.checkValidity();
                if (valid) {
                    event.preventDefault();

                    $.ajax
                       (
                        {
                            url: '/Financieras/AgregarFinanciera',
                            type: 'POST',
                            data:
                                 {
                                     codigo: wcodigo,
                                     nombre: wnombre,
                                     nit: wnit,
                                     valor_comision: wvalor_comision,
                                     valor_comision_monto: wvalor_comision_monto,
                                     estado: westado,
                                     financiera_razon_inantivo: wfinanciera_razon_inantivo,
                                     tipocomision : Wtipo,
                                 },
                            beforeSend: function (objeto) {
                                //$('#mensaje_enviando').show();
                                //$('#cuerpo_mensaje_enviando').html('<i class="fa fa-spinner text-center" aria-hidden="true" ></i> Enviando datos...')
                                //setTimeout(function () {
                                //    $("#mensaje_enviando").fadeOut(1500);
                                //}, 3000);
                            },
                        }).done(function (result) {

                            if (result == 1) {

                                //$("#mensaje").html('<i class="fa fa-check" aria-hidden="true" ></i> Definicion de Constantes agregado con exito');
                                //$("#mensaje").show();
                                setTimeout(function () {
                                    $("#mensaje").fadeOut(1500);
                                }, 3000);

                            } else {
                                //$("#mensaje_error").html('<i class="fa fa-times" aria-hidden="true" ></i> Error en guardar Definicion de Constantes');
                                //$("#mensaje_error").show();
                            }
                        });
                }
                //***
            }

            console.log("Paso por btnAgregarFinan");
        });

    $('#financiera_estado').change(function () {
        if ($('#financiera_estado').prop('checked')) {
            $('#inactividad').hide();
            $('#codigoexiste').hide();
            $('#financiera_razon_inantivo').prop('required', false);

        } else {
            $('#financiera_razon_inantivo').val('');
            $('#inactividad').show();
            $('#codigoexiste').hide();
            $('#financiera_razon_inantivo').prop('required', true);
        }
    });

        function validar_porcetaje() {
            debugger;
        console.log("Paso por validar_porcetaje");
        var valor_porcentaje = $('#valor_comision1').val()
        if (valor_porcentaje >100) {
            $('#valor_comision1').val(100);
            var interna = $('#valor_comision1').val();
            console.log("Paso por validar_porcetaje " + interna);
        }
    }

        function solo_porcentaje(e) {
            var key = window.Event ? e.which : e.keyCode;
            return ((key >= 48 && key <= 57) || (key == 8) || (key == 44));
        }

    function mostrarCampo(id)
    {
        $('#valor_comision1').hide();
        $('#valor_comision_monto1').hide();
        console.log(id);
        if (id=="rbMonto") {
            $('#valor_comision_monto1').show();
            //$('#valor_comision').style.visibility = "hidden";
        } else{
            $('#valor_comision1').show();
            //$('#valor_comision_monto').style.visibility = "hidden";
        }
    }

    function valida(id) {
        window.location.href = '@Url.Action("Editar", "Financieras")?menu='+@ViewBag.id_menu+'&&id=' + id;
    }

    function buscarDatos() {

        $.ajax({
            url: '/Financieras/BuscarDatos',
            data: {
            },
            type: "post",
            cache: false,
            success: function (data) {
                console.log(data);
                $('#tablaPaginada').find('tbody').empty();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].tipocomision == 1) {
                        var funcion = "mostrarCampo('rbPorcentaje')";
                    } else {
                        var funcion = "mostrarCampo('rbMonto')";
                    }
                    $('#tablaPaginada').find('tbody').append('<tr><td align="right">'
                        + data[i].codigo + '</td><td align="left">'
                        + data[i].nombre + '</td><td align="right">'
                        + data[i].nit + '</td><td align="right">'
                        + (data[i].comision) + '</td><td align="right">'
                        + data[i].estado + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="valida('
                        + '\'' + data[i].id
                        + '\'); ' + funcion + '">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                }
            },
            complete: function (data) {
                $('#tablaPaginada').dataTable({
                    //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                        //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                        //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                    ]
                });
            }
        });
    }

    function AgregarQuitarFavorito(){
        $.ajax({
            url: '/Inicio/AgregarQuitarFavorito',
            data: {
                id_menu: @ViewBag.id_menu,
            },
            type: "post",
            cache: false,
            success: function (data) {
                if (data.esFavorito == true) {
                    $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                } else {
                    $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                }
            }
        });
    }

        function BuscarCodigo(){
            var codigo=$('#codigo').val();
            $.ajax({
                url:'Financieras/buscarcodigo',
                data:{
                    codigo:codigo,
                     },
                type:"post",
                cache:false,
                success:function(data){
                    if(data==true){
                        $('#codigoexiste').show();
                        $('#codigo').val('');
                    }
                    else if(data==false){
                        $('#codigoexiste').hide();
                    }
                    else{
                        $('#codigoexiste').hide();
                    }
                },
            });
        }


        var numero_miles = "";

        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($('#' + id + '').val());
            $('#' + id + '').val(numero_miles);
            //console.log($('#'+id+'').val);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr += '';
            x = nStr.split(',');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

    </script>

}