@model Homer_MVC.Models.PDFPrefactura
    @using System.Globalization;

    @{
        Layout = null;
        CultureInfo elGR = CultureInfo.CreateSpecificCulture("es-CO");
    }
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PreFactura</title>
        <style type="text/css">
            .contenedor {
                width: 100%;
                height: 100%;
            }


            table, tr, td {
                border-collapse: collapse;
                border: 1px solid #ccc;
                padding-left: 5px;
            }

            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-row-group;
            }

            tr {
                page-break-inside: avoid;
            }

            table, tr, td, th, tbody, thead, tfoot, td div {
                page-break-inside: avoid !important;
            }
        </style>

    </head>

    <body>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center;width:15%; background-color: #D8D8D8">DATOS GENERALES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>ASEGURADORA: </strong> <br />@Model.aseguradora</td>
                    <td><strong>PLACA: </strong> <br />@Model.placa</td>
                    <td><strong>KMT: </strong> <br /></td>


                </tr>
                <tr>
                    <td><strong>CEDULA/NIT: </strong> <br />@Model.txtDocumentoCliente</td>
                    <td><strong>VEHICULO: </strong> <br />@Model.vehiculo</td>
                    <td><strong>ORDEN DE TRABAJO: </strong> <br />@Model.codigoentrada</td>
                </tr>
                <tr>
                    <td><strong>DIRECCION: </strong> <br /></td>
                    <td><strong>SERIE: </strong> <br />@Model.serie</td>
                    <td><strong>ASESOR: </strong> <br />@Model.asesor</td>
                </tr>
                <tr>
                    <td><strong>TELEFONO: </strong> <br />@Model.celularcliente</td>
                    <td><strong>MODELO: </strong> <br />@Model.modelo</td>
                    <td></td>
                </tr>

                <tr>
                    <td><strong>CIUDAD: </strong> <br />@Model.ciudadcliente</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br />
        @*<table style="width:100%">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th colspan="7" style="text-align: center; background-color: #D8D8D8">ESTADO DEL VEHICULO (INVENTARIO GENERAL)</th>
                </tr>
                <tr>
                    <td>_____<strong>Pito</strong></td>
                    <td>_____<strong>Copas</strong></td>
                    <td>_____<strong>Espejos</strong></td>
                    <td>_____<strong>Vidrios</strong></td>
                    <td>_____<strong>Plumillas</strong></td>
                    <td>_____<strong>Llanta Rpto</strong></td>
                    <td>_____<strong>Gorro Plumillas</strong></td>
                </tr>
                <tr>
                    <td>_____<strong>Gato</strong></td>
                    <td>_____<strong>Luces</strong></td>
                    <td>_____<strong>Tapetes</strong></td>
                    <td>_____<strong>Emblemas</strong></td>
                    <td>_____<strong>Encendedor</strong></td>
                    <td>_____<strong>Llave Pernos</strong></td>
                    <td>_____<strong>Aire Acondicionado</strong></td>
                </tr>
                <tr>
                    <td>_____<strong>Radio</strong></td>
                    <td>_____<strong>Antena</strong></td>
                    <td>_____<strong>Llavero</strong></td>
                    <td>_____<strong>Extintor</strong></td>
                    <td>_____<strong>Herramienta </strong></td>
                    <td>_____<strong>tapa gasolina</strong></td>
                    <td>_____<strong></strong></td>
                </tr>


            </tbody>
        </table>
        <br />*@
        <table style="width:100%">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th colspan="7" style="text-align: center; background-color: #D8D8D8">CUMPLIMIENTO REVISIONES PERIODICAS</th>
                </tr>
                <tr colspan="3">
                    <td>REVISION 5000 KM  OT____KM____</td>
                    <td>REVISION 20000 KM OT____KM____</td>
                    <td>REVISION 35000 KM OT____KM____</td>
                    <td>REVISION 50000 KM OT____KM____</td>
                </tr>
                <tr colspan="3">
                    <td>REVISION 10000 KM OT____KM____</td>
                    <td>REVISION 25000 KM OT____KM____</td>
                    <td>REVISION 40000 KM OT____KM____</td>
                    <td>REVISION 55000 KM OT____KM____</td>
                </tr>
                <tr colspan="3">
                    <td>REVISION 15000 KM OT____KM____</td>
                    <td>REVISION 30000 KM OT____KM____</td>
                    <td>REVISION 45000 KM OT____KM____</td>
                    <td>REVISION 60000 KM OT____KM____</td>
                </tr>
            </tbody>
        </table>
        <br />
        <table style="width:100%">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: center;width:15%; background-color: #D8D8D8">RECOMENDACIONES SUGERIDAS POR EL TALLER</th>
                </tr>
                <tr>
                    <th style="text-align:left;width:5%;" colspan="3">
                        <p>
                            <br /><br /><br />
                        </p>
                    </th>
                </tr>
            </tbody>
        </table>
        <br />
        <table style="width:100%">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th colspan="4" style="text-align: center;width:15%; background-color: #D8D8D8">RECOMENDACIONES TECNICAS</th>
                </tr>
                <tr>
                    <th style="text-align:left;width:5%;" colspan="3">
                        <p>
                            <br /><br /><br />
                        </p>
                    </th>
                </tr>
            </tbody>
        </table>
        <br />
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #D8D8D8">SERVICIO</th>
                    <th colspan="6" style="text-align: center; background-color: #D8D8D8">DESCRIPCION DEL SERVICIO</th>
                    <th colspan="2" style="text-align: center; background-color: #D8D8D8">VALOR</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.operacionesGarantia)
                {
                    <tr>
                        <td colspan="2">@item.codigo</td>
                        <td colspan="6">@item.operacion</td>
                        <td colspan="2"></td>
                    </tr>



                }

                @*<tr>
                    <td colspan="2" style="text-align: center; background-color: #D8D8D8"></td>
                    <td colspan="6" style="text-align: right; background-color: #D8D8D8">TOTAL MANO DE OBRA:</td>
                    <td colspan="2" style="text-align: left; background-color: #D8D8D8"></td>
                    <td colspan="2" style="text-align: left; background-color: #D8D8D8">0</td>
                </tr>*@
            </tbody>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <th colspan="2" style="text-align: left; background-color: #D8D8D8; width:30%">TOTAL TIEMPO OPERACIONES:</th>
                <td colspan="2" style="text-align: right;width:30%">@Model.totaltiempooperaciones</td>
            </tr>
            <tr>
                <th colspan="2" style="text-align: left; background-color: #D8D8D8; width:30%">TOTAL MANO DE OBRA: </th>
                <td colspan="2" style="text-align: right;width:30%">@Model.totalvaloroperaciones</td>
            </tr>

        </table>
    </body>

</html>
