@{
    ViewBag.Title = "Creación de Cajas";
    ViewBag.Icono = "fa fa-folder-open-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles  {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear" onclick="crearCaja()"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Crear</a></li>
                <li class="" onclick="buscarAjaxGrupos();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">


                    @using (Html.BeginForm("creacionCaja", "CentralAtencion"))
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @*@Html.Hidden("menu")*@

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel" id="panelHabeasData">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Registro de Caja
                                </div>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Número de caja:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("numero", new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite numero", @min = "1", @required = "required" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Nombre de caja:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("nombre", new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite nombre de caja", @required = "required" } })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Bodega:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("bodega", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Area:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("area", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Transacciones a realizar:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    <select id="doccons_idtpdoc" name="doccons_idtpdoc" multiple="multiple" required="required" placeholder="Seleccione">
                                                        <option></option>
                                                        @foreach (var item in ViewBag.doccons_idtpdoc)
                                                        {
                                                            <option class="selector" value="@item.id">@item.descripcion</option>
                                                        }
                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Estado :&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("estado", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                </div>
                                <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Responsables de la caja
                            </div>
                            <div class="panel-body">
                                <div class="panel-body-btns text-right">
                                    @*<button type="button" class="btn btn-success" id="asignarResponsable" onclick="asignarResponsable()">Agregar</button>*@
                                </div>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Responsable(S):&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <select id="responsable" name="responsable" multiple="multiple" required="required" placeholder="Seleccione">
                                                    <option></option>
                                                    @foreach (var item in ViewBag.responsable)
                                                    {
                                                        <option class="selector" value="@item.user_id">@item.user_nombre @item.user_apellido</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("fecha", new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite fecha", @required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                </div> <br />

                                <div class="row">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablapaginada1">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Responsable</th>
                                                        <th style="text-align:center">Fecha</th>
                                                        <th style="text-align:center">Caja</th>
                                                        <th style="text-align:center">Bodega</th>
                                                        <th style="text-align:center">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                </div>
                                <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Medios de Pagos
                            </div>
                            <div class="panel-body">

                                <div class="panel-body-btns text-right">
                                    @*<button type="button" class="btn btn-success" id="asignarMedio" onclick="asignarMedio()">Agregar</button>*@
                                </div>

                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Medios de Pago:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <select id="mediosPago" name="mediosPago" multiple="multiple" required="required" placeholder="Seleccione">
                                                    <option></option>
                                                    @foreach (var item in ViewBag.mediosPago1)
                                                    {
                                                        <option class="selector" value="@item.Value">@item.Text</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div> <br />

                                <div class="row">
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablapaginada2">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Medio de Pago</th>
                                                        <th style="text-align:center">Banco</th>
                                                        <th style="text-align:center">Estado</th>
                                                        <th style="text-align:center">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>




                    }

                </div>

            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">N&uacute;mero</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Estado </th>
                                        <th style="text-align:center">Responsable (S)</th>
                                        <th style="text-align:center">Transaccion (es)</th>
                                        @*<th style="text-align:center">Fecha</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Vendor/fullcalendar/dist/lang-all.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);

            var documentos = '@ViewBag.documentosSeleccionadas';
            var doc = documentos.split(",");
            $('#doccons_idtpdoc').val(0);
            $('#doccons_idtpdoc').multiselect({
                includeSelectAllOption: true,
                maxHeight: 400,
            });

            var responsables = '@ViewBag.responsablesSeleccionadas';
            var res = responsables.split(",");
            $('#responsable').val(1);
            $('#responsable').multiselect({
                includeSelectAllOption: true,
                maxHeight: 400,
            });

            var mediosPagos = '@ViewBag.mediosPagosSeleccionadas';
            var medio = mediosPagos.split(",");
            $('#mediosPago').val(0);
            $('#mediosPago').multiselect({
                includeSelectAllOption: true,
                maxHeight: 400,
            });


            $('input[type=checkbox]:checked').each(function (checkbox) {
            checkbox = $(this).prop('checked', false);
            });

            $("#desde").datetimepicker({
                format: 'YYYY-MM-DD',
            });
            $("#hasta").datetimepicker({
                format: 'YYYY-MM-DD',
            });

            $("#fecha").datepicker({
                dateFormat: 'YYYY-MM-DD',
            }).datepicker("setDate", new Date());

            $('#bodega').val('@ViewBag.bodegaActual').select2();
        });

        function crearCaja() {
            $('#buscar').hide();
            $('#tablaPaginada').hide();
            $('#crear').show();


        }

        function addCommas(nStr) {

            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `,${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;

        }

         $('#total').change(function () {
            debugger;
            var valor = $('#total').val();
            debugger;
            var valord = addCommas(valor);
            $('#total').val(valord);
        });


        //function buscarAjaxGruposViejo() {

        //    $('#tablaPaginada').dataTable().fnDestroy();
        //    $.ajax({
        //        url: '/CentralAtencion/busquedaCaja',
        //        data: {
        //        },
        //        type: "post",
        //        cache: false,
        //        success: function (datos) {
        //            console.log(datos.data);

        //            var caja = datos.data;
        //            var responsables = datos.data2;
        //            var transaciones = datos.data3;

        //            debugger;
        //            var boton = "";
        //            $('#tablaPaginada').find('tbody').empty();
        //            for (var i = 0; i < caja.length; i++) {
        //                $('#tablaPaginada').find('tbody').append(
        //                    //console.log(caja[i].numero)
        //                    +'<tr>'
        //                    + '<td align="left">' + caja[i].numero + '</td>'
        //                    + '<td align="left">' + caja[i].bodega + '</td>'
        //                    + '<td align="left">' + caja[i].area + '</td>'
        //                    + '<td align="left">');

        //                   for (var j = 0; j < responsables.length; j++) {
        //                       if (caja[i].id == responsables[j].caja) {
        //                           console.log(responsables[j].responsables)
        //                          '<p>'+ responsables[j].responsables +'</p>'
        //                       }
        //                   } 

        //                  + '</td>  <td align="left">'

        //                   for (var k = 0; k < transaciones.length; k++) {
        //                       if (caja[i].id == transaciones[k].caja) {
        //                           console.log(transaciones[k].transacciones)
        //                          '<p>'+ transaciones[k].transacciones +'</p>'
        //                       }
        //                   } 
        //                  +'</td> </tr>'
                                                              
        //            }
        //        },
        //        complete: function (data) {

        //            $('#tablaPaginada').dataTable({

        //                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
        //                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        //                buttons: [

        //                ]
        //            });

        //        }
        //    })
        //}

        function buscarAjaxGrupos() {

            $("#tablaPaginada").dataTable().fnDestroy();

                    var table = $('#tablaPaginada').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "orderMulti": false,
                        "searching": false,
                        dom: "<''<'col-sm-4'><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'li>p",
                        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                        buttons: [
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm', text: 'Exportar a Excel' }
                        ],
                        "ajax": {
                            "url": "/CentralAtencion/busquedaCaja",
                            "type": "POST",
                            "datatype": "json",
                            "data": {
                            }
                        },
                        "columns": [
                            { "data": "bodega", "name": "bodega", "autoWidth": true },
                            { "data": "caja", "name": "caja", "autoWidth": true },
                            { "data": "nombre", "name": "nombre", "autoWidth": true },
                            { "data": "estado", "name": "estado", "autoWidth": true },
                            { "data": "responsables", "name": "responsables", "autoWidth": true },
                            { "data": "transacciones", "name": "transacciones", "autoWidth": true },
                        ],
                        "order": [[0, "asc"]]
                    });

                    var data = table.buttons.exportData();
                    // Buscar filtros
                    //$('#botonbuscar2').prop('disabled', false);

        }


    </script>

}
