@model Homer_MVC.Models.PdfCuadre
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("es-CO");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Factura</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }


        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        table, tr, td, th, tbody, thead, tfoot, td div {
            page-break-inside: avoid !important;
        }
    </style>

</head>

<body>

    <table style="width:100%">

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO EFECTIVO</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO PAGO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">FACTURA</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR</td>
                    </tr>

                    @foreach (var item2 in Model.efectivo)
                    {
                        <tr style="width:100%">
                            <td colspan="4">@item2.nomMedio</td>
                            <td colspan="4">@item2.numFactura</td>
                            <td colspan="4">@item2.ValorMedio</td>
                        </tr>
                    }
                    <tr style="width:100%">
                        <td colspan="4"><strong>Total</strong></td>
                        <td colspan="4"></td>
                        <td colspan="4">@Model.totalefectivo</td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
    <br />

    <table style="width:100%">

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO TARJETAS</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO PAGO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">FACTURA</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR</td>
                    </tr>

                    @foreach (var item2 in Model.tarjetas)
                    {
                        <tr style="width:100%">
                            <td colspan="4">@item2.nomMedio</td>
                            <td colspan="4">@item2.numFactura</td>
                            <td colspan="4">@item2.ValorMedio</td>
                        </tr>
                    }
                    <tr style="width:100%">
                        <td colspan="4"><strong>Total</strong></td>
                        <td colspan="4"></td>
                        <td colspan="4">@Model.totaltarjeta</td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
    <br />

    <table style="width:100%">

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO CHEQUE</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO PAGO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">FACTURA</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR</td>
                    </tr>

                    @foreach (var item2 in Model.cheque)
                    {
                        <tr style="width:100%">
                            <td colspan="4">@item2.nomMedio</td>
                            <td colspan="4">@item2.numFactura</td>
                            <td colspan="4">@item2.ValorMedio</td>
                        </tr>
                    }
                    <tr style="width:100%">
                        <td colspan="4"><strong>Total </strong></td>
                        <td colspan="4"></td>
                        <td colspan="4">@Model.totalCheque</td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
    <br />

    <table style="width:100%">

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO CUPO</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">MEDIO PAGO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">FACTURA</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR</td>
                    </tr>

                    @foreach (var item2 in Model.cupo)
                    {
                        <tr style="width:100%">
                            <td colspan="4">@item2.nomMedio</td>
                            <td colspan="4">@item2.numFactura</td>
                            <td colspan="4">@item2.ValorMedio</td>
                        </tr>
                    }
                    <tr style="width:100%">
                        <td colspan="4"><strong>Total</strong></td>
                        <td colspan="4"></td>
                        <td colspan="4">@Model.totalcupo</td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
    <br />


    <table style="width:100%">

        <tr style="width:100%">
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">TOTALES</th>
        </tr>

        <tr style="width:100%">
            <td colspan="4">
                <table width="100%">
                    <tr style="width:100%">
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR EFECTIVO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR EFECTIVO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR EFECTIVO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR EFECTIVO</td>
                        <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR GENERAL</td>
                    </tr>

                    <tr style="width:100%">
                        <td colspan="4">$ @Model.totalefectivo</td>
                        <td colspan="4">$ @Model.totaltarjeta</td>
                        <td colspan="4">$ @Model.totalCheque</td>
                        <td colspan="4">$ @Model.totalcupo</td>
                        <td colspan="4">$ @Model.totalGeneral</td>
                    </tr>

                </table>

            </td>
        </tr>

    </table>
    <br />

</body>

</html>
