@{
    ViewBag.Title = "Administración de Cajas";
    ViewBag.Icono = "fa fa-folder-open-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles  {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Tabla @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active" onclick="buscarCaja();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">

                    <div class="panel-body-btns text-right">
                        <button class="btn btn-info" type="button" onclick="buscarAjaxCajas()"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Buscar</button>
                    </div>

                    <br />

                    <div class="panel-body-busqueda">

                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Bodega:&nbsp;<span class="text-danger"></span></label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("bodccs_cod", null, "", htmlAttributes: new { @class = "form-control js-source-states" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Número:&nbsp;<span class="text-danger"></span></label>
                                    <div class="col-md-8">
                                        @Html.Editor("numero", new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-5" style="padding-right: 0">
                                        <input type="text" class="input-sm form-control col-md-4 fechas" name="desde" id="desde" value="" placeholder="Fecha Inicio" autocomplete="off" />
                                    </div>
                                    <div class="col-md-2" style="padding-left: 0; padding-right: 0;">
                                        <span class="input-group-addon">Hasta</span>
                                    </div>
                                    <div class="col-md-5" style="padding-left: 0">
                                        <input type="text" class="input-sm form-control col-md-4 fechas" name="hasta" id="hasta" value="" placeholder="Fecha Fin" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">N&uacute;mero</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center">Valor Pendiente</th>
                                        <th style="text-align:center">Responsable</th>
                                        <th style="text-align:center">Acci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Vendor/fullcalendar/dist/lang-all.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>

    <script type="text/javascript">

        var global_json_data;

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);

            $("#desde").datetimepicker({
                format: 'YYYY-MM-DD',
            });
            $("#hasta").datetimepicker({
                format: 'YYYY-MM-DD',
            });

            buscarCaja();
        });


        function buscarCaja() {
            $('#buscar').show();
            $('#tablaPaginada').show();
        }

        function addCommas(nStr) {

            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `,${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;

        }

        function valida(id) {

            var permiso='@ViewBag.Permiso';
            if (permiso == 'Si') {
                window.location.href = '@Url.Action("CuadreCajaUpdate", "CentralAtencion")?id=' + id;
            } else {
                swal("No autorizado", "No estas autorizado", "error");
                @*window.location.href = '@Url.Action("CuadreCajaUpdate", "CentralAtencion")?id=' + id;*@
            }

        }

        function valida2(id) {

            window.location.href = '@Url.Action("BrowserCuadreCaja", "CentralAtencion")?id=' + id;

        }

        function buscarAjaxCajas() {

            $("#tablaPaginada").dataTable().fnDestroy();

            var idbodegas = $('#bodccs_cod').val();
            var numero= $('#numero').val();
            var desde = $('#desde').val();
            var hasta = $('#hasta').val();
            debugger;
                    var table = $('#tablaPaginada').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "orderMulti": false,
                        "searching": false,
                        dom: "<''<'col-sm-4'><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'li>p",
                        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                        buttons: [
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm', text: 'Exportar a Excel' }
                        ],
                        "ajax": {
                            "url": "/CentralAtencion/BuscarCajas",
                            "type": "POST",
                            "datatype": "json",
                            "data": {
                                idbodegas: idbodegas,
                                numero: numero,
                                desde: desde,
                                hasta:hasta,
                            }
                        },
                        "columns": [
                            { "data": "fecha", "name": "fecha", "autoWidth": true },
                            { "data": "bodega", "name": "bodega", "autoWidth": true, className: "align-right" },
                            { "data": "caja", "name": "caja", "autoWidth": true },
                            { "data": "nombre", "name": "nombre", "autoWidth": true },
                            { "data": "estado", "name": "estado", "autoWidth": true },
                            { "data": addCommas("valorTotal") , "name": "valorTotal", "autoWidth": true },
                            { "data": "responsables", "name": "responsables", "autoWidth": true },
                            {
                                "mData": null,
                                "bSortable": false,
                                "mRender": function (o) {
                                    console.log(o.id);
                                    var boton = "";
                                    boton = '<a class="btn btn-info btn-xs" id="btnGestionar" onclick="valida(' + o.id + ')">&nbsp;Gestionar&nbsp;</a></td>&nbsp;';
                                    boton += '<a class="btn btn-info btn-xs" id="btnVer" onclick="valida2(' +  o.id + ')">&nbsp;Ver&nbsp;</a></td>';
                                        

                                    return boton;
                                }
                            },
                        ],
                        "order": [[0, "asc"]]
                    });

                    var data = table.buttons.exportData();
                    // Buscar filtros
                    //$('#botonbuscar2').prop('disabled', false);

        }


    </script>

}
