@{
    ViewBag.Icono = "fa fa-university";
    ViewBag.Title = "Configuracion Bolsas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro de @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Actualizar</a></li>
                @*<li class=""><a data-toggle="tab" href="#buscar" onclick="buscarBolsas()"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>*@
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="button" onclick="actualizarBolsa()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bolsa:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.TextBox("txtbolsa", null, "", htmlAttributes: new { @class = "form-control", @placeholder = "Seleccione", @id = "txtbolsa", @required = "required", })
                                                <input type="hidden" name="id" id="id"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Valor:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.TextBox("txtValor", null, "", htmlAttributes: new { @class = "form-control", @placeholder = "Seleccione", @id = "txtValor", @required = "required", })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado:&nbsp;<span class="text-danger">*</span></label>
                                            <input type="checkbox" id="habilitado" value="true" checked data-toggle="toggle" data-size="mini">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            console.log('Funciona');
           
            //var bolsa= utf8_decode()
            debugger;
            $('#id').val(@ViewBag.id);
            $('#txtbolsa').val('@ViewBag.bolsa');
            $('#txtValor').val('@ViewBag.valor');

        });

        $('#txtValor').change(function () {
            debugger;
            var valor = $('#txtValor').val();
            debugger;
            var valord = addCommas(valor);
            $('#txtValor').val(valord);
        });

        function addCommas(nStr) {

            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `,${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;

        }

        function actualizarBolsa() {
            debugger;
            var id = $('#id').val();
            var bolsa = $('#txtbolsa').val();
            var valor = $('#txtValor').val();
            var check = false;
            var estado =$('#habilitado').val();

            if ($('#habilitado').prop('checked')) {
                //check = $('#habilitado').prop('checked');
                check= true;
            }

            var estado = check;
            debugger;

            $.ajax({
                url: '/CentralAtencion/actualizarBolsa',
                data: {
                    id: id,
                    bolsa: bolsa,
                    valor: valor,
                    estado: estado,
                },
                type: "post",
                cache: false,
                success: function (result) {

                    if (result == 1) {
                        swal("Exito!", "Se actualizo correctamente", "success");
                    } else {
                        swal("Error", "Error al actualizo", "error");
                    }

                }
            })
            $('#txtbolsa').val('');
            $('#txtValor').val('');
        }

        function buscarBolsas() {
            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/CentralAtencion/buscarBolsas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    debugger

                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append(
                            '<tr>'
                            + '<td align="left">' + data[i].bolsa + '</td>'
                            + '<td align="left">' + data[i].valor + '</td>'
                            + '<td align="left">' + (data[i].estado == true ? 'Activo' : 'Inactivo') + '</td>'
                            + '<td align="center"> <button class="btn btn-info btn-xs" onclick="editarTipoBolsa('+ data[i].id+')">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button></td>'
                            + '</tr>');
                    }

                },
                complete: function (data) {

                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                        ]
                    });
                }
            })
        }

        function editarTipoBolsa(id) {
        debugger;
         window.location.href = `@Url.Action("editarTipoBolsa", "CentralAtencion")?menu=` +`@ViewBag.id_menu`+`&&id=`+`${id}`;

        }

    </script>

}
