@model Homer_MVC.IcebergModel.medios_conceptos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medios_conceptos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_actualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_actualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razon_inactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon_inactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medios_formato.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medios_formato.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.user_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.user_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users1.user_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users1.user_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
