@model IEnumerable<Homer_MVC.IcebergModel.medios_conceptos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_inactivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medios_formato.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.user_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users1.user_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_actualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_inactivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medios_formato.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.user_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users1.user_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
