@model Homer_MVC.IcebergModel.icb_terceros

@{
    ViewBag.Title = "Terceros";
    ViewBag.Icono = "fa fa-users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @*<link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />*@
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}


<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">
            @*<a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>*@

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

                @*<ol class="hbreadcrumb breadcrumb">
                        <li><a href="#">Inicio</a></li>
                        <li>
                            <span>Sistema</span>
                        </li>
                        <li class="active">
                            <span>@ViewBag.Title</span>
                        </li>
                    </ol>*@
            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono text-primary"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxTerceros();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search text-primary"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")

                        <div class="form-horizontal">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Información general
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.tpdoc_id, ViewBag.tpdoc_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "", @onchange = "checkDocument()" })
                                                @Html.ValidationMessageFor(model => model.tpdoc_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Número Documento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.doc_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese número documento", @required = "", @onchange = "checkDocument()" } })
                                                @Html.ValidationMessageFor(model => model.doc_tercero, "", new { @class = "text-danger", })
                                            </div>
                                            <div class="col-md-2">

                                                @if (TempData["errorDigitoVerificacion"] != null)
                                                {
                                                    @Html.EditorFor(model => model.digito_verificacion, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "D.V" } })
                                                    <p class="text-danger">Campo Requerido</p>
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.digito_verificacion, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "D.V", style = "display:none" } })
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div id="razonSocial" style="display: none">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" id="lrazon_social">Razón Social&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese razón social" } })
                                                    @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="nombres" style="display: none">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div id="lprimer_nombre">
                                                    <label class="control-label col-md-4">Primer Nombre:&nbsp;<span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.prinom_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese primer nombre" } })
                                                    @Html.ValidationMessageFor(model => model.prinom_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Segundo Nombre:</label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.segnom_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese segundo nombre" } })
                                                    @Html.ValidationMessageFor(model => model.segnom_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div id="lprimer_apellido">
                                                    <label class="control-label col-md-4">Primer Apellido:&nbsp;<span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.apellido_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese primer apellido", } })
                                                    @Html.ValidationMessageFor(model => model.apellido_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Segundo Apellido:</label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.segapellido_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese segundo apellido" } })
                                                    @Html.ValidationMessageFor(model => model.segapellido_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fecha Nacimiento:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.fec_nacimiento, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "AAAA/MM/DD", } })
                                                    @Html.ValidationMessageFor(model => model.fec_nacimiento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Genero:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.genero_tercero, ViewBag.genero_tercero.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.genero_tercero, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Teléfono:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.telf_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese teléfono", @pattern = ".{7,10}", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.telf_tercero, "", new { @class = "text-danger" })
                                                <p class="text-danger" id="mns_telefono" style="display: none">El telefono debe contener minimo 7 caracteres</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Celular:<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.celular_tercero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ingrese celular", @maxlength = "10", @pattern = ".{10,10}", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.celular_tercero, "", new { @class = "text-danger" })
                                                <p class="text-danger" id="mns_celular" style="display: none">El celular debe contener 10 caracteres</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">E-mail:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.email_tercero, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "nombre@ejemplo.com", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.email_tercero, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div hidden id="infoContable">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cuenta Bancaria:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.cuenta_banco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cuenta Bancaria" } })
                                                    @Html.ValidationMessageFor(model => model.cuenta_banco, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Tipo Régimen:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(model => model.tpregimen_id, ViewBag.tpregimen_id.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.tpregimen_id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Actividad Económica:&nbsp;<span class="text-danger">*</span></label>
                                                    <div class="col-md-6">
                                                        @Html.DropDownListFor(model => model.id_acteco, null, "Seleccione", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.id_acteco, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">

                                            </div>*@
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Ref. Fuente:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.retfuente, ViewBag.retfuente.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.retfuente, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Ref. Iva:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.retiva, ViewBag.retiva.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.retiva, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Ref. Ica:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.retica, ViewBag.retica.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.retica, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Autorretención:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.autorretencion, ViewBag.autorretencion.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.autorretencion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado:<span class="text-danger">*&nbsp;</span></label>
                                            <div class="col-md-6">
                                                @Html.CheckBoxFor(model => model.tercero_estado, new { @data_toggle = "toggle", @data_size = "mini" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6"></div>
                                    <div class="col-sm-6" id="inactividad" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Razón Inactividad:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.razoninactivo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Razón Inactividad", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.razoninactivo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>



                            <div class="hpanel" id="panelDireccion">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Direcciones
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Pais:&nbsp;</label>
                                            <div class="col-md-6">
                                                <select class="form-control js-source-states" id="slcPais" name="slcPais" placeholder="Seleccione">
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Departamento:&nbsp;</label>
                                            <div class="col-md-6">
                                                <select class="form-control js-source-states" id="slcDpto" name="slcDpto" placeholder="Seleccione">
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Ciudad:&nbsp;</label>
                                            <div class="col-md-6">
                                                <select class="form-control js-source-states" id="ciu_id" name="ciu_id" placeholder="Seleccione">
                                                    <option value="">Seleccione</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Sector:&nbsp;</label>
                                            <div class="col-md-6">
                                                <select class="form-control js-source-states" id="sector_id" name="sector_id" placeholder="Seleccione">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    @*==================================================================================================*@

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Dirección:&nbsp;</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <hr />
                                        <table style="width: 100%">
                                            <tr>
                                                <td>
                                                    <select name="tp_via" id="tp_via" class="form-control js-source-states" placeholder="Tipo de vía">
                                                        <option value=""></option>
                                                        <option value="AV">Avenida</option>
                                                        <option value="AC">Av Calle</option>
                                                        <option value="AK">Av Carrera</option>
                                                        <option value="CL">Calle</option>
                                                        <option value="AUTOP">Autopista</option>
                                                        <option value="KR">Carrera</option>
                                                        <option value="CCV">Circunvalar</option>
                                                        <option value="Dg">Diagonal</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input name="num_via" id="num_via" class="form-control" value="" placeholder="Numero de vía" />
                                                </td>
                                                @*<td>
                                                        <select name="sector_via" id="sector_via" class="form-control js-source-states" placeholder="Sector vía">
                                                            <option value=""></option>
                                                            <option value="SUR">Sur</option>
                                                            <option value="NORTE">Norte</option>
                                                            <option value="ESTE">Este</option>
                                                            <option value="OESTE">Oeste</option>
                                                        </select>
                                                    </td>*@
                                                <td>&nbsp;#&nbsp;</td>
                                                <td>
                                                    <input id="num_via_generadoras" class="form-control" value="" placeholder="Numero" />
                                                </td>
                                                <td>&nbsp;-&nbsp;</td>
                                                <td>
                                                    <input name="num_placa" id="num_placa" class="form-control" type="number" value="" placeholder="Numero" />
                                                </td>
                                                <td>
                                                    <select name="sector_via_generadora" id="sector_via_generadora" class="form-control js-source-states" placeholder="Sector vía">
                                                        <option value=""></option>
                                                        <option value="SUR">Sur</option>
                                                        <option value="NORTE">Norte</option>
                                                        <option value="ESTE">Este</option>
                                                        <option value="OESTE">Oeste</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input name="otros" id="otros" class="form-control" value="" placeholder="Interior , apartamento, manzana" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="panel-body-btns text-right">
                                            <button class="btn btn-primary" type="button" onclick="agregarDireccion()"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Agregar</button>
                                        </div>
                                    </div>

                                    <input type="hidden" name="lista_direcciones" id="lista_direcciones" value="" />
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered table-hover" id="tablaDirecciones">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">#</th>
                                                    <th style="text-align:center">Pais</th>
                                                    <th style="text-align:center">Departamento</th>
                                                    <th style="text-align:center">Ciudad</th>
                                                    <th style="text-align:center">Sector</th>
                                                    <th style="text-align:center">Dirección</th>
                                                    <th style="text-align:center">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>


                            <div class="hpanel" id="panelHabeasData">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;Información habeas data
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Correo:&nbsp;</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.habdtautor_correo, new { @data_toggle = "toggle", @data_size = "mini" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Celular:&nbsp;</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.habdtautor_celular, new { @data_toggle = "toggle", @data_size = "mini" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">MSM:&nbsp;</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.habdtautor_msm, new { @data_toggle = "toggle", @data_size = "mini" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Whatsapp:&nbsp;</label>
                                            <div class="col-md-8">
                                                @Html.CheckBoxFor(model => model.habdtautor_watsap, new { @data_toggle = "toggle", @data_size = "mini" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="panel-body-btns text-right">

                            @if (TempData["mensaje"] != null)
                            {
                                <a class="btn btn-info" href="../../terceros"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Crear nuevo</a>
                            }
                            else
                            {
                                <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            }

                        </div>

                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive" style="width:100%">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Documento</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Ciudad</th>
                                        <th style="text-align:center">Fecha creación</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script> @*AC*@


    <script type="text/javascript">
        var i = 0;

        $(document).ready(function () {
            buscarPermisos()
            //console.log (" ready docuent");
            $('#tercero_estado').bootstrapToggle('on')
            $('#menu').val(@ViewBag.id_menu);
            $('#panelDireccion').find('.showhide').trigger('click');
            $('#panelHabeasData').find('.showhide').trigger('click');

            $('.js-source-states').select2();
            if ($('#tpdoc_id').val() != '1') {
                $('#digito_verificacion').hide();
                $('#nombres').show();
                console.log (" personal");
                $('#telf_tercero').prop("required", true);
                $('#celular_tercero').removeAttr("required");
            } else {
                console.log (" empresa");
                $('#digito_verificacion').show();
                $('#razonSocial').show();

                $('#celular_tercero').prop("required", true);
                $('#telf_tercero').removeAttr("required");
            }

            //modificado ac
            $('#fec_nacimiento').datetimepicker({
                format: 'YYYY/MM/DD',
                minDate: new Date(1899,12,01),
                maxDate: new Date(),
            }).datetimepicker("setDate","");

            //buscarAjaxTerceros();
            buscarPais();

            if ($('#tercero_estado').prop('checked')) {
                $('#razoninactivo').removeAttr("required");
                $('#inactividad').hide();
            }

            $('#nombre').val('');
        });

        $("#telf_tercero").change(function () {
            if ($("#telf_tercero").val().length < 7) {
                $("#mns_telefono").show();
            }
            else {
                $("#mns_telefono").hide();
            }
        });

        $("#celular_tercero").change(function () {
            if ($("#celular_tercero").val().length < 10) {
                $("#mns_celular").show();
            }
            else {
                $("#mns_celular").hide();
            }
        });

        function buscarPermisos(){
            permisosContables = 0;
            $.ajax({
                url: '/prospectos/buscarPermisos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        if (data[i] == 20) {
                            $('#celular_tercero').prop('required', false)
                        }
                        if (data[i] == 21) {
                            $('#email_tercero').prop('required', false)
                        }
                        if (data[i] != 9 && permisosContables == 0) {
                            $('#tpregimen_id').prop('required', false);
                            $('#id_acteco').prop('required', false);
                        }
                        if (data[i] == 9) {
                            permisosContables++;
                            $('#infoContable').show();
                            $('#tpregimen_id').prop('required', true);
                            $('#id_acteco').prop('required', true);
                        }
                    }
                },
                complete: function (data) { }
            });
        }


        //  $('#tercero_estado').bootstrapToggle('on');

        $('#tercero_estado').change(function () {
            if ($('#tercero_estado').prop('checked')) {
                $('#inactividad').hide();
            } else {
                $('#razoninactivo').val('');
                $('#inactividad').show();
            }
        });

        function agregarDireccion() {
            i++;
            var btnEliminar = '<button class="btn btn-danger btn-circle" id="' + i + '" type="button" onclick="eliminarDireccion(this.id)"><i class="fa fa-remove"></i></button>'

            $('#lista_direcciones').val(i);
            var valor = $('#num_via_generadoras').val();

            $('#tablaDirecciones').find('tbody').append('<tr id="item' + i + '">' +
                                     + '<td align="center"></td>'
                                     + '<td align="center">Direccion ' + i + '</td>'
                                     + '<td align="center"><input type="hidden" name="pais' + i + '" id="pais' + i + '" value="' + $('#slcPais').val() + '"/>' + $('#slcPais option:selected').text() + '</td>'
                                     + '<td align="center"><input type="hidden" name="dpto' + i + '" id="dpto' + i + '" value="' + $('#slcDpto').val() + '"/>' + $('#slcDpto option:selected').text() + '</td>'
                                     + '<td align="center"><input type="hidden" name="ciudad' + i + '" id="ciudad' + i + '" value="' + $('#ciu_id').val() + '"/>' + $('#ciu_id option:selected').text() + '</td>'
                                     + '<td align="center"><input type="hidden" name="sector' + i + '" id="sector' + i + '" value="' + $('#sector_id').val() + '"/>' + $('#sector_id option:selected').text() + '</td>'
                                     + '<td align="center"><input type="hidden" name="direccion' + i + '" id="direccion' + i + '" value="'
                                     + $('#tp_via').val() +' '
                                     + $('#num_via').val() + ' '
                                     //+ $('#sector_via').val() + ' '
                                     + ' # ' +
                                     + valor +
                                     + ' - ' +
                                     + $('#num_placa').val() + ' '
                                     + $('#sector_via_generadora').val() + ' '
                                     + $('#otros').val()
                                     + '"/>'
                                     + $('#tp_via').val() + ' '
                                     + $('#num_via').val() + ' '
                                     //+ $('#sector_via').val() + ' '
                                     + ' # '
                                     + valor + ' '
                                     + ' - ' +
                                     + $('#num_placa').val() + ' '
                                     + $('#sector_via_generadora').val() + ' '
                                     + $('#otros').val() + '</td>'
                                     + '<td align="center">' + btnEliminar + '</td>'
                                     + '</tr>');
        }

        function eliminarDireccion(id) {
            $("#item" + id + "").remove();
        }

        $('#doc_tercero').change(function () {
            var documento = $('#doc_tercero').val()
            var numero = 0;
            var numeros = [3, 7, 13, 17, 19, 23, 29, 37, 41, 43, 47, 53, 59, 67, 71];
            var datos = documento.length;

            for (i = 0; i < documento.length; i++) {
                //console.log("pos " + i)
                //console.log(documento.substring(datos - 1, datos) + "*" + numeros[i])
                numero += documento.substring(datos - 1, datos) * numeros[i];
                //console.log("total " + numero)
                //console.log("===========")
                datos--;
            }

            var digito_verificacion = numero % 11;

            if (digito_verificacion > 1) {
                digito_verificacion = 11 - digito_verificacion;
            }

            $('#digito_verificacion').val(digito_verificacion);
        });


        $('#tpdoc_id').change(function () {

            //$('#telf_tercero').prop("required", true);
            //$('#celular_tercero').prop("required", true);

            if ($('#tpdoc_id').val() != '1') {
                console.log(" el change de tipo docuemnto Personas");
                $('#digito_verificacion').hide();
                $('#razonSocial').hide();
                $('#nombres').show();
                $('#razon_social').prop("required", false);

                $('#celular_tercero').prop("required", true);
                $('#telf_tercero').removeAttr("required");


                $('#lprimer_nombre').html('<label class="control-label col-md-4">Primer Nombre:&nbsp;<span class="text-danger">*</span></label>');
                $('#lprimer_apellido').html('<label class="control-label col-md-4">Primer Apellido:&nbsp;<span class="text-danger">*</span></label>');
                $('#genero_tercero').attr("required", "required");
                $('#prinom_tercero').attr("required", "required");
                $('#apellido_tercero').attr("required", "required");
                $('#fec_nacimiento').attr("required", "required");

            }
            else {
                console.log(" el change de tipo Empresa");
                $('#digito_verificacion').show();
                $('#razonSocial').show();
                $('#nombres').hide();
                //$('#razon_social').attr("required", "required");
                $('#razon_social').prop("required", true);

                $('#telf_tercero').prop("required", true);
                $('#celular_tercero').removeAttr("required");


                $('#genero_tercero').removeAttr("required", "required");
                $('#prinom_tercero').removeAttr("required", "required");
                $('#apellido_tercero').removeAttr("required", "required");
                $('#fec_nacimiento').removeAttr("required", "required");
                $('#lprimer_nombre').html('<label class="control-label col-md-4">Primer Nombre:</label>');
                $('#lprimer_apellido').html('<label class="control-label col-md-4">Primer Apellido:</label>');

            }
        });

        function buscarPais(){
            $.ajax({
                url: '/icb_terceros/buscarPais',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var option = "<option value=''>Seleccione</option>";
                    for (var j = 0; j < data.length; j++) {
                        option += ' <option value="' + data[j].id + '">' + data[j].nombre + '</option>'
                    }
                    $('#slcPais').empty();
                    $('#slcPais').append(option);
                },
                complete: function (data) {

                }
            });
        }

        $('#slcPais').change(function () {
            $.ajax({
                url: '/icb_terceros/buscarDepartamentos',
                data: {
                    idPais: $('#slcPais').val(),
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var option = "<option value=''>Seleccione</option>";
                    for (var j = 0; j < data.length; j++) {
                        option += ' <option value="' + data[j].id + '">' + data[j].nombre + '</option>'
                    }
                    $('#slcDpto').empty();
                    $('#slcDpto').append(option);
                },
                complete: function (data) {

                }
            });
        });

        $('#slcDpto').change(function () {
            $.ajax({
                url: '/icb_terceros/buscarCiudades',
                data: {
                    idDepto: $('#slcDpto').val(),
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var option = "<option value=''>Seleccione</option>";
                    for (var j = 0; j < data.length; j++) {
                        option += ' <option value="' + data[j].id + '">' + data[j].nombre + '</option>'
                    }
                    $('#ciu_id').empty();
                    $('#ciu_id').append(option);
                },
                complete: function (data) {

                }
            });
        });

        $('#ciu_id').change(function () {
            $.ajax({
                url: '/icb_terceros/buscarSector',
                data: {
                    idCiudad: $('#ciu_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var option = "<option value=''></option>";
                    for (var j = 0; j < data.length; j++) {
                        option += ' <option value="' + data[j].id + '">' + data[j].nombre + '</option>'
                    }
                    $('#sector_id').empty();
                    $('#sector_id').append(option);
                },
                complete: function (data) {

                }
            });
        });

        function valida(id) {
            window.location.href = '@Url.Action("update","icb_terceros")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxTerceros() {


            //    var table = $('#tablaPaginada').DataTable({
            //        "processing": true,
            //        "serverSide": true,
            //        "filter": true,
            //        "orderMulti": false,
            //        "searching": true,
            //        dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
            //        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
            //        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            //        buttons: [
            //            { extend: 'csv', title: 'ExampleFile', className: 'btn-sm', text: 'Exportar a Excel' }
            //        ],
            //        "ajax": {
            //            "url": "/icb_terceros/BuscarTercerosPaginados",
            //            "type": "POST",
            //            "datatype": "json"
            //        },

            //        "columns": [
            //            { "data": "doc_tercero", "name": "doc_tercero", "autoWidth": true },
            //            { "data": "nombre_completo", "name": "nombre_completo", "autoWidth": true },
            //            { "data": "ciu_nombre", "name": "ciu_nombre", "autoWidth": true },
            //            { "data": "fechaCreacion", "name": "fechaCreacion", "autoWidth": true },
            //            { "data": "tercero_estado", "name": "tercero_estado", "autoWidth": true },
            //        {
            //            "mData": null,
            //            "bSortable": false,
            //            "mRender": function (o) { return '<button class="btn btn-info btn-xs" onclick="valida('
            //                                          + '\'' + o.tercero_id
            //                                           + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button>'; }
            //}
            //        ]
            //    });

            //    var data = table.buttons.exportData();
            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/icb_terceros/BuscarTercerosPaginados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="right">' + data[i].doc_tercero + '</td><td align="left">'
                            + data[i].nombre_completo + '</td><td align="left">'
                            + data[i].ciu_nombre + '</td><td align="right">'
                            + data[i].fechaCreacion + '</td><td align="left">'
                            + data[i].tercero_estado + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                            + '\'' + data[i].tercero_id
                            + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }


        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

        //Se crea la función de verificar el tipo de documento seleccionado y el número de identificación
        function checkDocument(){
            var document = $("#tpdoc_id").val()//Select del documento
            var number = $("#doc_tercero").val() //Select del número de documento
            if (document!="" && number!="") {
                $.post('/icb_terceros/frontCheckDocument', {doc_tercero: number, tpdoc_id: document}).done(function(resp){
                    if (resp ==1) {
                        console.log("Está funcionando el ajax con la función en el controller");

                    }else {
                        swal("¡El tipo de documento y número, se encuentrán registrados","","warning");
                        $("button").click(function(){
                            location.reload(true);
                        });
                    }
                }).fail(function(err){
                    console.log('err',err);
                });
            }
        }

    </script>

}