@model Homer_MVC.IcebergModel.icb_vehiculo

@{
    ViewBag.Icono = "";
    ViewBag.Title = "Crear Vehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-body">
    <div class="hpanel">
        <div class="panel-body">

            <h2 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h2>

        </div>
    </div>
</div>


<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">



            @*<div id="infVh" class="tab-pane">
                <div class="panel-body">*@

           @using (Html.BeginForm("Create", "inventario_vhNuevo", FormMethod.Post, new { enctype = "multipart/form-data" }))
           {

            @Html.Hidden("menu")

            <div class="form-horizontal">

                <div class="panel-body">
                    <h3 class="panel-body-title">
                        <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                    </h3>



                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Marca:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("marcas", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                @Html.ValidationMessageFor(model => model.marcvh_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Model:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("modelos", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                @Html.ValidationMessageFor(model => model.modvh_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Estilo:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("estilos", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                @Html.ValidationMessageFor(model => model.estvh_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Color:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("color", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                @Html.ValidationMessageFor(model => model.colvh_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Numero Serie(VIN):&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.vin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Numero Motor:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nummot_vh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nummot_vh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">A&ntilde;o Modelo:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.anio_vh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.anio_vh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Placa:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.plac_vh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.plac_vh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Clasificacion:&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-md-6">
                                @Html.DropDownList("clasificacion", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                @Html.ValidationMessageFor(model => model.clavh_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-info col-md-offset-4" type="button" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            <button class="btn btn-warning" type="button" id="btnCancel"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver...</button>
                        </div>
                    </div>

                </div>

                <div class="alert alert-success" style="display:none" id="success">
                    <strong>Correcto!</strong> Registro guardado con exito.
                </div>

                <div class="alert alert-danger" style="display:none" id="failedEmpty">
                    <strong>Error!</strong> Hay campos obligatorios que no ha completado!.
                </div>

                <div class="alert alert-danger" style="display:none" id="failedData">
                    <strong id="ErrorMessage">Error!</strong>
                </div>
            </div>
           }
        </div>
    </div>
</div>


@*</div>
    </div>*@


@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datatables/css")

}

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")


<script src="~/Scripts/Select2.js"></script>
<script src="~/Scripts/Tablas.js"></script>
<script src="~/Scripts/FormUsuario.js"></script>


  <script type="text/javascript">

      $(document).ready(function () {
          $('#menu').val(@ViewBag.id_menu);
      });




    function valida(id){
        window.location.href = '@Url.Action("Update", "inventario_vhUsado")'+'?menu='+@ViewBag.id_menu+'&&id='+id;
    }


    $('#activaTab-create').trigger('click');

    function agregarRegistro(){
        $.ajax({
            url: '/inventario_vhUsado/AgregarVehiculo',
            data: {
                marca: $('#marcas').val(),
                modelo: $('#modelos').val(),
                estilo: $('#estilos').val(),
                color: $('#color').val(),
                serie: $('#num_serie').val(),
                motor: $('#nummot_vh').val(),
                anio: $('#anio_vh').val(),
                placa: $('#plac_vh').val(),
                clasificacion: $('#clasificacion').val()
            },
            type: "post",
            cache: false,
            success: function (data) {
                if (data > 0) {
                    $('#success').show();
                    $('#failedData').hide();
                    $('#failedEmpty').hide();
                } else if (data == -1) {
                    $('#ErrorMessage').text('Error ! El numero de motor ingresado ya esta registrado');
                    $('#failedEmpty').hide();
                    $('#failedData').show();
                    $('#success').hide();
                } else if (data == -2) {
                    $('#ErrorMessage').text('Error ! La serie o numero VIN ingresado ya esta registrado');
                    $('#failedEmpty').hide();
                    $('#failedData').show();
                    $('#success').hide();
                } else if (data == -3) {
                    $('#failedEmpty').hide();
                    $('#ErrorMessage').text('Error ! La placa ingresada ya esta registrada');
                    $('#failedData').show();
                    $('#success').hide();
                }
            }
        })
    }



    $('#btnSave').click(function () {
            // Validacion cuando un vehiculo es usado, en este caso el campo numero serie y numero motor es opcional
        if ($('#marcas').val() == '' || $('#modelos').val() == '-1' || $('#modelos').val() == '' || $('#estilos').val() == '-1' || $('#estilos').val() == '' || $('#color').val() == '' || $('#anio_vh').val() == '' || $('#plac_vh').val() == '' || $('#clasificacion').val() == '') {
                $('#failedData').hide();
                $('#success').hide();
                $('#failedEmpty').show();
            } else {
                agregarRegistro();
            }
       // }
    });



    // Validar marcas para rellenar campo modelo y estilo
    $('#marcas').change(function () {
        var value = '';
        $.ajax({
            url: '/inventario_vhUsado/BuscarModelos',
            data: { marca: $('#marcas').val() },
            type: "post",
            cache: false,
            success: function (data) {
                $('#modelos').empty();
                $('#modelos').append($('<option>', {
                    value: '-1',
                    text: 'Seleccione'
                }));
                for (var i = 0; i < data.length; i++) {
                    $('#modelos').append($('<option>', {
                        value: data[i].modvh_id,
                        text: data[i].modvh_nombre
                    }));
                }

                    $('#modelos').val('-1');
                    $('#modelos').select2();
                //}
            }
        })

    });




    // Validar modelo para saber los estilos de este modelo
    $('#modelos').change(function () {
        $.ajax({
            url: '/inventario_vhUsado/BuscarEstilos',
            data: {
                modelo: $('#modelos').val()
            },
            type: "post",
            cache: false,
            success: function (data) {
                console.log(data);
                $('#estilos').empty();
                $('#estilos').append($('<option>', {
                    value: '-1',
                    text: 'Seleccione'
                }));
                for (var i = 0; i < data.length; i++) {
                    $('#estilos').append($('<option>', {
                        value: data[i].estvh_id,
                        text: data[i].estvh_nombre
                    }));
                }
                    $('#estilos').val('-1');
                    $('#estilos').select2();
            }
        })
        $("#modelos").find("option").eq(0).remove();
    });



    $('#estilos').change(function () {
        $("#estilos").find("option").eq(0).remove();
    });



    $('#buttonAdd').click(function () {
        $('.nav-tabs li:eq(1) a').tab('show')
    });


    $('#btnCancel').click(function () {
        window.location.href = '@Url.Action("Index", "inventario_vhUsado")?menu='+@ViewBag.id_menu;
        //$('.nav-tabs li:eq(1) a').tab('show')
    });



    function buscarAjaxVehiculosUsados() {
        $.ajax({
            url: '/inventario_vhUsado/BuscarVhUsadosCant',
            data: {
                texto: $("#txBusqueda").val(),
                pagina: 1
            },
            type: "post",
            cache: false,
            success: function (retorno) {
            },
            complete: function (data) {
                $('#tablaPaginada').find('tbody').empty();

                for (var i = 0; i < data.responseJSON.result2.length; i++) {
                    $('#tablaPaginada').find('tbody').append('<tr><td>' + data.responseJSON.result2[i].marca + '</td><td>' + data.responseJSON.result2[i].modelo + '</td><td>'
                                    + data.responseJSON.result2[i].estilo + '</td><td>' + data.responseJSON.result2[i].serie + '</td><td>' + data.responseJSON.result2[i].motor + '</td><td>'
                                    + data.responseJSON.result2[i].placa + '</td><td width="7%"><button class="btn btn-info" onclick="valida('+data.responseJSON.result2[i].id+')">Editar</button></td></tr>');
                            }


                $('#page-selection').bootpag({
                    page: 1,
                    total: parseInt((data.responseJSON.result+9)/10),
                    maxVisible: 10
                });
            }
        })


        $('#page-selection').on("page", function (event, /* page number here */ num) {
            $.ajax({
                url: '/inventario_vhUsado/BuscarVhUsados',
                data: {
                    texto: $("#txBusqueda").val(),
                    pagina: num
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td>' + data[i].marca + '</td><td>' + data[i].modelo + '</td><td>'
                            + data[i].estilo + '</td><td>' + data[i].serie + '</td><td>' + data[i].motor + '</td><td>'
                            + data[i].placa + '</td><td width="7%"><button class="btn btn-info" onclick="valida('+data[i].id+')">Editar</button></td></tr>');
                    }
                }
            })
        });
    }

    function AgregarQuitarFavorito(){
        $.ajax({
            url: '/Inicio/AgregarQuitarFavorito',
            data: {
                id_menu: @ViewBag.id_menu,
            },
            type: "post",
            cache: false,
            success: function (data) {
                if(data.esFavorito == true){
                    $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                }else{
                    $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                }
            }
        })
    }

    </script>

}