

@{
    ViewBag.Icono = "";
    ViewBag.Title = "Inventario Vehiculos Nuevos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Vendor/fileStyle/bootstrap-filestyle.min.js"></script>*@

<div class="panel-body">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <ul id="tabs-invVhNuevo" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Pedidos"><i class=""></i>&nbsp;&nbsp;Pedidos</a></li>
                <li class=""><a data-toggle="tab" href="#Retoma"><i class=""></i>&nbsp;&nbsp;Retoma</a></li>
            </ul>

            @*Primer tab para pedidos*@
            <div id="Pedidos" class="tab-pane active">
                <div class="panel-body">


                    @using (Html.BeginForm("Import", "gestionVhNuevo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {


                    }


                </div>
            </div>


            @*Tab relacionado con las retomas*@
            <div id="Retoma" class="tab-pane">
                <div class="panel-body">



                </div>





            </div>




            @*Primer tab par listar el inventario de vehiculos usados*@
            <div id="Inventario" class="tab-pane">
                <div class="panel-body">


                </div>
            </div>
        </div>
    </div>
</div>







@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datatables/css")
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>




    <script type="text/javascript">



    </script>


}







