@model Homer_MVC.Models.PdfRemision
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("is-IS");
}
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Remisión Clientes</title>

    <style type="text/css">

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }
    </style>

</head>
<body>
    <table style="width:100%">
        <tr>
            <th colspan="2" style="width:35%;"><img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:43%;" /></th>
            <th style="text-align:left; width:28%" colspan="3">
                <p>
                    COMERCIALIZADORA HOMAZ S.A.S NIT 816.003.186-5<br />
                    VITRINA DE NUEVOS<br />
                    Av. Bolivar 23N 46 PBX. 7314090<br />
                    www.camino.com.co<br />
                    caminos@caminos.com.co
                </p>
            </th>
            <th colspan="1" style="text-align:left;width:25%">

                <p>
                    REMISIÓN CLIENTE No:  @Model.numRemision<br />
                    FECHA : @Model.fecha<br />
                    @*PREFIJO : @Model.prefijo<br />
                    CONCECUTIVO : @Model.consecutivo<br />*@

                </p>

            </th>
        </tr>

    </table>
</body>
</html>
