@model Homer_MVC.IcebergModel.Menus

@{
    ViewBag.Title = "Menu";
    ViewBag.Icono = "fa fa-bars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
<link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>



<div class="panel-body">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <a class="btn btn-info" href="../../modulos?menu=@ViewBag.id_menu"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Crear nuevo</a>&nbsp;&nbsp;
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Actualizar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.idMenu)
                        @Html.Hidden("menuActual")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nombre Menu:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.nombreMenu, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.nombreMenu, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Menu Anterior:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.padreId, ViewBag.listaMenus.Items as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @*@Html.EditorFor(model => model.padreId, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.padreId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                      </div>


                    <div class="hpanel">
                        <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                            </div>
                            <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;Enlaces
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Enlaces Activos:&nbsp;<span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <select class="multiselect-ui form-control" id="selectEnlaces" name="selectEnlaces" multiple="multiple">
                                            @foreach (var item in ViewBag.listaMenusEnlaces)
                                            {
                                                <option value="@item.idMenu">@item.nombreMenu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>





                    @*<div class="panel-body">
                        <h3 class="panel-body-title">
                            <i class="ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Parametros de Busqueda
                        </h3>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Nombre Vista:&nbsp;<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" id="nombreVista" class="form-control col-md-12" />
                                        <p class="text-danger" id="alertNombreVista" style="display:none"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info" id="btnAgregarVista">Agregar</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-sm-4" id="dropDownParametros">
                                    <div class="form-group">
                                        <label class="control-label col-md-5" id="nombreParametroLabel">Nombre Parametro:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            <select id="selectParametros" class="col-md-12">
                                                @foreach (var item in ViewBag.parametros)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-5" id="nombreBusquedaLabel">Nombre Busqueda:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            <input type="text" id="nombreParametro" class="form-control" />
                                            @Html.EditorFor(model => model.nombreMenu, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.nombreMenu, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <div class="col-md-6" style="text-align:left">
                                            <button type="button" class="btn btn-success" id="btnAgregarParametro"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-md-12" style="text-align:left">
                                            <p class="text-danger" style="display:none" id="alertaNombreParametro">Debe asignar un nombre para el parametro de busqueda</p>
                                        </div>
                                    </div>
                                </div>

                                <br />


                                <div class="col-md-10 col-md-offset-1">
                                    <div class="panel-body-busqueda">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablaParametros">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Nombre Campo</th>
                                                        <th style="text-align:center">Nombre Parametro</th>
                                                        <th style="text-align:center">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                    </div>*@


                    }
                    



                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Nombre Menu</th>
                                        <th style="text-align:center">Menu Anterior</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="row col-md-4 col-md-offset-4">
                            <div id="page-selection"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
<script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
<script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
<script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#padreId').select2();
            $('#selectParametros').select2();
            $('#menu').val(@ViewBag.id_menu);
            actualizarTablaParametros();
            //$('#selectBusquedasParametros').multiselect({
            //    onChange: function (option, checked, select) {
            //        if ($('#selectBusquedasParametros').val() != null) {
            //            if ($('#selectBusquedasParametros').val().length > 3) {
            //                $('#selectBusquedasParametros').multiselect('deselect', [option[0].value]);
            //            }
            //        }
            //    }
            //});


            $('#selectEnlaces').multiselect({
                maxHeight: 300,
            });
            var valData = '@ViewBag.enlacesAsignados';
            var valNew = valData.split(',');
            //for (var i = 0; i < valNew.length; i++) {
            $('#selectEnlaces').multiselect('select', valNew);

            buscarAjaxMenus();
            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);
        });



        function valida(idMenu) {
            window.location.href = '@Url.Action("Update", "modulos")?menuActual='+@ViewBag.id_menu+'&&idMenu=' + idMenu;
        }


        function buscarAjaxMenus() {

            $.ajax({
                url: '/modulos/BuscarMenusPaginados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="left">' + data[i].nombreMenu + '</td><td align="left">'
                                       + data[i].menuPadre + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="valida('
                                       + '\'' + data[i].idMenu
                                       + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });

                    //$('#page-selection').bootpag({
                    //    page: 1,
                    //    total: parseInt((data.responseJSON.total + 29) / 30),
                    //    maxVisible: 10
                    //});
                }
            })


            //$('#page-selection').on("page", function (event, /* page number here */ num) {
            //    $.ajax({
            //        url: '/modulos/BuscarMenusPaginados',
            //        data: {
            //            texto: $("#txBusqueda").val(),
            //            pagina: num,
            //            parameters: parametros
            //        },
            //        type: "post",
            //        cache: false,
            //        success: function (data) {

            //        },
            //        complete: function (data) {
            //            $('#tablaPaginada').find('tbody').empty();
            //            for (var i = 0; i < data.responseJSON.menusJson.length; i++) {
            //                $('#tablaPaginada').find('tbody').append('<tr><td align="center">' + data.responseJSON.menusJson[i].subMenu + '</td><td>'
            //                               + data.responseJSON.menusJson[i].menu + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="valida('
            //                               + '\'' + data.responseJSON.menusJson[i].idMenu
            //                               + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
            //            }
            //        }
            //    })
            //});
        }


        $('#btnAgregarParametro').click(function () {
            if ($.trim($('#nombreParametro').val()) == '') {
                $('#alertaNombreParametro').show();
            } else {
                $('#alertaNombreParametro').hide();
                $.ajax({
                    url: '/modulos/AgregarParametro',
                    data: {
                        idMenu: $('#idMenu').val(),
                        parametro: $('#selectParametros').val(),
                        nombreParametro: $('#nombreParametro').val(),
                        vista: $('#nombreVista').val(),
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        if (data.result) {

                            actualizarTablaParametros();
                            $('#selectParametros').find('[value="' + $('#selectParametros').val() + '"]').remove();
                            //$('#selectParametros').select2();
                            //$('#tablaParametros').find('tbody').empty();
                            //for (var i = 0; i < data.length; i++) {
                            //    $('#tablaParametros').find('tbody').append('<tr><td align="center">' + data.ultimo.menu_busqueda_nombre + '</td><td>'
                            //                   + data.ultimo.menu_busqueda_campo + '</td><td width="5%"><button class="btn btn-info btn-xs" onclick="valida(' + '\'' + data.ultimo.menu_busqueda_id
                            //                   + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                            //}
                        }

                    }
                })
            }
        });



        function eliminarParametro(idMenuBusqueda) {
            $.ajax({
                url: '/modulos/EliminarParametro',
                data: {
                    idMenu: idMenuBusqueda,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log('aqui fue');
                    console.log(data)
                    if(data.result){
                        actualizarTablaParametros();
                        $('#selectParametros').append($('<option>', {
                            value: data.menuBusqueda.menu_busqueda_campo,
                            text: data.menuBusqueda.menu_busqueda_campo
                        }));
                        //$('#selectParametros').select2();
                    }
                    //$('#tablaParametros').find('tbody').empty();
                    //for (var i = 0; i < data.length; i++) {
                    //    console.log(data[i].menu_busqueda_nombre);
                    //    $('#tablaParametros').find('tbody').append('<tr><td align="center">' + data[i].menu_busqueda_nombre + '</td><td align="center">'
                    //                   + data[i].menu_busqueda_campo + '</td><td width="5%"><button class="btn btn-danger btn-xs" onclick="eliminarParametro(' + data[i].menu_busqueda_id
                    //                   + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td></tr>');
                    //}
                }
            })
        }





        function actualizarTablaParametros(){
            $.ajax({
                url: '/modulos/ActualizarParametro',
                data: {
                    idMenu: $('#idMenu').val(),
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaParametros').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].menu_busqueda_nombre);
                        $('#tablaParametros').find('tbody').append('<tr><td align="center">' + data[i].menu_busqueda_nombre + '</td><td align="center">'
                                       + data[i].menu_busqueda_campo + '</td><td width="5%"><button class="btn btn-danger btn-xs" onclick="eliminarParametro(' + data[i].menu_busqueda_id
                                       + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td></tr>');
                    }
                }
            })
        }



        $('#btnAgregarVista').click(function () {
            if ($.trim($('#nombreVista').val()) == '') {
                $('#alertNombreVista').text('El campo nombre vista esta vacio');
                $('#alertNombreVista').show();
            } else {
                $('#alertNombreVista').hide();
                $.ajax({
                    url: '/modulos/AgregarNombreVista',
                    data: {
                        nombreVista: $('#nombreVista').val(),
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        if (data.result) {
                            $('#selectParametros').empty();
                            for (var i = 0; i < data.camposBusqueda.length;i++){
                                $('#selectParametros').append($('<option>', {
                                    value: data.camposBusqueda[i].Value,
                                    text: data.camposBusqueda[i].Text
                                }));
                            }

                            $('#nombreParametroLabel').show();
                            $('#selectParametros').show();
                            $('#nombreBusquedaLabel').show();
                            $('#nombreParametro').show();
                            $('#btnAgregarParametro').show();
                            $('#tablaParametros').show();
                            $('#dropDownParametros').show();
                            $('#selectParametros').select2();
                        } else {
                            $('#alertNombreVista').text('El nombre de la vista o modelo no existe');
                            $('#alertNombreVista').show();
                            $('#nombreParametroLabel').hide();

                            $('#nombreBusquedaLabel').hide();
                            $('#nombreParametro').hide();
                            $('#btnAgregarParametro').hide();
                            $('#tablaParametros').hide();
                            $('#dropDownParametros').hide();
                            $('#selectParametros').hide();
                            $('#alertaNombreParametro').hide();
                        }
                    }
                })
            }
        });




        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if(data.esFavorito == true){
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    }else{
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar de Favoritos</a>");
                    }
                }
            })
        }


    </script>


    @if (ViewData["VistaAsignada"] == null)
    {
        <script type="text/javascript">
            $('#nombreVista').val('@ViewBag.Vista');
            $('#btnAgregarVista').hide(); 
        </script>
    }
    else {
        <script type="text/javascript">
            $('#nombreParametroLabel').hide();
            $('#selectParametros').hide();
            $('#nombreBusquedaLabel').hide();
            $('#nombreParametro').hide();
            $('#btnAgregarParametro').hide();
            $('#tablaParametros').hide();

        </script>
    }

}

