@model Homer_MVC.IcebergModel.encab_documento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Factura Comision</title>
   
     <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

       table.detalle, th{
           border-collapse: collapse;
           border : 1px solid black;
           border-bottom: 1px solid black;
        }


       td.bderecho, tr.bderecho{
           border-right: 1px solid black;
       }

       tr.border{
            border : 1px solid black;
       }
       /*tfoot td{
          border-bottom: 0;
          border-right: 0;
          border: 1px solid #ccc;
        }*/

        body {
            font-size: 15px;
            margin: 15px 7px 15px 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .encabezado{
            column-count: 2;
        }

        #encabezado2{
            column-count: 6;
        }

        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        p.text, td{
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    
</head>
<body>
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <td style="width:36%; text-align:left; padding:0px;" colspan="2" rowspan="5">
                        <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:90%; height: 100px" />
                        <p class="text" style="font-size:11px; padding:0px; margin:0">COMERCIALIZADORA HOMAZ S.A.S. NIT 816.003.186-5</p>
                        <p class="text" style="font-size:11px; padding:0px; margin:0">bodega</p>
                        <p class="text" style="font-size:11px; padding:0px; margin:0">direccion bodega</p>
                        <p class="text" style="font-size:11px; padding:0px; margin:0">ciudad</p>
                        <p class="text" style="font-size:11px; padding:0px; margin:0">www.caminos.com.co</p>
                        <p class="text" style="font-size:11px; padding:0px; margin:0">caminos@caminos.com.co</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right; padding: 12px" colspan="3">
                        <b>FACTURA DE VENTA N .</b>
                    </td>
                    <td style="text-align: center;">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;VHB - @Model.numero</b>
                    </td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right; padding: 12px" colspan="3">
                        <b>FECHA : </b>
                    </td>
                    <td style="text-align: center;">
                       &nbsp;&nbsp;&nbsp;&nbsp;@Model.fecha.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right" colspan="3">
                        <b>FORMA DE PAGO :</b>
                    </td>
                    <td style="text-align: center;">
                       &nbsp;&nbsp;&nbsp;&nbsp;@Model.fpago_tercero.fpago_nombre
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right" colspan="3">
                        <b>FECHA DE VENCIMIENTO :</b>
                    </td>
                    <td style="text-align: center;">
                       &nbsp;&nbsp;&nbsp;&nbsp;@Model.vencimiento.Value.ToShortDateString()
                    </td>
                </tr>
            </thead>
        </table>
        <br />
        <table class="detalle">
            <tbody>
                <tr class="prueba">
                    <td style="width:200px;"><b>FACTURADO A:</b></td>
                    <td>@ViewBag.financiera</td>
                    <td ><b>TELEFONO:</b></td>
                    <td colspan="2"></td>
                    <td><b>MODELO:</b></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><b>ASEGURADO A:</b></td>
                    <td></td>
                    <td><b>PLACA:</b></td>
                    <td colspan="2"></td>
                    <td><b>SERIE:</b></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><b>CEDULA / NIT:</b></td>
                    <td></td>
                    <td><b>VEHICULO:</b></td>
                    <td  colspan="2"></td>
                    <td><b>MOTOR:</b></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><b>DIRECCION:</b></td>
                    <td></td>
                    <td><b>ASESOR:</b></td>
                    <td style="width:150px;" colspan="2">@ViewBag.vendedor</td>
                    <td><b>TIPO:</b></td>
                    <td class="bderecho"></td>
                </tr>
                <tr class="bderecho">
                    <td><b>CIUDAD:</b></td>
                    <td colspan="6" class="bderecho"></td>
                </tr>
               
                <tr style="text-align: center">
                    <th>ITEM</th>
                    <th colspan="2">DESCRIPCION</th>
                    <th>CANT</th>
                    <th>% IVA</th>
                    <th>VR. UNITARIO</th>
                    <th>VALOR</th>
                </tr>
                @foreach (var item in ViewBag.detalles)
                {
                    <tr style="text-align: right; margin-right: 4px">
                        <td class="bderecho">@item.seq&nbsp;</td>
                        <td class="bderecho" colspan="2" style="text-align: left">@item.descripcion</td>
                        <td class="bderecho">1</td>
                        <td class="bderecho">@item.Porcen_iva&nbsp;</td>
                        <td class="bderecho">@item.valor_unitario&nbsp;</td>
                        <td class="bderecho">@item.valor_total&nbsp;</td>
                    </tr>
                }
                <tr>
                    <td class="bderecho"></td>
                    <td class="bderecho" colspan="2"  style="padding: 200px"></td>
                    <td class="bderecho"></td>
                    <td class="bderecho"></td>
                    <td class="bderecho"></td>
                    <td class="bderecho"></td>
                </tr>
                <tr class="border">
                    <td colspan="6" style="text-align: right"><b>TOTAL ITEMS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td class="bderecho"><b>@ViewBag.total_detalles</b></td>
                </tr>
                <tr class="border">
                    <td colspan="5" class="bderecho" rowspan="9" width="70%">
                        <h4 style="text-align: center">COMERCIALIZADORA HOMAZ S.A.S.</h4>
                        <p class="text" style="font-size: 10px; text-align: justify; margin-right: 5px; margin-left: 5px">
                            Grandes contribuyentes res 076 dic 1/2016 (retenedores de iva al régimen simplificado y al régimen común), iva régimen común, somos autoret.
                            res.0006032 junio 23/2010, somos autoretenedores del ICA en Pereira acuerdo 41 /2012, armenia acuerdo 17/2012 y Cartago acuerdo 025/2008.
                            Después de su vencimiento causará intereses moratorios al máximo legal vigente.Estimado cliente: Usted tiene derecho a presentarnos peticiones, quejas
                            o reclamos (PQR’s) si está insatisfecho con la forma como hemos dado cumplimiento a los términos y condiciones de la garantía del producto, o por la
                            información recibida y la atención en la venta y postventa del producto, para lo cual Chevrolet Caminos ha implementado un mecanismo de atención y
                            trámite de PQR’s, que usted puede consultar en nuestra página web www.caminos.com.co o pedir la copia impresa. Acuda a nuestro responsable local
                            de PQR’s, quien lo orientará en el trámite de la PQR, para lo cual no requiere de un abogado ni presentarla personalmente. El plazo máximo para
                            absolver su PQR, aceptándola, rechazándola o dándole una solución diferente, es de 15 días hábiles a la dirección que usted nos indique.Las normas de
                            protección al consumidor relativas a los derechos que le asisten se encuentran establecidas en los artículos 7 al 11 y 16 de la ley 1480 del 2011, y en el
                            Título II del Capítulo I de la Circular Única de la SIC. Ciiu 4511 comercio de vehículos automotores nuevos. Autorizo con carácter permanente a
                            Comercializadora Homaz S.A.S, o a quien ejerza sus derechos, para que mi información sea consultada, procesada y divulgada con fines estadísticos de
                            control y de información comercial ante las centrales de información y de riesgo.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><b>VALOR BRUTO</b></td>
                    <td class="bderecho">@Model.valor_mercancia</td>
                </tr>
                <tr>
                    <td><p>VALOR DCTO</p></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><p>(-) BONO</p></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><p>BASE IMP</p></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><p>BASE TOTAL</p></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><p>VALOR IVA</p></td>
                    <td class="bderecho">@ViewBag.valor_iva</td>
                </tr>
                <tr>
                    <td><p>VALOR IC</p></td>
                    <td class="bderecho"></td>
                </tr>
                <tr>
                    <td><b>TOTAL FACTURA</b></td>
                    <td class="bderecho">@Model.valor_total</td>
                </tr>
                <tr class="border">
                    <td class="bderecho" colspan="7">AUTORIZACIÓN DIAN POR COMPUTADOR N° 18762001145638 DE 2016-11-11 N° VHB 10001-18000 FACTURA IMPRESA POR C. HOMAZ SAS NIT: 816003186-5 FACTURA
                    </td>
                </tr>
                <tr class="border">
                    <td colspan="4" class="bderecho" align="center"><br /><br /><br /><b>CLIENTE / CC</b></td>
                    <td colspan="3" class="bderecho" align="center"><br /><br /><br /><b>SELLO EMPRESA</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
