@model Homer_MVC.Models.contabilidadAuxiliar
@using System.Globalization;
@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auxiliar Contable en formato PDF</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th style="border:hidden ; text-align:center">Empresa  S.A.S</th>
        </tr>
        <tr>
            <th style="border:hidden ; text-align:center"><h3>Auxiliar Contabilidad @Model.titulo</h3></th>
        </tr>
        <tr>
            <th style="border:hidden ; text-align:center">@Model.fechaInicio - @Model.fechafin</th>
        </tr>
    </table>

    <table style="width:100%">
        <tr style="border:hidden">
            @*
                <th style="border:hidden ; text-align:center">@Model.fechaInicio - @Model.fechafin</th>*@
        </tr>
        @* *********************************************************************************************************************************************************************************************************************** *@
        @* 0010  Centro 1  Nit 0  Niff 0        -**--*-*------- if (@ViewBag.checkCentro == true && @ViewBag.checkNit == true && @ViewBag.checkNiff == true && @ViewBag.checkMovimiento == true)  *@


        @if (@ViewBag.checkCentro == true)
        {
            // REPORTE GENERADO AL  CHEQUEAR  CENTRO
            // CABECERA TITULOS TABLA
            <tr style="border:hidden">
                <td bgcolor="#C0CDED" class="info" colspan="10" align="center" style="border:hidden"><strong> INFORME AUXILIAR DE CONTABILIDAD</strong></td>
            </tr>

            for (var pri = 0; pri < @Model.BodegasA01.Count(); pri++)
            {
                // CABECERA bodega
                <tr>
                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>Código:</strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].cod_bodega</strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>Bodega:</strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="4" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].nom_bodega</strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong></strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong></strong></td>
                </tr>

                for (var seg = 0; seg < @Model.BodegasA01[pri].CuentaA01.Count(); seg++)
                {
                    //CABECERA Cuenta
                    <tr>
                        <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong># Cuenta:</strong></td>
                        <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].cod_cuenta</strong></td>
                        <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>Descripción:</strong></td>
                        <td bgcolor="#FFF6C9" class="info" colspan="5" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].nom_cuenta</strong></td>
                        <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong></strong></td>
                    </tr>

                    for (var ter = 0; ter < @Model.BodegasA01[pri].CuentaA01[seg].TerceroA01.Count(); ter++)
                    {
                        // CABECERA Tercero
                        <tr>
                            <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>Documento</strong></td>
                            <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].doc_tercero</strong></td>
                            <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>Nombre:</strong></td>
                            <td bgcolor="#FFF6C9" class="info" colspan="5" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].nom_tercero</strong></td>
                            <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong></strong></td>
                        </tr>

                        for (var cua = 0; cua < @Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01.Count(); cua++)
                        {
                            //  CABECERA Centro de Costo
                            <tr>
                                @*<td bgcolor="#BEF1CD" class="info" colspan="1" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].TerceroA01[seg].CuentaA01[ter].CentroCostoA01[cua].Id_Centro</strong></td>*@
                                <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>Cod. Centro</strong></td>
                                @*<td bgcolor="#BEF1CD" align="left" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>@Model.BodegasA01[pri].TerceroA01[seg].CuentaA01[ter].CentroCostoA01[cua].Id_Centro</strong></td>*@
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].pref_Centro</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>Descripción Centro:</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="4" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].nom_Centro</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden"><strong>- </strong></td>

                            </tr>

                            // CABECERA  Documentos DETALLE
                            <tr>
                                @*<td bgcolor="#B8E7E9" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Id Doc</strong></td>*@
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Cod Doc</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="2" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Nom Doc</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Fecha</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Debito</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Credito</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Saldo</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Deb Niff</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Cre Niff</strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="1" align="center" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>Saldo Niff</strong></td>
                            </tr>
                            for (var qui = 0; qui < @Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01.Count(); qui++)
                            {

                                //  TOTAL Documento DETALLE
                                <tr>
                                    @*<td bgcolor="#B8E7E9" align="left" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Id_documento</strong></td>*@
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border:hidden">@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].cod_documento</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden">@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].nom_documento</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="left" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].fechaDocumento</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotaldebito.ToString("0,0", elGR)</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotalcredito.ToString("0,0", elGR)</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotalsaldo.ToString("0,0", elGR)</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotaldebitoniff.ToString("0,0", elGR)</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotalcreditoniff.ToString("0,0", elGR)</td>
                                    <td bgcolor="#FFF6C9" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].DocumentosA01[qui].Dtotalsaldoniff.ToString("0,0", elGR)</td>
                                </tr>
                            }
                            //  TOTAL Centro de Costo
                            @*<td bgcolor="#BEF1CD" class="info" colspan="1" align="left" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].pref_Centro</strong></td>*@
                            @*<tr>
                                    <td bgcolor="#BEF1CD" class="info" colspan="4" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].nom_Centro</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotaldebito.ToString("0,0", elGR)</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotalcredito.ToString("0,0", elGR)</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotalsaldo.ToString("0,0", elGR)</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotaldebitoniff.ToString("0,0", elGR)</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotalcreditoniff.ToString("0,0", elGR)</strong></td>
                                    <td bgcolor="#BEF1CD" class="info" colspan="1" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$<strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].CentroCostoA01[cua].CCtotalsaldoniff.ToString("0,0", elGR)</strong></td>
                                </tr>*@
                        }
                        //TOTAL  Cuenta
                        //TOTAL  Tercera
                        @*<tr>
                                <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong></strong></td>
                                <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].nom_tercero</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotaldebito.ToString("0,0", elGR)</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotalcredito.ToString("0,0", elGR)</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotalsaldo.ToString("0,0", elGR)</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotaldebitoniff.ToString("0,0", elGR)</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotalcreditoniff.ToString("0,0", elGR)</strong></td>
                                <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].TerceroA01[ter].Tertotalsaldoniff.ToString("0,0", elGR)</strong></td>

                            </tr>*@

                    }

                    <tr>
                        <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>Total Cuenta: </strong></td>
                        <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong>@Model.BodegasA01[pri].CuentaA01[seg].nom_cuenta</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotaldebito.ToString("0,0", elGR)</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotalcredito.ToString("0,0", elGR)</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotalsaldo.ToString("0,0", elGR)</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotaldebitoniff.ToString("0,0", elGR)</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotalcreditoniff.ToString("0,0", elGR)</strong></td>
                        <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].CuentaA01[seg].Ctotalsaldoniff.ToString("0,0", elGR)</strong></td>

                    </tr>

                }
                // TOTAL  Bodega
                <tr>
                    <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong></strong></td>
                    <td bgcolor="#FFF6C9" class="info" colspan="2" align="left" style="border:hidden"><strong></strong>@Model.BodegasA01[pri].nom_bodega</td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotaldebito.ToString("0,0", elGR)</strong></td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotalcredito.ToString("0,0", elGR)</strong></td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotalsaldo.ToString("0,0", elGR)</strong></td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotaldebitoniff.ToString("0,0", elGR)</strong></td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotalcreditoniff.ToString("0,0", elGR)</strong></td>
                    <td bgcolor="#FFF6C9" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.BodegasA01[pri].Btotalsaldoniff.ToString("0,0", elGR)</strong></td>

                </tr>
            }
            // TOTAL GENERAL O GRAN TOTAL
            <tr>
                <td bgcolor="#f6fc8d" class="info" colspan="2" align="left" style="border:hidden"><strong>GRAN TOTAL CONSULTA </strong></td>
                <td bgcolor="#f6fc8d" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium"><strong></strong></td>
                <td bgcolor="#f6fc8d" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.Grantotaldebito.ToString("0,0", elGR)</strong></td>
                <td bgcolor="#f6fc8d" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.Grantotalcredito.ToString("0,0", elGR)</strong></td>
                <td bgcolor="#f6fc8d" align="right" style="border-bottom:medium; border-right:medium; border-left:medium; border-top:medium">$ <strong>@Model.Grantotalsaldo.ToString("0,0", elGR)</strong></td>
            </tr>
        }

        @* *********************************************************************************************************************************************************************************************************************** *@
        @* 0011  Centro 1  Nit 0  Niff 1  *@




    </table>

</body>

</html>

<script type="text/javascript">

    //************funciones Globales Generales  inicio
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }

    var numero_miles = "";
    function formatNumber(n) {
        n = String(n).replace(/\D/g, "");
        return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    function miles(id) {
        numero_miles = formatNumber($('#' + id + '').val());
        $('#' + id + '').val(numero_miles);
    }
    //************funciones Globales Generales fin



</script>
