@model Homer_MVC.Models.FacturacionPDFModel

@{
    Layout = null;
}
@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Vendor/sweetalert/lib/sweet-alert.css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Facturacion</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }

        .table_principal {
            border-collapse: collapse;
            border: 1px solid #ccc;
            border-radius: 10px;
            -moz-border-radius: 6px;
            padding-left: 5px;
        }

        .indented {
            padding-left: 10pt;
            padding-right: 10pt;
        }

        .indented2 {
            padding-left: 10pt;
            padding-right: 1pt;
        }

        .indented3 {
            padding-left: 1pt;
            padding-right: 10pt;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr style="width:100%">
            <td style="width:40%; text-align:center;border:hidden">
                <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:40%" />
                <h3>
                    @Model.nomEmpresa <br />
                    @Model.dirEmpresa   <br />

                    NIT: @Model.nitEmpresa
                </h3>
            </td>
            <td style="text-align:center; width:20%;border:hidden"></td>
            <td style="text-align:left; width:40%;border:hidden">
                <p><h3>Factura de Venta N° : @Model.prefi - @Model.numFactura</h3></p>
                <p><h3>Fecha : @Model.fechaFactura</h3></p>
                <p><h3>Fecha Vencimiento: @Model.fechavenceFactura</h3></p>
            </td>
        </tr>
    </table>
    <table class="table_principal" style="width:100%">
        @*<table style="border:none; margin-left:20px">*@
        <tr style="text-align:left">
            <th style="width:10px">
                <p><h3></h3> </p>
            </th>
            <th style="width:110px">
                <p><h3>CLIENTE </h3> </p>
                <p><h3>CEDULA / NIT  </h3></p>
                <p><h3>DIRECCION  </h3></p>
                <p><h3>TELEFONO(s)  </h3></p>
                <p><h3>CIUDAD  </h3></p>
            </th>
            <td style="width:600px; border:none">
                <p><h3>@Model.nomCliente</h3></p>
                <p><h3>@Model.docCliente</h3></p>
                <p><h3>@Model.dirCliente</h3></p>
                <p><h3>@Model.telCliente</h3></p>
                <p><h3>@Model.ciuCliente</h3></p>
            </td>

        </tr>

    </table>
    <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
        <tr style="background-color:">
            @* style="height:10px; border-spacing:1px"> *@
            <th style="border: 1px solid #ccc;text-align:center;width:20%">REFERENCIA</th>
            <th style="border: 1px solid #ccc;text-align:center;width:20%">DESCRIPCION</th>
            <th style="border: 1px solid #ccc;text-align:center;width:2%">CAN</th>
            <th style="border: 1px solid #ccc;text-align:center;width:2%">% DCTO</th>
            <th style="border: 1px solid #ccc;text-align:center;width:2%">% IVA</th>
            <th style="border: 1px solid #ccc;text-align:center;width:10%">PRECIO UNITARIO</th>
            <th style="border: 1px solid #ccc;text-align:center;width:10%">VALOR</th>
        </tr>
        @for (var i = 0; i < @Model.detalleFacturacion.Count(); i++)
            {
            <tr style="width:auto; height:30px; background-color:none; color:black; border-top-color:black">
                @*<td style="border:none;text-align:right;width:2%">@i</td>*@
                @*<td style="border:none;text-align:right;width:2%">@Model.detalleCotizacion[i].numitem</td>*@
                <td style="text-align:left;width:20%">@Model.detalleFacturacion[i].referenciaFactura</td>
                <td style="text-align:left;width:20%">@Model.detalleFacturacion[i].descripcionFactura</td>
                <td style="text-align:center;width:2%">@Model.detalleFacturacion[i].cantFactura</td>
                <td style="text-align:center;width:2%">@Model.detalleFacturacion[i].pordescuentoFactura</td>
                <td style="text-align:center;width:2%">@Model.detalleFacturacion[i].porivaFactura</td>
                <td style="text-align:right;width:10%">$ @Model.detalleFacturacion[i].preciounitarioFactura</td>
                <td style="text-align:right;width:10%">$ @Model.detalleFacturacion[i].valorFactura</td>
                @*<td style="border-right-color:#bbc4f7;text-align:right;width:10%">$ @Model.detalleFacturacion[i].valorFactura</td>*@
            </tr>
        }
    </table>
    <table class="table_principal">
        <tr style="text-align:left">
            <td style="width:55%">
                <div style="text-align:center">
                    <p><h3>@Model.nomEmpresa</h3></p>
                </div>
                <div style="text-align:justify">
                    <font size=1>
                        <p class="indented" @*style="text-indent:"*@>
                            Grandes contribuyentes res 076 dic 1/2016 (retenedores de iva al régimen simplificado y al régimen común), iva régimen común, somos autoret. res.0006032 junio 23/2010, somos autoretenedores del ICA en Pereira acuerdo 41 /2012, armenia acuerdo 17/2012 y Cartago acuerdo 025/2008. Después de su vencimiento causará intereses moratorios al maximo legal vigente. Estimado cliente: Usted tiene derechoa presentarnos peticiones, quejas o reclamos (PQR's) si esta insatisfecho con la forma como hemos dado cumplimiento a los términos y condiciones de la garantia del producto, o por la información recibida y la atencion en la ventay postventa del producto, para la cual Chevrolet Caminos ha implementado un mecanismo de atención y trámite de PQR's, que usted puede consultar en nuestra pagina web www.caminos.com.co o pedir la copia impresa. Acuda a nuestroresponsable local de PQR's, quien lo orientará en el trámite de la PQR, para lo cual no requiere de un abogado ni presentarla personalmente. El plazo máximo para absolver su PQR, aceptándola, rechazándola o dándole una solución diferente, es de 15 dias habiles a la direccion que usted nos indique. Las normas de protección al consumidor relativasa los derechos que le asisten se encuentran establecidas en los articulos 7 al 11 y 16 de la ley 1480 del 2011, y en el Titulo II del Capitulo I de la Circular Única de la SIC. Ciiu 4511 comercio de vehiculos automotores nuevos. Autorizo con carácter permanente a Comercializadora Homaz S.A.S, o a quien ejerza sus derechos, para que mi información sea consultada, procesada y divulgada con fines estadisticos de control y de información comercial ante las centrales de información y de riesgo.
                        </p>
                    </font>
                </div>
                <div style="text-align:center">
                    <font size=2>
                        <p>
                            GARANTIA DE REPUESTOS DOCE(12) MESES A PARTIR DE LA FECHA DE ENTREGA
                        </p>
                    </font>
                </div>
            </td>

            <th class="indented2" style="width:10%;vertical-align:top">
                <font size=2>
                    <p><h3>Valor Bruto:</h3> </p>
                    <p><h3>Valor Dcto: </h3></p>
                    <p><h3>Valor Fletes: </h3></p>
                    <p><h3>Base Iva: </h3></p>
                    <p><h3>Valor Iva: </h3></p>
                    <p><h3>Valor Neto: </h3></p>
                </font>
            </th>
            <td class="indented3" style="width:16%;text-align:right;vertical-align:top;border:none">
                <font size=2>
                    <p><h3>$ @Model.valorbruto</h3></p>
                    <p><h3>$ @Model.valordescuento</h3></p>
                    <p><h3>$ @Model.valorfletes</h3></p>
                    <p><h3>$ @Model.baseiva</h3></p>
                    <p><h3>$ @Model.valoriva</h3></p>
                    <p><h3>$ @Model.totalFactura</h3></p>
                </font>
            </td>

        </tr>
    </table>
    <table class="table_principal">
        <tr style="width:100%">
            <td style="width:700px;border:none">
                @*  <td style="width:600px; border:none"> *@
            </td>
            <td style="width:150px;padding-left:50pt;border:none">
                <p><h3>Total Factura: </h3></p>
            </td>
            <td calss="indented3" style="width:150px; text-align:right; padding-right:10pt; border:none">
                <p><h3>$ @Model.totalFactura</h3></p>
            </td>
        </tr>

    </table>
    <table class="table_principal">
        @*<tr style="width:100%">*@
        <tr style="width:100%">

            @*<td style="width:100%; border:none;  text-align:center">*@
            <td style="width:1000px;text-align:center" ">
                <font size=1>
                    <p><h3>AUTORIZACION DIAN POR COMPUTADOR N° @Model.referencia DE @Model.fechai, @Model.prefi @Model.facti-@Model.factf FACTURA IMPRESA POR @Model.nomEmpresa NIT @Model.nitEmpresa -FACTURA</h3></p>
                </font>
            </td>

        </tr>
    </table>
    <table class="table_principal">
        <tr style="width:100%; height:180px; vertical-align:bottom">
            <td style="width:600px; border:none;  text-align:center">
                <p><h4> </h4></p>
                <p><h4> </h4></p>

                <p><h4>CLIENTE CC </h4></p>
            </td>
            <td style="width:400px; border:none; text-align:center">
                <p><h4>SELLO EMPRESA </h4></p>
            </td>

        </tr>
    </table>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>

    <script type="text/javascript">
        var numero_miles = "";

        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($('#' + id + '').val());
            $('#' + id + '').val(numero_miles);
            //console.log($('#'+id+'').val);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr.toString();
            //console.log(nStr);
            var s = nStr.replace(/\./g, "");
            return s;
        }
    </script>

}