@{
    ViewBag.Title = "Comparativa";
    ViewBag.Icono = "fa fa-compress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Vendor/blueimp-gallery/css/blueimp-gallery.min.css" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Visualización de @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>


            <div id="detalle" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                <i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Datos generales
                            </div>
                            <div class="panel-body">

                                <div>
                                    <h3>
                                        <label class="control-label">Placa:&nbsp;</label>
                                        <label class="control-label">@ViewBag.placa</label>
                                    </h3>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-6" style="border-right:solid 1px">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha Inspección Actual:&nbsp;</label>
                                            <label class="control-label col-md-4" id="fechaActual" style="text-align:left"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Fecha Inspección Anterior:&nbsp;</label>
                                            <label class="control-label col-md-4" id="fechaAnterior" style="text-align:left"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="border-right:solid 1px">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado:&nbsp;</label>
                                            <label class="control-label col-md-4" id="estadoActual" style="text-align:left"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Estado:&nbsp;</label>
                                            <label class="control-label col-md-4" id="estadoAnterior" style="text-align:left"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="border-right:solid 1px">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Clasificación:&nbsp;</label>
                                            <label class="control-label col-md-4" id="clasificacionActual" style="text-align:left"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Clasificación:&nbsp;</label>
                                            <label class="control-label col-md-4" id="clasificacionAnterior" style="text-align:left"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                <i class="fa fa-file-powerpoint-o"></i>&nbsp;&nbsp;&nbsp;Datos Peritaje
                            </div>
                            <div class="panel-body">

                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-6">
                                            <div id="formularioPeritaje" class="tab-pane">
                                                <div class="panel-body-busqueda">
                                                    <div class="table-responsive">
                                                        <div id="div-mensaje-buscar"></div>
                                                        <label class="control-label">RESULTADO PERITAJE ACTUAL</label>
                                                        <table class="table table-bordered table-hover" id="tablaformularioPeritajeNuevo">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center">Zona</th>
                                                                    <th style="text-align:center">Pieza</th>
                                                                    <th style="text-align:center">Convenciones</th>
                                                                    <th style="text-align:center">Comentarios</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row col-md-4 col-md-offset-4">
                                                        <div id="page-selection"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="formularioPeritaje" class="tab-pane">
                                                <div class="panel-body-busqueda">
                                                    <div class="table-responsive">
                                                        <div id="div-mensaje-buscar"></div>
                                                        <label class="control-label">RESULTADO PERITAJE ANTIGUO</label>
                                                        <table class="table table-bordered table-hover" id="tablaformularioPeritajeAntiguo">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center">Zona</th>
                                                                    <th style="text-align:center">Pieza</th>
                                                                    <th style="text-align:center">Convenciones</th>
                                                                    <th style="text-align:center">Comentarios</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row col-md-4 col-md-offset-4">
                                                        <div id="page-selection"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);

            datosPeritaje();
            datosPeritaje2()
            BuscarOperacionesPeritaje();
        });

        $('#estado').change(function () {
            if ($('#estado').val() == 'Aprobado') {
                $('#divValor').show();
                $('#divMotivo').hide();
            } else {
                $('#divValor').hide();
                $('#divMotivo').show();
            }
        });

        function datosPeritaje() {
            $.ajax({
                url: '/InspeccionPeritaje/BuscarVehiculoPlacaComparativo',
                data: {
                    id: @ViewBag.id,
                    placa: '@ViewBag.placa',
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#fechaActual').text(data.fechaNuevo)
                    $('#estadoActual').text(data.estadoNuevo)
                    $('#clasificacionActual').text(data.clasificacionNuevo)
                    $('#tablaformularioPeritajeNuevo').find('tbody').empty();

                    var aux = 0;
                    var aux2 = 0;

                    for (var i = 0; i < data.dataActual.total; i++) {
                        var cuantasPiezas = 0;
                        var comentario = "";

                        if (data.dataActual.listaZonas[i].cuantas_conveciones != 0) {
                            cuantasPiezas = data.dataActual.listaZonas[i].cuantas_piezas;
                            if (data.dataActual.listaZonas.pieza_id == data.dataActual.peritaje.pieza) {
                                nombre_conven = data.dataActual.peritaje[i].convencion;
                                comentario = data.dataActual.peritaje[i].comentario;
                            }
                        } else {
                            cuantasPiezas = data.dataActual.listaZonas[i].cuantas_piezas;
                            nombre_conven = "";
                        }

                        if (data.dataActual.listaZonas[i].zonaper_id != aux) {
                            $('#tablaformularioPeritajeNuevo').find('tbody').append('<tr align="middle"><td  rowspan = "' + cuantasPiezas + '"><h5>'
                                     + data.dataActual.listaZonas[i].zonaper_nombre + '</h5></td><td align="center">'
                                     + data.dataActual.listaZonas[i].pieza_nombre + '</td><td align="center">' + nombre_conven
                                     + '</td><td align="center">' + comentario + '</td></tr>'
                                );
                            aux = data.dataActual.listaZonas[i].zonaper_id;
                        } else {
                            if (data.dataActual.listaZonas[i].pieza_id != aux2) {
                                $('#tablaformularioPeritajeNuevo').find('tbody').append('<tr><td align="center">'
                                    + data.dataActual.listaZonas[i].pieza_nombre + '</td><td align="center">'
                                    + nombre_conven + '</td><td align="center">' + comentario + '</td></tr>'
                                );
                                aux2 = data.dataActual.listaZonas[i].pieza_id;
                            } else {
                                $('#tablaformularioPeritajeNuevo').find('tbody').append('<tr><td align="center">'
                                    + nombre_conven + '</td><td align="center">' + comentario + '</td></tr>'
                               );
                            }
                        }
                    }
                    //$('#datosVehiculoBuscado').hide('1000');
                    //$('#datosVehiculoBuscado').show('1000');
                },
                complete: function (data) {
                    $('#tablaformularioPeritajeNuevo').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function datosPeritaje2() {
            $.ajax({
                url: '/InspeccionPeritaje/BuscarVehiculoPlacaComparativo',
                data: {
                    id: @ViewBag.id,
                    placa: '@ViewBag.placa',
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#fechaAnterior').text(data.fechaAntiguo)
                    $('#estadoAnterior').text(data.estadoAntiguo)
                    $('#clasificacionAnterior').text(data.clasificacionAntiguo)
                    $('#tablaformularioPeritajeAntiguo').find('tbody').empty();
                    var aux = 0;
                    var aux2 = 0;
                    for (var i = 0; i < data.dataAntiguo.total2; i++) {
                        var cuantasPiezas = 0;
                        var comentario = "";

                        if (data.dataAntiguo.listaZonas2[i].cuantas_conveciones != 0) {
                            cuantasPiezas = data.dataAntiguo.listaZonas2[i].cuantas_piezas;
                            if (data.dataAntiguo.listaZonas2.pieza_id == data.dataAntiguo.peritaje2.pieza) {
                                nombre_conven = data.dataAntiguo.peritaje2[i].convencion;
                                comentario = data.dataAntiguo.peritaje2[i].comentario;
                            }
                        } else {
                            cuantasPiezas = data.dataAntiguo.listaZonas2[i].cuantas_piezas;
                            nombre_conven = "";
                        }

                        if (data.dataAntiguo.listaZonas2[i].zonaper_id != aux) {
                            $('#tablaformularioPeritajeAntiguo').find('tbody').append(
                                '<tr align="middle">'
                                    +'<td  rowspan = "' + cuantasPiezas + '"><h5>' + data.dataAntiguo.listaZonas2[i].zonaper_nombre + '</h5></td>'
                                    +'<td align="center">' + data.dataAntiguo.listaZonas2[i].pieza_nombre + '</td>'
                                    +'<td align="center">' + nombre_conven + '</td>'
                                    +'<td align="center">' + comentario + '</td>'
                                +'</tr>'
                                );
                            aux = data.dataAntiguo.listaZonas2[i].zonaper_id;
                        } else {
                            if (data.dataAntiguo.listaZonas2[i].pieza_id != aux2) {
                                $('#tablaformularioPeritajeAntiguo').find('tbody').append(
                                    '<tr>'
                                        +'<td align="center">' + data.dataAntiguo.listaZonas2[i].pieza_nombre + '</td>'
                                        +'<td align="center">'+ nombre_conven + '</td>'
                                        +'<td align="center">' + comentario + '</td>'
                                    +'</tr>'
                                );
                                aux2 = data.dataAntiguo.listaZonas2[i].pieza_id;
                            } else {
                                $('#tablaformularioPeritajeAntiguo').find('tbody').append(
                                    '<tr>'
                                        +'<td align="center">' + nombre_conven + '</td>'
                                        +'<td align="center">' + comentario + '</td>'
                                    +'</tr>'
                               );
                            }
                        }
                    };
                    //$('#datosVehiculoBuscado').hide('1000');
                    //$('#datosVehiculoBuscado').show('1000');
                },
                complete: function (data) {
                    $('#tablaformularioPeritajeAntiguo').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function BuscarOperacionesPeritaje() {
            $.ajax({
                url: '/InspeccionPeritaje/BuscarOperacionesPeritaje',
                data: {
                    id: $("#encab_insper_id").val(),
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.length > 0) {
                        $('#tablaOperacionesAgregadas').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaOperacionesAgregadas').find('tbody').append('<tr>'
                                    +'<td align="left">' + data[i].zonaper_nombre + '</td>'
                                    +'<td align="left">' + data[i].pieza_nombre + '</td>'
                                    +'<td align="left">' + data[i].operacion + '</td>'
                                    +'<td align="right">'
                                        +'<input class="sumamos" type="text" style="display:none;" id="valorOperacion'+ i + '" name="valorOperacion' + i + '" value="' + data[i].valor + '"/>'
                                        + addComas(data[i].valor)
                                    +'</td>'
                                +'</tr>'
                            );
                            var total = 0;
                            $( ".sumamos" ).each( function( index, element ){
                                total += parseInt($( this ).val());
                                $('#valorTotal').val(addComas(total));
                            });
                        }
                    }
                },
                complete: function (data) {
                    $('#tablaOperacionesAgregadas').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

    </script>

    <style>
        .lightBoxGallery {
            text-align: center;
        }

            .lightBoxGallery a {
                margin: 5px;
                display: inline-block;
            }
    </style>

}

