@model Homer_MVC.IcebergModel.ttarifaclientebodega

@{
    ViewBag.Icono = "fa fa-money";
    ViewBag.Title = "Tarifa Taller Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }



        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxTarifas();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit" id="save"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.Hidden("cantidadesDetalles")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Cliente:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.idtcliente, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.idtcliente, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bodega(s):&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <select id="bodega_id" name="bodega_id" multiple="multiple">
                                                    @foreach (var item in ViewBag.bodegas)
                                                    {
                                                        <option value="@item.id">@item.bodccs_nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Valor (hora):&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite valor" } })
                                                @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-4">
                                                <button type="button" class="btn btn-primary" id="btnAgregar"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-md-offset-1" style="display:none;" id="areaAlerta">
                                        <div class="alert alert-warning">
                                            <strong>Alerta!</strong><p id="mensajeAlerta"></p>
                                        </div>
                                    </div>

                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablaDetalles">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Cliente</th>
                                                        <th style="text-align:center">Bodega</th>
                                                        <th style="text-align:center">Valor</th>
                                                        <th style="text-align:center">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Documento</th>
                                        <th style="text-align:center">Cliente</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script type="text/javascript">

        var contadorDetalles = 1;
        var bodegaRepetida = '';
        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            $('#bodega_id').multiselect({
                includeSelectAllOption: true,
                maxHeight: 400
            });
            $('#idtcliente').select2();
            $('#cantidadesDetalles').val(contadorDetalles);
        });

        function buscarNombreBodega(id) {
            $.ajax({
                url: '/tarifaTallerCliente/BuscarNombreBodega',
                data: {
                    bodega_id: id
                },
                type: "post",
                cache: false,
                success: function (data) {

                },
                complete: function (data) {
                    $('#mensajeAlerta').text('La bodega ' + data.responseJSON + " ya se encuentra registrada para ese cliente");
                    $('#areaAlerta').show();
                    setTimeout(function () {
                        $("#areaAlerta").fadeOut(2500);
                    }, 5000);
                }
            });
        }

        function validarSiExiste() {
            var res = $('#bodega_id').val().toString().split(",");
            var cantidades = parseInt($('#cantidadesDetalles').val());
            for (var j = 0; j < res.length; j++){
                for (var i = 1; i <= cantidades; i++) {
                    if ($('#bodega' + i + '').val() == $.trim(res[j]) && $('#cliente' + i + '').val() == $('#idtcliente').val()) {
                        buscarNombreBodega($('#bodega' + i + '').val());
                    return true;
                    }
                }
            }
            return false;
        }

        function eliminarDetalle(id) {
            $('#filaDetalles'+id).remove();
        }

        $('#btnAgregar').click(function () {

            if ($('#bodega_id').val() == '' || $('#bodega_id').val() == null || $('#idtcliente').val() == '' || $('#idtcliente').val() == null || $('#valor').val() == '') {

                $('#mensajeAlerta').text('Los campos marcados con (*) son obligatorios.');
                $('#areaAlerta').show();
                setTimeout(function () {
                    $("#areaAlerta").fadeOut(2500);
                }, 5000);

            }else{
                $.ajax({
                    url: '/tarifaTallerCliente/AgregarTarifaBodega',
                    data: {
                        id_cliente: $('#idtcliente').val(),
                        bodegas_id: $('#bodega_id').val()
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        if (data.yaExiste == true) {
                            $('#mensajeAlerta').text(data.message);
                            $('#areaAlerta').show();
                            setTimeout(function () {
                                $("#areaAlerta").fadeOut(2500);
                            }, 5000);
                        } else {
                            if (validarSiExiste() == true) {

                            } else {
                                //$('#tablaDetalles').find('tbody').empty();
                                for (var i = 0; i < data.arregloBodegas.length; i++) {
                                    $('#tablaDetalles').find('tbody').append('<tr id="filaDetalles' + contadorDetalles + '"><td align="center"><input type="text" style="display:none;" id="cliente'
                                        + contadorDetalles + '" name="cliente' + contadorDetalles + '" value="' + $('#idtcliente').val() + '"/>'
                                        + $("#idtcliente option:selected").text() + '</td><td align="center"><input type="text" style="display:none;" id="bodega'
                                        + contadorDetalles + '" name="bodega' + contadorDetalles + '" value="' + data.arregloBodegas[i].id + '"/>'
                                        + data.arregloBodegas[i].bodccs_nombre + '</td><td align="center"><input type="text" style="display:none;" id="valor'
                                        + contadorDetalles + '" name="valor' + contadorDetalles + '" value="' + $('#valor').val() + '"/>'
                                        + $('#valor').val() + '</td><td width="5%" align="center"><button class="btn btn-danger btn-xs" onclick="eliminarDetalle('
                                        + contadorDetalles + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td></tr>');
                                    $('#cantidadesDetalles').val(contadorDetalles);
                                    contadorDetalles++;
                                }
                            }
                        }
                    }
                });
            }
            });

            function valida(id) {
                window.location.href = '@Url.Action("Edit", "tarifaTallerCliente")?menu='+@ViewBag.id_menu+'&&id=' + id;
            }

            function buscarAjaxTarifas() {

                $.ajax({
                    url: '/tarifaTallerCliente/BuscarTarifas',
                    data: {
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        $('#tablaPaginada').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaPaginada').find('tbody').append('<tr><td align="right">'
                                + data[i].doc_tercero + '</td><td align="left">'
                                + data[i].nombre + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                                + data[i].cltercero_id + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                        }
                    },
                    complete: function (data) {
                        $('#tablaPaginada').dataTable({
                            //"ajax": 'api/datatables.json',
                            //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                                //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                            ]
                        });
                    }
                });
            }

            function AgregarQuitarFavorito(){
                $.ajax({
                    url: '/Inicio/AgregarQuitarFavorito',
                    data: {
                        id_menu: @ViewBag.id_menu,
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        if (data.esFavorito == true) {
                            $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                        } else {
                            $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                        }
                    }
                });
            }

    </script>
}