@model Homer_MVC.IcebergModel.Prospecto

@{
    ViewBag.Icono = "fa fa-pencil-square-o";
    ViewBag.Title = "Seguimiento Prospectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/select2/css")
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxProspectos();"><a data-toggle="tab" href="#buscarActivos"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.tercero_id)
                        @Html.Hidden("menu")

                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                </div>
                                <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                            </div>

                            <div class="panel-body">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Documento:<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.numDocumento" placeholder="No Registra" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nombre:<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.prinom_tercero" placeholder="No Registra" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Telefono:<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.telf_tercero" placeholder="No Registra" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Celular:<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.celular_tercero" placeholder="No Registra" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Email:<span class="text-danger"></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="@Model.email_tercero" placeholder="No Registra" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <button type="button" class="btn btn-primary" id="btnAbrirModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar Seguimiento</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                </div>
                                <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Seguimiento
                            </div>

                            <div class="panel-body">

                                @if (Model.listaSeguimiento.Count > 0)
                                {
                                    <div class="panel-body-busqueda">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Tipo Seguimiento</th>
                                                        <th style="text-align:center">Nota</th>
                                                        <th style="text-align:center">Fecha</th>
                                                        <th style="text-align:center">Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*<tr>
                                                            @foreach (var item in Model.listaSeguimiento)
                                                            {
                                                                <td style="text-align:left">@item.TipoSeguimiento</td>
                                                                <td style="text-align:left">@item.Nota</td>
                                                                <td style="text-align:center">@item.Fecha</td>
                                                                <td style="text-align:left">@item.Usuario</td>
                                                            }
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="panel-body-busqueda" style="display:none" id="areaAlertaClienteConReportes">
                                        <div class="table-responsive">
                                            <div id="div-mensaje-buscar"></div>
                                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">Tipo Seguimiento</th>
                                                        <th style="text-align:center">Nota</th>
                                                        <th style="text-align:center">Fecha</th>
                                                        <th style="text-align:center">Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-sm-12" id="areaAlertaClienteSinReportes">
                                        <div class="form-group">
                                            <div class="alert alert-info text-center">
                                                <strong>El cliente no reporta seguimientos</strong>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>


                    }
                </div>
            </div>


            <div id="buscarActivos" class="tab-pane">
                <div class="panel-body">

                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaBusquedas">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Documento</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Correo</th>
                                        <th style="text-align:center">Telefono / Celular</th>
                                        <th style="text-align:center">Medio Comunicación</th>
                                        <th style="text-align:center">Ultimo Asesor</th>
                                        <th style="text-align:center">Trámite</th>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Ultimo Seguimiento</th>
                                        <th style="text-align:center">Notas</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

            @*<div id="buscarActivos" class="tab-pane">
                    <div class="panel-body">
                        <div class="panel-body-busqueda">
                            <div class="table-responsive">
                                <div id="div-mensaje-buscar"></div>
                                <table class="table table-striped table-bordered table-hover" id="tablaBusquedas">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Documento</th>
                                            <th style="text-align:center">Nombre Prospecto</th>
                                            <th style="text-align:center">Fuente</th>
                                            <th style="text-align:center">Medio Comunicacion</th>
                                            <th style="text-align:center">Trámite</th>
                                            <th style="text-align:center">Fecha</th>
                                            <th style="text-align:center">Asesor</th>
                                            <th style="text-align:center">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contenido"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>*@


        </div>
    </div>
</div>


<div id="modalAgregarSeguimiento" class="modal hmodal-success" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Seguimiento</h4>
                <small class="font-bold">Registro de eventos que realiza el cliente.</small>
            </div>

            <form id="formSeguimiento" onsubmit="return false">

                <div class="modal-body">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">Tipo Seguimiento:&nbsp;</label>
                            <div class="col-md-6">
                                @Html.DropDownList("tipo_seguimiento", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">Observaciones:<span class="text-danger"></span></label>
                            <div class="col-md-6">
                                @Html.TextArea("nota", new RouteValueDictionary(new { @class = "someClass", style = "width: 100%; height:100px;", @required = "required" }))
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" style="display:none" id="areaAlertaOculta">
                        <div class="form-group">
                            <div class="alert alert-info text-center">
                                <strong><p id="textoAlertaModal"></p></strong>
                            </div>
                        </div>
                    </div>

                    <label></label>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnAgregarSeguimiento">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cerrar</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        var i = 0;

        $(document).ready(function () {
            $('#tipo_seguimiento').select2();
            $('#menu').val(@ViewBag.id_menu);
            RecargarSeguimientos();
        });

        $('#btnAbrirModal').click(function(){
            $('#areaAlertaOculta').hide();
            $('#modalAgregarSeguimiento').modal('show');
        });

        $('#formSeguimiento').submit(function(){
            $.ajax({
                url: '/prospectos/AgregarSeguimientoProspecto',
                data: {
                    id_tercero: $('#tercero_id').val(),
                    id_tipo_seguimiento: $('#tipo_seguimiento').val(),
                    nota: $('#nota').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data == true) {
                        $('#tipo_seguimiento').val('').prop('style', 'visible:visible').select2();
                        $('#nota').val('');
                        $('#textoAlertaModal').text('Seguimiento Agregado Con Exito!');
                        $('#areaAlertaOculta').show();
                    } else {
                        $('#textoAlertaModal').text('Seguimiento No agregado, Revise su conexión...');
                        $('#areaAlertaOculta').show();
                    }
                },
                complete: function (data) {
                    if (data.responseJSON == true) {
                        RecargarSeguimientos();
                    }
                }
            });
        });

        function RecargarSeguimientos(){
            $.ajax({
                url: '/prospectos/buscarSeguimientosPorIdTercero',
                data: {
                    id_tercero: $('#tercero_id').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr>'
                            + '<td align="left">' + data[i].nombre_seguimiento + '</td>'
                            + '<td align="left">' + data[i].nota + '</td>'
                            + '<td align="center">' + data[i].fecha + '</td>'
                            + '<td align="left">' + data[i].nombreUsuario + '</td>'
                            + '</tr>');
                    }
                    $('#areaAlertaClienteSinReportes').hide();
                    $('#areaAlertaClienteConReportes').show();
                }
            });
        }

        function verSeguimiento(id) {
            debugger
            window.location.href = '@Url.Action("VerSeguimiento","prospectos")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxProspectos() {
            $.ajax({
                url: '/prospectos/BuscarProspectosPaginados',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data)
                    $('#tablaBusquedas').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaBusquedas').find('tbody').append('<tr>'
                            + '<td align="right">' + data[i].documento + '</td>'
                            + '<td align="left">' + data[i].nombreCompleto + '</td>'
                            + '<td align="left">' + data[i].correo + '</td>'
                            + '<td align="left">' + data[i].telefono + ' / ' + data[i].celular + '</td>'
                            + '<td align="left">' + data[i].medcomun_descripcion + '</td>'
                            + '<td align="left">' + data[i].asesorSeguimiento + '</td>'
                            + '<td align="left">' + data[i].tptrapros_descripcion + '</td>'
                            + '<td align="right">' + data[i].fecha + '</td>'
                            + '<td align="left">' + data[i].desTipoUltimoSeg + '</td>'
                            + '<td align="left">' + data[i].notaultimoSeg + '</td>'
                            + '<td width="10%" align="center">'
                            + '<button class="btn btn-info btn-xs" onclick="verSeguimiento(' + '\'' + data[i].id + '\')">&nbsp;&nbsp;Seguimiento&nbsp;&nbsp;</button>'
                            + '</td>'
                            + '</tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaBusquedas').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        destroy: true,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}