@model Homer_MVC.IcebergModel.bodega_concesionario

@{
    ViewBag.Icono = "fa fa-home";
    ViewBag.Title = "Bodega Concesionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }



        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit" id="save"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Código Bodega:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.bodccs_cod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite codigo", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.bodccs_cod, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nombre Bodega:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.bodccs_nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite nombre", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.bodccs_nombre, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Dirección Bodega:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.bodccs_direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite direccion", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.bodccs_direccion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Centro Costo:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.bodccscentro_id, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.bodccscentro_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">País:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.pais_id, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.pais_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Departamento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.departamento_id, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                @Html.ValidationMessageFor(model => model.departamento_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Ciudad:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.ciudad_id, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.ciudad_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Código BAC:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.codigobac, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite codigo" } })
                                                @Html.ValidationMessageFor(model => model.codigobac, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Estado:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                <label class="control-label col-md-3">
                                                    @Html.CheckBoxFor(model => model.bodccs_estado, new { @data_toggle = "toggle", @checked = "checked", @data_size = "mini" })
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="inactividad" style="display:none">
                                        <div class="col-md-6"></div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Razón Inactividad:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.bodccsrazoninactivo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Razón Inactividad" } })
                                                    @Html.ValidationMessageFor(model => model.bodccsrazoninactivo, "", new { @class = "text-danger" })
                                                    @*<p class="text-danger" style="display:none" id="razonInactivoObligatorio">El campo razon inactivo es obligatorio</p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-car"></i>&nbsp;&nbsp;&nbsp;Tipo de Bodega
                                </div>
                                <div class="panel-body">

                                    <div class="row">


                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Remisiones:&nbsp;</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.es_puntoventa, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Taller:&nbsp;</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.es_taller, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Repuestos:&nbsp;</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.es_repuestos, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Vehículos:&nbsp;</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.es_vehiculos, new { @data_toggle = "toggle", @data_size = "mini" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Código</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Dirección</th>
                                        <th style="text-align:center">Estado</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            //limpiarCampos();

            $('form select').each(function (i) {
                this.addEventListener('invalid', function (e) {
                    var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                    var _posS2 = $('#' + _s2Id).position();
                    //get the current position of respective select2
                    $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                    //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                    $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                    /*
                    //Adjust the left and top position accordingly
                    */
                    //remove invalid class after 3 seconds
                    setTimeout(function () {
                        $('#' + _s2Id + ' ul').removeClass('_invalid');
                    }, 3000);
                    return true;
                }, false);
            });

            $('#menu').val(@ViewBag.id_menu);
            //$('#areas').select2();
            //$('#areas').multiselect();
            $('#pais_id').select2();
            $('#departamento_id').select2();
            $('#ciudad_id').select2();
            $('#bodccscentro_id').select2();
            buscarAjaxBodegas();
            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);

            if (!$('#bodccs_estado').prop('checked')) {
                $('#bodccsrazoninactivo').val('');
                $('#inactividad').show();
            }

            //var data = "1";
            //var dataArray=data.split(",");
            //$('#areas').val(dataArray);
            //$("#areas").multiselect("refresh");

        });

        $('#bodccs_estado').change(function () {
            if ($('#bodccs_estado').prop('checked')) {
                $('#inactividad').hide();
                $('#bodccsrazoninactivo').prop('required', false);
                $('#bodccsrazoninactivo').val('');
            } else {
                $('#bodccsrazoninactivo').prop('required', true);
                $('#bodccsrazoninactivo').val('');
                $('#inactividad').show();
            }
        });



        $('#pais_id').change(function () {
            $.ajax({
                url: '/bodega_concesionario/BuscarDeptoPorPais',
                data: {
                    paisId: $('#pais_id').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#departamento_id').empty();
                    $('#departamento_id').append($('<option>', {
                        value: '',
                        text: 'Seleccione'
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#departamento_id').append($('<option>', {
                            value: data[i].dpto_id,
                            text: data[i].dpto_nombre
                        }));
                    }
                    $('#departamento_id').val('').select2();
                    $('#departamento_id').prop('required', true);
                },
            });
        });

        $('#departamento_id').change(function () {
            $.ajax({
                url: '/bodega_concesionario/BuscarCiudadPorDepto',
                data: {
                    deptoId: $('#departamento_id').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ciudad_id').empty();
                    $('#ciudad_id').append($('<option>', {
                        value: '',
                        text: 'Seleccione'
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#ciudad_id').append($('<option>', {
                            value: data[i].ciu_id,
                            text: data[i].ciu_nombre
                        }));
                    }
                    $('#ciudad_id').val('').select2();
                },
            });
        });


        //$('#es_puntoventa').change(function () {
        //    if ($('#es_puntoventa').is(':checked')) {
        //        $('#es_taller').bootstrapToggle('off');
        //        $('#es_repuestos').bootstrapToggle('off');
        //        $('#es_vehiculos').bootstrapToggle('off');
        //    }
        //});

        //$('#es_taller').change(function () {
        //    if ($('#es_taller').is(':checked')) {
        //        $('#es_puntoventa').bootstrapToggle('off');
        //        $('#es_repuestos').bootstrapToggle('off');
        //        $('#es_vehiculos').bootstrapToggle('off');
        //    }
        //});

        //$('#es_repuestos').change(function () {
        //    if ($('#es_repuestos').is(':checked')) {
        //        $('#es_puntoventa').bootstrapToggle('off');
        //        $('#es_taller').bootstrapToggle('off');
        //        $('#es_vehiculos').bootstrapToggle('off');
        //    }
        //});

        //$('#es_vehiculos').change(function () {
        //    if ($('#es_vehiculos').is(':checked')) {
        //        $('#es_puntoventa').bootstrapToggle('off');
        //        $('#es_taller').bootstrapToggle('off');
        //        $('#es_repuestos').bootstrapToggle('off');
        //    }
        //});

        //function Create(inactive) {

        //    var areasAux = '';
        //    if ($('#areas').val()!=null) {
        //        areasAux = $('#areas').val().toString();
        //    }

        //    $.ajax({
        //        url: '/bodega_concesionario/CreateBod',
        //        data: {
        //            nombre: $('#bodccs_nombre').val(),
        //            inactivo: inactive,
        //            razonInactivo: $('#bodccsrazoninactivo').val(),
        //            areas: areasAux,
        //            direccion: $('#bodccs_direccion').val(),
        //            codigoBod: $('#bodccs_cod').val()
        //        },
        //        type: 'post',
        //        dataType: 'json',
        //        cache: false,
        //        success: function (retorno) {
        //            if (retorno > 0) {
        //                $('#success').show();
        //                $('#failedData').hide();
        //            } else {
        //                $('#failedData').show();
        //                $('#success').hide();
        //            }
        //        },
        //    })
        //}



        // Function save button
        //$('#save').click(function () {

        //    if ($('#bodccs_estado').prop('checked')) {
        //        $('#razonInactivoObligatorio').hide();
        //            if ($.trim($('#bodccs_nombre').val()) == '' || $.trim($('#bodccs_cod').val()) == '' || $.trim($('#bodccs_direccion').val()) == '') {
        //                // Validacion para que aparezca el mensaje de alerta de cada campo obligatorio
        //                if ($.trim($('#bodccs_cod').val()) == '') {
        //                    $('#codigoObligatorio').show();
        //                } else {
        //                    $('#codigoObligatorio').hide();
        //                }
        //                if ($.trim($('#bodccs_nombre').val()) == '') {
        //                    $('#nombreObligatorio').show();
        //                } else {
        //                    $('#nombreObligatorio').hide();
        //                }
        //                if ($.trim($('#bodccs_direccion').val()) == '') {
        //                    $('#direccionObligatorio').show();
        //                } else {
        //                    $('#direccionObligatorio').hide();
        //                }
        //                //$('#failedEmpty').show();
        //            } else {
        //                //$('#failedEmpty').hide();
        //                Create(true);
        //            }
        //        } else {
        //            if ($.trim($('#bodccs_nombre').val()) == '' || $.trim($('#bodccsrazoninactivo').val()) == '' || $.trim($('#bodccs_cod').val()) == '' || $.trim($('#bodccs_direccion').val()) == '') {
        //                // Validacion para que aparezca el mensaje de alerta de cada campo obligatorio
        //                if ($.trim($('#bodccs_cod').val()) == '') {
        //                    $('#codigoObligatorio').show();
        //                } else {
        //                    $('#codigoObligatorio').hide();
        //                }
        //                if ($.trim($('#bodccs_nombre').val()) == '') {
        //                    $('#nombreObligatorio').show();
        //                } else {
        //                    $('#nombreObligatorio').hide();
        //                }
        //                if ($.trim($('#bodccs_direccion').val()) == '') {
        //                    $('#direccionObligatorio').show();
        //                } else {
        //                    $('#direccionObligatorio').hide();
        //                }
        //                if ($.trim($('#bodccsrazoninactivo').val()) == '') {
        //                    $('#razonInactivoObligatorio').show();
        //                } else {
        //                    $('#razonInactivoObligatorio').hide();
        //                }
        //                //$('#failedEmpty').show();
        //            } else {
        //                //$('#failedEmpty').hide();
        //                Create(false);
        //            }
        //        }
        //});



        function valida(id) {
            window.location.href = '@Url.Action("update", "bodega_concesionario")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxBodegas() {

            $.ajax({
                url: '/bodega_concesionario/BuscarBodegasPaginadas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="right">'
                            + data[i].bodccs_cod + '</td><td align="left">'
                            + data[i].bodccs_nombre + '</td><td align="left">'
                            + data[i].bodccs_direccion + '</td><td align="left">'
                            + data[i].bodccs_estado + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida(' + data[i].id + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            ////{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            ////{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar de Favoritos</a>");
                    }
                }
            });
        }
    </script>
}