@model Homer_MVC.Models.TrasladoModel

@{
    ViewBag.Icono = "fa fa-file-pdf-o";
    ViewBag.Title = "Traslado de Repuestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/select2-4.0.3/select2.min.css" rel="stylesheet" />
    <link href="~/Vendor/datatable-1.10.19/dataTable.min.css" rel="stylesheet" />
    <link href="~/Vendor/EasyAutocomplete-1.3.5/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Vendor/EasyAutocomplete-1.3.5/easy-autocomplete.themes.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @*@if (TempData["mensaje"] != null)
            {
                <div class="alert alert-success  alert-dismissible" id="mensaje">
                    <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                    <p>@TempData["mensaje"]</p>
                </div>
            }*@

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="" onclick="solicitudTraslados();"><a data-toggle="tab"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp;Solicitud de Traslado</a></li>
                <li class="principal active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;Salida</a></li>@*Traslado de Repuestos*@
                <li class="" onclick="destinoTraslados();"><a data-toggle="tab"><i class="fa fa-arrow-circle-o-right"></i>&nbsp;&nbsp;Entrada</a></li> @*Recepción Traslados*@
                <li class="busqueda" onclick="destinoTraslados();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Seguimiento Traslados</a></li>
            </ul>


            <div id="crear" class="tab-pane active">
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                            <a class="btn btn-sm btn-info" href="../../Inicio/Inicio"><i class="fa fa-reply">&nbsp;Regresar a Inicio&nbsp;</i></a>

                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.Hidden("lista_repuestos")
                        @Html.Hidden("total_repuestos")
                        @Html.HiddenFor(model=>model.solicitudtranslado)

                        <div class="form-horizontal">


                            @*<input type="hidden" id="solicitudtranslado" name="solicitudtranslado" value="@ViewBag.SolicitudTraslado" />*@

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos Generales
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("TipoDocumento", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Origen:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.BodegaOrigen, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.BodegaOrigen, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Destino:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("BodegaDestino", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.BodegaDestino, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Destinatario:&nbsp;</label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.UsuarioRecepcion, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control js-source-states", @required = "required", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.UsuarioRecepcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Perfil Contable:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.PerfilContable, Enumerable.Empty<SelectListItem>(), "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    @Html.ValidationMessageFor(model => model.PerfilContable, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Referencia:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    <input id="Referencia" name="Referencia" placeholder="Seleccione" class="form-control" onkeyup="traerReferencias(this.id)" />
                                                    @*<select class="form-control" name="Referencia" id="Referencia"></select>*@

                                                    @*@Html.DropDownListFor(model => model.Referencia, null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                        @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Stock:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("txtStock", new { htmlAttributes = new { @class = "form-control", @placeholder = "Stock", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Costo Promedio:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("txtCosto", new { htmlAttributes = new { @class = "form-control", @placeholder = "$", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Cantidad:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite Cantidad", @type = "number", @min = "1" } })
                                                    @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-default" id="btnAgregarReferencia"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @*<label class="control-label col-md-4">&nbsp;<span class="text-danger">*</span></label>*@
                                                <label class="control-label col-md-4">Requiere Mensajeria:&nbsp; </label>
                                                <div class="col-md-6">
                                                    @Html.RadioButton("requiere_mensajeria", "true")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Notas:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    @Html.TextAreaFor(m => m.Notas, new RouteValueDictionary(new { @class = "someClass", style = "width: 100%; height:80px;" }))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="areaAlerta" style="display:none;">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="alert alert-warning text-center">
                                                    <strong>Alerta!</strong><p id="alertaMensaje"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="table-responsive">
                                                <div id="div-mensaje-buscar"></div>
                                                <table class="table table-striped table-bordered table-hover" id="tablaDetalles">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">Codigo Referencia</th>
                                                            <th style="text-align:center">Nombre</th>
                                                            <th style="text-align:center">Costo Promedio</th>
                                                            <th style="text-align:center">Cantidad</th>
                                                            <th style="text-align:center">Total</th>
                                                            <th style="text-align:center">Acci&oacute;n</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Total Costo:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtTotalCosto", new { htmlAttributes = new { @class = "form-control", @placeholder = "$", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">N&uacute;mero</th>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Origen</th>
                                        <th style="text-align:center">Destino</th>
                                        <th style="text-align:center">N° Solicitud Traslado</th>
                                        <th style="text-align:center">Mensajer&iacute;a</th>
                                        <th style="text-align:center">Referencias</th>
                                        <th style="text-align:center">Acci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modalEditarReferencia" class="modal fade hmodal-danger" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Referencia</h4>
                <small>La referencia ya se agrego</small>
            </div>

            <div class="modal-body">

                @Html.Hidden("txtEditaReferenciaNombre")

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Codigo Referencia:&nbsp;<span class="text-danger"></span></label>
                        <div class="col-md-6">
                            @Html.Editor("txtEditaReferencia", new { htmlAttributes = new { @class = "form-control", @placeholder = "Codigo", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Stock:&nbsp;</label>
                        <div class="col-md-6">
                            @Html.Editor("txtEditarStock", new { htmlAttributes = new { @class = "form-control", @placeholder = "Stock Actual", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Costo Promedio:&nbsp;</label>
                        <div class="col-md-6">
                            @Html.Editor("txtEditarCosto", new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite costo", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Cantidad:&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            @Html.Editor("txtEditarCantidad", new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite cantidad", @type = "number" } })
                        </div>
                    </div>
                </div>

                <div class="row" id="areaAlertaModal" style="display:none;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="alert alert-warning text-center">
                                <strong>Alerta!</strong><p id="alertaMensajeModal">Debe digitar una cantidad numerica</p>
                            </div>
                        </div>
                    </div>
                </div>

                <label></label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="" id="btnActualizarReferencia">Guardar</button>
            </div>

        </div>
    </div>
</div>

<div id="modalTrasladoCompleto" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Traslado registrado con éxito</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <h4>Se registro el traslado con el número</h4> <h3><span class="label label-default">@TempData["numeroConsecutivo"]</span></h3>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/select2/js")*@
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>

    @*Se agregaron estos links para actualizar las librerias*@
    <script type="text/javascript">


        function destinoTraslados(id) {
            debugger;
            window.location.href = '@Url.Action("destinoTraslado", "trasladoRepuestos")?menu=' +@ViewBag.id_menu+'&&id=' + id;
            debugger;
        }
        
        function solicitudTraslados() {
            debugger;
            window.location.href = '@Url.Action("VerSolicitudesTraslado", "trasladoRepuestos")';
            debugger;
        }

        var i = 1;
        var id_editar = 0;
        $(document).ready(function () {

            $('#menu').val(@ViewBag.id_menu);
            $('#lista_repuestos').val(0);
             $(".js-source-states").select2();
            //$('#TipoDocumento').select2();
            //buscarBodegasPorDocumento();
            buscarUsuariosBodegas();
            buscarPerfilesContables();

                $('#total_repuestos').val(0);
            var Solicitustras = $('#solicitudtranslado').val();

            if (Solicitustras != "") {

                        $.ajax({
                    url: '/trasladoRepuestos/BuscarSolicitudTrasladoId',
                    data: {
                        id:  Solicitustras
                    },
                    type: "post",
                    cache: false,
                            success: function (data) {
                                console.log('aa');
                                console.log(data);
                                if (data != 0) {
                                    
                                    //$("#BodegaOrigen").select2();
                                    $("#BodegaOrigen").val(data.data2[0].Id_bodega_origen).trigger('change');
                                    //$("#BodegaDestino").select2();
                                    //$("#BodegaDestino").val(data.data2[0].Id_bodega_destino).trigger('change');
                                    

                                    MostrarTablaDetalleSol();

                                } else {
                                  swal("No existe un consecutivo para el documento de traslado en la bodega origen","", "error");

                                }

                            }
                        });

                function MostrarTablaDetalleSol() {

                    $.ajax({
                        url: '/trasladoRepuestos/BuscarDetalleSolicitudTrasladoId',
                        data: {
                            id: Solicitustras
                        },
                        type: "post",
                        cache: false,
                        success: function (data) {


                            var total = 0;
                            $('#total_repuestos').val(data.data2.length);
                            $('#lista_repuestos').val(data.data2.length);

                            $('#txtTotalCosto').val(data.costototal);

                            for (var k = 0; k < data.data2.length; k++) {

                                var l = k + 1;
                                var body = '<tr id="fila' + l + '" name="fila' + l + '">';
                                body += '<td align="center"><input type="text" value="' + data.data2[k].Cod_referencia + '" id="codigo_referencia' + l + '" name="codigo_referencia' + l + '" style="display:none"/><input type="text" value="';
                                body += data.data2[k].Cantidad + '" id="stock_referencia' + l + '" name="stock_referencia' + l + '" style="display:none"/>' + data.data2[k].Cod_referencia + '</td>';

                                body += '<td align="center"><input type="text" value="' + data.data2[k].ref_descripcion + '" id="nombre_referencia' + l + '" name="nombre_referencia' + l + '" style="display:none"/>';
                                body += data.data2[k].ref_descripcion + '</td>';


                                body += '<td align="center"><input type="text" value="' + Math.round(data.data2[k].Promedio) + '" id="costo_referencia' + l + '" name="costo_referencia' + l + '" style="display:none"/>$ ';
                                body += addCommas(Math.round(data.data2[k].Promedio)) + '</td>';


                                body += '<td align="center"><input type="text" value="' + data.data2[k].Cantidad + '" id="cantidad_referencia' + l + '" name="cantidad_referencia' + l + '" style="display:none"/>';
                                body += data.data2[k].Cantidad + '</td>';


                                body += '<td align="center"><input type="text" value="' + data.data2[k].Total + '" id="total_referencia' + l + '" name="total_referencia' + l + '" style="display:none"/>$ ';
                                body += addCommas(Math.round(data.data2[k].Total)) + '</td>';

                                body += '<td width="10%" align="center"><button class="btn btn-warning btn-xs" onclick="editar(' + l + ')">&nbsp;&nbsp;<i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;</button>&nbsp;&nbsp;<button class="btn btn-danger btn-xs" onclick="eliminar(';
                                body += k + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td></tr>';

                                //total = Math.round(total) + Math.round(data.data2[k].Total)
                                $('#tablaDetalles').find('tbody').append(body);



                            }







                        },
                        complete:function(data){
                            buscarUsuariosBodegas();
                        }
                        });
                }
                      
            }
      
            //$(".js-source-states").select2();

            $('form select').each(function (i) {
                this.addEventListener('invalid', function (e) {
                    var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                    var _posS2 = $('#' + _s2Id).position();
                    //get the current position of respective select2
                    $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                    //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                    $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                    /*
                    //Adjust the left and top position accordingly
                    */
                    //remove invalid class after 3 seconds
                    setTimeout(function () {
                        $('#' + _s2Id + ' ul').removeClass('_invalid');
                    }, 3000);
                    return true;
                }, false);
            });

            

            $('form input').on('keypress', function (e) {
                return e.which !== 13;
            });
        });

        $('#cerrarModal').click(function () {
            $('#modalTrasladoCompleto').hide();
        });

        //se cargar el select sin referencias luego sera llenado por ajax
        var referencias = {
            data: []
        };
        $("#Referencia").easyAutocomplete(referencias);

        function traerReferencias(id) {
            var conteo_caracteres = $('#'+id).val().length;

            if (conteo_caracteres==2) {
                $.ajax({
                    url: '/kardex/traerReferencias',
                    data: {
                        referencia: $('#' + id).val()
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        var referencias = {
                            data: data,
                            list: {
                                match: {
                                    enabled: true
                                }
                            }
                        };
                        $("#Referencia").easyAutocomplete(referencias);
                        $("#Referencia").focus();
                    }
                });
            }

        }

        $('#Referencia').change(function () {
       
            setTimeout(function(){
               buscarefer();
            }, 100);

        });

        function buscarefer() {
            var codigo_arr = $('#Referencia').val().split("|");
            var codigo = codigo_arr[0].trim();
            $.ajax({
                url: '/trasladoRepuestos/BuscarReferencias',
                data: {
                    referencia_id: codigo,
                    bodega_id: $('#BodegaOrigen').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.encontrado == false) {
                        $('#alertaMensaje').text('No se encontro la referencia en la bodega actual');
                        $('#areaAlerta').show();
                    } else {
                        $('#areaAlerta').hide();
                        $('#txtStock').val(data.buscarReferencia.stock);
                        $('#txtCosto').val(addCommas(Math.round(data.buscarReferencia.Promedio)));
                    }
                }
            })
        }

        $('#btnAgregarReferencia').click(function () {
            if ($('#Referencia').val() == '' || $.trim($('#cantidad').val()) == '') {
                $('#alertaMensaje').text('Debe digitar la referencia con una cantidad');
                $('#areaAlerta').show();
            } else {
                $('#areaAlerta').hide();
                buscarReferenciaParaAgregar();
            }
        });

        function eliminar(indice) {
            event.preventDefault();
            $('#fila'+indice+'').remove();
            $('#total_repuestos').val(parseInt($('#total_repuestos').val())-1);

        }

        function editar(contador){
            event.preventDefault();
            id_editar = contador;
            $('#txtEditaReferencia').val($('#codigo_referencia' + contador + '').val());
            $('#txtEditaReferenciaNombre').val($('#nombre_referencia' + contador + '').val());
            $('#txtEditarStock').val($('#stock_referencia' + contador + '').val());
            $('#txtEditarCantidad').val($('#cantidad_referencia' + contador + '').val());
            $('#txtEditarCosto').val($('#costo_referencia' + contador + '').val());
            $('#modalEditarReferencia').modal('show');
        }

        function validarYaAgregado(referencia) {
            for (var i = 1; i <= $('#lista_repuestos').val() ; i++){
                if ($('#cod_referencia' + i + '').val() == referencia) {
                    return i;
                }
            }
            return -1;
        }

        function calcularTotal() {
            var totalCosto = 0;
            for (var i = 1; i <= $('#lista_repuestos').val() ; i++) {
                if (typeof $('#total_referencia' + i + '').val() === "undefined" || $('#total_referencia' + i + '').val() == '') {
                    // Campo eliminado
                } else {
                    totalCosto += parseFloat($('#total_referencia' + i + '').val());
                }
            }
            $('#txtTotalCosto').val('$ ' + addCommas(Math.round(totalCosto)));
        }

        $('#btnActualizarReferencia').click(function () {
            if (typeof $('#txtEditarCantidad').val() === "undefined" || $('#txtEditarCantidad').val() == '') {
                // Si el campo valor esta vacio
            }else{
                if (parseFloat($('#txtEditarCantidad').val()) <= 0) {
                    // Si el campo valor tiene un valor menor o igual a cero
                }else{
                    $('#areaAlertaModal').hide();
                    alert($('#txtEditarStock').val() + ' - ' + $('#txtEditarCantidad').val());
                    if(parseFloat($('#txtEditarStock').val()) >= parseFloat($('#txtEditarCantidad').val())){

                        var calculoTotal = parseFloat($('#txtEditarCosto').val()) * parseFloat($('#txtEditarCantidad').val());

                        $('#fila' + id_editar + '').html('<td align="center"><input type="text" value="'
                                                + $('#txtEditaReferencia').val() + '" id="codigo_referencia' + id_editar + '" name="codigo_referencia' + id_editar + '" style="display:none"/><input type="text" value="'
                                                + $('#txtEditarStock').val() + '" id="stock_referencia' + id_editar + '" name="stock_referencia' + id_editar + '" style="display:none"/>'
                                                    + $('#txtEditaReferencia').val() + '</td><td align="center"><input type="text" value="'
                                                + $('#txtEditaReferenciaNombre').val() + '" id="nombre_referencia' + id_editar + '" name="nombre_referencia' + id_editar + '" style="display:none"/>'
                                                   + $('#txtEditaReferenciaNombre').val() + '</td><td align="center"><input type="text" value="'
                                                + $('#txtEditarCosto').val() + '" id="costo_referencia' + id_editar + '" name="costo_referencia' + id_editar + '" style="display:none"/>'
                                                  + $('#txtEditarCosto').val() + '</td><td align="center"><input type="text" value="'
                                                + $('#txtEditarCantidad').val() + '" id="cantidad_referencia' + id_editar + '" name="cantidad_referencia' + id_editar + '" style="display:none"/>'
                                                   + $('#txtEditarCantidad').val() + '</td><td align="center"><input type="text" value="'
                                                + calculoTotal + '" id="total_referencia' + id_editar + '" name="total_referencia' + id_editar + '" style="display:none"/>'
                                                   + calculoTotal + '</td><td width="10%" align="center"><button class="btn btn-warning btn-xs" onclick="editar('
                                                + id_editar + ')">&nbsp;&nbsp;<i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;</button>&nbsp;&nbsp;<button class="btn btn-danger btn-xs" onclick="eliminar('
                                                   + id_editar + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td>');
                        $('#Referencia').val(0).select2();
                        $('#txtStock').val('');
                        $('#txtCosto').val('');
                        $('#cantidad').val('');
                        //$('#lista_repuestos').val(i);
                        calcularTotal();
                        $('#modalEditarReferencia').modal('hide');
                    }else{
                        $('#alertaMensajeModal').text('Debe digitar una cantidad valida de acuerdo al stock actual');
                        $('#areaAlertaModal').show();
                    }
                }
            }
        });

        function buscarReferenciaParaAgregar() {
            var codigo_arr = $('#Referencia').val().split("|");
            var codigo = codigo_arr[0].trim();
            $.ajax({
                url: '/trasladoRepuestos/BuscarReferencias',
                data: {
                    referencia_id:codigo,
                    bodega_id: $('#BodegaOrigen').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.encontrado == true) {
                        if (data.buscarReferencia.stock >= parseFloat($.trim($('#cantidad').val()))) {

                            var agregadar = validarYaAgregado($('#Referencia').val());
                            if (agregadar < 0) {
                                var calculoTotal = parseFloat(data.buscarReferencia.Promedio) * parseFloat($('#cantidad').val());

                                $('#tablaDetalles').find('tbody').append('<tr id="fila' + i + '" name="fila' + i + '"><td align="center"><input type="text" value="'
                                + data.buscarReferencia.ref_codigo + '" id="codigo_referencia' + i + '" name="codigo_referencia' + i + '" style="display:none"/><input type="text" value="'
                                + data.buscarReferencia.stock + '" id="stock_referencia' + i + '" name="stock_referencia' + i + '" style="display:none"/>'
                                               + data.buscarReferencia.ref_codigo + '</td><td align="center"><input type="text" value="'
                                            + data.buscarReferencia.ref_descripcion + '" id="nombre_referencia' + i + '" name="nombre_referencia' + i + '" style="display:none"/>'
                                               + data.buscarReferencia.ref_descripcion + '</td><td align="center"><input type="text" value="'
                                            + Math.round(data.buscarReferencia.Promedio) + '" id="costo_referencia' + i + '" name="costo_referencia' + i + '" style="display:none"/>$ '
                                              + addCommas(Math.round(data.buscarReferencia.Promedio)) + '</td><td align="center"><input type="text" value="'
                                            + $('#cantidad').val() + '" id="cantidad_referencia' + i + '" name="cantidad_referencia' + i + '" style="display:none"/>'
                                               + $('#cantidad').val() + '</td><td align="center"><input type="text" value="'
                                            + calculoTotal + '" id="total_referencia' + i + '" name="total_referencia' + i + '" style="display:none"/>$ '
                                               + addCommas(Math.round(calculoTotal)) + '</td><td width="10%" align="center"><button class="btn btn-warning btn-xs" onclick="editar('
                                            + i + ')">&nbsp;&nbsp;<i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;</button>&nbsp;&nbsp;<button class="btn btn-danger btn-xs" onclick="eliminar('
                                               + i + ')">&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;</button></td></tr>');
                                //$('#Referencia').val(0).select2();
                                $("#codigo").val("");

                                $('#txtStock').val('');
                                $('#txtCosto').val('');
                                $('#cantidad').val('');
                                $('#lista_repuestos').val(i);
                                i++;
                                $('#total_repuestos').val(parseInt($('#total_repuestos').val())+1);

                                calcularTotal();
                            }


                        } else {
                            $('#alertaMensaje').text('Debe digitar una cantidad valida de acuerdo al stock actual');
                            $('#areaAlerta').show();
                        }
                    } else {
                        $('#alertaMensaje').text('No se encontro la referencia en la bodega actual');
                        $('#areaAlerta').show();
                    }
                }
            })
        }

        function buscarBodegasPorDocumento() {
            $.ajax({
                url: '/trasladoRepuestos/BuscarBodegasPorDocumento',
                data: {
                    idTpDoc: $('#TipoDocumento').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                        if (data != 0) {
                             $('#BodegaOrigen').empty();
                        $('#BodegaOrigen').append($('<option>', {
                            value: '',
                            text: ''
                        }));
                        for (var i = 0; i < data.length; i++) {
                            $('#BodegaOrigen').append($('<option>', {
                                value: data[i].id,
                                text: data[i].bodccs_nombre
                            }));
                        }
                    }
                   
                },
                complete: function (data) {
                    $('#BodegaOrigen').val('@ViewBag.bodegaSeleccionada').select2();
                }
            })
        }

        function buscarUsuariosBodegas() {
            $.ajax({
                url: '/traslados/BuscarUsuariosPorBodega',
                data: {
                    idBodega: $('#BodegaDestino').val()
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data != 0) {
                        $('#UsuarioRecepcion').empty();
                        $('#UsuarioRecepcion').append($('<option>', {
                            value: '',
                            text: ''
                        }));
                        for (var i = 0; i < data.length; i++) {
                            $('#UsuarioRecepcion').append($('<option>', {
                                value: data[i].user_id,
                                text: data[i].user_nombre + ' ' + data[i].user_apellido
                            }));
                        }
                    }
                    
                },
                complete: function (data) {
                    $('#UsuarioRecepcion').val('@ViewBag.usuarioSeleccionado').select2();
                }
            })
        }

        $('#TipoDocumento').change(function () {
            buscarBodegasPorDocumento();
            buscarPerfilesContables();
        });

        $('#BodegaOrigen').change(function () {
            buscarPerfilesContables();
        });

        $('#BodegaDestino').change(function () {
            buscarUsuariosBodegas();
        });

        function buscarPerfilesContables() {
            $('#PerfilContable').empty();
            if ($('#TipoDocumento').val() != "" && $('#BodegaOrigen').val() != "") {
                $.ajax({
                url: '/traslados/BuscarPerfilesContables',
                data: {
                    idTpDoc: $('#TipoDocumento').val(),
                    bodega:$('#BodegaOrigen').val(),
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                    success: function (data) {
                    if (data != 0) {
                    $('#PerfilContable').empty();
                    $('#PerfilContable').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#PerfilContable').append($('<option>', {
                            value: data[i].id,
                            text: data[i].descripcion
                        }));
                    }
                    $('#PerfilContable').val('@ViewBag.perfilSeleccionado').select2();
                        }
                    
                },
            })
            }
           
        }

        function valida(id) {
            window.location.href = '@Url.Action("Ver", "trasladoRepuestos")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        function buscarAjaxTraslados() {
            $.ajax({
                url: '/trasladoRepuestos/BuscarTrasladosRepuestos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        var referencias = '';
                        for (var j = 0; j < data[i].referencias.length; j++){
                            referencias += data[i].referencias[j].ref_descripcion + ', '
                        }
                        $('#tablaPaginada').find('tbody').append('<tr><td align="right">'
                                        + data[i].numero      + '</td><td align="right">'
                                        + data[i].fecha       + '</td><td align="left">'
                                        + data[i].origen      + '</td><td align="left">'
                                        + data[i].destino + '</td><td align="right">'
                                        + data[i].numero_solicitud     + '</td><td align="left">'
                                        + data[i].mensajeria  + '</td><td align="left">'
                                        + referencias + '</td>' 
                                        +'<td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                                        + data[i].idencabezado
                                        + ')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                   

                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            })
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `,${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr.toString();
            //console.log(nStr);
            var s = nStr.replace(/\./g, "");
            s = s.replace(/\,/g, ".");
            return s;
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if(data.esFavorito == true){
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    }else{
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            })
        }
    </script>


    @if (TempData["mensaje"] != null)
    {
        <script type="text/javascript">

            $('#modalTrasladoCompleto').show();

        </script>
    }
}