@model Homer_MVC.Models.PDFmodel
@using System.Globalization;


@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Traslado </title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td colspan="6">COMERCIALIZADORA HOMAZ S.A.S</td>
            <td>@Model.tipoEntrada</td>
            <td>N° @Model.numeroRegistro</td>
        </tr>
        <tr>
            <td colspan="3" align="center">Origen: @Model.bodegaOrigen</td>
            <td colspan="4" align="center">Destino: @Model.BodegaDestino</td>
            <td>@Model.fechaRegistro</td>
        </tr>
        <tr>
            <td align="center">Secuencia</td>
            <td align="center">Número Refencia</td>
            <td align="center">Descripción</td>
            <td align="center">Cantidad</td>
            <td align="center">Costo unidad</td>
            <td align="center">Costo total</td>
            <td align="center">Ubicación</td>
            <td align="center">Notas</td>
        </tr>
        @for (var u = 0; u < @Model.referencias.Count(); u++)
        {
            <tr>
                <td align="center">@Model.referencias[u].secuencia</td>
                <td align="right">@Model.referencias[u].codigo</td>
                <td align="left">@Model.referencias[u].descripcion</td>
                <td align="right">@Model.referencias[u].cantidad</td>
                <td align="right">@Model.referencias[u].costo.ToString("0,0", elGR)</td>
                <td align="right">@Model.referencias[u].total.ToString("0,0", elGR)</td>
                <td align="right">@Model.referencias[u].ubicacion</td>
                <td align="justify">@Model.notas</td>
            </tr>
        }
        <tr>
            <td colspan="5" align="right">Total</td>
            <td align="right">@Model.TotalTotales.ToString("0,0", elGR)</td>
        </tr>
    </table>
</body>
</html>

