@model Homer_MVC.Models.PDFmodel
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informe diario</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }
    </style>
</head>
<body>


    <table style="width:100%">
        <tr style="border:hidden">
            <th colspan="3" style="border:hidden ; text-align:left">COMERCIALIZADORA HOMAZ S.A.S</th>
            <th style="border:hidden"><h3>Libro diario @Model.nombre_libro</h3></th>
            <th colspan="2" style="text-align:center; border:hidden">@Model.mes_cuenta - @Model.anio_cuenta</th>
        </tr>

        </table>
    <br />
    <br />
    <br />

        @for (var u = 0; u < Model.cuentas.Count; u++)
        {

                        <table  style="width:100% " >
                            <thead>

                                <tr>
                                    <th colspan="2" style="text-align:left; border:hidden">@Model.cuentas[u].prefijo - @Model.cuentas[u].nombre_documento</th>
                                </tr>
                                <tr><td></td></tr>
                                <tr style="border:hidden">
                                    <th>Cod Cuenta</th>
                                    <th>Nombre Cuenta</th>
                                    <th>Total Débito</th>
                                    <th>Total Crédito</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for (int i = 0; i < @Model.cuentas[u].cuentas.Count; i++)
                            {
                            <tr style="border:hidden">

                                <td style="border:hidden" align="center">@Model.cuentas[u].cuentas[i].numerocuenta</td>
                                <td style="border:hidden" align="left">@Model.cuentas[u].cuentas[i].cntpuc_descp</td>
                                <td style="border:hidden" align="right">@Model.cuentas[u].cuentas[i].debito_cuenta.ToString("0,0", elGR)</td>
                                <td style="border:hidden" align="right">@Model.cuentas[u].cuentas[i].credito_cuenta.ToString("0,0", elGR)</td>

                            </tr>
                            }
                                <tr></tr>
                           </tbody>
                            
                           <tfoot>
                               <tr>
                                   <th colspan="2" style="border:hidden">Total</th>
                                   <th style="text-align:right; border-top:solid 1px; border-bottom:hidden; border-right:hidden">@Model.cuentas[u].total_debito.ToString("0,0", elGR)</th>
                                   <th style="text-align:right; border-top:solid 1px; border-bottom:hidden; border-right:hidden">@Model.cuentas[u].total_credito.ToString("0,0", elGR)</th>
                               </tr>
                           </tfoot>
                        </table>
                        <br />
                        <br />
                        <br />                                
        }
    <table style="width:100%">
    <tr >
        <th style="width:65%; border:hidden">Total General</th>
        <th style="text-align:right; border-top:solid 1px; border-bottom:hidden; border-right:hidden">@Model.total_debito.ToString("0,0", elGR)</th>
        <th style="text-align:right; border-top:solid 1px; border-bottom:hidden; border-right:hidden">@Model.total_credito.ToString("0,0", elGR)</th>
    </tr>
    </table>

</body>
</html>



