     @model Homer_MVC.IcebergModel.LoginModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link rel="stylesheet" href="~/Vendor/sweetalert/lib/sweet-alert.css" />
}

<div class="login-container">
    @*<img class="img-login" src="~/Images/icberg.jpg" />*@
    <img class="img-login" src="~/Images/login1.jpg" />
    
    <br />
    <div class="row" style="padding-top:150px">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body" id="panelLogin">
                    <div class="text-center m-b-md">
                        <h3 class="font-bold">INICIAR SESIÓN</h3>
                        <small>Por favor ingrese sus datos de usuario</small>
                    </div>

                    @using (Html.BeginForm("Login", "login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        <!--Arroga el emnsaje cuando los datos son incorrectos-->
                        <div style="color:red">
                            @Html.ValidationSummary(true, "Por favor válide usuario y/o contraseña, o contacte al administrador")
                        </div>
                        <fieldset>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(a => a.user_usuario, null, new { @class = "form-control", @placeholder = "Ingrese nombre de usuario" })
                                        <span class="help-block small"></span>
                                    </div>
                                    <!--Muestra cuando el campo de usuario esta vacio-->
                                    @if (@ViewBag.Message == null)
                                    {
                                        <div style="color:red">
                                            @Html.ValidationMessageFor(a => a.user_usuario)
                                        </div>
}

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        @Html.TextBoxFor(a => a.user_password, null, new { @class = "form-control", @type = "password", @placeholder = "Ingrese su contraseña" })
                                        <span class="help-block small"></span>
                                    </div>
                                    <!--Muestra cuando el campo de la contraseña esta vacio-->
                                    @if (@ViewBag.Message == null)
                                    {
                                        <div style="color:red">
                                            @Html.ValidationMessageFor(a => a.user_password)
                                        </div>
}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <a data-toggle="modal" data-target="#modalRecordarClave" class="text-info" id="enlace">¿Olvido su contrase&ntilde;a?</a>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-rounded"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Ingresar</button>
                                </div>
                            </div>

                            @if (TempData["mensajeError"] != null)
                            {
                                <script type="text/javascript">

                                </script>

                                    <div class="col-md-12" id="errorLogin">
                                        <br />
                                        <div class="alert alert-danger">
                                            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;@TempData["mensajeError"]</strong>
                                        </div>
                                    </div>
}

                        </fieldset>}


                    @*<div class="col-md-12 text-center">
                            <strong>ERP</strong> - Gestión empresarial <br /> 2017 Copyright EXIWARE
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>



<div class="footer col-md-12 text-center">
    <strong>ERP</strong> - Gestión empresarial - @DateTime.Now.Year Copyright EXIWARE
</div>




<div id="modalClaveExpiro" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3><strong>Su contrase&ntilde;a ha expirado</strong></h3>
            </div>
            <div class="modal-body">

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-6">Contraseña Actual:&nbsp;<span class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="contrasenaActual" placeholder="Digite Contraseña" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-6">Contraseña Nueva:&nbsp;<span class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="contrasenaNueva" placeholder="Digite Contraseña" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-6">Repetir Contrase&Ntilde;a:&nbsp;<span class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="repetirContrasena" placeholder="Digite Contraseña" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <br />
                        <label class="control-label col-md-12">Recuerde cambiar sus credenciales frecuentemente.&nbsp;<span class="text-danger"></span></label>

                    </div>
                </div>

                <br /><div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" id="mayusE" style="display:none">
                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra mayúscula</p>
                            </div>

                            <div class="alert alert-success" role="alert" id="mayusO" style="display:none">
                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra mayúscula</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" id="minusE" style="display:none">
                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra minúscula</p>
                            </div>

                            <div class="alert alert-success" role="alert" id="minusO" style="display:none">
                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos una letra minúscula</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" id="numerosE" style="display:none">
                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un número</p>
                            </div>

                            <div class="alert alert-success" role="alert" id="numerosO" style="display:none">
                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un número</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" id="especialE" style="display:none">
                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un caracter especial</p>
                            </div>

                            <div class="alert alert-success" role="alert" id="especialO" style="display:none">
                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe incluir al menos un caracter especial</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" id="longitudE" style="display:none">
                                <p><i class="fa fa-times"></i>&nbsp;&nbsp;La contrasena debe tener minimo 8 y maximo 15 caracteres</p>
                            </div>

                            <div class="alert alert-success" role="alert" id="longitudO" style="display:none">
                                <p><i class="fa fa-check"></i>&nbsp;&nbsp;La contrasena debe tener minimo 8 y maximo 15 caracteres</p>
                            </div>
                        </div>
                    </div>
                </div><br />
            </div>
            <div class="modal-footer">

                <div class="col-sm-12" style="display:none" id="alertaCambioClave">
                    <div class="form-group">
                        <div class="alert alert-warning">
                            <strong>Error!</strong><p id="mensajeCambioClave"></p>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-default" @*data-dismiss="modal"*@ id="AceptarClaveExpiro">Aceptar</button>
            </div>
        </div>
    </div>
</div>






<div id="modalRecordarClave" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3><strong>Olvidó Su Contrase&ntilde;a ?</strong></h3>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-6">Nombre Usuario:&nbsp;<span class="text-danger"></span></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="nombreUsuario" placeholder="Digite Usuario" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <br />
                        <label class="control-label col-md-12">Se enviará un enlace a su correo electránico con el cual podrá restablecer las credenciales de este usuario&nbsp;<span class="text-danger"></span></label>
                    </div>
                </div>
                <span class="text-success" id="mensajeexitocontra"></span>
                <span class="text-danger" id="mensajeerrorcontra"></span>

                <br /><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="AceptarModal">Enviar Correo</button>
            </div>
        </div>
    </div>
</div>



<div id="modalElegirBodega" class="modal fade hmodal-success" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bodega A Ingresar ?</h4>
                <small>Bodegas Asignadas A Este Usuario</small>
            </div>

            @using (Html.BeginForm("ValidarBodega", "Login", FormMethod.Post))
            {
                <div class="modal-body">

                    <input type="hidden" id="bodega_nombre" name="bodega_nombre" />

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-12">Bodegas Asignadas:&nbsp;<span class="text-danger"></span></label>
                            <div class="col-md-12">
                                <select id="bodega_id" name="bodega_id" class="form-control" placeholder="Seleccione" required="required"></select>
                            </div>
                        </div>
                    </div>
                </div><br /><br />
                <label></label>

                    <div class="modal-footer">

                        <div class="col-sm-12" style="display:none" id="mesCerrado">
                            <div class="form-group">
                                <div class="alert alert-warning" style="text-align:center">
                                    <strong>Error!</strong><p id="mensajemesCerrado"></p>
                                </div>
                            </div>
                        </div>

                        @*<button type="button" class="btn btn-default" onclick="validarApertura()" data-dismiss="">Aceptar</button>*@
                        <button type="submit" id="btnIngresar" class="btn btn-default" data-dismiss="">Aceptar</button>
                    </div>
}
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery/js")

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () {
                $("#errorLogin").fadeOut(1500);
            }, 3000);
        });

        $('#bodega_id').change(function () {
            $('#bodega_nombre').val($("#bodega_id option:selected").text());
        });

        @*function validarApertura() {
        $.ajax({
            url: '/Login/validarApertura',
            data: {
                bodega: $('#bodega_id').val()
            },
            type: "post",
            cache: false,
            success: function (data) {
                debugger;
                console.log(data);
                if (data.data > 0) {
                    $('#mesCerrado').hide();
                    $("#btnIngresar").trigger("click");
                } else {
                    if (data.autorizado >0 ) {
                        $("#btnIngresar").trigger("click");
                        setTimeout(function () {
                            window.location.href = "@Url.Action("Index", "abrirMes")";
                        }, 3000);

                    } else {
                        $('#mensajemesCerrado').text('No se ha realizado apertura del mes en la bodega seleccionada, favor comunicarse con el administrador del sistema');
                        $('#mesCerrado').show();
                    }

                }
            }
        })
    }*@

        //$('#AceptarModal').click(function () {
        //    $.ajax({
        //        url: '/Login/RecordarContrasena',
        //        data: {
        //            nombreUsuario: $('#nombreUsuario').val()
        //        },
        //        type: "post",
        //        cache: false,
        //        success: function (data) {
        //        }
        //    })
        //});

        $('#AceptarModal').click(function () {
            $.ajax({
                url: '/Login/RecordarContrasena',
                data: {
                    nombreUsuario: $('#nombreUsuario').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.tipo == "success") {
                        $('#mensajeexitocontra').html(data.mensaje);
                        $('#mensajeerrorcontra').html('');
                    }
                    else {
                        $('#mensajeexitocontra').html('');
                        $('#mensajeerrorcontra').html(data.mensaje);
                    }
                }
            })
        });

        $('#AceptarClaveExpiro').click(function () {
            $.ajax({
                url: '/Login/CambiarClaveExpiro',
                data: {
                    usuario: $('#user_usuario').val(),
                    contrasena: $('#contrasenaActual').val(),
                    contrasenaNueva: $('#contrasenaNueva').val(),
                    repetirContrasena: $('#repetirContrasena').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        window.location.href = "@Url.Action("inicio", "Inicio")";
                    } else if (data == -1) {
                        $('#mensajeCambioClave').text('La contraseña nueva no coincide');
                        $('#alertaCambioClave').show();
                    } else if (data == -2) {
                        $('#alertaCambioClave').show();
                        $('#mensajeCambioClave').text('La contraseña de usuario no es la correcta');
                    }
                }
            })
        });

    </script>
}

@if (TempData["claveExpiro"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#modalClaveExpiro').modal('show');
        });
        $('#contrasenaNueva').keyup(function () {
            var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?.&])([A-Za-z\d$@@$!%*.?&]|[^ ]){8,15}$/;

            var mayus = /[A-Z]/;
            var minus = /[a-z]/;
            var numeros = /[0123456789]/;
            var especial = /[!#%^&(())--__{}<>$@@$!%*?,.]/;
            var longitud = /{{8,15}}$/;
    
            var pass = $('#contrasenaNueva').val();
            var tst = pass.length;
            console.log(tst);

            if (mayus.test(pass)) {
                $('#mayusO').show();
                $('#mayusE').hide();
            } else {
                $('#mayusE').show();
                $('#mayusO').hide();
            }
            if (minus.test(pass)) {
                $('#minusO').show();
                $('#minusE').hide();
            } else {
                $('#minusE').show();
                $('#minusO').hide();
            }
            if (numeros.test(pass)) {
                $('#numerosO').show();
                $('#numerosE').hide();
            } else {
                $('#numerosE').show();
                $('#numerosO').hide();
            }
            if (especial.test(pass)) {
                $('#especialO').show();
                $('#especialE').hide();
            } else {
                $('#especialE').show();
                $('#especialO').hide();
            }
            if (pass.length >= 8) {
                $('#longitudO').show();
                $('#longitudE').hide();
            } else {
                $('#longitudE').show();
                $('#longitudO').hide();
            }
        });
    </script>
}

@if (TempData["variasBodegas"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Login/GetBodegasUsuarioActual',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#bodega_id').empty();
                    $('#bodega_id').append($('<option>', {
                        value: '',
                        text: ''
                    }));
                    for (var i = 0; i < data.length; i++) {
                        $('#bodega_id').append($('<option>', {
                            value: data[i].id,
                            text: data[i].bodccs_nombre
                        }));
                    }
                    $("#bodega_id").select2();
                },
                complete: function (data) {
                    $('#modalElegirBodega').modal('show');
                }
            })
        });
    </script>
}



@if (@ViewBag.mesCerrado == true)
{
    <script type="text/javascript">
        //console.log('holi')
        $(document).ready(function () {
           // swal("Mes cerrado!", "No se ha realizado apertura del mes en la bodega seleccionada, favor comunicarse con el administrador del sistema", "error");
            setTimeout(function () {
                swal({
                    title: "Mes cerrado!",
                    text: "No se ha realizado apertura del mes en la bodega seleccionada, favor comunicarse con el administrador del sistema",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK",
                    cancelButtonText: "No, cancelar!",
                    closeOnConfirm: true,
                    closeOnCancel: false
                });
            }, 300);
            
        });
    </script>
}