@model Homer_MVC.Models.PDFmodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recibo de caja</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }


        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        table, tr, td, th, tbody, thead, tfoot, td div {
            page-break-inside: avoid !important;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <thead>
            <tr>
                <th colspan="7" style="text-align: center; background-color: #D8D8D8">DATOS GENERALES</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><strong>RECIBIMOS DE: </strong> <br />@Model.nombreTercero</td>
                <td><strong>CEDULA/NIT: </strong> <br />@Model.Idtercero</td>
                <td><strong>TELEFONO: </strong> <br />@Model.telefono</td>
                <td><strong>DIRECCION: </strong> <br />@Model.direccion</td>
                <td><strong>VENDEDOR: </strong> <br />@Model.vendedor</td>
                <td><strong>RESPONSABLE: </strong> <br />@Model.responsable</td>

            </tr>

        </tbody>
    </table>
    <br />
    <table style="width:100%">

        @*<thead>
            <tr>
                <th colspan="7" style="text-align: center; background-color: #D8D8D8">DATOS GENERALES</th>
            </tr>
        </thead>*@
        <tbody>
            <tr style="width:100%">
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">DOCUMENTO</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">VALOR</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">F. VENCE</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">BANCO</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">No. CHEQUE</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">No. VAUCHER</td>
                <td colspan="4" style="text-align:center; background-color:#D8D8D8">OBSERVACION</td>
            </tr>

            @foreach (var item in Model.referencias)
            {
                <tr style="width:100%">
                    <td colspan="4">@item.tipoPagoRecibido</td>
                    <td colspan="4">@item.valorInicial</td>
                    <td colspan="4">@Model.fechaEncabezado</td>
                    <td colspan="4">@item.nombreBanco</td>
                    <td colspan="4"></td>
                    <td colspan="4"></td>
                    <td colspan="4">@item.observacion</td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <table class="table_principal" style="width:100%;">
        <tr style="width:100%; height:180px; vertical-align:bottom">
            <td style="width:600px; border:none;  text-align:center">
                <p><h4> </h4></p>
                <p><h4> </h4></p>

                <p><h4>FIRMA AUTORIZADA</h4></p>
            </td>
            <td style="width:400px; border:none; text-align:center">
                <p><h4>SELLO EMPRESA </h4></p>
            </td>

        </tr>
    </table>
    <br />

</body>
</html>
