@model Homer_MVC.Models.PDFmodel
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cotización</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }
    </style>
</head>
<body>

    <table style="width:100%">
        <thead>
            <tr style="height:150px">
                <th style="width:25%"><img src="@Server.MapPath("~/Images/LogoCaminos2.png")" style="width:90%" /></th>
                <th style="text-align:left; width:50%" colspan="2">
                    <p>
                        COMERCIALIZADORA HOMAZ S.A.S NIT 816.003.186-5<br />
                        VITRINA DE NUEVOS<br />
                        Av. Bolivar 23N 46 PBX. 7314090<br />
                        www.camino.com.co<br />
                        caminos@caminos.com.co
                    </p>
                </th>
                <th style="width:25%"><img src="@Server.MapPath("~/Images/marcaAgua.jpg")" style="width:80%" /></th>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">COTIZACIÓN</th>
            </tr>
            <tr>
                <td>Fecha: Día/Mes/Año <br /> @Model.fechaCreacion</td>
                <td colspan="2"></td>
                <td>Cotización No.<br /> @Model.numeroCotizacion</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">DATOS ASESOR</th>
            </tr>
            <tr>
                <td>Asesor(a): <br />@Model.nombreAsesor</td>
                <td>Teléfonos: <br />@Model.telefono_asesor</td>
                <td>Correo-Electrónico: <br />@Model.correo_asesor</td>
                <td>Validez de Oferta:</td>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">DATOS DE CONTACTO</th>
            </tr>
            <tr>
                <td colspan="2" style="margin-right: 0; padding-right: 0; width:50%">
                    Nombre del cliente:<br /> <strong>@Model.nombreCompletoTercero</strong><br />
                    Teléfonos: @Model.telefono_cliente Cel: @Model.celular_cliente<br />
                    Dirección: @Model.direccion_cliente
                </td>
                <td colspan="2" style="width:50%">
                    CC/NIT: @Model.numeroDocumento @Model.digitoVerificacion<br />
                    Correo-Electrónico:<br />@Model.correo_cliente
                </td>
            </tr>
            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">DESCRIPCIÓN DE LA COTIZACIÓN</th>
            </tr>


            <tr>
                @for (int refe = 0; refe < Model.referencias.Count; refe++)
                {
                    int numVehCot = refe + 1;
                    <td style="vertical-align:text-top; width:25%">
                        <p style="vertical-align:top">
                            @numVehCot° Vehículo Cotizado<br />
                            Vehículo Cotizado<br />
                            @Html.Raw("<br />")
                            Precio<br />

                            Matrícula Aproximado<br />

                            @if (Model.referencias[refe].planesDePago.Count >= 1)
                            {
                                @Html.Raw("<strong>PLANES</strong><br />");
                                for (int i = 0; i < Model.referencias[refe].planesDePago.Count; i++)
                                {

                                    @Html.Raw("Nombre<br />");
                                    @Html.Raw("Tasa Interes<br />");
                                    @Html.Raw("Cuota Inicial<br />");
                                    @Html.Raw("Financiacion<br />");
                                    for (int j = 0; j < Model.referencias[refe].planesDePago[i].plazosYcoutasCotizacion.Count; j++)
                                    {
                                        @Model.referencias[refe].planesDePago[i].plazosYcoutasCotizacion[j].plazo; <span style="margin:0; padding:0">meses - Cuota</span><br />
                                    }
                                    @Html.Raw("<br />");

                                }

                            }
                            Valor Seguro<br />
                            SOAT Aproximado<br />
                            Notas del Veh
                        </p>
                    </td>


                    <td style="vertical-align:text-top; width:25%">
                        <p>
                            @Html.Raw("<strong>&nbsp;</strong><br />")
                            @Model.referencias[refe].vehiculo<br />
                            @Html.Raw("<br />")


                            @Model.referencias[refe].precio.Value.ToString("0,0", elGR)<br />

                            @if (Model.referencias[refe].matricula != null && Model.referencias[refe].matricula != 0)
                            {
                                @Model.referencias[refe].matricula.Value.ToString("0,0", elGR)<br />
                            }
                            else
                            {
                                <br />
                            }


                            @if (Model.referencias[refe].planesDePago.Count >= 1)
                            {
                                @Html.Raw("<strong>&nbsp;</strong><br />");

                                for (int i = 0; i < Model.referencias[refe].planesDePago.Count; i++)
                                {
                                    @Html.Raw(Model.referencias[refe].planesDePago[i].nombrePlan + "<br />");
                                    @Html.Raw(Model.referencias[refe].planesDePago[i].tasa + "<br />");
                                    @Html.Raw(Model.referencias[refe].planesDePago[i].cuotaInicial + "<br />");
                                    @Html.Raw(Model.referencias[refe].planesDePago[i].financiacion + "<br />");
                                    for (int j = 0; j < Model.referencias[refe].planesDePago[i].plazosYcoutasCotizacion.Count; j++)
                                    {
                                        @Model.referencias[refe].planesDePago[i].plazosYcoutasCotizacion[j].valor.ToString("0,0", elGR);<span style="margin:0; padding:0"></span>

                                    }
                                    @*@Html.Raw("<br />");*@

                                }

                            }
                            else
                            {
                                @*<br />*@
                            }
                            @if (Model.referencias[refe].seguro != null && Model.referencias[refe].seguro != 0)
                            {
                                @Model.referencias[refe].seguro.Value.ToString("0,0", elGR)<br />
                            }
                            else
                            {
                                <br />
                            }
                            @if (Model.referencias[refe].soat != 0)
                            {
                                @Model.referencias[refe].soat.ToString("0,0", elGR)<br />
                            }
                            else
                            {
                                <br />
                            }


                            @Model.notasCotizacion
                        </p>
                    </td>
                }

                @*2*@



            </tr>


            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">RETOMA</th>
            </tr>
            <tr>
                <td colspan="4"><br /></td>
            </tr>



            <tr>
                <th colspan="4" style="text-align:center; background-color:#D8D8D8">DOCUMENTOS REQUERIDOS</th>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom:hidden">
                    <h4 style="margin:0 ; padding:0 ; text-align:center">Persona Natural</h4>
                </td>
                <td colspan="2" style="border-bottom:hidden">
                    <h4 style="margin:0 ; padding:0 ; text-align:center">Persona Jurídica</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>
                        -Solicitud de crédito de la unidad financiera totalmente diligenciado.<br />
                        -Fotocopia de la cédula ampliada 150% <br />
                        -Carta laboral vigencia no superior a 30 días especificado el cargo, antigüedad y tipo de contrato.<br />
                        -Tres últimos desprendibles de pagos.<br />
                        -Declaración de renta o certificados de ingresos y retención del último año gravable.<br />
                        -Fotocopia de certificado de libertad de inmuebles que posea vigencia no superior a 30 días o pago del último impuesto predial.<br />
                    </p>
                </td>
                <td colspan="2">
                    <p style="font-size:small">
                        -Solicitud de crédito de la unidad financiera firmada y diligenciada por el representante legal.<br />
                        -Certidificado de cámara de comercio con máximo dos meses de expedido.<br />
                        -Declaración de renta correspondiente a los dos últimos periodos gravables.<br />
                        -Estados financieros de los últimos dos años, estados financieros recientes con antigüedad de no mayor a 60 días.<br />
                        -Tres últimos desprendibles de pagos.<br />
                        -Información como persona natural del 51% de los socios, cuando se trate de una sociedad limitada.<br />
                        -Fotocopia de la cédula de ciudadanía del representante legal.<br />
                        -Fotocopia del NIT.<br />
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>

                <td colspan="4" style="background-color:#D8D8D8">
                    <h5 style="text-align:center;background-color:#D8D8D8; padding:0; margin:0 ">
                        Nota: Esta información debe ser verificada con el asesor del concesionario y está sijeta a cambios de precio sin previo aviso,
                        el valor de la cuota mensual y la tasa asignada está sujeta a cambios por la financiera.Los datos de contacto aquí suministrados por el cliente
                        podrán ser utilizados para enviar promociones por medio de correo eletrónico, por mensaje de texto o por llamada telefónica
                    </h5>
                </td>
            </tr>
        </tfoot>


    </table>


</body>
</html>
