@model IEnumerable<Homer_MVC.IcebergModel.marca_vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marcvhid_licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcvhfec_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcvhfec_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcvh_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcvh_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcvhrazoninactivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.user_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users1.user_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marcvhid_licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcvhfec_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcvhfec_actualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcvh_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcvh_estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcvhrazoninactivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.user_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users1.user_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.marcvh_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.marcvh_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.marcvh_id })
        </td>
    </tr>
}

</table>
