
@{
    var A = "A";
    var B = "B";
    var C = "C";
    var contItems = 0;
}
<style>
    .bgsuccess {
        background-color: #a5d6a7;
    }

    .bgwarning {
        background-color: #fff59d;
    }

    .bgdanger {
        background-color: #ef9a9a;
    }

    .bgprimary {
        background-color: #90caf9;
    }

    input[type="radio"] + .normal {
        background-color: #a5d6a7;
        background-image: -webkit-linear-gradient(#a5d6a7, #a5d6a7);
        background-image: -moz-linear-gradient(#a5d6a7, #a5d6a7);
        background-image: -o-linear-gradient(#a5d6a7, #a5d6a7);
        background-image: linear-gradient(#a5d6a7, #a5d6a7);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #a5d6a7, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #a5d6a7, 0 0px 0px;
        box-shadow: 0 8px 0 #a5d6a7, 0 0px 0px;
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        margin: 5px;
        padding: 20px 25px;
        text-decoration: none;
    }

    input[type="radio"] + .agendar {
        background-color: #fff59d;
        background-image: -webkit-linear-gradient(#fff59d, #fff59d);
        background-image: -moz-linear-gradient(#fff59d, #fff59d);
        background-image: -o-linear-gradient(#fff59d, #fff59d);
        background-image: linear-gradient(#fff59d, #fff59d);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #fff59d, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #fff59d, 0 0px 0px;
        box-shadow: 0 8px 0 #fff59d, 0 0px 0px;
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        margin: 5px;
        padding: 20px 25px;
        text-decoration: none;
    }

    input[type="radio"] + .cambio {
        background-color: #ef9a9a;
        background-image: -webkit-linear-gradient(#ef9a9a, #ef9a9a);
        background-image: -moz-linear-gradient(#ef9a9a, #ef9a9a);
        background-image: -o-linear-gradient(#ef9a9a, #ef9a9a);
        background-image: linear-gradient(#ef9a9a, #ef9a9a);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #ef9a9a, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #ef9a9a, 0 0px 0px;
        box-shadow: 0 8px 0 #ef9a9a, 0 0px 0px;
        display: inline-block;
        font-size: 20px;
        line-height: 1;
        margin: 5px;
        padding: 20px 25px;
        text-decoration: none;
    }

    input[type="radio"]:checked + .normal {
        background-color: #24822b;
        background-image: -webkit-linear-gradient(#24822b, #24822b);
        background-image: -moz-linear-gradient(#24822b, #24822b);
        background-image: -o-linear-gradient(#24822b, #24822b);
        background-image: linear-gradient(#24822b, #24822b);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #24822b, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #24822b, 0 0px 0px;
        box-shadow: 0 8px 0 #24822b, 0 0px 0px;
        display: inline-block;
        font-size: 30px;
        margin: 5px;
        line-height: 1;
        text-decoration: none;
        /*text-shadow: 0 -1px 1px rgba(15, 15, 15, .7);*/
    }

    input[type="radio"]:checked + .agendar {
        background-color: #ffd600;
        background-image: -webkit-linear-gradient(#ffd600, #ffd600);
        background-image: -moz-linear-gradient(#ffd600, #ffd600);
        background-image: -o-linear-gradient(#ffd600, #ffd600);
        background-image: linear-gradient(#ffd600, #ffd600);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #ffd600, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #ffd600, 0 0px 0px;
        box-shadow: 0 8px 0 #ffd600, 0 0px 0px;
        display: inline-block;
        font-size: 30px;
        margin: 5px;
        line-height: 1;
        text-decoration: none;
    }

    input[type="radio"]:checked + .cambio {
        background-color: #b92f2f;
        background-image: -webkit-linear-gradient(#b92f2f, #b92f2f);
        background-image: -moz-linear-gradient(#b92f2f, #b92f2f);
        background-image: -o-linear-gradient(#b92f2f, #b92f2f);
        background-image: linear-gradient(#b92f2f, #b92f2f);
        /*-ms-border-radius: 3px;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 8px 0 #b92f2f, 0 0px 0px;
        -moz-box-shadow: 0 8px 0 #b92f2f, 0 0px 0px;
        box-shadow: 0 8px 0 #b92f2f, 0 0px 0px;
        display: inline-block;
        font-size: 30px;
        margin: 5px;
        line-height: 1;
        text-decoration: none;
    }

    input[type=radio] {
        display: none;
    }
</style>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form_signos" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ot_id" id="ot_id_ins" value="@ViewBag.otid" />
    <input type="hidden" name="autorz" id="autorz" value="@ViewBag.autorz" />


    <div class="form-horizontal">
        <div class="hpanel">
            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Inspección Sistemas del Vehiculo
            </div>
            <div class="panel-body">
                <div class="row">
                    <table style="float:left" class="col-md-10">
                        @{ foreach (var item in ViewBag.sistemasV)
                            {
                                var disb = (@item.codigo != null && @item.codigo != "") ? "disabled" : "";
                                var ckA = (@item.codigo == "A") ? "checked" : "";
                                var ckB = (@item.codigo == "B") ? "checked" : "";
                                var ckC = (@item.codigo == "C") ? "checked" : "";
                                contItems = (@item.codigo != null && @item.codigo != "") ? contItems + 1 : contItems + 0;
                                <tr class="row msRadio" rw_idn="@item.id">
                                    <th class="col-md-5" style="font-weight:bold">
                                        @item.descripcion
                                    </th>
                                    <td class="col-md-1">
                                        <input type="radio" value="@A" name="sist_@item.id" id="sist_a_@item.id" @ckA @disb>
                                        <label class="normal" for="sist_a_@item.id"></label>
                                    </td>
                                    <td class="col-md-1">
                                        <input type="radio" value="@B" name="sist_@item.id" id="sist_b_@item.id" @ckB @disb>
                                        <label class="agendar" for="sist_b_@item.id"></label>
                                    </td>
                                    <td class="col-md-1">
                                        <input type="radio" value="@C" name="sist_@item.id" id="sist_c_@item.id" @ckC @disb>
                                        <label class="cambio" for="sist_c_@item.id"></label>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                @if (contItems == 0)
                { // SPF le informa: al realizar una inspeccion general de su vehiculo, encontramos una reparacion pendiente. Por favor  ingresar http://acdelco.appsxw.co/s?id=
                    <div class="row">
                        <div class="btn btn-primary" onclick="terminar_inspeccion()" id="btn_terminar_inspeccion">Terminar Inspección</div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<!--<input type="button" value="VerBtn" onclick="OperacionesConfirmadas()">-->