@{
    ViewBag.Title = "Movimiento Clientes";
    ViewBag.Icono = "fa fa-briefcase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<style>
    .check_box {
        background-color: darkblue;
    }
</style>
<div class="panel-body">
    <div class="panel-heading" style="background-color: white; border: solid 1px; border-color: #e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius: 25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>
<div class="panel-body" style="padding-top: 10px;">
    <div class="hpanel">
        <div id="tabs" class="tab-content">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-3" id="zona1">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-3 control-label">Cartera:</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="tipo_cartera" name="tipo_cartera" multiple></select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-3">Bodega:</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="bodegas" name="bodegas" multiple></select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <button class="form-control btn btn-xl btn-success" onclick="traerDatosBusqueda()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-md-5">
                                    <button class="form-control btn btn-xl btn-success" id="exportarExcel">
                                        <i class="fa fa-file-excel-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                                <canvas id="myCanvas" width="40" height="40" onunload="draw()"
                                        style="border: 1px solid #CEFBB1; bottom: auto; left: auto; position: sticky;">
                                    Your browser does not support the canvas element.
                                </canvas>
                                <p style="grid-auto-flow: row">Documentos cruzados</p>
                                <canvas id="myCanvas2" width="40" height="40" onunload="draw()"
                                        style="border: 1px solid #FFF2D2; bottom: auto; left: auto; position: sticky;">
                                    Your browser does not support the canvas element.
                                </canvas>
                                <p style="grid-auto-flow: row">Documentos cruzados con referencia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="zona2">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="control-label col-md-2">Cédula/Nit:</label>
                                <div class="col-md-3">
                                    @Html.Editor("cedula", new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                                </div>


                                <div class="col-md-6">
                                    @Html.Editor("nombreCliente", new { htmlAttributes = new { @type = "text", @class = "form-control" } })

                                    @Html.Editor("id_cliente", new { htmlAttributes = new { @type = "hidden", @class = "form-control" } })
                                    @Html.Editor("id_cliente2", new { htmlAttributes = new { @type = "hidden", @class = "form-control" } })

                                    @*<input type="hidden" name="id_cliente" id="id_cliente" value="" />
                                        <input type="hidden" name="id_cliente2" id="id_cliente2" value="@ViewBag.id_cliente" />*@
                                    <input type="hidden" name="documentoCliente" id="documentoCliente" value="@ViewBag.cedula" />
                                    <input type="hidden" name="fecha" id="fecha" value="@ViewBag.fecha" />
                                </div>
                                <div class="col-md-1">
                                    @*<button type="button" class="btn btn-info btn-sm" onclick="buscarTercero()">
                                            <i class="fa fa-binoculars"></i>
                                        </button>*@
                                    <button type="button" class="btn btn-info btn-sm" onclick="buscarCuantos()">
                                        <i class="fa fa-binoculars"></i>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-2">Telefono:</label>
                                    <input type="text" class="form-control" readonly name="tel_cliente" id="tel_cliente" value="" />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-2">Celular:</label>
                                    <input type="text" class="form-control" readonly name="cel_cliente" id="cel_cliente" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-5">Vr. Sin Aplicar: </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" name="vr_sin_aplicar" id="vr_sin_aplicar" title="Es la suma total los créditos que no se han aplicado a una factura" readonly value="" style="text-align: right" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-5">SubTotal: </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" name="subTotal" id="SubTotal" title="Es la suma total de las columnas débito y crédito que tengan el check seleccionado" style="background-color: #B7F3DA; text-align: right" readonly value="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-5">Total Deuda: </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" name="total_deuda" id="total_deuda" title="Es la suma total del saldo" style="background-color: #E8AEAE; text-align: right" readonly value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <input type="checkbox" class="check_box" name="vehiculosFacturados" id="vehiculosFacturados" value="" /><strong>&nbsp;Ver Fact. de Contado</strong><br />
                                <input type="checkbox" class="check_box" name="caja_general" id="caja_general" value="" /><strong>&nbsp;Ver R. Caja General</strong><br />
                                @*<input type="checkbox" class="check_box" name="name" value="" /><strong>&nbsp;Ver R.C Provisionales</strong>*@
                            </div>
                            <div class="col-md-12">
                                <label class="control-label col-md-4">Débitos: </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="suma_debitos" id="suma_debitos" title="Es la suma total de los débitos " style="background-color: #95E5BF; text-align: right" readonly value="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label col-md-4">Créditos: </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="suma_creditos" id="suma_creditos" title="Es la suma total de los créditos" style="background-color: #90E0DB; text-align: right" readonly value="" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-3" style="padding-right: 0">
                                    <input type="text" class="input-sm form-control col-md-4 fechas" name="fechaDesde" id="fechaDesde" value="" placeholder="Fecha Inicio" required="required" autocomplete="off" />
                                    <input type="hidden" id="fechaDH" name="fechaDH" value="" />
                                </div>
                                <div class="col-md-2" style="padding-left: 0; padding-right: 0;">
                                    <span class="input-group-addon">Hasta</span>
                                </div>
                                <div class="col-md-3" style="padding-left: 0">
                                    <input type="text" class="input-sm form-control col-md-4 fechas" name="fechaHasta" id="fechaHasta" value="" placeholder="Fecha Fin" required="required" autocomplete="off" />
                                    <input type="hidden" id="fechaHH" name="fechaHH" value="" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="zona3">
                        <div class="col-md-12" style="border: solid 1px; border-radius: 10px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <i>Cupo</i>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">Fecha V/ento:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="fec_vencimiento" id="fec_vencimiento" value="" readonly style="text-align: right" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">Días cupo:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="dias_cupo" id="dias_cupo" value="" readonly style="text-align: right" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-4">Cupo:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="valor_cupo" id="valor_cupo" value="" readonly style="text-align: right" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label col-md-4 ">Saldo:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="saldo_cupo" id="saldo_cupo" value="" style="background-color: aquamarine; text-align: right" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="zona_4">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">
                                            <input type="checkbox" name="check_header" id="check_header" onclick="check_all()" value="" />
                                        </th>
                                        <th style="text-align: center">Fecha</th>
                                        <th style="text-align: center">Bodega</th>
                                        <th style="text-align: center">Pre</th>
                                        <th style="text-align: center">Nro. Docto</th>
                                        <th style="text-align: center">Débito</th>
                                        <th style="text-align: center">Crédito</th>
                                        <th style="text-align: center">Valor Total</th>
                                        <th style="text-align: center">Saldo</th>
                                        <th style="text-align: center">Referencia</th>
                                        <th style="text-align: center">Placa</th>
                                        <th style="text-align: center">Forma Pago</th>
                                        <th style="text-align: center">Concepto</th>
                                        <th style="text-align: center">Cartera</th>
                                        <th style="text-align: center">Tipo RC</th>
                                        <th style="text-align: center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                            @*modal cruce*@
                            <div id="modalCruce" class="modal" tabindex="-1" aria-hidden="true" role="dialog">
                                <div class="modal-dialog modal-lg " role="document">
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Cruce documentos</h4>
                                        </div>

                                        <div class="modal-body">
                                            <input type="hidden" name="planValue" id="planValue" value="" />
                                            <div class="panel-body-busqueda">
                                                <div class="table-responsive" style="width: 100%;">
                                                    <div class="col-sm-12" id="facturas">
                                                        <div class="table-responsive">
                                                            <label class="control-label col-md-4">Saldo:&nbsp;</label>
                                                            <input type="number" class="form-control" id="saldoCruzar" name="saldoCruzar" readonly />
                                                            <input type="hidden" class="form-control" id="saldoCruzarh" name="saldoCruzarh" />
                                                            <input type="hidden" name="listaFacturas" id="listaFacturas" value="" />
                                                            <div id="div-mensaje-buscar"></div>
                                                            <input type="hidden" id="totalregistros" name="totalregistros" value="" />


                                                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModal">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align: center">Tipo</th>
                                                                        <th style="text-align: center">Número</th>
                                                                        <th style="text-align: center">Fecha</th>
                                                                        <th style="text-align: center">Vencimiento</th>
                                                                        <th style="text-align: center">Valor Total</th>
                                                                        <th style="text-align: center">Valor Aplicado</th>
                                                                        <th style="text-align: center">Saldo</th>
                                                                        <th style="text-align: center">Valor a pagar</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="cruzar()" id="cruzar">Cruzar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade db-example-modal-lg" id="modal_muchos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">
                    <font><font>Posibles Clientes a Consultar</font></font>
                </h4>
            </div>

            <div class="modal-body" id="datosModal">
                <div class="hpanel">
                    <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-car  text-primary font-lg"></i>&nbsp;&nbsp;Clientes
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" id="tabla_clientes">
                            <thead>
                                <tr>
                                    <th style="text-align:center">id</th>
                                    <th style="text-align:center">Documento</th>
                                    <th style="text-align:center">Nombre</th>
                                    <th style="text-align:center">Telefono</th>
                                    <th style="text-align:center">Celular</th>
                                    <th style="text-align:center">Email</th>
                                    <th style="text-align:center">Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><font><font>Cerrar</font></font></button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('.js-source-states').select2();
            buscarTiposCartera();
            buscarBodegas();
            buscarClasificacion();
            traerDatosBusqueda();
            if ($('#cedula').val() != "") {
                buscarCuantos();
            }
            $('.fechas').datetimepicker({
                format: 'DD/MM/YYYY',
                maxDate: `-${new Date()}`
            });
        });

        var arreglo = [];

        function buscarCuantos() {
            debugger;
            if ($('#cedula').val() == "") {
                swal("Error", "Digite el campo para poder buscar", "danger")
            } else {
                $.ajax({
                    url: '/carteraCliente/buscarCuantos',
                    data: {
                        doc_tercero: $('#cedula').val()
                    },
                    type: 'post',
                    cache: false,
                    success: function (data) {
                        if (data != 0) {
                            console.log('el valor de data es:')
                            console.log(data)
                            if (data.Cuantos === 0) {
                                swal("Error", "No hay Registros", "danger")
                            } else {
                                if (data.Cuantos === 1) {
                                    var tercero = data.terceros[0].id;
                                    buscarTerceroNew(tercero);
                                } else {
                                    buscarTercerosMuchos();
                                }
                            }
                        }
                        else {
                            //colocar mensaje de error aqui
                        }
                    }
                });
            }
        }

        function buscarTiposCartera() {
            $.ajax({
                url: '/carteraCliente/buscarTiposCartera',
                type: 'post',
                cache: false,
                success: function(data) {
                    $('#tipo_cartera').empty();

                    for (let i = 0; i < data.length; i++) {
                        $('#tipo_cartera').append($('<option>',
                            {
                                value: data[i].value,
                                text: data[i].text
                            }));
                    }

                    $('#tipo_cartera').multiselect("destroy").multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 800,
                    });
                    $('#tipo_cartera').multiselect('refresh');
                }
            });
        }

        function buscarBodegas() {
            $.ajax({
                url: '/carteraCliente/buscarBodegas',
                type: 'post',
                cache: false,
                success: function(data) {
                    $('#bodegas').empty();

                    for (let i = 0; i < data.length; i++) {
                        $('#bodegas').append($('<option>',
                            {
                                value: data[i].value,
                                text: data[i].text
                            }));
                    }

                    $('#bodegas').multiselect("destroy").multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 800,
                    });
                    $('#bodegas').multiselect('refresh');
                }
            });
        }

        function buscarClasificacion() {
            $.ajax({
                url: '/carteraCliente/buscarClasificaccion',
                type: 'post',
                cache: false,
                success: function(data) {
                    $('#clasificacion_tp_cliente').empty();

                    for (let i = 0; i < data.length; i++) {
                        $('#clasificacion_tp_cliente').append($('<option>',
                            {
                                value: data[i].value,
                                text: data[i].text
                            }));
                    }
                }
            });
        }

          function buscarTercero(tercero) {
              alert('nu');
              console.log(tercero);
            if ($('#cedula').val() == "") {
                swal("Error", "Digite el campo de Cédula/Nit para poder buscar", "danger")
            } else {
                $.ajax({
                    url: '/carteraCliente/buscarTercero',
                    data: {
                        doc_tercero: tercero
                    },
                    type: 'post',
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        if (data == 0) {
                            swal("Error", "El documento del tercero no existe", "danger")
                        } else {
                            $('#nombreCliente').val(data.buscar.nombre)
                            $('#id_cliente').val(data.buscar.id)
                            if (data.cupo != "") {
                                for (var i = 0; i < data.cupo.length; i++) {
                                    $('#fec_vencimiento').val(data.cupo[i].fecha_vence)
                                    $('#dias_cupo').val(data.cupo[i].dias)
                                    $('#valor_cupo').val(data.cupo[i].cupo)
                                    $('#saldo_cupo').val(data.cupo[i].saldo)
                                }
                            } else {
                                $('#fec_vencimiento').val("Sin datos")
                                $('#dias_cupo').val("Sin datos")
                                $('#valor_cupo').val("Sin datos")
                                $('#saldo_cupo').val("Sin datos")
                            }
                        }
                    }
                });
            }
        }

                function buscarTercerosMuchos() {
            $('#tabla_clientes').dataTable().fnDestroy();
            if ($('#cedula').val() == "") {
                swal("Error", "Digite el campo para poder buscar", "danger")
            } else {
                $.ajax({
                    url: '/carteraCliente/BuscarMuchosClientes',
                    data: {
                        campo: $('#cedula').val()
                    },
                    type: 'post',
                    cache: false,
                    success: function (muchosclientes) {
                        $('#tabla_clientes').find('tbody').empty()
                        for (var i = 0; i < muchosclientes.length; i++) {
                            $('#tabla_clientes').find('tbody').append(
                                '<tr>'
                                + '<td>' + muchosclientes[i].id + '</td>'
                                + '<td>' + muchosclientes[i].docu + '</td>'
                                + '<td>' + muchosclientes[i].nombre + '</td>'
                                + '<td>' + muchosclientes[i].tel + '</td>'
                                + '<td>' + muchosclientes[i].cel + '</td>'
                                + '<td>' + muchosclientes[i].email + '</td>'
                                + '<td align="center"><button class="btn btn-info btn-xs" onclick="buscarTerceroNew('
                                + muchosclientes[i].id + ' )">Seleccionar</button>&nbsp;</td></tr>'
                            );
                        }
                    },
                    complete: function () {
                        $('#tabla_clientes').dataTable({
                            //"ajax": 'api/datatables.json',
                            dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            buttons: [
                                { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                                //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                            ],
                            order: [[2, "desc"]]
                        });
                    }
                });

                $('#modal_muchos').modal('show')
            }
        }


                function buscarTerceroNew(tercero) {

            console.log('aca')
            if ($('#nit').val() == "") {
                swal("Error", "Digite el campo de Cédula/Nit para poder buscar", "danger")
            } else {
                $.ajax({
                    url: '/carteraCliente/BuscarCliente2',
                    data: {
                        cliente: tercero
                    },
                    type: 'post',
                    cache: false,
                    success: function (data) {
                        debugger;
                        if (data == 0) {
                            swal("Error", "El documento del tercero no existe", "danger")
                        } else {
                            $('#nombreCliente').val(data.buscarCliente.nombre)
                            $('#id_cliente').val(data.buscarCliente.id)
                            $('#cedula').val(data.buscarCliente.doc_tercero)

                            if (data.cupo != "") {
                                debugger;
                                //for (var i = 0; i < data.cupo.length; i++) {
                                $('#fec_vencimiento').val(data.cupo.fecha_vence)
                                $('#dias_cupo').val(data.cupo.dias)
                                $('#valor_cupo').val(data.cupo.cupo)
                                $('#saldo_cupo').val(data.cupo.saldo)
                                //}
                            } else {
                                $('#fec_vencimiento').val("Sin datos")
                                $('#dias_cupo').val("Sin datos")
                                $('#valor_cupo').val("Sin datos")
                                $('#saldo_cupo').val("Sin datos")
                            }
                        }
                    }
                });
            }
        }

        //function buscarTercero() {
        //    if ($('#cedula').val() == "") {
        //        swal("Error", "Digite el campo de Cédula/Nit para poder buscar", "error");
        //    } else {
        //        $.ajax({
        //            url: '/carteraCliente/buscarTercero',
        //            data: {
        //                doc_tercero: $('#cedula').val()
        //            },
        //            type: 'post',
        //            cache: false,
        //            success: function(data) {
        //                if (data == 0) {
        //                    swal("Error", "El documento del tercero no existe", "Error");
        //                } else {
        //                    $('#nombreCliente').val(data.buscar.nombre);
        //                    $('#id_cliente').val(data.buscar.id);
        //                    $('#tel_cliente').val(data.buscar.telefono);
        //                    $('#cel_cliente').val(data.buscar.celular);
        //                    if (data.cupo != "") {
        //                        $('#fec_vencimiento').val(data.cupo.fecha_vence);
        //                        $('#dias_cupo').val(+ data.cupo.dias);
        //                        $('#valor_cupo').val(`$${data.cupo.cupo}`);
        //                        $('#saldo_cupo').val(`$${data.cupo.saldo}`);
        //                    } else {
        //                        $('#fec_vencimiento').val("Sin datos");
        //                        $('#dias_cupo').val("Sin datos");
        //                        $('#valor_cupo').val("Sin datos");
        //                        $('#saldo_cupo').val("Sin datos");
        //                    }

        //                }
        //            }
        //        });
        //    }
        //}

        function traerDatosBusqueda() {
            var idCliente = 0;
            var inhabilitar = 0;
            if ($('#id_cliente2').val() != null && $('#id_cliente2').val() != "") {
                idCliente = $('#id_cliente2').val();
                inhabilitar = 1;
            } else {
                idCliente = $('#id_cliente').val();
                inhabilitar = 0;
            }

            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/carteraPorEdades/traerDatosBusqueda',
                data: {
                    tipo_cartera: $('#tipo_cartera').val(),
                    id_cliente: idCliente,
                    cedula_cliente: $('#cedula').val(),
                    bodega: $('#bodegas').val(),
                    vehiculosFacturados: $('#vehiculosFacturados').prop('checked'),
                    caja_general: $('#caja_general').prop('checked'),
                    fechaDesde: $('#fechaDesde').val(),
                    fechaHasta: $('#fechaHasta').val(),
                    inhabilitar: inhabilitar
                },
                type: 'post',
                cache: false,
                success: function(data) {
                    var valor_deuda = 0;
                    var sin_aplicar = 0;
                    var debitos = 0;
                    var creditos = 0;
                    var classCruzados;
                    var cruce;

                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.datos.length; i++) {
                        console.log(data.datos[i].btnCruzar);
                        if (data.datos[i].cruzado == 1 || data.datos[i].aplicado == true) {
                            classCruzados = 'style="background-color:#CEFBB1"';
                        }
                        if (data.datos[i].cruzado == 0 && data.datos[i].referencia != '') {
                            classCruzados = 'style="background-color:#FFF2D2"';
                        }
                        if (data.datos[i].btnCruzar == 1 && data.datos[i].saldo > 0) {
                            classCruzados = ''
                            cruce =
                                `<button type="button" id="btnCruce" onclick="modalCruzar(${data.datos[i].id_enc},${
                                data.datos[i].saldo},${data.datos[i].nro_doc},${data.datos[i].td
                                })" class="btn btn-xs btn-primary">Cruzar</button>`;
                        } else {
                            cruce = '';
                        }
                        $('#cruzar').click(function() {
                        });

                        $('#tablaPaginada').find('tbody').append(
                            `<tr ${classCruzados
                            } > <td align="center"><input type="checkbox" onclick="sumar_subtotal()" class="check_tabla" value="${
                            data.datos[i].valor_suma
                            }" /></td><td align="right">${data.datos[i].fecha}</td><td>${data.datos[i].bodega
                            }</td><td>${data.datos[i].pre}</td><td align="right">${data.datos[i].nro_doc
                            }</td><td align="right">${data.datos[i].debito
                            }</td><td align="right">${data.datos[i].credito}</td><td align="right">${
                            data.datos[i].vr_factura}</td><td align="right">${addCommas(data.datos[i].saldo)}</td><td>${
                            data.datos[i].referencia}</td><td>${data.datos[i].placa
                            }</td><td>${data.datos[i].medioPago}</td><td>${data.datos[i].concepto}</td><td>${
                            data.datos[i].cartera}</td><td>${data.datos[i].recibo_caja
                            }</td><td><button type="button" id="btnDetalles" onclick="valida(${data.datos[i].td},${
                            data.datos[i].id_enc},${data.datos[i].nro_doc},${data.datos[i].bodega_id
                            })" class="btn btn-xs btn-primary">Ver</button> ${cruce} </td></tr>`
                        );
                        valor_deuda += data.datos[i].vr_saldo;
                        sin_aplicar += data.datos[i].valor_sin_aplicar;
                        debitos += data.datos[i].debitos;
                        creditos += data.datos[i].creditos;
                        classCruzados = "";
                    }

                    $('#total_deuda').val(`$${addCommas(valor_deuda)}`);
                    $('#vr_sin_aplicar').val(`$${addCommas(sin_aplicar)}`);
                    $('#suma_debitos').val(`$${addCommas(debitos)}`);
                    $('#suma_creditos').val(`$${addCommas(creditos)}`);
                    if (data.inhabilitar != null && data.inhabilitar != 0) {
                        $('#fechaDesde').val(data.fechadesde);
                        $('#fechaHasta').val(data.fechahasta);
                        $('#cedula').val($('#documentoCliente').val());
                        $('#cedula').prop('readonly', true);
                        if ($('#cedula').val() != "") {
                           buscarTercero($('#cedula').val());
                        }
                    }
                },
                complete: function() {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",

                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                        ]
                    });
                }
            });
        }

        function modalCruzar(id_enc, saldo, nro_doc, td) {

            $('#saldoCruzar').val(saldo);
            $('#saldoCruzarh').val(saldo);

            $('#modalCruce').modal('show');
            $.ajax({
                url: '/ReciboCaja/buscarNitTipo',
                data: {
                    enc: id_enc
                },
                type: "post",
                cache: false,
                success: function(data) {
                    buscarFacturasFiltro(data.nit, id_enc, nro_doc, data.tipo);
                }
            });
        }


        var numero_miles = "";

        function miles(id) {
            numero_miles = formatNumber($(`#${id}`).val());
            $(`#${id}`).val(numero_miles);
        }

        function quitCommas(nStr) {
            nStr.toString();
            const s = nStr.replace(/\./g, "");
            return s;
        }

        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        var totalAux = 0;
        var campo_id = 0;
        var pago_id = 1;


        function pagos(id) {
            setTimeout(function(event) {
                    pagos2(id);
                },
                100);
        }

        var saldog = 0;

        function pagos2(id) {
            debugger;
            var fila = [];
            var valor = $(`#valor_aPagar${id}`).val();
            var saldo = $(`#saldo${id}`).val();
            var tipo = $(`#tipo${id}`).val();
            var numero = $(`#numero${id}`).val();
            var idF = $(`#id${id}`).val();
            var saldoCruzarh = parseInt($('#saldoCruzarh').val());
            var mismo = 0;
            if (valor == null || valor == undefined || valor == "" || valor < 0) {
                valor = 0;
            }
            if (valor !== 0) {
                if (parseInt(quitCommas(valor)) > parseInt(saldo) ||
                    parseInt(quitCommas(valor)) > saldoCruzarh ||
                    parseInt(quitCommas(valor)) <= 0 ||
                    saldog > saldoCruzarh) {
                    //busco si el valor existia anteriormente en el arreglo
                    for (var i = 0; i < arreglo.length; i++) {
                            if (arreglo[i][2] === idF) {
                                $(`#valor_aPagar${id}`).val(addCommas(arreglo[i][3]));
                                mismo = 1;
                            }
                            if (mismo === 1) {
                                i = arreglo.length;
                                existe = 1;
                            }
                            /*if (mismo === 0 && i === arreglo.length) {
                                fila.push(tipo);
                                fila.push(numero);
                                fila.push(idF);
                                fila.push(quitCommas(valor));
                                arreglo.push(fila);
                                saldog += parseInt(quitCommas(valor));
                            }*/
                        }
                } else {
                    mismo = 0;
                    if (arreglo.length === 0) {
                        fila.push(tipo);
                        fila.push(numero);
                        fila.push(idF);
                        fila.push(quitCommas(valor));
                        arreglo.push(fila);
                        saldog += parseInt(quitCommas(valor));

                    } else {
                        var existe = 0;
                        for (var i = 0; i < arreglo.length; i++) {
                            if (arreglo[i][2] === idF) {
                                saldog -= parseInt(arreglo[i][3]);
                                arreglo[i][3] = quitCommas(valor);
                                saldog += parseInt(arreglo[i][3]);
                                mismo = 1;
                            }
                            if (mismo === 1) {
                                i = arreglo.length;
                                existe = 1;
                            }
                            /*if (mismo === 0 && i === arreglo.length) {
                                fila.push(tipo);
                                fila.push(numero);
                                fila.push(idF);
                                fila.push(quitCommas(valor));
                                arreglo.push(fila);
                                saldog += parseInt(quitCommas(valor));
                            }*/
                        }
                        if (existe === 0) {
                             fila.push(tipo);
                                fila.push(numero);
                                fila.push(idF);
                                fila.push(quitCommas(valor));
                                arreglo.push(fila);
                                saldog += parseInt(quitCommas(valor));
                        }
                    }
                }
            }
            validarCrucePagos(saldoCruzarh,valor)
        }

        function validarCrucePagos(saldo, valor) {
            var cruzar = saldo;
            var valorCruce = valor;
            if (cruzar < valorCruce) {
                console.log("el valor del saldo es: " + cruzar + "el valor cruzado es: " + valorCruce);
                alert("el valor a pagar no puede ser mayor al saldo a cruzar");
                return;
            }
            else {
                console.log("funcionó");
                return;
            }
        }

        function cruzar2() {

            $.ajax({
                url: '/ReciboCaja/Cruce',
                data: {
                    facturas: arreglo,
                    rcNcid: $('#RCNCid').val(),
                    rcNctipo: $('#RCNCtipo').val(),
                    rcNcnum: $('#RCNCnum').val()
                },
                type: "post",
                cache: false,
                success: function(data) {
                    if (data != 0) {
                        setTimeout(function() {
                                swal("Cruce(s) creados con éxito", "", "success");
                            },
                            100);
                        traerDatosBusqueda();
                        $('#modalCruce').modal('hide');


                    } else {
                        setTimeout(function() {
                                swal("Error en el proceso de cruce", "", "warning");
                            },
                            500);
                    }
                }
            });

        }

         function cruzar() {
            swal({
                title:"Confirmar ",
                text: "Se van a cruzar los documentos seleccionados, proceder?",
                type: "success",
                confirmButtonText: "SI",
                confirmButtonColor: "#62cb31",
                showCancelButton: true,
                cancelButtonText: "NO",
            }, function (isConfirm) {
                    if (isConfirm) {
                        cruzar2();
                } else {
                    swal({
                        title: "Cancelado",
                        text: "No se ejecutará el crucr",
                        type: "info",
                        confirmButtonColor: "#62cb31",
                        confirmButtonText: "OK",
                        closeOnConfirm: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000

                    })
                }
            })
        }



        function buscarFacturasFiltro(nitC, id_enc, nro_doc, td) {
            $.ajax({
                url: '/ReciboCaja/BuscarFacturasFiltro',
                data: {
                    nit: nitC
                },
                type: "post",
                cache: false,
                success: function(data) {
                    $("#listaFacturas").val(data.length);
                    $("#tablaPaginadaModal").dataTable().fnDestroy();
                    $("#tablaPaginadaModal").find('tbody').empty();
                    for (let h = 0; h < data.length; h++) {
                        $("#tablaPaginadaModal").find("tbody").append(
                            `<tr align="center"><td style="text-align: left"><input name="tipo${h}" id="tipo${h
                            }" class="form-control" type="hidden" value="${data[h].idTipo
                            }" /><input name="RCNC" id="RCNCid" class="form-control" type="hidden" value="${id_enc
                            }" /><input name="RCNC" id="RCNCtipo" class="form-control" type="hidden" value="${td
                            }" /><input name="RCNC" id="RCNCnum" class="form-control" type="hidden" value="${nro_doc
                            }" /><input name="id${h}" id="id${
                            h}" class="form-control" type="hidden" value="${data[h].id}" />${data[h].tipo
                            }</td><td style="text-align: right"><input name="numero${h
                            }" id="numero${h}" class="form-control" type="hidden" value="${data[h].numero}" />${
                            data[h].numero}</td><td style="text-align: left">${data[h].fecha
                            }</td><td style="text-align: left">${data[h].vencimiento
                            }</td><td style="text-align: right"><input name="valor_total${h
                            }" id="valor_total${h}" class="form-control" type="hidden" value="${data[h].valor_total
                            }"/>${addComas(data[h].valor_total)
                            }</td><td style="text-align: right"><input name="valor_aplicado${h}" id="valor_aplicado${h
                            }" class="form-control" type="hidden" value="${data[h].valor_aplicado}"/>${
                            addComas(data[h].valor_aplicado)}</td><td style="text-align: right"><input name="saldo${h
                            }" id="saldo${h}" class="form-control" type="hidden" value="${data[h].saldo}"/>${addComas(
                                data[h].saldo)
                            }</td><td style="text-align: center"><input name="valor_aPagar${h}" id="valor_aPagar${h
                            }" class="form-control number pagos" type="text" value="0" onkeyUp = "return miles(this.id)" onchange="pagos(${
                            h
                            })"/></td></tr>`);
                    }
                }
            });
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? `.${x[1]}` : '';
            const rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function sumar_subtotal() {
            var valor = 0;

            $('.check_tabla').each(function() {
                if (this.checked) {
                    valor += parseInt($(this).val());
                }
                $('#SubTotal').val(`$${addCommas(valor)}`);
            });
        }

        $('#exportarExcel').click(function(event) {
            idCliente = 0;
            inhabilitar = 0;
            if ($('#id_cliente2').val() != null && $('#id_cliente2').val() !== "") {
                idCliente = $('#id_cliente2').val();
                inhabilitar = 1;
            } else {
                idCliente = $('#id_cliente').val();
                inhabilitar = 0;
            }
            window.open(
                `@Url.Action("excelCartera", "CarteraPorEdades")?tipo_cartera=${$('#tipo_cartera').val()}&id_cliente=${
                idCliente}&cedula_cliente=${$('#cedula').val()}&bodega=${$('#bodegas').val()
                }&vehiculosFacturados=${$('#vehiculosFacturados').prop('checked')}&caja_general=${
                $('#caja_general').prop('checked')}&fechaDesde=${$('#fechaDesde').val()}&fechaHasta=${
                $('#fechaHasta').val()}&inhabilitar=${inhabilitar}`,
                '_blank');
        });

        function check_all() {
            $('#tablaPaginada').dataTable().fnDestroy();
            if ($('#check_header').prop('checked')) {
                $('.check_tabla').prop('checked', true);
            } else {
                $('.check_tabla').prop('checked', false);
            }
            $('#tablaPaginada').dataTable({
                dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                ]
            });
            sumar_subtotal();
        }

        function valida(td, id_enc, numero, bodega) {
            if (td === 21) {
                //nota debito
                window.open(`@Url.Action("notaDebito", "notaDebito")?id=${id_enc}`, '_blank');
            } else if (td === 2 ) {
                //factura
                window.open(
                    `@Url.Action("GenerarFactura", "facturacionNuevos")?cabeza=${id_enc}&&numero=${numero}&&tpDoc=${td
                    }&&bodega=${bodega}`,
                    '_blank');
            } else if (td === 4) {
                //reutilizando la función para crear repuestos de factura y se asigna 1 como el valor para crear la factura original
                 window.open(`@Url.Action("crearPDFfacturacionrepuestos", "FacturacionRepuestos")?id=${id_enc}&&param=${1}`,
                '_blank');
            }
            else if (td === 20) {
                window.open(`@Url.Action("notaCredito", "notaCredito")?id=${id_enc}`, '_blank');

                //nota crédito
            } else if (td == 16) {
                window.open(`@Url.Action("ReciboCaja", "ReciboCaja")?id=${id_enc}`, '_blank');
                //recibo de caja
            } else if (td == 28) {
                window.open(`@Url.Action("crearFactura", "CentralAtencion")?id=${id_enc}`, '_blank');
                //factura TSB
            }

        }

        $("#myCanvas").load(draw());

        function draw() {
            const canvas = document.getElementById("myCanvas");
            const ctx = canvas.getContext("2d");
            ctx.fillStyle = "#CEFBB1";
            ctx.fillRect(0, 0, 70, 70);
        }

        $("#myCanvas2").load(draw2());

        function draw2() {
            const canvas2 = document.getElementById("myCanvas2");
            const ctx2 = canvas2.getContext("2d");
            ctx2.fillStyle = "#FFF2D2";
            ctx2.fillRect(0, 0, 70, 70);
        }
    </script>
}
