@{
    ViewBag.Icono = "fa fa-user";
    ViewBag.Title = "Autorización Taller";
    Layout = null;
}

@Styles.Render("~/bundles/font-awesome/css")
@Styles.Render("~/bundles/bootstrap/css")
@Styles.Render("~/bundles/peicon7stroke/css")
@Styles.Render("~/bundles/homer/css")
<link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />

<!DOCTYPE html>

<br />
<br />
<br />
<div class="panel-body col-md-6 col-md-offset-3">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb"></ol>
            </div>
            <h2 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h2>

            @if (TempData["mensaje"] != null)
            {
                <small>
                    @TempData["mensaje"]
                </small>
            }

            @if (TempData["mensaje_error"] != null)
            {
                <small>
                    @TempData["mensaje_error"]
                </small>
            }

        </div>
    </div>
</div>