@{
    ViewBag.Title = "Devolución de venta";
    ViewBag.Icono = "fa fa-address-book-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Devolución de @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">
            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="principal" onclick="irCreacion()"><a data-toggle="tab"><i class="fa fa-th-list"></i>&nbsp;&nbsp;Ventas</a></li>
                <li class="busqueda " onclick="BuscarDevolucionesVentas()"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Busqueda</a></li>
                <li class="active"><a data-toggle="tab" href="#detalle"><i class="fa fa-hand-pointer-o"></i>&nbsp;&nbsp;Detalle Devolución</a></li>
            </ul>

            <div id="detalle" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Documento:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.documento" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Número de Documento:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.numDevolucion" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Fecha Creación:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.fecha.ToString()" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Bodega:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.boodega" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Documento:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.docTercero" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Cliente:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.cliente" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Condición Pago:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.condicionPago" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Dirección:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.direccion" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Telefono:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.telTercero" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Celular:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.celTercero" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Correo electronico:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.emailTercero" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Perfil Contable:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.perfilContable" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hpanel">
                            <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                <div class="panel-tools">
                                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                </div>
                                <i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;Informaci&oacute;n
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Plan Mayor:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.planMayor" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Marca:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.marca" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Modelo:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.modelo" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">A&ntilde;o Modelo:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.anio" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Color:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" readonly="readonly" value="@ViewBag.color" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Precio:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="precio" readonly="readonly" value="@ViewBag.precio" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">IVA:&nbsp;</label>
                                            <div class="col-md-2">
                                                <input class="form-control" id="poriva" readonly="readonly" value="@ViewBag.porIva" />
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" id="valiva" readonly="readonly" value="@ViewBag.valIva" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Impoconsumo:&nbsp;</label>
                                            <div class="col-md-2">
                                                <input class="form-control" id="porImpo" readonly="readonly" value="@ViewBag.porImpoCon" />
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" id="valImpo" readonly="readonly" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Valor Total:&nbsp;</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="total" readonly="readonly" value="@ViewBag.total" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaBusquedas">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Tipo documento</th>
                                        <th style="text-align:center">N&uacute;mero</th>
                                        <th style="text-align:center">Plan Mayor</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Nit</th>
                                        <th style="text-align:center">Nombre</th>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Valor Total</th>
                                        <th style="text-align:center">N&uacute;mero Venta</th>
                                        <th style="text-align:center">Acci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script type="text/javascript">

        function irCreacion() {
            window.location.href = '@Url.Action("Index", "devolucionVentaAutomatica")?menu=' + @ViewBag.id_menu;
        }

        var impuesto = 0;
        $(document).ready(function () {
            $('#precio').val(addCommas(parseInt($('#precio').val())))
            $('#valiva').val(addCommas(parseInt($('#valiva').val())))
            $('#porImpo').val(parseInt($('#porImpo').val()))
            $('#total').val(addCommas(parseInt($('#total').val())))

            if ($('#porImpo').val() != "") {
                impuesto = (parseInt(quitCommas($('#precio').val())) * parseInt(quitCommas($('#porImpo').val()))) / 100
            }
            $('#valImpo').val(addCommas(impuesto))
        });

        var numero_miles = "";
        function formatNumber(n) {
            n = String(n).replace(/\D/g, "");
            return n === '' ? n : String(n).replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function miles(id) {
            numero_miles = formatNumber($('#' + id + '').val());
            $('#' + id + '').val(numero_miles);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function quitCommas(nStr) {
            nStr.toString();
            var s = nStr.replace(/\./g, "");
            return s;
        }

        function BuscarDevolucionesVentas() {
            if ($.fn.dataTable.isDataTable('#tablaPaginadaBusquedas')) {
                $('#tablaPaginadaBusquedas').dataTable().fnDestroy();
            }
            $.ajax({
                url: '/devolucionVentaAutomatica/BuscarDevolucionesVentas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaBusquedas').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaBusquedas').find('tbody').append('<tr>'
                            +'<td align="left">' + data[i].tpdoc_nombre + '</td>'
                            +'<td align="right">' + data[i].numDev + '</td>'
                            +'<td align="left">' + data[i].codigo + '</td>'
                            +'<td align="left">' + data[i].bodccs_nombre + '</td>'
                            +'<td align="right">' + data[i].doc_tercero + '</td>'
                            +'<td align="left">' + data[i].nombre + '</td>'
                            +'<td align="right">' + data[i].fecha + '</td>'
                            +'<td align="right">$' + addComas(data[i].valor_total) + '</td>'
                            +'<td align="right">' + data[i].numVen + '</td>'
                            +'<td align="center">'
                                +'<button class="btn btn-info btn-xs" onclick="valida('+ '\'' + data[i].idDev + '\')">Ver</button>'
                            +'</td>'
                            +'</tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginadaBusquedas').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            })
        }

        function valida(id) {
            window.location.href = '@Url.Action("ver", "devolucionVentaAutomatica")?menu=' + @ViewBag.id_menu + '&id='+ id;
        }

    </script>

}