
@{
    ViewBag.Title = "Vehículos Disponibles";
    ViewBag.Icono = "fa fa-check-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Leo*@
@section Styles {
    <link rel="stylesheet" href="~/vendor/chartist/custom/chartist.css" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Consulta @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#busquedas"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="busquedas" class="tab-pane active">
                <div class="form-horizontal">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModelos">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="row" style="text-align:left;" id="qwerrty">
                                        <h4>Total de vehiculos disponibles <span class="label label-primary" id="totalvehi"></span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalInventario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vehiculos Disponibles</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">

                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModeloFiltro">
                        <thead>
                            <tr>

                                <th style="text-align:center">Bodega</th>
                                <th style="text-align:center">Plan Mayor</th>
                                <th style="text-align:center">Serie</th>
                                <th style="text-align:center">Descripción</th>
                                <th style="text-align:center">Modelo Año</th>
                                <th style="text-align:center">Color</th>
                                <th style="text-align:center">Fecha Compra</th>
                                <th style="text-align:center">Dias Inventario</th>
                                <th style="text-align:center">Asignado</th>
                                <th style="text-align:center">Ubicación</th>
                                <th style="text-align:center">Estado</th>
                                <th style="text-align:center">Fecha Recepción</th>
                                <th style="text-align:center">Stock</th>
                                <th style="text-align:center">Exhibición</th>
                                <th style="text-align:center">Averias</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalAverias" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Averías Registradas</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tabla_averias">
                        <thead>
                            <tr>
                                <th style="text-align:center">Plan Mayor</th>
                                <th style="text-align:center">Fecha</th>
                                <th style="text-align:center">Descripción</th>
                                <th style="text-align:center">Estado</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/Vendor/chartjs/Chart.min.js"></script>
    <script src="~/vendor/d3/d3.min.js"></script>
    <script src="~/vendor/c3/c3.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            listarCantidadesPorModelo();
        });

        function listarCantidadesPorModelo() {
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadVehiculos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#totalvehi').html(data.totalModelos);
                    $("#tablaPaginadaModelos").dataTable().fnDestroy();
                    $('#tablaPaginadaModelos').find('tbody').empty();
                    for (var i = 0; i < data.cantModelos.length; i++) {
                        $('#tablaPaginadaModelos').find('tbody').append('<tr><td align="left">'
                            + data.cantModelos[i].modvh_nombre + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantModelos('
                            + '\'' + data.cantModelos[i].modvh_codigo
                            + '\')">&nbsp;&nbsp;' + data.cantModelos[i].modvh_cantidad + '&nbsp;&nbsp;</button></td></tr>');

                    }
                },
                complete: function (data) {
                    $('#tablaPaginadaModelos').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6 text-right'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            //{ extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                        ]
                    });
                }
            });
        }


        function validaCantModelos(modelo) {
            var exhibicion = 0;
            var h = 0;
            var j = 0;
            var a = 0;
            var b = 0;
            $.ajax({
                url: '/Vehiculo/JsonBrowserAsesor',
                data: {
                    idModelo: modelo
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var roluser = data.roluser;
                    $("#tablaPaginadaModeloFiltro").dataTable().fnDestroy();
                    $('#tablaPaginadaModeloFiltro').find('tbody').empty();
                    var datos = data.eventos.length;
                    for (var i = 0; i < data.data.length; i++) {
                        exhibicion = 0;
                        if( datos > 0){
                            for( j = 0; j < data.eventos.length; j++){
                                for( h = 0; h < data.eventos[j].length; h++){

                                    if(data.data[i].planmayor == data.eventos[j][h].planmayor && data.eventos[j][h].evento_nombre == "Envio a Exibicion"){
                                        exhibicion = 1;
                                        a=j;
                                        b=h;
                                        break;
                                    }
                                    if(exhibicion != 0){
                                        break;
                                    }
                                }
                            }
                        }
                        $('#tablaPaginadaModeloFiltro').find('tbody').append('<tr>'
                                //+'<td align="left"><button type="button" class="btn btn-info btn-xs" id="buttonSend" onclick="EnviarVeh('+'\''+data[i].planmayor+'\''+')">Pendiente Alistamiento</button></td>'
                                +'<td align="left">' + data.data[i].bodega + '</td>'
                                +'<td align="right">'+ data.data[i].planmayor + '</td>'
                                +'<td align="left">' + data.data[i].serie + '</td>'
                                +'<td align="left">' + data.data[i].descripcion + '</td>'
                                +'<td align="right">'+ data.data[i].anomodelo + '</td>'
                                +'<td align="left">' + data.data[i].color + '</td>'
                                +'<td align="left">' + data.data[i].fec_compra + '</td>'
                                +'<td align="right">'+ data.data[i].dias_inventario + '</td>'
                                +'<td align="left">' + data.data[i].asignado + '</td>'
                                +'<td align="right">'+ data.data[i].ubicacion + '</td>'
                                +'<td align="right">'+ data.data[i].Estado + '</td>'
                                +'<td align="right">'+ data.data[i].fechaEvento + '</td>'
                                +'<td align="right">'+ data.data[i].stock + '</td>'
                                +'<td align="center">'+(exhibicion == 1 && roluser == 2031 ? '<input type="checkbox" checked="true"  id="buttonCheck'+ data.data[i].planmayor +'" onclick="EnviarVeh('+'\''+data.data[i].planmayor+'\',\''+data.data[i].idBodega+'\',\''+modelo+'\',\''+data.eventos[a][b].evento_id+'\''+')">'
                                : (exhibicion == 1 && roluser !=2031 ? '<input disabled type="checkbox" checked="true"  id="buttonCheck'+ data.data[i].planmayor +'">'
                                : '<input type="checkbox" id="buttonCheck'+ data.data[i].planmayor +'" onclick="EnviarVeh('+'\''+data.data[i].planmayor+'\',\''+data.data[i].idBodega+'\',\''+modelo+'\''+')">' ))+'</td>'
                                +'<td align="center">'
                                    +'<button type="button" class="btn btn-info btn-xs" onclick="buscarAverias('+'\''+data.data[i].planmayor+'\''+')">'+data.data[i].cantidadAverias+'</button>'
                                +'</td>'

                            +'</tr>');
                    }
                    $('#modalInventario').modal('show');
                },
                complete: function (data) {
                    var test = $('#tablaPaginadaModeloFiltro').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function buscarAverias(planmayor) {
            $('#modalAverias').modal('show');
            $.ajax({
                url: '/Vehiculo/buscarAveriasInsp',
                data: { planmayor },
                type: 'post',
                cache: false,
                success: function (data) {
                    $('#tabla_averias').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tabla_averias').find('tbody').append(
                            '<tr>' +
                            '<td align="right">' +
                            data[i].planmayor +
                            '</td>' +
                            '<td align="right">' +
                            data[i].fecha +
                            '</td>' +
                            '<td align="left">' +
                            data[i].observacion +
                            '</td>' +
                            '<td align="left">' +
                            data[i].estadoA +
                            '</td>' +
                            '</tr>'
                        );
                    }
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if(data.esFavorito == true){
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    }else{
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

        //Se crea una función para enviar los parametros y hacerlos validos en alistamiento vehiculos

        function EnviarVeh(planmayor, idBodega, modelo, eventoid){
            var checkBox = document.getElementById("#buttonCheck"+planmayor);
            if( $("#buttonCheck"+planmayor).prop('checked') ) {
                swal({
                    title: "¿Esta Seguro?",
                    text: "Sólo debe alistar este vehiculo si está seguro(a)",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#9EF637",
                    confirmButtonText: "Si, enviar a alistamiento!",
                    cancelButtonText: "No, cancelar!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
       function (isConfirm) {
           if (isConfirm) {
               $.ajax({
                   type: 'POST',
                   url: ('/Vehiculo/sendCarExhibition'),
                   data: {plan_mayor:planmayor, id_bodega:idBodega},
                   beforeSend: function(){
                   },
                   success: function(response){
                       if(response.valor != 0){
                           swal("¡Vehiculo alistado!", "El vehiculo está alistado en Pendientes por alistamiento", "success");
                           validaCantModelos(modelo);
                       }else{
                           swal("¡Vehiculo no alistado!", "El vehiculo ya fue puesto en exhibición", "error");
                           validaCantModelos(modelo);
                       }

                   },
                   //error: function(response){
                   //    debugger;
                   //    console.log("Ha ocurrido un error");
                   //},
                   timeout: 2000
               });


           } else {
               swal("Cancelado", "El vehiculo no será alistado", "error");
           }
       });
            }else{
                swal({
                    title: "¿Esta Seguro?",
                    text: "¿Desea quitar el vehiculo de exhibición?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#9EF637",
                    confirmButtonText: "Si, quitar de exhibición!",
                    cancelButtonText: "No, cancelar!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
       function (isConfirm) {
           if (isConfirm) {
               $.ajax({
                   type: 'POST',
                   url: '/Vehiculo/quitarCarroExhibicion',
                   data: {
                       plan_mayor : planmayor,
                       id_bodega : idBodega,
                       evento_id : eventoid
                   },
                   beforeSend: function(){
                   },
                   success: function(response){
                       if(response.valor != 0){
                           swal("¡Vehiculo fuera de exhibicion!", "El vehiculo ya no se encuentra en exhibición", "success");
                           validaCantModelos(modelo);
                       }else{
                           swal("¡Error!", "Hubo un error al quitar el vehiculo de exhibicion", "error");
                           validaCantModelos(modelo);
                       }
                   },
                   //error: function(response){
                   //    debugger;
                   //    console.log("Ha ocurrido un error");
                   //},
                   timeout: 2000
               });

           } else {
               swal("Cancelado", "El vehiculo no será quitado de exhibición", "error");
           }
       });
            }
        }

    </script>

}