@model Homer_MVC.IcebergModel.v_creditos

@{
    ViewBag.Title = "Vehículos Sin Facturar";
    ViewBag.Icono = "fa fa-car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button class="btn btn-mini btn-default" style="border-radius:25px">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro de @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">
            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">
                    <div id="div-mensaje"></div>
                </div>
            </div>
            <div id="buscar" class="tab-pane active">
                <div class="panel-body">
                    <div class="table-responsive" style="width:100%;">
                        <div id="div-mensaje-buscar"></div>
                        <table class="table table-striped table-bordered table-hover" id="tablaBusquedas">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#  Pedido</th>
                                    <th style="text-align:center">Fecha pedido</th>
                                    <th style="text-align:center">Fecha matricula</th>
                                    <th style="text-align:center">Año</th>
                                    <th style="text-align:center">Modelo</th>
                                    <th style="text-align:center">Color</th>
                                    <th style="text-align:center">Bodega</th>
                                    <th style="text-align:center">Ubicación</th>
                                    <th style="text-align:center">Asesor</th>
                                    <th style="text-align:center">Plan Mayor</th>
                                    <th style="text-align:center">Vin</th>
                                    <th style="text-align:center">Fecha asignacion</th>
                                    <th style="text-align:center">Cliente</th>
                                    <th style="text-align:center">Valor Total</th>
                                    <th style="text-align:center">Valor aplicado</th>
                                    <th style="text-align:center">Saldo</th>
                                    <th style="text-align:center">Proceso</th>
                                    <th style="text-align:center">Autorizacion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>

    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () { buscarDatos() });

        function buscarDatos() {
            $.ajax({
                url: '/Vehiculo/buscarSinFacturaJson',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaBusquedas').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaBusquedas').find('tbody').append('<tr>'
                            + '<td align="right">' + data[i].numero + '</td>'
                            + '<td align="left">' + data[i].fecha + '</td>'
                            + '<td align="left">' + data[i].fechaMatricula + '</td>'
                            + '<td align="left">' + data[i].anio + '</td>'
                            + '<td align="left">' + data[i].modelo + '</td>'
                            + '<td align="left">' + data[i].color + '</td>'
                            + '<td align="left">' + data[i].bodccs_nombre + '</td>'
                            + '<td align="left">' + data[i].ubicacion + '</td>'
                            + '<td align="left">' + data[i].asesor + '</td>'
                            + '<td align="right">' + data[i].planmayor + '</td>'
                            + '<td align="right">' + data[i].vin + '</td>'
                            + '<td align="right">' + data[i].fechaA + '</td>'
                            + '<td align="left">' + data[i].cliente + '</td>'
                            + '<td align="right">' + addCommas(data[i].vrtotal) + '</td>'
                            + '<td align="right">' + addCommas(data[i].valor) + '</td>'
                            + '<td align="left">' + addCommas(data[i].vrtotal - data[i].valor) + '</td>'
                            + '<td align="left">' + data[i].proceso + '</td>'
                            + '<td align="left">' + data[i].autorizados + '</td>'
                            + '</tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaBusquedas').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
                        buttons: []
                    });
                }
            });
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        };
    </script>

}
