@model Homer_MVC.ModeloVehiculos.estilo_vehiculo

@*test cambio*@

@{
    ViewBag.Icono = "";
    ViewBag.Title = "Estilo Vehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
}

<div class="panel-body">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li>
                        <span>Sistema</span>
                    </li>
                    <li class="active">
                        <span>@ViewBag.Title</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h2>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                    <br />

                    <div class="col-sm-2 pull-right">
                        <div class="input-group">
                            <input id="txBusqueda" type="text" runnat="server" class="form-control" placeholder="Buscar.."> <span class="input-group-btn">
                                <button class="btn btn-sm btn-info" id="activaTab-create" onclick="buscarAjaxEst_vh()" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-default" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul> <li><a href='../Rols/CrearRol'>Roles</a></li> <li><a href='../Tipo_Documento/CrearTipoDocumento'>Tipo documento</a></li> <li><a href='../Ciudads/CrearCiudad'>Ciudad</a></li> </ul>" data-html="true">
                        <i class="text-info fa fa-tags"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                        <i class="text-primary fa fa-files-o"></i>
                    </button>
                    <button class="btn btn-sm btn-default">
                        <i class="text-warning fa fa-star"></i>
                    </button>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class=""><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <button class="btn btn-info" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Guardar</button>
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="panel-body">
                                <h3 class="panel-body-title">
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </h3>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nombre Estilo:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.estvh_nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.estvh_nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Estado:&nbsp;</label>
                                        <div class="col-md-6">
                                            <label class="control-label col-md-8">
                                                <span class="text-danger">*&nbsp;</span>Selección (activo)&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="btn btn-success active">
                                                    @Html.CheckBoxFor(model => model.estvh_estado, new { id = "estado" })
                                                    <span id="dibujo" class="glyphicon glyphicon-ok"></span>
                                                </label>
                                                @*<input type="checkbox"  name="name" id="colvh_estado" value="" />*@
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div id="inactividad" style="display:none">
                                    <div class="col-md-6"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Razón Inactividad:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.estvhrazoninactivo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.estvhrazoninactivo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nombre Modelo:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @*@Html.EditorFor(model => model.mar_vh_id, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.DropDownList("mod_vh_id", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                            @Html.ValidationMessageFor(model => model.mod_vh_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">A&ntilde;o:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.estvh_anio, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.estvh_anio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Estado:&nbsp;</label>
                                        <div class="col-md-6">
                                            <label class="control-label col-md-8">
                                                <span class="text-danger">*&nbsp;</span>Selección (activo)&nbsp;&nbsp;&nbsp;&nbsp;
                                                @Html.CheckBoxFor(model => model.estvh_estado, new { @class = "i-checks" })
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="contenido"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/select2/js")

<script type="text/javascript">

    $(document).ready(function () {
        $('#estado').hide();

        $('#estado').change(function () {
            if ($('#estado').prop('checked')) {
                $('#inactividad').toggle();
                $('#estvhrazoninactivo').val('empty')
            } else {
                $('#inactividad').toggle();
                $('#estvhrazoninactivo').val('')
            }

            $('#dibujo').toggleClass('glyphicon glyphicon-ok');
            $('#dibujo').toggleClass('glyphicon glyphicon-remove');
        });
    });

    function buscarAjaxEst_vh() {
        $.ajax({
            url: '/estilo_vh/BuscarEst_vh',
            data: { text: $("#txBusqueda").val() },
            type: "post",
            cache: false,
            success: function (retorno) {
                $("#contenido").html(retorno);
            },
            error: function () {
                $('#div-mensaje-buscar').html('<div class="alert alert-danger" style="text-align: left;"><button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button><p><i style="font-size: 15pt;" class="fa fa-warning"></i>  Se ha producido un error, intente mas tarde</p></div>')
            }
        })
    }

</script>

@if (TempData["mensaje_vacio"] != null)
{
    <script type="text/javascript">
        $('#estvhrazoninactivo').val('');
        $('#inactividad').show();
        $('#dibujo').toggleClass('glyphicon glyphicon-ok');
        $('#dibujo').toggleClass('glyphicon glyphicon-remove');
    </script>
}
else
{
    <script type="text/javascript">
        $('#estvhrazoninactivo').val('empty');
    </script>
}

}
