@{
    ViewBag.Title = "CRM - Resumen";
    ViewBag.Icono = "fa fa-user-circle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/vendor/chartist/custom/chartist.css" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Comercial"><i class="fa fa-car"></i>&nbsp;&nbsp;Dashboard</a></li>
                @*<li class=""><a data-toggle="tab" href="#SmartSales"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Smart Sales</a></li>
                    <li class=""><a data-toggle="tab" href="#Repuestos" onclick="pintarPie()"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Repuestos</a></li>*@
            </ul>

            <div id="Comercial" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Desde:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("fecha_desde", new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "text-align:right" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Hasta:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("fecha_hasta", new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "text-align:right" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <button type="button" name="buscarclientes" id="buscarclientes" class="btn btn-sm btn-info"><i class="fa fa-search"></i>&nbsp;Filtrar&nbsp;</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="hpanel hbggreen">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3>Diamante</h3>
                                                    <p class="text-big font-light">
                                                        15
                                                    </p>
                                                    @*<small>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        </small>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="hpanel hbgyellow">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3>Oro</h3>
                                                    <p class="text-big font-light">
                                                        23
                                                    </p>
                                                    @*<small>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        </small>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="hpanel hbgblue">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3>Plata</h3>
                                                    <p class="text-big font-light">
                                                        136
                                                    </p>
                                                    @*<small>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        </small>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="hpanel hbgblue">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3>Nuevos Clientes</h3>
                                                    <p class="text-big font-light">
                                                        385
                                                    </p>
                                                    @*<small>
                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        </small>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>


            @*PANEL SMART SALES*@


        </div>
    </div>
</div>



<div id="modalInventario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inventario</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaPaginadaModeloFiltro">
                        <thead>
                            <tr>
                                <th style="text-align:center">Vin</th>
                                <th style="text-align:center">Modelo</th>
                                <th style="text-align:center">A&ntilde;o</th>
                                <th style="text-align:center">Color</th>
                                <th style="text-align:center">Dias Inventario</th>
                                <th style="text-align:center">Fecha Compra</th>
                                <th style="text-align:center">Plan Mayor</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>



<div id="modalRangoDias" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inventario</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <div id="div-mensaje-buscar"></div>
                    <table class="table table-striped table-bordered table-hover" id="tablaFiltroRangoDias">
                        <thead>
                            <tr>
                                <th style="text-align:center">Vin</th>
                                <th style="text-align:center">Modelo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal" id="AceptarModal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/Vendor/chartjs/Chart.min.js"></script>
    <script src="~/vendor/d3/d3.min.js"></script>
    <script src="~/vendor/c3/c3.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //listarCantidadesPorModelo();
            //listarVehiculosCantidadDias();
            //GetProspectosPorMes();
            //GetVehiculosCotizados();
            //pintarPie();
        });

        function pintarPie() {

            $.ajax({
                url: '/Inicio/GetRepuestosPorClasificacion',
                data: {},
                type: "post",
                cache: false,
                success: function (data) {

                    var datos = new Array();
                    for (var i = 0; i < data.length; i++) {
                        datos.push([data[i].clasificacion, data[i].cantidad]);
                    }

                    c3.generate({
                        bindto: '#pie',
                        data: {
                            columns:
                                datos,
                            colors: {
                                data1: '#62cb31',
                                data2: '#CFCFCF'
                            },
                            type: 'pie'
                        }
                    });
                },
                complete: function (data) {

                }
            });
        }

        function GetVehiculosCotizados() {
            $.ajax({
                url: '/Inicio/GetVehiculosCotizados',
                data: {},
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaPaginadaCotizados').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaCotizados').find('tbody').append('<tr><td align="left">'
                            + data[i].descripcion + '</td><td align="right">'
                            + data[i].cantidad + '</td></tr>');
                    }
                },
                complete: function (data) {

                }
            });
        }

        function GetProspectosPorMes() {
            $.ajax({
                url: '/Inicio/GetProspectosPorMes',
                data: {},
                type: "post",
                cache: false,
                success: function (data) {

                    var lineData = {
                        labels: data.meses,
                        datasets: [
                            {
                                label: "Cotizaciones",
                                backgroundColor: 'rgba(98,203,49, 0.5)',
                                pointBorderWidth: 1,
                                pointBackgroundColor: "rgba(98,203,49,1)",
                                pointRadius: 3,
                                pointBorderColor: '#ffffff',
                                borderWidth: 1,
                                data: data.cotizaciones
                            },
                            {
                                label: "Prospectos",
                                backgroundColor: 'rgba(220,220,220,0.5)',
                                borderColor: "rgba(220,220,220,0.7)",
                                pointBorderWidth: 1,
                                pointBackgroundColor: "rgba(220,220,220,1)",
                                pointRadius: 3,
                                pointBorderColor: '#ffffff',
                                borderWidth: 1,
                                data: data.prospectos
                            }
                        ]
                    };

                    var lineOptions = {
                        responsive: true
                    };

                    var ctx = document.getElementById("lineOptions").getContext("2d");
                    new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
                },
                complete: function (data) {

                }
            });
        }

        function validaCantModelos(modeloCodigo) {
            event.preventDefault();
            $("#tablaPaginadaModeloFiltro").dataTable().fnDestroy();
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadModelo',
                data: {
                    idModelo: modeloCodigo
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaPaginadaModeloFiltro').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaModeloFiltro').find('tbody').append('<tr><td align="left">'
                            + data[i].vin + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td><td align="right">'
                            + data[i].anio_vh + '</td><td align="left">'
                            + data[i].colvh_nombre + '</td><td align="right">'
                            + data[i].diasInventario + '</td><td align="right">'
                            + data[i].fecfact_fabrica + '</td><td align="right">'
                            + data[i].plan_mayor + '</td></tr>');
                    }
                },
                complete: function (data) {

                    var test = $('#tablaPaginadaModeloFiltro').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //retrieve: true,
                        paging: true,
                        searching: false,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
            $('#modalInventario').modal('show');
        }

        function validaCantPorDias(rangoDias) {
            event.preventDefault();
            $("#tablaFiltroRangoDias").dataTable().fnDestroy();
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadRangoDias',
                data: {
                    rango: rangoDias
                },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#tablaFiltroRangoDias').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaFiltroRangoDias').find('tbody').append('<tr><td align="left">'
                            + data[i].vin + '</td><td align="left">'
                            + data[i].modvh_nombre + '</td></tr>');
                    }
                },
                complete: function (data) {

                    var test = $('#tablaFiltroRangoDias').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        //retrieve: true,
                        paging: true,
                        searching: false,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
            $('#modalRangoDias').modal('show');
        }

        function listarCantidadesPorModelo() {
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadVehiculos',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaModelos').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginadaModelos').find('tbody').append('<tr><td align="left">'
                            + data[i].modvh_nombre + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantModelos('
                            + '\'' + data[i].modvh_codigo.toString()
                            + '\')">&nbsp;&nbsp;' + data[i].modvh_cantidad + '&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginadaModelos').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //buttons:  [ 'copy', 'csv', 'excel', 'pdf']
                        buttons: [//{ extend: 'copy', className: 'btn-sm' },
                            //{ extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        function listarVehiculosCantidadDias() {
            $.ajax({
                url: '/gestionVhNuevo/GetCantidadesPorDias',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginadaRangoDias').find('tbody').empty();
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">0 - 30 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '0-30'
                        + '\')">&nbsp;&nbsp;' + data.Dias30 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">30 - 60 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '30-60'
                        + '\')">&nbsp;&nbsp;' + data.Dias60 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">60 - 90 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '60-90'
                        + '\')">&nbsp;&nbsp;' + data.Dias90 + '&nbsp;&nbsp;</button></td></tr>');
                    $('#tablaPaginadaRangoDias').find('tbody').append('<tr><td align="left">Mas de 90 Dias</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="validaCantPorDias('
                        + '\'' + '90Mas'
                        + '\')">&nbsp;&nbsp;' + data.Dias90Mas + '&nbsp;&nbsp;</button></td></tr>');
                },
                complete: function (data) {
                    $('#tablaPaginadaRangoDias').dataTable({
                        //"ajax": 'api/datatables.json',
                        "searching": false,
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar de Favoritos</a>");
                    }
                }
            });
        }



        ////////$(document).ready(function () {
        ////////    listarCantidadesPorModelo();
        ////////});


        ////////function listarCantidadesPorModelo() {
        ////////    $.ajax({
        ////////        url: '/Inicio/GetVehiculosPorModelo',
        ////////        data: {
        ////////        },
        ////////        type: "post",
        ////////        cache: false,
        ////////        success: function (data) {

        ////////            $('#tablaModelos1').find('tbody').empty();
        ////////            for (var i = 0; i < data.listaPorModelo1.length; i++) {
        ////////                $('#tablaModelos1').find('tbody').append('<tr><td align="center">' + data.listaPorModelo1[i].modvh_nombre
        ////////                    + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
        ////////                           + '\'' + data.listaPorModelo1[i].modvh_codigo.toString()
        ////////                           + '\')">&nbsp;&nbsp;' + data.listaPorModelo1[i].modvh_cantidad + '&nbsp;&nbsp;</button></td></tr>');
        ////////            }

        ////////            $('#tablaModelos2').find('tbody').empty();
        ////////            for (var i = 0; i < data.listaPorModelo2.length; i++) {
        ////////                $('#tablaModelos2').find('tbody').append('<tr><td align="center">' + data.listaPorModelo2[i].modvh_nombre
        ////////                    + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
        ////////                           + '\'' + data.listaPorModelo2[i].modvh_codigo.toString()
        ////////                           + '\')">&nbsp;&nbsp;' + data.listaPorModelo2[i].modvh_cantidad + '&nbsp;&nbsp;</button></td></tr>');
        ////////            }
        ////////        },
        ////////        complete: function (data) {

        ////////        }
        ////////    })
        ////////}


        //$(document).ready(function () {
        //    listarCantidadesPorModelo();
        //});

        //function listarCantidadesPorModelo() {
        //    $.ajax({
        //        url: '/Inicio/GetVehiculosPorModelo',
        //        data: {
        //        },
        //        type: "post",
        //        cache: false,
        //        success: function (data) {

        //            var singleBarOptions = {
        //                responsive: true,
        //                legend: {
        //                    display: true
        //                },
        //                scales: {
        //                    xAxes: [{
        //                        ticks: {
        //                            autoSkip: false,
        //                            maxRotation: 45,
        //                            minRotation: 45
        //                        }
        //                    }],
        //                    yAxes: [{
        //                        ticks: {
        //                            beginAtZero: true,
        //                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
        //                            stepSize: 1
        //                        }
        //                    }]
        //                }
        //            };

        //            var singleBarData = {
        //                labels: data.labels,
        //                datasets: [
        //                    {
        //                        label: "Dt 1",
        //                        backgroundColor: "rgba(98,203,49,0.5)",
        //                        borderColor: "rgba(98,203,49,0.8)",
        //                        highlightFill: "rgba(98,203,49,0.75)",
        //                        highlightStroke: "rgba(98,203,49,1)",
        //                        borderWidth: 2,
        //                        data: data.data
        //                    }
        //                ]
        //            };

        //            var ctx = document.getElementById("singleBarOptions").getContext("2d");
        //            new Chart(ctx, { type: 'bar', data: singleBarData, options: singleBarOptions });



        //        },
        //        complete: function (data) {

        //        }
        //    })
        //}

    </script>
}



@*<div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="small">

                                </div>
                                <div>

                                </div>
                                <div class="small m-t-xl">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center small">

                                </div>
                                <div class="flot-chart" style="height: 160px">

                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="small">

                                </div>
                                <div>
                                    <h1 class="font-extra-bold m-t-xl m-b-xs">

                                    </h1>

                                </div>
                                <div class="small m-t-xl">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">

                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel">
                    <div class="panel-body text-center h-200">

                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="m-t-xl">

                            <div class="progress m-t-xs full progress-small">

                            </div>

                            <div class="row">
                                <div class="col-xs-6">

                                </div>

                                <div class="col-xs-6">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="m-t-xl">

                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="clearfix"></div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-income-chart"></div>
                        </div>
                        <div class="m-t-xs">

                            <div class="row">
                                <div class="col-xs-5">

                                </div>
                                <div class="col-xs-7">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="hpanel">
                    <div class="panel-body text-center h-200">

                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="m-t-xl">

                            <div class="progress m-t-xs full progress-small">

                            </div>

                            <div class="row">
                                <div class="col-xs-6">

                                </div>

                                <div class="col-xs-6">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="m-t-xl">

                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">

                        </div>
                        <div class="stats-icon pull-right">

                        </div>
                        <div class="clearfix"></div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-income-chart"></div>
                        </div>
                        <div class="m-t-xs">

                            <div class="row">
                                <div class="col-xs-5">

                                </div>
                                <div class="col-xs-7">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>

    </div>*@







