@model Homer_MVC.IcebergModel.FacturaVentaModel

@{
    ViewBag.Title = "FacturaProforma";
    Layout = null;
}

<link href="@Server.MapPath("~/Vendor/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/style.css")" rel="stylesheet" />

<style>
    .Rotate-90 {
        -moz-transform: rotate(-90deg);
        -moz-transform-origin: 10% 50%;
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: 10% 50%;
        -o-transform: rotate(-90deg);
        -o-transform-origin: 10% 50%;
        -webkit-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: 40% 70%;
        font-size: 13px;
        padding-left: 0;
        /*width: 80px;
          height: 180px;*/
        position: relative;
        text-align: center;
        top: 0px;
        transform: rotate(-90deg);
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }

    .panel-body {
        font-size: 14px;
        padding-left: 10px;
    }
</style>

@using (Html.BeginForm("GenerarFactura", "facturacionNuevos", FormMethod.Post))
{
    <div class="panel-body">
        <div class="form-horizontal">
            <div style="padding-top: 50px; position: absolute; width: 95%;">
                <div style="float: left; width: 30%;">
                    <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width: 80%" />
                </div>
                <div style="float: left; text-align: center; width: 40%;">
                    <b>COMERCIALIZADORA HOMAZ S.A.S. NIT</b><br />
                    <b>816.003.186-5</b><br />
                    <b>SEDE PRINCIPAL</b><br />
                    <b>Avenida 30 de Agosto No. 94-165 PBX. 3135000</b><br />
                    <b>Pereira - Risaralda</b>
                    <b>www.caminos.com.co</b>
                    <b>caminos@caminos.com.co</b>
                </div>
                <div style="float: right; text-align: right; width: 30%;">
                    <b>FACTURA DE VENTA No.</b><br /><br />
                    <b>@Model.TipoDocumento-@Model.NumeroFactura</b><br /><br />
                    <b>FECHA: @DateTime.Now.ToString("dd MMM yyyy")</b>
                    <br />FECHA DE VENCIMIENTO: <br />
                </div>

                <div style="height: 120px;"></div>

                <div>
                    <div style="position: relative; top: 50px;">
                        <div style="float: left; width: 5%;">
                            <img src="@Server.MapPath("~/Images/InfoCliente.jpg")" style="width: 80%" />
                        </div>
                        <div style="float: left; text-align: left; width: 45%;">
                            <b>FACTURADO A:</b> @Model.FacturadoA<br />
                            <b>ASEGURADO A:</b> @Model.Asegurado <br />
                            <b>CEDULA / NIT:</b> @Model.Cedula<br />
                            <b>TELEFONO:</b> @Model.Telefono<br />
                            <b>DIRECCION:</b> @Model.Direccion<br />
                            <b>CIUDAD</b>: @Model.Ciudad
                        </div>
                        <div style="float: left; text-align: left; width: 40%;">
                            <br />
                            <b>CLIENTE 1:</b> @Model.ClienteUno<br />
                            <b>
                                CLIENTE 2: @Model.ClienteDos<br />
                                <b>
                                    CLIENTE 3: @Model.ClienteTres<br />
                                    <b>
                                        CLIENTE 4: @Model.ClienteCuatro<br />
                                        <b>VENDEDOR:</b> @Model.Vendedor<br />
                        </div>
                    </div>

                    <br /><br /><br /><br /><br /><br />
                    <div style="position: relative; top: 60px;">
                        <div style="float: left; width: 5%;">
                            <img src="@Server.MapPath("~/Images/InfoVehiculo.jpg")" style="width: 80%" />
                        </div>
                        <div style="float: left; text-align: left; width: 45%;">
                            <b>MARCA:</b> @Model.Marca<br />
                            <b>ESTILO:</b> @Model.Estilo<br />
                            <b>COLOR:</b> @Model.Color<br />
                            <b>TIPO CAJA:</b> @Model.TipoCaja<br />
                            <b>CARROCERIA:</b> @Model.Carroceria<br />
                            <br />
                            <b>CLASE:</b> @Model.Clase<br />
                            <b>SERVICIO:</b> @Model.Servicio<br />
                            <b>A&Ntilde;O MODELO:</b> @Model.AnioModelo<br />
                            <b>CAPACIDAD:</b> @Model.Capacidad<br />
                            <b>CILINDRAJE:</b> @Model.Cilindraje<br />
                            <br />
                            <b>ACCESORIOS:</b> @Model.Accesorios<br />
                        </div>
                        <div style="float: left; text-align: left; width: 50%;">
                            <b>PLACA:</b> @Model.Placa<br />
                            <b>SERIE NUMERO:</b> @Model.Serie<br />
                            <b>MOTOR:</b> @Model.Motor<br />
                            <b>TIPO MOTOR:</b> @Model.TipoMotor<br />
                            <br />
                            <b>MANIFIESTO DE ADUANA:</b> @Model.ManifiestoAduana<br />
                            <b>FECHA MANIFIESTO:</b> @Model.FechaManifiesto<br />
                            <b>CIUDAD MANIFIESTO:</b> @Model.CiudadManifiesto<br />
                            <br />
                            <b>INVENTARIO:</b> @Model.Inventario<br />
                            <b>FOLDER:</b> @Model.Folder<br />
                            <b>PEDIDO No:</b> @Model.PedidoNumero<br />
                            <b>PLAN:</b> @Model.Plan
                        </div>
                    </div>

                    <div style="margin-left: 45px; position: relative; top: 120px;">
                        <b>PRENDA SIN TENENCIA A FAVOR DE:</b> @Model.PrendaAFavorDe<br /><hr />
                    </div>

                    <div style="position: relative; top: 110px;">
                        <div style="float: left; width: 70%;">
                            <div style="text-align: center">
                                <b>COMERCIALIZADORA HOMAZ S.A.S</b>
                            </div>
                            <div style="font-size: 11px; text-align: justify;">
                                <p>
                                    Grandes contribuyentes res 076 dic 1/2016 (retenedores de iva al regimen simplificado y al regimen comun), iva regimen comun, somos
                                    autoret res 0006032 junio 23/2010, somos autoretenedores del ICA en Pereira acuerdo 41/2012, Armenia acuerdo 17/2012 y Cartago
                                    acuerdo 025/2008. Despues de su vencimiento causara interes moratorios al maximo legal vigente. Estimado cliente: Ud tiene derecho a
                                    presentar cualquir tipo de peticion, queja o reclamo (PQR) asi como los mecanismos existentes para el efecto contemplados en los
                                    articulos 3, 56 y 57 estatuto del consumidor, ley 1480 de 2011. Mercncia y/o servicio real y materialmente entregado y recibido por el
                                    comprador a su entera satisfaccion. Ciiu 4511 comercio de vehiculos automotores nuevos. Autorizo con caracter permanente a
                                    Comercializadora Homaz S.A.S, o a quien ejerza sus derechos, para que mi información sea consultada, procesada y divulgada con fines
                                    estadisticos de control y de información comercial ante las centrales de información y de riesgo.
                                </p>
                            </div>
                            <div style="text-align: center">
                                <b>SOMOS AUTORETENEDORES RES.006032 JUNIO 23/2010</b>
                            </div>
                        </div>

                        <div style="float: left; width: 30%;">
                            <div style="margin-left: 15px; text-align: left;">
                                <br />
                                <b>VALOR DE LA VENTA:</b>&nbsp;@Model.ValorVenta<br />
                                <br />
                                <b>BASE IMP:</b>&nbsp;@Model.BaseImp<br />
                                <b>SUBTOTAL:</b>&nbsp;@Model.Subtotal<br />
                                <b>IVA ( @Model.PorcentajeIva% ):</b>&nbsp;@Model.Iva<br />
                                <b>IMP. CONSUMO:</b>&nbsp;@Model.ImpuestoConsumo<br />
                                <br />
                                <b>TOTAL FACTURA:</b>&nbsp;@Model.TotalFactura<br /><br />
                            </div>
                        </div>
                    </div>

                    <div style="margin-left: 0px; position: relative; top: 100px;">
                        <div style="float: left; width: 100%;">
                            <div style="text-align: center">
                                <hr /><hr />
                                RESOLUCION DIAN POR COMPUTADOR No @Model.NumeroResolucion DE @Model.FechaInicialResolucion No @Model.TipoDocumento @Model.ConsecutivoInicial-@Model.ConsecutivoFinal FACTURA IMPRESA POR C. HOMAZ S.A.S NIT:816003186-5 FACTURA
                            </div>
                        </div>
                    </div>

                    <div style="margin-left: 45px; position: relative; top: 280px;">
                        <div>
                            <div style="float: left; width: 70%;">
                                <div style="text-align: center">
                                    CLIENTE / CC
                                </div>
                            </div>

                            <div style="float: left; width: 30%;">
                                <div style="text-align: center">
                                    SELLO EMPRESA
                                </div>
                            </div>
                        </div>
                        <div>
                            <br /><hr />
                            <h5 style="text-align: right">CHEVROLET - SIEMPRE CONTIGO</h5>
                            <hr />
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
}