@model Homer_MVC.Models.PDFmodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nota Crédito</title>
    <style type="text/css">
        .contenedor {
            width: 50%;
            height: 50%;
        }

        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        body {
            font-size: 15px;
        }

        p {
            margin: 2px;
            padding: 2px;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr style="border:hidden">
            <td style="width:50%; border:hidden">
                COMERCIALIZADORA HOMAZ S.A.S <br />
                NIT 816.003.186-5 <br />
                SEDE PRINCIPAL <br />
                Avenida 30 de Agosto No. 94-165 PBX. 3135000<br />
                Pereira - Risaralda
            </td>
            <td style="width:25%">
                <h3 style="text-align:left">@Model.tipoEntrada N°: @Model.prefijo - @Model.numeroEntrada </h3>
                <h3 style="text-align:left">Fecha : @Model.fechaEncab</h3>
            </td>

        </tr>
    </table>
    <br />
    <table style="width:100%">


        <tr style="width:50%; text-align:left">
            <th>
                <p>Cliente: @Model.nombreTercero</p>
                <p>Cédula/NIT: @Model.Idtercero</p>
                <p>Teléfono: @Model.telefono</p>
                <p>Vendedor: @Model.vendedor</p>
            </th>
            <th style="width:50%;text-align:left">
                <p>Dirección: @Model.Direccion</p>
                <p>Ciudad: @Model.ciudad</p>
                <p>Factura N°: @Model.numeroRegistro</p>
                <p>Responsable: @Model.responsable</p>
            </th>
        </tr>


    </table>
    <table style="width:100%">
        <tr>
            <td style="padding:0px">
                <h4 style="margin:2px">Por concepto de:</h4>
                <br />
                <p>@Model.detalleConcepto</p>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td>
                <table style="width:100%">
                    @for (var i = 0; i < @Model.referencias.Count(); i++)
                    {
                        <tr>
                            <td style="vertical-align: top;text-align:center;width:25%; border-bottom:collapse; padding:20px; text-align:center; border:hidden">
                                Facturas canceladas <br />
                                @Model.referencias[i].prefijo - @Model.referencias[i].numeroFactura
                            </td>
                            <td style="vertical-align: top; border:hidden;border-bottom:collapse; text-align:center;width:25%;border-top:hidden;padding:20px"><br /> $ @Model.referencias[i].valorInicial</td>
                        </tr>
                    }
                </table>
            </td>
            <td style="width:25%;border-right:hidden; text-align:center">
                <p>COSTO REP:</p>
                <p>VALOR:</p>
                <p>DESCUENTOS:</p>
                <p>SUBTOTAL:</p>
                <p>IVA:</p>
                <p>TOTAL:</p>
            </td>
            <td style="width:%;text-align:center">
                <p>@Model.valorRetoma</p>
                <p>@Model.valorTotal</p>
                <p>@Model.descuento</p>
                <p>@Model.subtotal</p>
                <p>@Model.iva</p>
                <p><strong>@Model.totalfinal</strong></p>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="width:50%;height:80px;vertical-align:bottom;text-align:center">CONTABILIZADO</td>
            <td style="width:50%;height:80px;vertical-align:bottom;text-align:center">FIRMA AUTORIZADA</td>
        </tr>
    </table>

</body>
</html>