@model Homer_MVC.IcebergModel.vaccesoriomodelo

@{
    ViewBag.Icono = "fa fa-binoculars";
    ViewBag.Title = "Accesorios Por Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Actualizar @ViewBag.Title</small>
        </div>
    </div>
</div>


<div class="panel-body">
    <div class="hpanel">

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p>@TempData["mensaje_error"]</p>
            </div>
        }


        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#crear"><i class="@ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title</a></li>
                <li class="" onclick="buscarAjaxModeloAccesorios();"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            <div id="crear" class="tab-pane active">
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="panel-body-btns text-right">
                            <a class="btn btn-info" href="../../accesoriosModelo?menu=@ViewBag.id_menu">&nbsp;&nbsp;&nbsp;Crear nuevo</a>&nbsp;&nbsp;
                            <button class="btn btn-info" type="submit" id="save"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Actualizar</button>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.Hidden("menu")
                        @Html.HiddenFor(model => model.id_accesorio_modelo)
                        @Html.HiddenFor(model => model.id_licencia)
                        @Html.HiddenFor(model => model.userid_creacion)
                        @Html.HiddenFor(model => model.user_idactualizacion)
                        @Html.HiddenFor(model => model.fec_creacion)
                        @Html.HiddenFor(model => model.fec_actualizacion)

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="@ViewBag.Icono"></i>&nbsp;&nbsp;&nbsp;Datos generales
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Modelo:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("modeloid", null, "", htmlAttributes: new { @class = "form-control js-source-states", @placeholder = "Seleccione" })
                                                    <input type="hidden" name="modeloidText" id="modeloidText" value="" />
                                                    @Html.ValidationMessageFor(model => model.modeloid, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Buscar Referencias:&nbsp;<span class="text-danger">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.Editor("txtBuscarReferencia", new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese nombre o codigo" } })
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-sm btn-info btn-circle" id="buscarReferencia"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Accesorios:&nbsp;<span class="text-danger"></span></label>
                                                <div class="col-md-6">
                                                    <select id="accesorios" name="accesorios" multiple="multiple">
                                                        @*@foreach (var item in ViewBag.accesorios)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="hpanel">
                                <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
                                    <div class="panel-tools">
                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>

                                    </div>
                                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Información
                                </div>
                                <div class="panel-body">

                                    <div class="col-sm-3 small">
                                        <p>Creado por: @ViewBag.user_nombre_cre</p>
                                    </div>

                                    <div class="col-sm-3 small">
                                        <p>Fecha creación: @Html.DisplayFor(model => model.fec_creacion)</p>
                                    </div>

                                    <div class="col-sm-3 small">
                                        <p>
                                            Actualizado por:  @{if (ViewBag.user_nombre_act == null)
                                                {
                                                <p class="text-danger">no se han realizado actualizaciones</p>
                                            }
                                            @ViewBag.user_nombre_act
                                            }
                                            </p>
                                        </div>

                                        <div class="col-sm-3 small">
                                            <p>
                                                Ultima actualización:  @{if (Model.fec_actualizacion == null)
                                                    {
                                                    <p class="text-danger">no se han realizado actualizaciones</p>
                                                }
                                                @Html.DisplayFor(model => model.fec_actualizacion)
                                                }
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            }
                </div>
            </div>

            <div id="buscar" class="tab-pane">
                <div class="panel-body">
                    <div class="panel-body-busqueda">
                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Modelo</th>
                                        <th style="text-align:center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            //var ids = new Array();
            $.ajax({
                url: '/accesoriosModelo/GetAccesoriosActual',
                data: { idModelo: $("#modeloid").val() },
                type: "post",
                cache: false,
                success: function (data) {

                    $('#accesorios').empty();
                    for (var i = 0; i < data.length; i++) {
                        //ids.push(data[i].referencia);

                        $('#accesorios').append($('<option>', {
                            value: data[i].id,
                            text: data[i].nombre,
                            selected: 1
                        }));
                    }

                    //$('#accesorios').val(ids);
                    $('#accesorios').multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400,
                        //dropUp: true,
                        enableCaseInsensitiveFiltering: true
                    });
                }
            });

            $('#modeloid').select2();
            $('#modeloid option:not(:selected)').attr('disabled', true);
            setTimeout(function () {
                $("#mensaje").fadeOut(1500);
            }, 3000);
            setTimeout(function () {
                $("#mensaje_error").fadeOut(1500);
            }, 3000);
        });

        function valida(id) {
            window.location.href = '@Url.Action("update", "accesoriosModelo")?menu='+@ViewBag.id_menu+'&&id=' + id;
        }

        $('#buscarReferencia').click(function(){
            var refer=$('#txtBuscarReferencia').val();
            if(refer.length>=3){
                buscarReferencia(refer);
            }
        });

        function buscarReferencia(refer){

            var otrasreferencias=$('#accesorios').val();
            debugger;
            $.ajax({
                url: '/pedidoSugerido/BuscarReferencias',
                data: {
                    id: refer,
                    otras:otrasreferencias
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#accesorios').empty();
                    for (var i = 0; i < data.length; i++) {
                        if(data[i].selected==1){
                            $('#accesorios').append($('<option>', {
                                value: data[i].id,
                                text: data[i].nombre,
                                selected:data[i].selected
                            }));
                        }
                        else{
                            $('#accesorios').append($('<option>', {
                                value: data[i].id,
                                text: data[i].nombre,
                            }));
                        }

                    }

                    $('#accesorios').multiselect("destroy").multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400,
                        enableFiltering: true,
                        enableCaseInsensitiveFiltering: true
                    });
                }
            });
        }

        function buscarAjaxModeloAccesorios() {

            $.ajax({
                url: '/accesoriosModelo/BuscarModelosPaginadas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr><td align="left">'
                            + data[i].modvh_nombre + '</td><td width="5%" align="center"><button class="btn btn-info btn-xs" onclick="valida('
                            + '\'' + data[i].modvh_codigo
                            + '\')">&nbsp;&nbsp;Ver&nbsp;&nbsp;</button></td></tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            });
        }

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}