
@{
    ViewBag.Title = "Grafico Lealtad";
    ViewBag.Icono = "fa fa-bar-chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section Styles {
    @Styles.Render("~/bundles/select2/css")
}

<!-- App styles -->
<link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
<link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/vendor/chartist/custom/chartist.css" />
<link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>@ViewBag.Title</small>
        </div>
    </div>
</div>


<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">
            <div id="principal" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-sm-2"><label class="control-label">Fecha inicio:&nbsp;</label></div>

                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="fechaini" name="fechaini" required="required">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-sm-2"><label class="control-label">Fecha fin:&nbsp;</label></div>

                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="fechafin" name="fechafin" required="required">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-sm-2"><label>Bodega(s)</label></div>
                            <div class="col-sm-4">
                                <select id="listar_bodegas" name="listar_bodegas" multiple="multiple" required></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" id="btnFiltrar"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filtrar</button>
                        </div>
                    </div>


                    <div class="row">
                        <div id="torta" style="width: 100%;height: 400px"></div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="tablareferencias">
                        <thead>
                            <tr>
                                <th style="text-align:center">Bodega </th>
                                <th style="text-align:center">Concesionario </th>
                                <th style="text-align:center">Cantidad </th>
                                <th style="text-align:center">% Bruto</th>
                                <th style="text-align:center">% Neto</th>
                                <th style="text-align:center">Total Compras</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="row">
                        <div id="torta" style="width: 100%;height: 400px"></div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js">
        <</script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Ven-ew3dor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>

    <script src="~/Vendor/AmCharts/lib/3/amchart2.js"></script>
    <script src="~/Vendor/AmCharts/lib/3/pie.js"></script>
    <script src="~/Scripts/graficos.js?hora=@ViewBag.horas"></script>
    <script src="~/Vendor/AmCharts/lib/3/themes/light.js"></script>

    <script type="text/javascript">
              $(document).ready(function () {
         
                  $('.js-source-states').select2();

                    var fecha = '@DateTime.Now.ToString("yyyy-MM-dd")';
                var mes = '@DateTime.Now.Month';
                if (parseInt(mes) < 10) { mes = '0' + mes;}


                var fecha2 = '@DateTime.Now.Year' + '-' +mes + '-01';
                 $("#fechaini").val(fecha2);
                $("#fechaini").find('imput').val(fecha);
                $("#fechafin").val(fecha);
                $("#fechafin").find('imput').val(fecha);
                    buscarBodegas();
              });

        
        function buscarBodegas() {
            $.ajax({
                url: '/kardex/BuscarBodegas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {


                    for (var i = 0; i < data.length; i++) {
                        $('#listar_bodegas').append($('<option>', {
                            value: data[i].id,
                            text: data[i].bodccs_nombre
                        }));
                    }
                     $('#listar_bodegas').multiselect("destroy").multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 800,
                    });

                    $('#listar_bodegas').multiselect('refresh');

                }
            })
        }
   $('#btnFiltrar').click(function () {
                   var fechaini = $('#fechaini').val()
            var fechafin = $('#fechafin').val()
            var bodegas = $('#listar_bodegas').val()

                 tortalealtad(fechaini, fechafin, bodegas)

        });

        

        function tortalealtad(fechaini, fechafin,bodegas) {
    $.ajax({
        url: '/IndicadoresGraficos/ConsultaGraficoLealtad',
        data: {  
            fechainicio: fechaini,
            fechafin: fechafin,
            bodegas: bodegas
        },
        type: 'post',
        cache: false,
        success: function (data) {

            var datos = [];
         
            for (var i = 0; i < data.length; i++) {
                datos[i] = {
                    "title": data[i].Preovedor,
                    "valor": parseInt(data[i].cantidad),
                    "descripcion": data[i].cantidad
                }
            }

            var chart = AmCharts.makeChart("torta", {
                "type": "pie",
                "theme": "light",
                "dataProvider": datos,
                "valueField": "valor",
                "titleField": "title",
                "descriptionField": "descripcion",
                "outlineAlpha": 0.4,
                "depth3D": 15,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[description]]</b> ([[percents]]%)</span>",
                "angle": 30,
                "legend": {
                    "useGraphSettings": false,
                    "valueText": ""
                },
                "export": {
                    "enabled": false
                }
            });

         
             buscarDatosLealtad(bodegas )
        }
    })
}



         function buscarDatosLealtad(idbodega) {

           
                var fechaini = $('#fechaini').val()
            var fechafin = $('#fechafin').val()

    
                       $.ajax({
                url: '/IndicadoresGraficos/Datostablalealtad',
                data: {
                          fechainicio: fechaini,
                          fechafin: fechafin,
                          bodegas: idbodega
                },
                type: 'post',
                cache: false,
                           success: function (data) {
                               console.log(data);
                    $('#tablareferencias').dataTable().fnDestroy();
                    $('#tablareferencias').find('tbody').empty();


                        $('#tablareferencias').find('tbody').empty();
                               for (var i = 0; i < data.nombreCon.length; i++) {
                                   $('#tablareferencias').find('tbody').append(
                                       '<tr align="center">'
                                       + '<td align="left">' + data.nombreCon[i].bodccs_nombre  + '</td>'
                                       + '<td align="left">' + data.nombreCon[i].Nombre_proveedor + '</td>'
                                       + '<td align="left">' + data.cantidadTotal[i] + '</td>'
                                       + '<td align="right">' + data.porBruto[i] + '</td>'
                                       + '<td align="right">' + data.porneto[i] + '</td>'
                                       + '<td align="right">' + data.valortotal + '</td>'
                                       + '</tr>'
                                         );
       }

                },
                complete: function (data) {
                    $('#tablareferencias').dataTable({

                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },

                        ]
                    });
                }
            })



        }






    </script>
       
    }