@model Homer_MVC.IcebergModel.ttecnicos

@{
    ViewBag.Title = "Liquidación de Mano de Obra de los Técnicos";
    ViewBag.Icono = "fa fa-address-book-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet" />
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>


<div class="panel-body" style="padding-top:0px;">
    <div class="hpanel">
        @if (TempData["mensaje"] != null)
        {
            <br />
            <div class="alert alert-success  alert-dismissible" id="mensaje">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-check fa-2x"></i> @TempData["mensaje"]</p>
            </div>
        }

        @if (TempData["mensaje_error"] != null)
        {
            <br />
            <div class="alert alert-danger  alert-dismissible" id="mensaje_error">
                <button type="button" class="close" data-dismiss="alert" arial-label="close"><span aria-hidden="true">&times;</span></button>
                <p><i class="fa fa-times fa-2x"></i> @TempData["mensaje_error"]</p>
            </div>
        }

        <div id="tabs" class="tab-content">

            <div class="m float-e-margins text-right">
                <div class="tooltip-demo">

                    <div id="div-mensaje"></div>

                </div>
            </div>

            <ul id="tabs-crear" class="nav nav-tabs">
                @*<li class="active"><a data-toggle="tab" href="#crear"><i class="fa fa-search"></i>&nbsp;&nbsp;Crear</a></li>*@
                <li class="active"><a data-toggle="tab" href="#buscar"><i class="fa fa-search"></i>&nbsp;&nbsp;Búsquedas</a></li>
            </ul>

            @Html.Hidden("menu")

            <div id="buscar" class="tab-pane active">
                <div class="panel-body">

                    <div class="panel-body-btns text-right">
                        <button class="btn btn-danger" type="button" id="btnExportar" onclick="ExportarExcel()"><i class="fa fa-file-excel-o">&nbsp;Exportar Excel</i></button>
                        <button class="btn btn-info" type="button" onclick="buscarLiquidacionTecnicosMO()"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Buscar</button>
                    </div>

                    <div class="panel-body-busqueda">

                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Bodega:&nbsp;<span class="text-danger"></span></label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("bodccs_cod", null, "", htmlAttributes: new { @class = "form-control js-source-states" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Técnico:&nbsp;<span class="text-danger"></span></label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("tecnico", null, "", htmlAttributes: new { @class = "form-control js-source-states" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-5" style="padding-right: 0">
                                        <input type="text" class="input-sm form-control col-md-4 fechas" name="desde" id="desde" value="" placeholder="Fecha Inicio" autocomplete="off" />
                                    </div>
                                    <div class="col-md-2" style="padding-left: 0; padding-right: 0;">
                                        <span class="input-group-addon">Hasta</span>
                                    </div>
                                    <div class="col-md-5" style="padding-left: 0">
                                        <input type="text" class="input-sm form-control col-md-4 fechas" name="hasta" id="hasta" value="" placeholder="Fecha Fin" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="table-responsive">
                            <div id="div-mensaje-buscar"></div>
                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Placa</th>
                                        <th style="text-align:center">OT</th>
                                        <th style="text-align:center">Fecha</th> @*fecha liquidacion*@
                                        <th style="text-align:center">Codigo Operario</th>
                                        <th style="text-align:center">Tarifa Cliente</th>
                                        <th style="text-align:center">Operación</th>
                                        <th style="text-align:center">Horas Cliente</th>
                                        <th style="text-align:center">Horas MC</th>
                                        <th style="text-align:center">Horas SR</th>
                                        <th style="text-align:center">Horas LyP</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <hr />

                            <table class="table table-striped table-bordered table-hover" id="tablaPaginada2" style="display:none">
                                <thead>
                                    <tr>    
                                        <th style="text-align:center">Total Horas Cliente</th>
                                        <th style="text-align:center">Total Horas MC</th>
                                        <th style="text-align:center">Total Horas SR</th>
                                        <th style="text-align:center">Total Horas LyP</th>
                                        <th style="text-align:center">Total General</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/jsZipDataTables.js"></script>
    <script src="~/Vendor/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#desde").datetimepicker({
                format: 'YYYY-MM-DD',
            });
            $("#hasta").datetimepicker({
                format: 'YYYY-MM-DD',
            });

            $('#menu').val(@ViewBag.id_menu);

            buscarAjaxLiquidacionMO();
        });

        function valida(id) {
            
        }



        function buscarLiquidacionTecnicosMO() {

            let bodega = $('#bodccs_cod').val();
            let tecnico = $('#tecnico').val();
            let desde = $('#desde').val();
            let hasta = $('#hasta').val();

            $('#tablaPaginada').dataTable().fnDestroy();
            $('#tablaPaginada2').dataTable().fnDestroy();

            $('#tablaPaginada2').show();

            $.ajax({
                url: '/tecnicos/BuscarLiquidacionTecnicoMO',
                data: {
                    bodega: bodega,
                    tecnico: tecnico,
                    desde: desde,
                    hasta:hasta,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    debugger;
                    var datos = data.data;
                    var datos2= data.data2;

                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < datos.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr>'

                            + '<td align="left">' + datos[i].placa + '</td>'
                            + '<td align="left">' + datos[i].ot + '</td>'
                            + '<td align="left">' + datos[i].fecha + '</td>'
                            + '<td align="left">' + datos[i].codigo + '</td>'
                            + '<td align="left">' + datos[i].descripcion + '</td>'
                            + '<td align="left">' + datos[i].operacion + '</td>'
                            + '<td align="left">' + datos[i].horasClientes + '</td>'
                            + '<td align="left">' + datos[i].horasMC + '</td>'
                            + '<td align="left">' + datos[i].horasSR + '</td>'
                            + '<td align="left">' + datos[i].horasLYP + '</td>'
                            + '</tr>');
                    }

                     $('#tablaPaginada2').find('tbody').empty();
                    for (var i = 0; i < datos2.length; i++) {
                        $('#tablaPaginada2').find('tbody').append('<tr>'

                            + '<td align="left">' + datos2[i].totalHoraCliente + '</td>'
                            + '<td align="left">' + datos2[i].totalHoraMC + '</td>'
                            + '<td align="left">' + datos2[i].totalHoraSR + '</td>'
                            + '<td align="left">' + datos2[i].totalHoraLYP + '</td>'
                            + '<td align="left">' + datos2[i].totalGeneral + '</td>'
                            + '</tr>');
                    }


                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({

                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [

                        ]
                    });
                }
            });
        }



       function buscarAjaxLiquidacionMO() {
            $('#tablaPaginada').dataTable().fnDestroy();
            $.ajax({
                url: '/tecnicos/BuscarLiquidacionMO',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#tablaPaginada').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tablaPaginada').find('tbody').append('<tr>'

                            + '<td align="left">' + data[i].placa + '</td>'
                            + '<td align="left">' + data[i].ot + '</td>'
                            + '<td align="left">' + data[i].fecha + '</td>'
                            + '<td align="left">' + data[i].codigo + '</td>'
                            + '<td align="left">' + data[i].descripcion + '</td>'
                            + '<td align="left">' + data[i].operacion + '</td>'
                            + '<td align="left">' + data[i].horasClientes + '</td>'
                            + '<td align="left">' + data[i].horasMC + '</td>'
                            + '<td align="left">' + data[i].horasSR + '</td>'
                            + '<td align="left">' + data[i].horasLYP + '</td>'
                            + '</tr>');
                    }
                },
                complete: function (data) {
                    $('#tablaPaginada').dataTable({
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                        ]
                    });
                }
            });
        }

        function ExportarExcel() {

            var bodega = $('#bodccs_cod').val();
            var tecnico=$('#tecnico').val();
            var fechaini = $('#desde').val();
            var fechafin = $('#hasta').val();

            window.open('@Url.Action("DescargarExcel", "tecnicos")?bodega=' + bodega + "&tecnico=" + tecnico + "&fechaini=" + fechaini + "&fechafin=" + fechafin, '_blank');

        }

    </script>
}

