@model Homer_MVC.Models.PDFmodel
@using System.Globalization;
@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("el-GR");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Salida Por Devolución En Compras</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
            font-family:Arial
        }
        table, tr, td{
            border-collapse: collapse;
            border: 1px solid #0d0c0c;
            padding: 0px;
            margin:0px;
            min-height:50px;
            font-family:Arial
        } 
        body {
            font-size: 15px;
            font-family:Arial;
        }
        .bordes {
            border:none;
            
        }
        .bordesTR {
            border: none;
            text-align:center
        }
        
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td colspan="6" align="center"><h3 style="text-transform: uppercase; margin:1px; padding:1px;">@Model.empresa&nbsp;&nbsp;-&nbsp;&nbsp;@Model.tipoDocumento</h3></td>
            <td colspan="2" align="right"><h3 style="margin:1px; padding:1px;">N°&nbsp;&nbsp;@Model.numeroRegistro</h3></td>           
        </tr>
        <tr>
            <td colspan="6" align="center"><h3 style="text-transform: uppercase; margin:1px; padding:1px;">@Model.bodega</h3></td>
            <td colspan="2" align="center">@DateTime.Now.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;&nbsp;<u>Fac N°</u>&nbsp;&nbsp;<strong>@Model.numeroFactura</strong></td>
            <td colspan="6">&nbsp;&nbsp;<u>Proveedor:</u>&nbsp;&nbsp;<strong style="text-transform: uppercase;">@Model.proveedor&nbsp;&nbsp;&nbsp;C.C./nit&nbsp;@Model.nit&nbsp;-&nbsp;@Model.digitoVerificacion</strong></td>
        </tr>
        <tr>
            <th>Referencia</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Dcto</th>
            <th>Iva</th>
            <th>Cos. Total</th>
            <th>Val. Total</th>
            <th>Notas</th>
        </tr>
            @for (int i = 0; i < Model.referencias.Count; i++)
            {
        <tr class="bordesTR">
            <td class="bordes">@Model.referencias[i].codigo</td>
            <td class="bordes">@Model.referencias[i].descripcion</td>
            <td class="bordes">@Model.referencias[i].cantidad.ToString("0,0")</td>
            <td class="bordes">@Model.referencias[i].descuento</td>
            <td class="bordes">@Model.referencias[i].iva</td>
            <td class="bordes">@Model.referencias[i].costo.ToString("0,0", elGR)</td>
            <td class="bordes">@Model.referencias[i].costoTotal.ToString("0,0", elGR)</td>
            <td class="bordes">@Model.referencias[i].notas</td>
        </tr>
            }
        <tr>
            <td colspan="1" class="bordes">
                <strong>
                <br />&nbsp;COSTO TOTAL <br />&nbsp;FECHA FACTURA<br /><br />&nbsp;AUTORIZADO
                </strong>
            </td>
            <td colspan="2" class="bordes">
                <strong>
                    <br />&nbsp;@Model.TotalTotales.ToString("0,0", elGR)<br />&nbsp;@Model.fechaEncabezado<br /><br />&nbsp;
                </strong>
            </td>
            <td colspan="2" class="bordes">
                <strong>
                    VALOR BRUTO<br />
                    VALOR DCTO.<br />
                    VALOR FLETES<br />
                    BASE IVA<br />
                    VALOR IVA<br />
                    VALOR TOTAL<br />
                </strong>
            </td>
            <td colspan="1" class="bordes" align="right">
                <strong>
                    @Model.TotalTotales.ToString("0,0", elGR)<br />
                    @Model.totalDescuento.Value.ToString("0,0", elGR)<br />
                    @Model.fletes.ToString("0,0", elGR)<br />
                    @Model.TotalTotales.ToString("0,0", elGR)<br />
                    @Model.iva<br />
                    @Model.totalfinal<br />
                </strong>
            </td>
            <td colspan="2" class="bordes" ></td>            
        </tr>
    </table>
</body>
</html>
