@{
    ViewBag.Title = "Check List Entregas";
    ViewBag.Icono = "fa fa-file-text-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>


<div class="panel-body" style="padding-top:10px;">
    <div class="hpanel">

        <div id="tabs" class="tab-content">

            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("menu")

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="hpanel">

                            <div class="panel-body">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Plan Mayor:&nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-md-6">
                                            @Html.Editor("txtPlanMayorBuscar", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary" id="btnBuscarPlan"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Buscar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="display:none" id="areaAlerta">
                                    <div class="form-group">
                                        <div class="alert alert-info text-center">
                                            <strong>Alerta!</strong><p id="mensajeAlerta"></p>
                                        </div>
                                    </div>
                                </div>

                                <div id="areaCamposOcultos" style="display:none;">

                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <h4><span class="label label-default">Detalles Vehiculo</span></h4>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Plan Mayor:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtPlanMayor", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">VIN:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtVin", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Numero Motor:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtNumeroMotor", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Placa:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtPlaca", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Modelo:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtModelo", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Color:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtColor", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <h4><span class="label label-default">Detalles Cliente</span></h4>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipo Documento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtTipoDocumento", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Documento:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtDocumento", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Primer Nombre:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtPrimerNombre", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Segundo Nombre:&nbsp;<span class="text-danger">*</span></label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtSegundoNombre", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Primer Apellido:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtPrimerApellido", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Segundo Apellido:&nbsp;</label>
                                            <div class="col-md-6">
                                                @Html.Editor("txtSegundoApellido", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <div class="col-md-offset-4">
                                                <button type="button" class="btn btn-primary" id="btnImprimirCheck"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Check List Entrega</button>
                                                <button type="button" class="btn btn-primary" id="btnImprimirInspeccion"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Inspecci&oacute;n Pre Entrega</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#menu').val(@ViewBag.id_menu);
            asignar_plan()
        });

        function asignar_plan(){
            var plan = $('#txtPlanMayorBuscar').val();
            if (plan != null && plan != "") {
                $('#btnBuscarPlan').trigger('click')
            }
        }

        $('#btnBuscarPlan').click(function () {
            $.ajax({
                url: '/checkListEntregas/BuscarPlanMayor',
                data: {
                    planMayor: $('#txtPlanMayorBuscar').val()
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.encontrado == true) {
                        if (data.sinPropietario == true) {
                            $('#areaCamposOcultos').hide();
                            $('#mensajeAlerta').text('El vehiculo se encuentra registrado pero no tiene asignado propietario');
                            $('#areaAlerta').show();
                        } else {
                            $('#areaAlerta').hide();
                            $('#txtPlanMayor').val(data.buscarVehiculo.plan_mayor);
                            $('#txtVin').val(data.buscarVehiculo.vin);
                            $('#txtNumeroMotor').val(data.buscarVehiculo.nummot_vh);
                            $('#txtPlaca').val(data.buscarVehiculo.plac_vh);
                            $('#txtModelo').val(data.buscarVehiculo.modvh_nombre);
                            $('#txtColor').val(data.buscarVehiculo.colvh_nombre);
                            $('#txtTipoDocumento').val(data.buscarVehiculo.tpdoc_nombre);
                            $('#txtDocumento').val(data.buscarVehiculo.doc_tercero);
                            $('#txtPrimerNombre').val(data.buscarVehiculo.prinom_tercero);
                            $('#txtSegundoNombre').val(data.buscarVehiculo.segnom_tercero);
                            $('#txtPrimerApellido').val(data.buscarVehiculo.apellido_tercero);
                            $('#txtSegundoApellido').val(data.buscarVehiculo.segapellido_tercero);
                            $('#areaCamposOcultos').show();
                        }
                    } else {
                        $('#areaCamposOcultos').hide();
                        $('#mensajeAlerta').text('El vehiculo no se encuentra registrado');
                        $('#areaAlerta').show();
                    }
                },
                complete: function (data) {

                }
            });
        });


        $('#btnImprimirCheck').click(function () {
            window.open('@Url.Action("checkEntregas", "checkListEntregas")', '_blank');
        });



        $('#btnImprimirInspeccion').click(function () {
            window.open('@Url.Action("inspeccionPreEntrega", "checkListEntregas")?id=' + $('#txtPlanMayor').val(), '_blank');
        });

        function AgregarQuitarFavorito(){
            $.ajax({
                url: '/Inicio/AgregarQuitarFavorito',
                data: {
                    id_menu: @ViewBag.id_menu,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    if (data.esFavorito == true) {
                        $('#areaFavoritos').html("<i class='fa fa-close'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Quitar de Favoritos</a>");
                    } else {
                        $('#areaFavoritos').html("<i class='fa fa-check'></i>&nbsp;&nbsp;<a href='#' onclick='AgregarQuitarFavorito();return false;'>Agregar a Favoritos</a>");
                    }
                }
            });
        }

    </script>

}