@model Homer_MVC.Models.PedidoCotizacionPDFModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContratoCompraventa</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <table>
            <tr>
                <td style="width:30%; text-align:center;"><img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" /></td>
                <td style="width:40%; text-align:center"><h4>CONTRATO DE COMPRAVENTA<br /><p style="padding:8px;">N. @Model.NumeroPedido</p></h4></td>
                <td style="width:40%">
                    <p style="font-size:11px; padding:0px; margin:0">COMERCIALIZADORA HOMAZ S.A.S. NIT 816.003.186-5</p>
                    <p style="font-size:11px; padding:0px; margin:0">@Model.NombreBodega</p>
                    <p style="font-size:11px; padding:0px; margin:0">@Model.DireccionBodega</p>
                    <p style="font-size:11px; padding:0px; margin:0">@Model.CiudadBodega - @Model.DepartamentoBodega</p>
                    <p style="font-size:11px; padding:0px; margin:0">www.caminos.com.co</p>
                    <p style="font-size:11px; padding:0px; margin:0">caminos@caminos.com.co</p>
                </td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td style="padding-left:5px; margin:0px;">
                    <p style="display:inline-block; width:30%;padding:0px; margin:0px;">Dia / @Model.DiaPedido </p><p style="display:inline-block;
                    width:30%;padding:0px; margin:0px;">Mes /@Model.MesPedido</p><p style="display:inline-block; width:30%;padding:0px; margin:0px;">A&ntilde;o / @Model.AnioPedido</p>
                </td>
            </tr>
        </table>
        <table style="width:100%">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="4">DATOS DEL CLIENTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%; background:#e5e5e5">NOMBRES Y APELLIDOS</td>
                    <td style="width:30%">@Model.NombresCliente</td>
                    <td style="width:25%; background:#e5e5e5">PROFESION</td>
                    <td style="width:25%">@Model.ProfesionCliente</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">CC / NIT</td>
                    <td style="width:30%">@Model.CedulaNit</td>
                    <td style="width:25%; background:#e5e5e5">E-MAIL</td>
                    <td style="width:25%">@Model.EmailCliente</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5">ESTADO CIVIL</td>
                    <td style="width:25%">@Model.EstadoCivil</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">CIUDAD</td>
                    <td style="width:30%">@Model.CiudadCliente</td>
                    <td style="width:25%; background:#e5e5e5">FECHA DE NACIMIENTO</td>
                    <td style="width:25%">@Model.FechaNacimientoCliente</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">TELEFONOS</td>
                    <td style="width:30%">@Model.TelefonoCliente</td>
                    <td style="width:25%; background:#e5e5e5">CELULAR</td>
                    <td style="width:25%">@Model.CelularCliente</td>
                </tr>
            </tbody>
        </table>

        <table style="width:100%; margin-top:5px;">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="2">REFERENCIAS</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="width:20%; background:#e5e5e5">REFERENCIAS</td>
                    <td style="width:30%">@Model.ModeloVehiculo</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5"></td>
                    <td style="width:25%"></td>
                </tr>
            </tbody>
        </table>



        <table style="width:100%; margin-top:5px;">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="2">PRECIO DEL REFERENCIA</th>
                    <th colspan="2">FORMA DE PAGO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%; background:#e5e5e5">PRECIO AL PUBLICO</td>
                    <td style="width:30%">@Model.PrecioAlPublico</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">DESCUENTO</td>
                    <td style="width:30%">@Model.Descuento</td>
                    <td style="width:20%; background:#e5e5e5">TOTAL</td>
                    <td style="width:30%">@Model.Total</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">PRECIO DE VENTA</td>
                    <td style="width:30%">@Model.PrecioVenta</td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5"></td>
                    <td style="width:30%"></td>
                    <td style="width:25%; background:#e5e5e5">NOTAS CREDITO</td>
                    <td style="width:25%"></td>
                </tr>
            </tbody>
        </table>

        <table style="width:100%; margin-top:5px;">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="1">OBSERVACIONES GENERALES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:100%; height:40px; background:#e5e5e5"></td>
                </tr>
            </tbody>
        </table>


        <table style="width:100%; margin-top:5px;">
            <tbody>
                <tr>
                    <td style="width:20%; background:#e5e5e5">VISADO MARGEN</td>
                    <td style="width:30%"></td>
                    <td style="width:25%; background:#e5e5e5">PRENDA A FAVOR DE</td>
                    <td style="width:25%"></td>
                </tr>
                <tr>
                    <td style="width:20%; background:#e5e5e5">VENDEDOR</td>
                    <td style="width:30%">@Model.CedulaVendedor / @Model.Vendedor</td>
                    <td style="width:25%; background:#e5e5e5">APROBADO POR</td>
                    <td style="width:25%">@Model.CedulaAprobado / @Model.NombreAprobado</td>
                </tr>
                <tr><td colspan="4" style="height:8px;"></td></tr>
                <tr>
                    <td colspan="4" style="font-size:11px;">
                        EL CLIENTE DECLARA QUE CONOCE Y ACEPTA LAS CLAUSULAS IMPRESAS AL RESPALDO DE ESTE CONTRATO Y AUTORIZA A LA CONCESIONARIA
                        PARA QUE OBTENGA DE CUALESQUIERA FUENTES LA INFORMACION Y REFERENCIAS NECESARIAS PARA EL ESTUDIO DEL CREDITO, EN SU CASO, ASI MISMO DECLARA QUE LA FIRMA
                        QUE APARECE ABAJO ES AUTENTICA.
                    </td>
                </tr>
                <tr><td colspan="4" style="height:8px;"></td></tr>
                <tr>
                    <td colspan="3" style="font-size:11px;">
                        Nota: Algunas empresas o personas prestadoras de servicios sugeridas por LA CONCESIONARIA en razon de su seriedad, conocimiento y cumplimiento para efectos de:
                        financiaci&oacute;n; instalaci&oacute;n de accesorios; elaboraci&oacute;n de carrocerias; tr&aacute;mites ante el Ministerio de Transporte, Institutos
                        Departamentales o Municipales de Transito; inscripci&oacute;n del Registro Nacional Automotor(RNA); permisos de carga; afiliaciones ante entidades transportadoras
                        de pasajeros o carga; u otros servicios que no preste LA CONCESIONARIA, no comprometen la responsabilidad de la misma para obtener el resultado final contratado
                        por el CLIENTE; pues dicha recomendaci&oacute;n es simplemente "RECOMENDACION" y no compromiso de resultado final; as&iacute; lo acepta el cliente en forma
                        expresa y nos exonera de cualquier responsabilidad.
                    </td>
                    <td colspan="1" style="font-size:11px;">
                        PRECIO SUJETO A CAMBIOS SIN PREVIO AVISO. COMERCIALIZADORA HOMAZ
                        S.A.S. NIT 816.003.186-5
                    </td>
                </tr>
                <tr><td colspan="4" style="height:8px;"></td></tr>
                <tr style="height:100px;">
                    <td colspan="2" style="vertical-align:top">FIRMA DEL CLIENTE<br />CC / NIT.</td>
                    <td colspan="1">HUELLA INDICE DERECHO →</td>
                    <td colspan="1"></td>
                </tr>
            </tbody>
        </table>


        <div style="position:absolute; top:1400px;">
            <p style="text-align:justify; font-size:12px;">
                PRIMERA: El vehículo que por este contrato adquiere EL CLIENTE es un automotor cuyas características generales se encuentran en la cara (a) de este contrato de compraventa.
                Para el caso de vehículos nuevos, COLMOTORES por intermedio de LA CONCESIONARIA garantiza el funcionamiento y los componentes de dicho vehículo en los términos y condiciones
                que consta en la carta de garantía que se entrega. Todo vehículo nuevo está garantizado por el constructor/ensamblador, contra defectos de sus componentes, durante un lapso
                de tiempo definido en la carta de garantía y contado a partir de la fecha de entrega a EL CLIENTE; ello implica el cambio o reparación según instrucciones del fabricante/ensamblador
                de la pieza reconocida defectuosa, siendo gratuita la mano de obra requerida para el caso. Las intervenciones a título de garantía, no extienden, ni prolongan la misma en el tiempo.
                La garantía no cubre el desgaste normal por uso y sus costos. Cuando se invoque la garantía deberá presentar rigurosamente esta carta en el taller autorizado al que lleve su vehículo
                para que se le efectúen los controles, verificaciones, reglajes y ajustes previstos por el fabricante para dicho vehículo y kilometraje. La garantía fenecerá al efectuar en el
                vehículo modificaciones o intervenciones diferentes a las previstas por el fabricante/ensamblador o sus talleres autorizados ó por mala conservación de la cosa o si obedece a accidentes
                causados a personas o cosas. SEGUNDA: Se pacta que del dinero abonado como cuota inicial, EL CLIENTE entrega a título de arras penitenciales una suma que equivale al diez
                porciento (10%) del valor total del precio del vehículo; Suma que quedará ipso facto como propiedad de LA CONCESIONARIA, en caso de retracto por parte de EL CLIENTE, y sin necesidad de
                proceso judicial. PARAGRAFO: Se entenderá que EL CLIENTE se ha retractado perdiendo las arras en favor de LA CONCESIONARIA, por cualquier causa imputable a él y además en los siguientes
                casos: A):Cuando EL CLIENTE no entregue dentro de los cinco (5) días hábiles siguientes a la firma de este contrato, la documentación necesaria dirigida a la entidad mutuante para
                efectos del estudio del crédito que solicita. B). Cuando pasados diez (10) días contados a partir de la fecha de este contrato EL CLIENTE no se presente a realizar los trámites y
                pagos correspondientes a la conclusión de compra del vehículo. C). Cuando EL CLIENTE una vez aprobado el crédito por la entidad mutuante no hiciere uso de este dentro de los cinco
                (5) días siguientes a la fecha de aprobación. D). Cuando EL CLIENTE no entregue, dentro de los diez(1O) días siguientes a la fecha de este contrato la documentación completa y legalizada
                del traspaso de propiedad del vehículo que deja para garantizar parte del pago. PARAGRAFO:2°: LA CONCESIONARIA, podrá ejercer también el derecho de retracción que le confiere este
                contrato si dentro de los cinco (O5)dias siguientes a la disponibilidad del vehículo, EL CLIENTE no se apersona a recibir el mismo ó a pagar el resto del precio. Encaso de retracto
                LA CONCESIONARIA, sólo devolverá a EL CLIENTE la suma de dinero o el vehículo automotor entregado en calidad de parte de pago de la cuota inicial. PARAGRAFO3°:Si EL CLIENTE se retracta de este negocio, y
                dejó un vehículo como parte de pago o mediante un contrato de consignación a LA CONCESIONARIA, para que lo venda, sólo se le devolverá dicho vehículo cuando cancele en efectivo el valor
                de las arras que pierda y se cobrará parqueadero del mismo, a la suma más alta del mercado hasta el día en que se verifique dicho pago. PARAGRAFO 4°: Si se presenta retracto de negocio por cualquier motivo,
                LA CONCESIONARIA, queda facultada para disponer inmediatamente del vehículo que se pretendía vender en este contrato. PARAGRAFO 5°: En el evento que la compañía financiera no desembolse los
                dineros correspondientes al saldo a financiar en la fecha prevista en este contrato, o que EL CLIENTE no pague la suma restante del precio de venta en el plazo pactado; LA CONCESIONARIA
                podrá cobrar, intereses moratorios a la tasa máxima legal vigente contados desde el día siguiente a la fecha pactada en el contrato. Así lo acepta EL CLIENTE y autoriza a LA CONCESIONARIA,
                para descontar dichos intereses de la suma que tuviese que reintegrar en el caso de retracto por parte de EL CLIENTE. TERCERA: El precio señalado al vehículo que se vende por este contrato
                queda sujeto a modificación unilateral por parte de LA CONCESIONARIA, Cuando la fabricante/ensambladora modifique, a su vez, dicho precio. El precio definitivo será el vigente en la fecha
                de entrega del vehículo. EL CLIENTE podrá persistir en la ejecución del contrato pagando la diferencia a LA CONCESIONARIA o desistir de él solicitando la devolución del valor entregado,
                sin que haya lugar a reclamación o indemnización de ningún tipo, por ninguna de las partes, CUARTA: Serán por cuenta de EL CLIENTE los gastos que ocasione la celebración de este contrato
                tales como:A) Autenticaciones, B) Registro de Contrato de Compra Venta, C) Registro de Factura Comercial, D) Gastos de Matrículas y/o Traspasos, E). Otros gastos que se ocasionen, QUINTA:
                El contrato de crédito es una relación directa entre EL CLIENTE y la Compañía prestamista del dinero, que en ningún momento obliga, ni compromete a LA CONCESIONARIA, si el crédito no es aprobado,
                EL CLIENTE perderá a favor de LA CONCESIONARIA las arras arriba indicadas. En caso que la solicitud sea aprobada el depósito se tendrá como abono a este pedido. SEXTA: EL CLIENTE, declara
                que acepta desde ahora las condiciones de pago del crédito y el pago de las cuotas de cualquier seguro accesorio a éste que imponga la compañía financiera. PARAGRAFO: La fábrica/ensambladora
                y/o LA CONCESIONARIA se reservan el derecho de incluir u omitir cualquier equipo especial de acuerdo con los programas de producción, al tiempo de manufacturar este vehículo. Los vehículos
                expuestos, las tarifas, publicidad, catálogos e informaciones, solo podrán entenderse y considerarse a título de ofertas indeterminadas. En tal evento EL CLIENTE podrá transferir el pedido a
                otro modelo de los vehículos vendidos por LA CONCESIONARIA, respetando el cambio de precio que se pueda operar por este cambio ó podrá rescindir el contrato en concordancia con lo estipulado
                en la cláusula cuarta (4") del presente Contrato. SÉPTIMA: La fecha de entrega del vehículo se entiende solo a título indicativo y por ello la fábrica/ensambladora y/o LA CONCESIONARIA quedan
                exentas de responsabilidad por el atraso en la entrega del vehículo y se reservan el derecho de anular cualquier pedido por cualquiera de las siguientes causas: A) Por fuerza mayor ó caso
                fortuito, B) Perturbación del orden público, C) Por disposiciones del gobierno, D) Por falta de existencias, E) Por dificultad en la producción, F) Por dificultades en la obtención de materiales,
                G)Por el incumplimiento por parte de los abastecedores de materia prima, H)Por la demora de EL CLIENTE en obtener la nota del "INTRA"para vehículos de servicio público. OCTAVA: EL CLIENTE se
                compromete a tomar un seguro del vehículo y pondrá a LA CONCESIONARIA y/o la financiera como primer (1 er) Beneficiario, en caso de que la venta sea a crédito. El vehículo no le será
                entregado sin el lleno de este requisito, PARAGRAFO: El orden del pedido se verifica desde la fecha de entrega efectiva del anticipo y la aceptación legal por LA CONCESIONARIA de las
                condiciones de venta y se entiende convenido a título personal en beneficio de EL CLIENTE, quien no puede cederlo sin autorización previa de LA CONCESIONARIA. NOVENA, VEHICULOS COMO NUEVOS, USADOS GARANTIZADOS Y USADOS COMO
                PARTE DEL PRECIO: En caso de que la Orden de Pedido contenga la estipulación del recibo de un vehículo como nuevo, usado garantizado o usado, este recibo queda subordinado a la entrega
                del vehículo nuevo, el cual constituye por expresa convención una parte del precio en especie; por consiguiente, en caso de anulación o rescisión del contrato; Cualquiera que sea la
                causa, LA CONCESIONARIA no estará obligada a comprar el vehículo ofrecido; si esta se encuentra en posesión de él, le será devuelto a EL CLIENTE, pero este deberá reembolsar los gastos
                que hayan sido verificados para colocarlo en estado de venta y además no tendrá derecho a reclamar daños y perjuicios por la privación en el goce del vehículo. En caso que ya se hubiera
                efectuado la venta, solamente se reembolsará el precio, menos una comisión del cinco por ciento (5%), más los gastos e impuestos cubiertos por el traspaso. PARAGRAFO, SITUACION
                DEL BIEN:EL CLIENTE certifica que el estado real del vehículo como nuevo, usado garantizado o usado se encuentra conforme a la descripción dada en el formulario de avalúo practicado,
                que este vehículo es de su exclusiva propiedad y no lo ha enajenado, ni vendido y está libre de todo gravamen, multa, pignoración, impuesto, demandas civiles ó penales, embargos
                judiciales, prendas, contratos de anticresis, arrendamientos, pleitos pendientes, que su derecho de dominio no está sujeto a condiciones resolutorias, no tiene limitaciones,
                ni ha sido desmembrado y que en todo caso saldrá al saneamiento de la venta conforme lo dispone la ley; que fue introducido legalmente al País. El mismo se encuentra en buenas
                condiciones y EL CLIENTE se compromete a devolver el valor de éste con los intereses legales, en caso de que las autoridades civiles, de tránsito, penal o aduanera lo requieran para
                cualquier digencia judicial ó lo incauten; excusando para ello el protesto y rechazo sin alegar a su favor ser comprador, tenedor ó vendedor de buena fe, DECIMA, MERITO EJECUTIVO: Convienen
                las partes que el presente contrato presta mérito ejecutivo per se, sin necesidad de requerimientos judiciales ó privados o constitución en mora previos -a los cuales renuncian
                en forma expresa- y LA CONCESIONARIA podrá proseguir el proceso ejecutivo singular con este documento en el cual se reafirma que EL CLIENTE pagará incondicionalmente a la misma
                la suma estipulada en la parte frontal de este contrato y cualesquier gasto en que incurra aquella para la legalización de los documentos del vehículo; de una vez EL CLIENTE autoriza
                a LA CONCESIONARIA para que llene los espacios en blanco que existen en este documento y además acepta que la fecha de exigibilidad será la misma impuesta por LA CONCESIONARIA en el
                espacio reservado para ello. PARAGRAFO: En el evento de que el vehículo como nuevo, usado garantizado o usado resultare gravado posteriormente con multas, impuestos ó conexos;
                LA CONCESIONARIA podrá efectuar los pagos y ejecutarlos contra EL CLIENTE, con solo llenar el espacio para ello en el frente del presente contrato. DÉCIMAPRIMERA: Este contrato de
                compraventa está sujeto a confirmación por parte de LA CONCESIONARIA conservando todas las cláusulas anteriores y no es válido sin el Vo, Bo. del Departamento de Ventas y la
                Gerencia General. DÉCIMA SEGUNDA:TRADICIÓN DEL BIEN OBJETO DE CONTRATO: Declara EL CLIENTE que el bien objeto de este contrato ha sido adquirido en forma legal con dineros de su propio peculio
                y saldra a probar si fuere necesario la buena y legal procedencia del mismo. Igualmente declara que duarnte el tiempo que el mismo ha estado en su poder, no le ha sido disputada su legal
                posesion, dominio y propiedad, por tercero alguno. DECIMO TERCERA, DOMICILIO CONTRACTUAL: Convienen los contratantes que para todos los efectos judiciales
                o extrajudiciales derivados del presente negocio jurídico, se señala como domicilio contractual, el de LA CONCESIONARIA. DÉCIMACUARTA: La entrega del vehículo se hará una vez sea
                legalizados, y cuando se reciba el desembolso correspondiente. DÉCIMA QUINTA, DECLARACIÓN DE PROCEDENCIA DE FONDOS: EL CLIENTE, quien con pleno valor vinculante
                y consciente de las responsabilidades que ello genera, declara bajo juramento: Yo, ____________________________________________________________________ identificado con documento de identidad
                __________________________ de __________________________ obrando en representacion legal de ______________________________________________________________
                domiciliada en (dirección y ciudad) _____________________________________________  de manera voluntaria y dando certeza de que todo lo aqui consignado es cierto, realizo la siguiente declaracion
                de fuente de fondos a LA CONCESIONARA, con el proposito de que esta de cumplimiento a lo señalado al respecto en la resolucion No 114 de 2007 expedida por la Unidad Administrativa
                Especial de Informacion
                y Análisis Financiero (UIAF) y demás normas legales vigentes para la detección, prevención y en general
                la lucha contra el lavado de activos y la financiación del terrorismo, y demas concordantes que la modifiquen o adicionen. (1) Los recursos que entregue por cualquier concepto a
                LA CONCESIONARIA provienen de las siguientes fuentes (detalle la ocupacion, oficio, profesion, actividad, negocio, etc): ______________________________________________________________
                ________________________________________________________________________________________________ (2) Declaro que los recursos que entregu&eacute; no provienen de ninguna actividad ilicita
                de las contempladas en el codigo penal colombiano o en cualquier norma que las modifique  o adicione.  (3) Declaro que EL CLIENTE no ha efectuado ni efectuará transacciones destinadas a
                realizar o facilitar actividades ilícitas o favor de personas relacionadas con las mismas. (4) Autorizo a LA CONCESIONARIA a terminar unilateralmente los contratos de compraventa suscritos,
                a exigir el pago total de las obligaciones a cargo de EL CLIENTE y a inicial las acciones legales que correspondan en caso a que llegare a infringir cualquiera de los numerales
                contenidos en esta declaracion, eximiendo a LA CONCESIONARIA; a GENERAL MOTOR; y a LA ENTIDAD FINANCIERA, de toda responsabilidad en caso que la informacion por EL CLIENTE
                suministrada y aqui contenida, sea erronea, falsa o inexacta que se hubiere proporcionado en este documento o de la violacion del mismo. En constancia de haber leido, entendido y
                aceptado lo anterior firma el presente documento en el espacio destinado para ello, autorizando a LA CONCESIONARIA, para verificar los datos aqui consignados. En fe de lo anterior
                y en se&ntilde;al de aceptacion de las clausulas contenidas del presente contrato, firmamos en la ciudad de __________________________a los ____________________________ (  )
                dias del mes de _________________________ de dos mil _________.
            </p>
        </div>

    </div>
</body>
</html>