@{
    ViewBag.Title = "Kardex";
    ViewBag.Icono = "fa fa-th-list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    <link href="~/Vendor/BootstrapMultiselect/multiselect.css" rel="stylesheet" />
    <link href="~/Vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendor/EasyAutocomplete-1.3.5/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Vendor/EasyAutocomplete-1.3.5/easy-autocomplete.themes.min.css" rel="stylesheet" />


}

<div class="panel-body">
    <div class="panel-heading" style="background-color:white;  border:solid 1px; border-color:#e4e5e7">
        <div class="panel-body">

            <div id="hbreadcrumb" class="pull-right">

                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Enlaces" data-content="<ul>@ViewBag.nombreEnlaces</ul>" data-html="true">
                    <i class="text-info fa fa-tags"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Documentos" data-content="<ul></i><a href=''>Documento 1</a></ul>  <ul></i><a href=''>Documento 2</a></ul> <ul></i><a href=''>Documento 3</a></ul>" data-html="true">
                    <i class="text-primary fa fa-files-o"></i>
                </button>
                <button type="button" class="btn btn-mini btn-default" style="border-radius:25px" data-container="body" data-toggle="popover" data-placement="left" data-title="Favoritos" data-content="@ViewBag.Favoritos" data-html="true">
                    <i class="text-warning fa fa-star"></i>
                </button>

            </div>
            <h3 class="font-light m-b-xs">
                <i class="text-info @ViewBag.Icono"></i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
            <small>Registro @ViewBag.Title</small>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="hpanel">
        <div class="panel-heading hbuilt" style="background-color:#e4e5e7">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            </div>
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="row">
                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Año desde:&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-append date" id="anioDesde" data-date="10-2018" data-date-format="yyyy">
                            <input type="text" class="form-control" name="date" size="4" data-date="10-2018" required="required">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Mes desde:&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control js-source-states" id="mesDesde" name="mesDesde" required="required">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Año hasta:&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-append date" id="anioHasta" data-date="10-2018" data-date-format="yyyy">
                            <input type="text" class="form-control" name="date" size="4" data-date="10-2018" required="required">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>

                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Mes hasta:&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control js-source-states" id="mesHasta" name="mesHasta" required="required">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Bodega:&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control js-source-states" id="listar_bodegas" name="listar_bodegas" required="required"></select>
                    </div>
                    <div class="col-md-2" style="text-align:right">
                        <label class="control-label">Referencia(s)&nbsp;</label>
                    </div>
                    <div class="col-md-4">
                        @Html.Editor("codigo", new { htmlAttributes = new { @class = "form-control", @placeholder = "#", @onkeyup = "traerReferencias(this.id)" } })
                        @*<input id="codigo" name="codigo" placeholder="Seleccione" class="form-control" onkeyup="traerReferencias(this.id)" />*@
                        @*<select class="form-control js-source-states" id="codigo" name="codigo" placeholder="Seleccione">
                                <option value="">Seleccione</option>
                                @foreach (var item in ViewBag.codigo)
                                {
                                    <option value="@item.ref_codigo">@item.ref_codigo - @item.ref_descripcion</option>
                                }
                            </select>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" style="text-align:right">
                        <button type="button" class="btn btn-primary" id="btnFiltrar" onclick="buscarKardex()"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filtrar</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="alert alert-danger" id="vacio" role="alert" style="display:none">
                        No existe información disponible para los filtros seleccionados
                    </div>
                    <div class="col-lg-12" id="contenedorTablas" name="contenedorTablas">
                    </div>
                    <div class="col-lg-12" id="contenedorTablas2" name="contenedorTablas2">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tablaDetalleMovimiento">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Bodega</th>
                                        <th style="text-align:center">Documento</th>
                                        <th style="text-align:center">No. Doc Interno</th>
                                        <th style="text-align:center">No. Doc Externo</th>
                                        <th style="text-align:center">Cant Entrada</th>
                                        <th style="text-align:center">Cant Salida</th>
                                        <th style="text-align:center">Saldo</th>
                                        <th style="text-align:center">Costo Entrada</th>
                                        <th style="text-align:center">Costo Salida</th>
                                        <th style="text-align:center">Costo Total</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modales *@
<div id="modal_listarUbicacion" class="modal fade bd-example-modal" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Ubicaciones del Repuesto</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tablaDetalleUbicacion">
                        @*id="tablaDetalleNumero">*@
                        <thead>
                            <tr>
                                <th style="text-align:center">Bodega</th>
                                <th style="text-align:center">Ubicación</th>
                                <th style="text-align:center">Notas Ubicación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalExito">Cerrar</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" id="btnUbicacion" onclick="registrarUbicacion()" style="display:none">Registrar Ubicacion</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_listarDetalleMovimiento" class="modal fade bd-example-modal-lg" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Movimientos</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tablaDetalleMovimiento2">
                        <thead>
                            <tr>
                                <th style="text-align:center">Fecha</th>
                                <th style="text-align:center">Prefijo</th>
                                <th style="text-align:center">Nombre</th>
                                <th style="text-align:center">Número</th>
                                <th style="text-align:center">Cant Entrada</th>
                                <th style="text-align:center">Costo Entrada</th>
                                <th style="text-align:center">Cant Salida</th>
                                <th style="text-align:center">Costo Salida</th>
                                <th style="text-align:center">Costo Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalExito">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div id="modalcomprometidosreferencia" class="modal fade bd-example-modal-lg" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Comprometido</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="tablareferenciacomprometido">
                        <thead>
                            <tr>
                                <th style="text-align:center">Numero</th>
                                <th style="text-align:center">Referencia</th>
                                <th style="text-align:center">Bodega</th>
                                <th style="text-align:center">Cliente</th>
                                <th style="text-align:center">Fecha comprometido</th>
                                <th style="text-align:center">No. Separacion</th>
                                <th style="text-align:center">No. Anticipo</th>
                                <th style="text-align:center">No. OT</th>
                                <th style="text-align:center">No. Traslado</th>
                                <th style="text-align:center">No. Solicitud de despacho</th>
                                <th style="text-align:center">No. Despacho salida taller</th>
                                <th style="text-align:center">No. Remision</th>
                                <th style="text-align:center">Responsable</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalExito">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<!-- Vendor scripts -->
@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    <script src="~/Vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Vendor/datatablesExcelExport/dataTable1.4.0-buttons.js"></script>
    <script src="~/Vendor/datatablesExcelExport/JSZip3.1.3.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    <script src="~/Vendor/moment/min/moment.min.js"></script>
    <script src="~/Vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Vendor/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="~/Vendor/BootstrapMultiselect/multiselect.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

        var permiso='@ViewBag.Permiso';

        if (permiso == 'Si') {
            $('#btnUbicacion').show();
        } else {
           $('#btnUbicacion').hide();
        }

            $('.js-source-states').select2();
            var anio = '@DateTime.Now.Year';
            var mesActual = '@DateTime.Now.Month';
            $("#anioDesde").val(anio);
            $("#anioHasta").val(anio);
            $("#mesDesde").val(mesActual - 1).select2();
            $("#mesHasta").val(mesActual).select2();
            $('#anioDesde').find('input').val(anio);
            $('#anioHasta').find('input').val(anio);

            //se cargar el select sin referencias luego sera llenado por ajax
            var referencias = {
                data: []
            };
            $("#codigo").easyAutocomplete(referencias);

            $("#anioDesde").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
            $("#anioHasta").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });

            buscarBodegas();
            buscarKardex();
            $('#vacio').hide();
            $('#contenedorTablas').hide();
            $('#contenedorTablas2').hide();
        });

        function registrarUbicacion() {
            var dataBogeda = $('#listar_bodegas').val();
            var idreferencia = $('#codigo').val();

            if (dataBogeda!= '' && idreferencia!='') {
                let URL = "../../ubirpto?cadena=" + dataBogeda + "," + idreferencia + "";
                window.open(URL, "_blank");
            }

        }

        function traerReferencias(id) {
            var conteo_caracteres = $('#'+id).val().length;

            if (conteo_caracteres==2) {
                $.ajax({
                    url: '/kardex/traerReferencias',
                    data: {
                        referencia: $('#' + id).val()
                    },
                    type: "post",
                    cache: false,
                    success: function (data) {
                        var referencias = {
                            data: data,
                            list: {
                                match: {
                                    enabled: true
                                }
                            }
                        };
                        $("#codigo").easyAutocomplete(referencias);
                        $("#codigo").focus();
                    }
                });
            }

        }
        function busqueda() {
            var codigo_arr = $('#codigo').val().split("|");
            var codigo = codigo_arr[0].trim();
            if (codigo != "") {
                 $.ajax({
                url: '/kardex/BuscarKardexRepuestos',
                data: {
                    anioDesde: $('#anioDesde').find('input').val(),
                    anioHasta: $('#anioHasta').find('input').val(),
                    mesDesde: $('#mesDesde').val(),
                    mesHasta: $('#mesHasta').val(),
                    bodega: $('#listar_bodegas').val(),
                    codigo: codigo,
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var contenido_tablas = "";
                    var contenido_tablas2 = "";
                    var stockInicial = 0;
                    if (data.info == false) {
                        $('#vacio').show();
                        $('#contenedorTablas').hide();
                        $('#contenedorTablas2').hide();
                    } else {
                        console.log(data);
                        $('#contenedorTablas').show();
                        $('#contenedorTablas2').show();
                        stockInicial = data.data.stockInicial
                        contenido_tablas +=
                            '<table style="width:100%" class="table table-bordered">'
                            + '<thead>'
                                    + '<th style="text-align:center">Stock Inicial</th>'
                                    + '<th style="text-align:center">Stock Actual</th>'
                                    + '<th style="text-align:center">Costo Promedio</th>'
                                    + '<th style="text-align:center">Precio Venta</th>'
                                    + '<th style="text-align:center">Precio Alterno</th>'
                                    + '<th style="text-align:center">Precio Diesel</th>'
                                    + '<th style="text-align:center">Precio Garantía</th>'
                                    + '<th style="text-align:center">Fecha Ultima Compra</th>'
                                    + '<th style="text-align:center">Precio Ultima Compra</th>'
                                    + '<th style="text-align:center">Unidad</th>'
                                    + '<th style="text-align:center">Movimiento (clasificación ABC)</th>'
                                    + '<th style="text-align:center">Cantidad Comprometida</th>'
                                    + '<th style="text-align:center">Stock minimo</th>'
                                    + '<th style="text-align:center">Accion</th>'
                            + '</thead>'
                            + '<tbody>'
                                + '<td style="text-align:right">' + data.data.stockInicial+ '</td>'
                                + '<td style="text-align:right">' + data.data.stockFinal + '</td>'
                                + '<td style="text-align:right">' + data.data.costoProm + '</td>'
                                + '<td style="text-align:right">' + addCommas(data.data.precioVenta) + '</td>'
                                + '<td style="text-align:right">' + addCommas(data.data.precio_alterno) + '</td>'
                                + '<td style="text-align:right">' + addCommas(data.data.precio_diesel) + '</td>'
                                + '<td style="text-align:right">' + addCommas(data.data.precio_garantia) + '</td>'
                                + '<td style="text-align:right">' + data.data.fechaUltimacompras + '</td>'
                                + '<td style="text-align:right">' + data.data.precioU + '</td>'
                                + '<td style="text-align:right">' + data.data.unidad_medida + '</td>'
                                + '<td style="text-align:left; text-transform: uppercase">' + data.data.ClasifABC + '</td>'
                                + '<td style="text-align:right"><button class="btn btn-success " onclick="abrirModalComprometivos()"  >' + data.data.separa + '</button></td>'
                                + '<td style="text-align:right">' + data.data.ref_cantidad_min + '</td>'
                                + '<td align="center">'
                                    + '<button type="button" id="btnDetalles" onclick="verDetalles(\'' + $('#codigo').val() + '\',' + $('#listar_bodegas').val() + ')" class="btn btn-xs btn-primary">Ubicación</button>'
                                + '</td>'
                            + '</tbody>'
                        + '<table>';
                        $('#contenedorTablas').html(contenido_tablas)

                        if ($.fn.dataTable.isDataTable('#tablaCarteras')) {
                            $('#tablaCarteras').dataTable().fnDestroy();
                        }
                        $('#tablaDetalleMovimiento').dataTable().fnDestroy();
                        $.ajax({
                            url: '/kardex/listarMovimientos',
                            data: {
                                codigo: codigo,
                                bodega: $('#listar_bodegas').val(),
                                anioDesde: $('#anioDesde').find('input').val(),
                                anioHasta: $('#anioHasta').find('input').val(),
                                mesDesde: $('#mesDesde').val(),
                                mesHasta: $('#mesHasta').val(),
                            },
                            type: 'post',
                            dataType: 'json',
                            cache: false,
                            success: function (data) {
                                $('#tablaDetalleMovimiento').dataTable().fnDestroy();
                                $('#tablaDetalleMovimiento').find('tbody').empty();
                                //for (var i = 0; i < data.length; i++) {
                                    $('#tablaDetalleMovimiento').find('tbody').empty();
                                    var saldo = 0
                                    for (var i = 0; i < data.length; i++) {
                                        //if (i==0) {
                                        //    saldo = parseInt(stockInicial) + (parseInt(data[i].cantEntrada) - parseInt(data[i].cantSalida));
                                        //} else {
                                        //    saldo = saldo + (parseInt(data[i].cantEntrada) - parseInt(data[i].cantSalida));
                                        //}
                                        var botoniniinter = ""; var  botoniniexter="";
                                        var botonfin = ""; var botonfinexter = "";
                                        //console.log(data[i].numera);
                                        console.log("Prefijo "+data[i].prefijo)
                                        if (data[i].numero != "" && data[i].prefijo=='ExT') {
                                            debugger
                                            botoniniinter = "<button class='btn btn-info' onclick='GenerarENT("+data[i].idencabezado+")'>";
                                            botonfin = '</button>';
                                        }

                                        if (data[i].numero != "" && data[i].prefijo=='SxV' || data[i].prefijo=='SxT') {
                                            debugger
                                            botoniniinter = "<button class='btn btn-info' onclick='GenerarSAL("+data[i].idencabezado+")'>";
                                            botonfin = '</button>';
                                        }

                                        // if (data[i].documentoExterno != "") {
                                        //     debugger
                                        //    botoniniexter = "<button class='btn btn-success' onclick='GenerarPDC("+data[i].documento_interno+")'>";
                                        //    botonfinexter = '</button>';
                                        //}




                                        $('#tablaDetalleMovimiento').find('tbody').append('<tr align="center">'
                                            + '<td align="right">' + data[i].fecha + '</td>'
                                            + '<td align="left">' + data[i].bodega + '</td>'
                                            + '<td align="left">(' + data[i].prefijo + ') ' + data[i].tpdoc_nombre + '</td>'
                                            + '<td align="right">'+botoniniinter+ + data[i].numero + botonfin +'</td>'
                                            + '<td align="right">'+ botoniniexter + data[i].documentoExterno+ botonfinexter + '</td>'
                                            + '<td align="right">' + data[i].cantEntrada + '</td>'
                                            + '<td align="right">' + data[i].cantSalida + '</td>'
                                            + '<td align="right">' + data[i].saldo + '</td>'
                                            + '<td align="right">' + data[i].costoEntrada + '</td>'
                                            + '<td align="right">' + data[i].costoSalida + '</td>'
                                            + '<td align="right">' + data[i].costoTotal + '</td>'
                                        + '</tr>'
                                    );
                                    }
                                //}
                            },
                            complete: function (data) {
                                $('#tablaDetalleMovimiento').dataTable({
                                    order: [[0, "desc"]],
                                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                    buttons: [
                                        { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                    ]
                                });
                            }
                        })

                    }
                }
            })
            }

        }



        function abrirModalComprometivos() {

            $('#modalcomprometidosreferencia').modal('show');
            $('#tablareferenciacomprometido').dataTable().fnDestroy();
            $('#tablareferenciacomprometido').find('tbody').empty();



                     var codigo = $('#codigo').val();
             var codigo_arr = codigo.split("|");
                cod = codigo_arr[0].trim();
   
            $.ajax({
                url: '/kardex/Datoscomprometidosmodal',
                data: {
                    codigo: cod,
                    bodega: $('#listar_bodegas').val()
                },
                type: 'post',
                cache: false,
                success: function (data) {        

                               var text = '';
                    for (var i = 0; i < data.length; i++) {             
                        text += '<tr>';
                        text += '<td align="center">' + data[i].id + '</td>'
                        text += '<td align="center">' + data[i].Codigo +' -'+ data[i].Ref_descripcion+  '</td>'
                        text += '<td align="center">' + data[i].Bodega + '</td>'
                        text += '<td align="center">' + data[i].Cliente + '</td>'
                        text += '<td align="center">' + data[i].Fecha + '</td>'                     
                         text += '<td align="center">'
                        if ( data[i].Tp == "Sep") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                            text += '<td align="center">'
                        if ( data[i].Tp == "An") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Ot") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                         text += '<td align="center">'
                          if ( data[i].Tp == "Tr") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Sd") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "De") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'
                        text += '<td align="center">'
                          if ( data[i].Tp == "Rem") {
                        text +=  data[i].Numero  
                        } else {
                            text += '&nbsp;&nbsp;'

                        }
                        text += '</td>'


                        text += '<td align="center">' + data[i].Responsable + '</td>'
                        text += '</tr>';                       
                    }

                    $('#tablareferenciacomprometido').find('tbody').append(text);                    

                },
                            complete: function (data) {
                                $('#tablareferenciacomprometido').dataTable({
                                    order: [[0, "desc"]],
                                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                    buttons: [
                                        { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                                    ]
                                });
                            }
            });


        }

        function GenerarPDC(id){


            swal({
                    title: 'Formato de Impresión',
                    text: 'Seleccione el formato con el que desea imprimir la factura',
                    confirmButtonText: "Original",
                    confirmButtonColor: "#62cb31",
                    showCancelButton: true,
                    cancelButtonText: "Copia",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    allowOutsideClick: true
                },
                function(isConfirm) {
                    if (isConfirm) {
                        definirFactura(1, id); // 1 cuando es original
                    } else {
                        definirFactura(2, id); // 2 cuando es copia
                    }
                });
        }


        function GenerarENT(id) {


            swal({
                title: 'Formato de Impresión',
                text: 'Seleccione el formato con el que desea imprimir la factura',
                confirmButtonText: "Original",
                confirmButtonColor: "#62cb31",
                showCancelButton: true,
                cancelButtonText: "Copia",
                closeOnCancel: true,
                closeOnConfirm: true,
                allowOutsideClick: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        definirFacturaENT(1, id); // 1 cuando es original
                    } else {
                        definirFacturaENT(2, id); // 2 cuando es copia
                    }
                });
        }

        function GenerarSAL(id) {


            swal({
                title: 'Formato de Impresión',
                text: 'Seleccione el formato con el que desea imprimir la factura',
                confirmButtonText: "Original",
                confirmButtonColor: "#62cb31",
                showCancelButton: true,
                cancelButtonText: "Copia",
                closeOnCancel: true,
                closeOnConfirm: true,
                allowOutsideClick: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        definirFacturaSAL(1, id); // 1 cuando es original
                    } else {
                        definirFacturaSAL(2, id); // 2 cuando es copia
                    }
                });
        }


        function definirFacturaENT(param, iddoc) {
        const X = iddoc;
        window.open(`@Url.Action("EntradaAjuste", "entradasRepuestos")?id=${X}&&param=${param}`,
            '_blank');
        }

        function definirFacturaSAL(param, iddoc) {
        const X = iddoc;
        window.open(`@Url.Action("salidaRespuesto", "salidasRepuestos")?id=${X}&&param=${param}`,
            '_blank');
        }

        function definirFactura(param, iddoc) {
        const X = iddoc;
        window.open(`@Url.Action("crearPDFfacturacionrepuestos", "FacturacionRepuestos")?id=${X}&&param=${param}`,
            '_blank');
        }

        function buscarKardex() {
            $('#vacio').hide();
            $('#contenedorTablas').hide();
            $('#contenedorTablas2').hide();
            if (($('#anioDesde').find('input').val() <= $('#anioHasta').find('input').val())) {
                if (($('#anioDesde').find('input').val() == $('#anioHasta').find('input').val())) {
                    if (($('#mesDesde').val() < $('#mesHasta').val())) {
                        busqueda();
                    } else {
                        swal("Error!", "Por favor escoja un rango de fechas valido", "error");
                    }
                } else {
                    busqueda();
                }
            } else {
                swal("Error!", "Por favor escoja un rango de fechas valido", "error");
            }
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function buscarBodegas() {
            $.ajax({
                url: '/kardex/BuscarBodegas',
                data: {
                },
                type: "post",
                cache: false,
                success: function (data) {
                    var objlist = $('#listar_bodegas');
                    for (var i = 0; i < data.length; i++) {
                        objlist.append($('<option>', {
                            value: data[i].id,
                            text: data[i].bodccs_nombre,
                            selected: data[i].selected === 1
                        }));
                    }
                    objlist.trigger('change.select2');
                    if (objlist.val() != '') {
                        //console.log('busqueda Kardex');
                        buscarKardex();
                    }
                }
            });
        }

        function verDetalles(codigo, bodega) {
            console.log(" detalles ... ");

            var cod = "";

            if (codigo != "") {
                var codigo_arr = codigo.split("|");
                cod = codigo_arr[0].trim();
            }
            debugger;
            $('#tablaDetalleUbicacion').dataTable().fnDestroy();
            $.ajax({
                url: '/kardex/listarUbicacion',
                data: {
                    codigo: cod,
                    bodega: bodega,
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $("#modal_listarUbicacion").modal('show'); //modal_listarDetalle_cartera     $("#modal_listarTerceros").modal('show'); //modal_listarDetalle_cartera
                    $('#tablaDetalleUbicacion').dataTable().fnDestroy();
                    $('#tablaDetalleUbicacion').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        console.log(data)
                        $('#tablaDetalleUbicacion').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaDetalleUbicacion').find('tbody').append
                                ('<tr align="center">' +
                                '<td align="left">' + data[i].bodccs_nombre + '</td>' +
                                '<td align="left">' + data[i].ubicacion + '</td>' +
                                '<td align="left">' + data[i].notaUbicacion + '</td>' +
                                '</tr>'
                        );
                        }
                    }
                },
                complete: function (data) {
                    $('#tablaDetalleUbicacion').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            })

        }

        function verMovimientos(codigo, bodega) {
            console.log(" ver Movimientos ... ");
            if ($.fn.dataTable.isDataTable('#tablaCarteras')) {
                $('#tablaCarteras').dataTable().fnDestroy();
            }
            $('#tablaDetalleMovimiento2').dataTable().fnDestroy();
            $.ajax({
                url: '/kardex/listarMovimientos',
                data: {
                    codigo: codigo,
                    bodega: bodega,
                    anio: $('#anio').find('input').val(),
                    mes: $('#mes').val(),
                },
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $("#modal_listarDetalleMovimiento").modal('show'); //modal_listarDetalle_cartera     $("#modal_listarTerceros").modal('show'); //modal_listarDetalle_cartera
                    $('#tablaDetalleMovimiento2').dataTable().fnDestroy();
                    $('#tablaDetalleMovimiento2').find('tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        console.log(data)
                        $('#tablaDetalleMovimiento2').find('tbody').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#tablaDetalleMovimiento2').find('tbody').append
                                ('<tr align="center"><td align="right">'
                                        + data[i].fecha + '</td><td align="left">'
                                        + data[i].prefijo + '</td><td align="left">'
                                        + data[i].tpdoc_nombre + '</td><td align="right">'
                                        + data[i].numero + '</td><td align="right">'
                                        + data[i].cantEntrada + '</td><td align="right">'
                                        + data[i].costoEntrada + '</td><td align="right">'
                                        + data[i].cantSalida + '</td><td align="right">'
                                        + data[i].costoSalida + '</td><td align="right">'
                                        + data[i].costoTotal + '</td>'
                        );
                        }
                    }
                },
                complete: function (data) {
                    $('#tablaDetalleMovimiento2').dataTable({
                        //"ajax": 'api/datatables.json',
                        //dom: "<''<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>t<'col-sm-4'i>p",
                        dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        order: [[0, "desc"]],
                        buttons: [
                            { extend: 'excel', className: 'btn-sm', text: 'Exportar a Excel' },
                            //{ extend: 'pdf', title: 'ExampleFile', className: 'btn-sm', text: 'PDF' },
                            //{ extend: 'print', className: 'btn-sm', text: 'Imprimir' }
                        ]
                    });
                }
            })

        }

    </script>
}
