@model Homer_MVC.Models.PDF_ModeloBoletosalida

@{
    Layout = null;
}

<!DOCTYPE html>
@*laura*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.titulo</title>
    <style type="text/css">
        .contenedor {
            width: 100%;
            height: 100%;
            /*font-family: Arial;*/
        }

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            /*font-size: 15px;*/
            font-family: Arial, Helvetica, sans-serif;
        }

        .table_principal {
            border-collapse: collapse;
            border: 1px solid #ccc;
            border-radius: 10px;
            -moz-border-radius: 6px;
            padding-left: 5px;
        }

        .indented {
            padding-left: 10pt;
            padding-right: 10pt;
        }

        .indented2 {
            padding-left: 10pt;
            padding-right: 1pt;
        }

        .indented3 {
            padding-left: 1pt;
            padding-right: 10pt;
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <table style="width:100%">
            <tr>
                <td style="width:35%; text-align:center; border:none"><img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" /></td>
                <td style="width:30%; text-align:center; border:none"><h4>@Model.titulo<br /><p style="padding:8px;">N. @Model.factura</p></h4></td>
                <td style="width:35%; border:none; padding-left:10%">
                    <p style="font-size:11px; padding:0px; margin:0">@Model.nombreEmpre  NIT @Model.nitEmpre</p>
                    <p style="font-size:11px; padding:0px; margin:0">@Model.dirEmpre</p>
                    <p style="font-size:11px; padding:0px; margin:0"></p>
                    <p style="font-size:11px; padding:0px; margin:0"></p>
                    <p style="font-size:11px; padding:0px; margin:0">www.caminos.com.co</p>
                    <p style="font-size:11px; padding:0px; margin:0">caminos@caminos.com.co</p>
                </td>
            </tr>

            @*<tr>
                    <td colspan="2"></td>
                    <td style="padding-left:5px; margin:0px;">
                        <p style="display:inline-block; width:30%;padding:0px; margin:0px;">Dia / @Model.DiaPedido </p><p style="display:inline-block;
                        width:30%;padding:0px; margin:0px;">Mes /@Model.MesPedido</p><p style="display:inline-block; width:30%;padding:0px; margin:0px;">A&ntilde;o / @Model.AnioPedido</p>
                    </td>
                </tr>*@
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="4">DATOS DEL CLIENTE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%; background:#e5e5e5">NOMBRES Y APELLIDOS</td>
                    <td style="width:35%">@Model.cliente</td>
                    <td style="width:20%; background:#e5e5e5">ASESOR</td>
                    <td style="width:25%">@Model.asesor</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table style="width:100%; margin-top:5px;">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="4">CARGOS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:25%; background:#e5e5e5">VEHICULO FR/ND</td>
                    <td style="width:25%;text-align:left">@Model.vehiculo_frand</td>
                    <td style="width:25%; background:#e5e5e5">VEHICULO VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.vehiculo_valor</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5">MATRICULA FR/ND</td>
                    <td style="width:25%;text-align:left">@Model.matricula_frand</td>
                    <td style="width:25%; background:#e5e5e5">MATRICULA VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.matricula_valor</td>
                </tr>

                <tr>
                    <td style="width:25%; background:#e5e5e5">SOAT FR/ND</td>
                    <td style="width:25%;text-align:left">@Model.soat_frand</td>
                    <td style="width:25%; background:#e5e5e5">SOAT VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.soat_valor</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5">POLIZA CUOTAS</td>
                    <td style="width:25%; text-align:left">@Model.poliza_frand</td>
                    <td style="width:25%; background:#e5e5e5">POLIZA</td>
                    <td style="width:25%;text-align:right">$ @Model.poliza_valor</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5">MODELO VEHICULO</td>
                    <td style="width:25%;text-align:left">@Model.veh_modelo</td>
                    <td style="width:25%; background:#e5e5e5">PLACA VEHICULO</td>
                    <td style="width:25%;text-align:right"> @Model.placa</td>
                </tr>
                <tr>
                    <td style="width:25%; background:#e5e5e5">SERIE DEL VEHICULO</td>
                    <td style="width:25%;text-align:left">@Model.serVeh</td>
                    <td style="width:25%; background:#e5e5e5"></td>
                    <td style="width:25%;text-align:left"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="5">ACCESORIOS VEHICULO</th>
                </tr>
            </thead>
            <tr style="background-color:" ">
                <th style="border: 1px solid #ccc;text-align:left;width:30%;background:#e5e5e5">NÚMERO DE FACTURA</th>
                <th style="border: 1px solid #ccc;text-align:left;width:20%;background:#e5e5e5">REFERENCIA</th>
                <th style="border: 1px solid #ccc;text-align:left;width:10%;background:#e5e5e5">CAN</th>
                <th style="border: 1px solid #ccc;text-align:right;width:20%;background:#e5e5e5">$ PRECIO UNITARIO</th>
                <th style="border: 1px solid #ccc;text-align:right;width:20%;background:#e5e5e5">$ VALOR</th>
            </tr>
            @for (var i = 0; i < @Model.accesoriosboleto.Count(); i++)
            {
                <tr style="width:auto; height:30px; background-color:none; color:black; border-top-color:black">
                    <td style="text-align:left;width:20%">@Model.accesoriosboleto[i].id_accesorio_modelo</td>
                    <td style="text-align:left;width:20%">@Model.accesoriosboleto[i].descripcion_accesorio</td>
                    <td style="text-align:right;width:20%">@Model.accesoriosboleto[i].cant_acccesorio</td>
                    <td style="text-align:right;width:20%">$ @Model.accesoriosboleto[i].val_unitario_accesorio</td>
                    <td style="text-align:right;width:20%">$ @Model.accesoriosboleto[i].val_monto_accesorio</td>
                </tr>
            }
        </table>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="width:50%; background:#e5e5e5">TOTAL CARGOS</th>
                    <th colspan="2" style="text-align:right">$ @Model.total_cargos</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td style="width:90%">@Model.cliente</td>
                    </tr>*@
            </tbody>
        </table>
        <br>
        <table style="width:100%; margin-top:5px;">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="4">FORMAS DE PAGO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:25%;background:#e5e5e5">CUOTA INICIAL RC/NC</td>
                    <td style="width:25%;text-align:left">@Model.vehiculo_frand</td>
                    <td style="width:25%;background:#e5e5e5">CUOTA INICIA VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.cuota_inicial_valor</td>
                </tr>
                <tr>
                    <td style="width:25%;background:#e5e5e5">FINANCIERA RC/NC</td>
                    <td style="width:25%;text-align:left">@Model.financiera</td>
                    <td style="width:25%;background:#e5e5e5">FINANCIERA VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.finanaciera_valor</td>
                </tr>

                <tr>
                    <td style="width:25%; background:#e5e5e5">RETOMA RC/NC</td>
                    <td style="width:25%;text-align:left">@Model.retoma</td>
                    <td style="width:25%; background:#e5e5e5">RETOMA VALOR</td>
                    <td style="width:25%;text-align:right">$ @Model.retoma_valor</td>
                </tr>

            </tbody>
        </table>
        <br>
        <table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
            <thead style="background:#e5e5e5; text-align:center;">
                <tr>
                    <th colspan="4">ABONOS DESCUENTOS</th>
                </tr>
            </thead>
            <tr style="background-color:">
                <th style="border: 1px solid #ccc;text-align:center;width:40%;background:#e5e5e5">REFERENCIA</th>
                @*<th style="border: 1px solid #ccc;text-align:center;width:10%;background:#e5e5e5">CAN</th>*@
                @*<th style="border: 1px solid #ccc;text-align:center;width:20%;background:#e5e5e5">PRECIO UNITARIO</th>*@
                <th style="border: 1px solid #ccc;text-align:center;width:40%;background:#e5e5e5">VALOR</th>
            </tr>
            @for (var i = 0; i < @Model.abonosboleto.Count(); i++)
            {
                <tr style="width:auto; height:30px; background-color:none; color:black; border-top-color:black">
                    <td style="text-align:left;width:40%">@Model.abonosboleto[i].descripcion_abono</td>
                    <td style="text-align:right;width:40%">$ @Model.abonosboleto[i].monto_abono</td>
                    @*<td style="text-align:center;width:20%">@Model.abonosboleto[i].val_unitario_accesorio</td>
                        <td style="text-align:center;width:20%">@Model.abonosboleto[i].val_monto_accesorio</td>*@
                </tr>
            }
        </table>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="width:50%; background:#e5e5e5">TOTAL ABONOS</th>
                    <th colspan="2" style="text-align:right">$ @Model.total_abonos</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td style="width:90%">@Model.cliente</td>
                    </tr>*@
            </tbody>
        </table>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="width:50%; background:#e5e5e5">SALDO PENDIENTE POR CANCELAR</th>
                    <th colspan="2" style="text-align:right">$ @Model.saldo_pendiente</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td style="width:90%">@Model.cliente</td>
                    </tr>*@
            </tbody>
        </table>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="width:50%; background:#e5e5e5">SALDO A FAVOR PARA DEVOLUCION</th>
                    <th colspan="2" style="text-align:right">$ @Model.saldo_devolucion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" style="width:50%; background:#e5e5e5"></th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" style="font-size:15px;text-align:justify">
                        Unicamente cuando el saldo pendiente a cancelar sea $0, y se cuente con el Vo Bo de cartera, estará autorizado el asesor comerical a reclamar los documentos (tarjeta de propieda y soat)
                        del vehículo y a hacer entrega deL mismo al cliente.
                    </td>
                </tr>
                <tr><td colspan="4" style="height:8px;"></td></tr>
                <tr style="height:100px;">
                    <td colspan="2" style="vertical-align:bottom;text-align:center">Vo Bo. de Cartera</td>
                    <td colspan="2"></td>

                </tr>
            </tbody>
        </table>

        @*<div style="position:absolute; top:1400px;">
                <p style="text-align:justify; font-size:12px;">

                </p>
            </div>*@

    </div>
</body>
</html>


@*<table style="width:100%; margin-top:5px;">
        <thead style="background:#e5e5e5; text-align:center;">
            <tr>
                <th colspan="4">ABONOS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:25%; background:#e5e5e5">CUOTA INICIAL</td>
                <td style="width:25%">@Model.matricula_frand</td>
                <td style="width:25%; background:#e5e5e5">RETOMA</td>
                <td style="width:25%">@Model.soat_valor</td>
            </tr>
            <tr>
                <td style="width:25%; background:#e5e5e5">FINANCIERA</td>
                <td style="width:25%">xxx</td>
                <td style="width:25%; background:#e5e5e5">VALOR FINANCIERA</td>
                <td style="width:25%">XXXX</td>
            </tr>
          </tbody>
    </table>*@
@*<table class="table_principal" style="width:100%; height:30px; grid-row:7; margin-right:10px; margin-right:10px">
        <thead style="background:#e5e5e5; text-align:center;">
            <tr>
                <th colspan="4">TRAMITES USADOS</th>
            </tr>
        </thead>
        <tr style="background-color:">
            <th style="border: 1px solid #ccc;text-align:center;width:40%;background:#e5e5e5">REFERENCIA</th>
            <th style="border: 1px solid #ccc;text-align:center;width:10%;background:#e5e5e5">CAN</th>
            <th style="border: 1px solid #ccc;text-align:center;width:20%;background:#e5e5e5">PRECIO UNITARIO</th>
            <th style="border: 1px solid #ccc;text-align:center;width:20%;background:#e5e5e5">VALOR</th>
        </tr>
        @for (var i = 0; i < @Model.accesoriosboleto.Count(); i++)
        {
            <tr style="width:auto; height:30px; background-color:none; color:black; border-top-color:black">
                <td style="text-align:left;width:20%">@Model.accesoriosboleto[i].descripcion_accesorio</td>
                <td style="text-align:left;width:20%">@Model.accesoriosboleto[i].cant_acccesorio</td>
                <td style="text-align:center;width:2%">@Model.accesoriosboleto[i].val_unitario_accesorio</td>
                <td style="text-align:center;width:2%">@Model.accesoriosboleto[i].val_monto_accesorio</td>
            </tr>
        }
    </table>*@




@*<table style="width:100%; margin-top:5px;">
        <thead style="background:#e5e5e5; text-align:center;">
            <tr>
                <th colspan="2">DATOS DEL VEHICULO</th>
                <th colspan="2">VEHICULO USADO RECIBIDO EN PARTE DE PAGO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:20%; background:#e5e5e5">VEHICULO</td>
                <td style="width:30%">@Model.ModeloVehiculo</td>
                <td style="width:25%; background:#e5e5e5">VEHICULO</td>
                <td style="width:25%">@Model.ModeloVhRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">MODELO</td>
                <td style="width:30%">@Model.AnioVehiculo</td>
                <td style="width:25%; background:#e5e5e5">MODELO</td>
                <td style="width:25%">@Model.AnioVhRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">COLOR</td>
                <td style="width:30%">@Model.ColorVehiculo</td>
                <td style="width:25%; background:#e5e5e5">COLOR</td>
                <td style="width:25%">@Model.ColorVhRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">TIPO</td>
                <td style="width:30%">@Model.TipoVehiculo</td>
                <td style="width:25%; background:#e5e5e5">TIPO</td>
                <td style="width:25%">@Model.TipoVhRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">PLACAS</td>
                <td style="width:30%">@Model.PlacaVehiculo</td>
                <td style="width:25%; background:#e5e5e5">PLACAS</td>
                <td style="width:25%">@Model.PlacaVhRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">PLAN MAYOR</td>
                <td style="width:30%">@Model.PlanMayor</td>
                <td style="width:25%; background:#e5e5e5">VALOR RETOMADO</td>
                <td style="width:25%">@Model.ValorRetoma</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">SERVICIO</td>
                <td style="width:30%">
                    Particular
                    @if (Model.ServicioVehiculo == "Particular")
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }&nbsp; &nbsp;
                    Publico
                    @if (Model.ServicioVehiculo == "Publico")
                    {
                        <input type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                </td>
                <td style="width:25%; background:#e5e5e5"></td>
                <td style="width:25%"></td>
            </tr>
        </tbody>
    </table>*@



@*<table style="width:100%; margin-top:5px;">
    <thead style="background:#e5e5e5; text-align:center;">
        <tr>
            <th colspan="2">PRECIO DEL VEHICULO</th>
            <th colspan="2">ACCESORIOS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:20%; background:#e5e5e5">PRECIO AL PUBLICO</td>
            <td style="width:30%">@Model.PrecioAlPublico</td>
            <td rowspan="2" style="width:25%; background:#e5e5e5">ACCESORIOS</td>
            <td rowspan="2" style="width:25%">@Model.Accesorios</td>
        </tr>
        <tr>
            <td style="width:20%; background:#e5e5e5">DESCUENTO</td>
            <td style="width:30%">@Model.Descuento</td>*@
@*<td style="width:25%; background:#e5e5e5">ACCESORIO</td>
    <td style="width:25%"></td>*@
@*</tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">PRECIO DE VENTA</td>
                <td style="width:30%">@Model.PrecioVenta</td>
                <td style="width:25%; background:#e5e5e5">TOTAL VALOR</td>
                <td style="width:25%">@Model.TotalAccesorios</td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5"></td>
                <td style="width:30%"></td>
                <td style="width:25%; background:#e5e5e5">MATRICULA</td>
                <td style="width:25%"></td>
            </tr>
        </tbody>
    </table>*@

@*<table style="width:100%; margin-top:5px;">
        <thead style="background:#e5e5e5; text-align:center;">
            <tr>
                <th colspan="2">FORMA DE PAGO - FECHA DE PAGO</th>
                <th colspan="2">CONDICIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:20%; background:#e5e5e5">CUOTA INICIAL</td>
                <td style="width:30%">@Model.CuotaInicial</td>
                <td style="width:25%; background:#e5e5e5">FINANCIERA</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5"></td>
                <td style="width:30%"></td>
                <td style="width:25%; background:#e5e5e5"># CUOTAS</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">VALOR RETOMA</td>
                <td style="width:30%">@Model.ValorRetomaPago</td>
                <td style="width:25%; background:#e5e5e5">VALOR CREDITO</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">SALDO A FINANCIAR</td>
                <td style="width:30%">@Model.SaldoFinanciar</td>
                <td style="width:25%; background:#e5e5e5">NOTAS CREDITO</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5"></td>
                <td style="width:30%"></td>
                <td style="width:25%; background:#e5e5e5"></td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5"></td>
                <td style="width:30%"></td>
                <td style="width:25%; background:#e5e5e5">ASEGURADORA</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">TOTAL</td>
                <td style="width:30%">@Model.Total</td>
                <td style="width:25%; background:#e5e5e5"></td>
                <td style="width:25%"></td>
            </tr>
        </tbody>
    </table>*@


@*<table style="width:100%; margin-top:5px;">
        <tbody>
            <tr>
                <td style="width:20%; background:#e5e5e5">VISADO MARGEN</td>
                <td style="width:30%"></td>
                <td style="width:25%; background:#e5e5e5">PRENDA A FAVOR DE</td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:20%; background:#e5e5e5">VENDEDOR</td>
                <td style="width:30%">@Model.CedulaVendedor / @Model.Vendedor</td>
                <td style="width:25%; background:#e5e5e5">APROBADO POR</td>
                <td style="width:25%"></td>
            </tr>
            <tr><td colspan="4" style="height:8px;"></td></tr>
            <tr>
                <td colspan="4" style="font-size:11px;">
                    EL CLIENTE DECLARA QUE CONOCE Y ACEPTA LAS CLAUSULAS IMPRESAS AL RESPALDO DE ESTE CONTRATO Y AUTORIZA A LA CONCESIONARIA
                    PARA QUE OBTENGA DE CUALESQUIERA FUENTES LA INFORMACION Y REFERENCIAS NECESARIAS PARA EL ESTUDIO DEL CREDITO, EN SU CASO, ASI MISMO DECLARA QUE LA FIRMA
                    QUE APARECE ABAJO ES AUTENTICA.
                </td>
            </tr>
            <tr><td colspan="4" style="height:8px;"></td></tr>
            <tr>
                <td colspan="3" style="font-size:11px;">
                    Nota: Algunas empresas o personas prestadoras de servicios sugeridas por LA CONCESIONARIA en razon de su seriedad, conocimiento y cumplimiento para efectos de:
                    financiaci&oacute;n; instalaci&oacute;n de accesorios; elaboraci&oacute;n de carrocerias; tr&aacute;mites ante el Ministerio de Transporte, Institutos
                    Departamentales o Municipales de Transito; inscripci&oacute;n del Registro Nacional Automotor(RNA); permisos de carga; afiliaciones ante entidades transportadoras
                    de pasajeros o carga; u otros servicios que no preste LA CONCESIONARIA, no comprometen la responsabilidad de la misma para obtener el resultado final contratado
                    por el CLIENTE; pues dicha recomendaci&oacute;n es simplemente "RECOMENDACION" y no compromiso de resultado final; as&iacute; lo acepta el cliente en forma
                    expresa y nos exonera de cualquier responsabilidad.
                </td>
                <td colspan="1" style="font-size:11px;">
                    PRECIO SUJETO A CAMBIOS SIN PREVIO AVISO. COMERCIALIZADORA HOMAZ
                    S.A.S. NIT 816.003.186-5
                </td>
            </tr>
            <tr><td colspan="4" style="height:8px;"></td></tr>
            <tr style="height:100px;">
                <td colspan="2" style="vertical-align:top">FIRMA DEL CLIENTE<br />CC / NIT.</td>
                <td colspan="1">HUELLA INDICE DERECHO --></td>
                <td colspan="1"></td>
            </tr>
        </tbody>
    </table>*@